{% if not internal %}
<input type="checkbox" id="gemini-windowed" name="windowed" />
<input type="checkbox" id="gemini-minimized" name="minimized" />
<input type="checkbox" id="gemini-print" name="print" />
<div class="w95">
    <input class="_" id="a" name="a" type="checkbox" val="minimize" checked />
    <input class="_" id="b" name="b" type="checkbox" val="open-dialog" />
    <input class="_" id="c" name="c" type="checkbox" val="security-dialog" />
    <input class="_" id="d" name="d" type="checkbox" val="about-dialog" />
    <input class="_" id="e" name="e" type="checkbox" val="error-dialog" />
    <label class="ic pc" title="My Computer"></label>
    <label class="ic do" title="My Documents"></label>
    <label class="ic ie" title="Internet Explorer"></label>
    <label class="ic nn" title="Network Neighborhood"></label>
    <label class="ic rb" title="Recycle Bin"></label>
    <label class="ic ns" title="Netscape Navigator"></label>
    <div class="t"></div>
    <label class="s"></label>
    <div class="g"></div>
    <label for="a" class="ql dt" title="Shortcut to Show Desktop"><span></span></label>
    <label class="ql ie" title="Launch Internet Explorer Browser"><span></span></label>
    <label class="ql ol" title="Launch Outlook Express"><span></span></label>
    <div class="dv"></div>
    <div class="g v"></div>
    <label class="app" for="a"><span title="Gemini Proxy">Gemini Proxy</span></label>
    <div class="tr">
        <div class="cal" title="Task Scheduler is ready"></div>
        <div class="vol" title="Speakers: 1965%"></div>
        <em>11:59 PM</em>
    </div>
    <div class="d"></div>
    <div class="win explorer">
        <h2 class="app-bar main-window"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/win_app_icon.png" class="app" /><span class="app main-window">Gemini Proxy</span> <label class="minimize" for="a"></label><label for="gemini-windowed" class="unmaximize"></label><label class="unmaximize-disabled"></label><label for="gemini-windowed" class="maximize"></label><a href="/"><label class="close"></label></a></h2>
        <label class="menu no-js"><span class="w386">File</span><span class="w386">Edit</span><span class="w386">View</span><span class="w386">Go</span><span class="w386">Bookmarks</span><span class="w386">Options</span><span class="w386">Directory</span><span class="w386">Help</span></label>
        <hr class="toolbar-hr"/>
        <div class="toolbar">
            <button class="prev" disabled="true"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/icon_back_disabled.png" /><span>Back</span></button>
            <button class="next" disabled="true"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/icon_forward_disabled.png" /><span>Forward</span></button>
            <a class="button home" href="/gemini-proxy"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/icon_home.png" /><span>Home</span></a>
            <div class="spacer"></div>
            <a class="button reload" href="/gemini-proxy?uri={{ encURI }}"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/icon_reload.png" /><span>Reload</span></a>
            <label class="button" for="b"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/icon_open.png" /><span>Open</span></label>
            <label class="button print" for="gemini-print"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/icon_print.png" /><span>Print</span></label>
            <div class="spacer"></div>
            <button class="stop" disabled="true"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/icon_stop_disabled.png" /><span>Stop</span></button>
            <div class="gemframe"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/gemframe.png" /></div>
        </div>
        <hr class="location-hr"/>
        <form class="location" method="get">
            <label for="uri">Location:</label>
            <fieldset>
                <input type="text" id="uri" name="uri" placeholder="Enter URI" value="{{ uri }}" />
                <button id="go-button">Go!</button>
            </fieldset>
        </form>
        <article class="gmi-content{% if error %} error{% endif %}{% if rawtext %} raw{% endif %}">
{% endif %}
<!-- ----------------------------------------------------------------------- -->
{% if header %}<style type="text/css">
    .gmi-content .gem-header { 
        background: linear-gradient(90deg, #{{ header.colors[9] }} 0%, transparent 100%);
        border-bottom: 5px solid #111;
    }
    .gmi-content .gem-header .wrap svg use { fill: #fff; }
    .gmi-content .gem-header .wrap a { color: #fff; }
    .gmi-content blockquote div,
    .gmi-content blockquote p,
    .gmi-content pre { color: #{{ header.colors[15] }}; }
    .gmi-content h1  { color: #{{ header.colors[0]  }}; }
    .gmi-content h2  { color: #{{ header.colors[8]  }}; }
    .gmi-content h3  { color: #{{ header.colors[2]  }}; }
    .gmi-content a   { color: #{{ header.colors[12] }}; }
    .gmi-content p   { color: #{{ header.colors[4]  }}; }
    .gmi-content li  { color: #{{ header.colors[4]  }}; }
</style>
<div class="gem-header">
    <div class="wrap">
        <label for="gemini-print">&laquo; Exit print view</label>
        <svg><use href="{{ header.svg }}" xlink:href="{{ header.svg }}"/></svg>
        <a href="{{ header.proxyUri }}">{{ header.siteName }}</a>
    </div>
</div>{% endif %}
{% if image %}<img src="{{ data }}" />{% endif %}
{% if gemtext %}{{ data }}{% endif %}
{% if rawtext %}<pre>{{ data }}</pre>{% endif %}
{% if error %}<div class="msg">
    <strong>Failed to load {{ uri }}</strong>
    <em>{{ error }}</em>
</div>{% endif %}
{% if unsupported %}<div class="msg">
    <strong>Unsupported file type: {{ mimeType }}</strong>
    <em>{{ uri }}</em>
    <a href="/gemini-proxy?uri={{ encURI }}&download=true" target="_blank">Click here to download the file</a></em>
</div>{% endif %}
<!-- ----------------------------------------------------------------------- -->
{% if not internal %}
        </article>
        <div class="border"></div>
        <div class="status">
            <label for="c" title="Security Info"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/key.png" /></label>
            <div class="info">
                Document: Done in {{ elapsed }}s
            </div>
            <label for="d" title="Help and Contact"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/help.png" /></label>
            <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/gemini-proxy/resize.png" />
        </div>
        <div class="window-frame">
            <div class="border-top">
                <span class="top-left"></span>
                <span class="north"></span>
                <span class="top-right"></span>
            </div>
            <div class="border-right">
                <span class="top-right"></span>
                <span class="east"></span>
                <span class="bottom-right"></span>
            </div>
            <div class="border-bottom">
                <span class="bottom-left"></span>
                <span class="south"></span>
                <span class="bottom-right"></span>
            </div>
            <div class="border-left">
                <span class="top-left"></span>
                <span class="west"></span>
                <span class="bottom-left"></span>
            </div>
            <div class="grabber"></div>
        </div>
    </div>
    <label class="cover"></label>
    <div class="win open">
        <form method="get">
            <h2 class="app-bar">Open Location <label class="close gray"></label></h2>
            <span class="prompt">Open Location:</span>
            <label class="inp"><input type="text" name="uri" placeholder="Enter Gemini address" /></label>
            <div class="fields">
                <label for="b">Cancel</label>
                <button type="submit" class="weight">Open</label>
            </div>
        </form>
    </div>
    <div class="win security">
        <h2 class="app-bar">Security Warning <label class="close gray"></label></h2>
        <span class="prompt">This app is a proxy between your computer and any Geminispace origin server. Although we promise not to do anything shady, you should use a real Gemini client if you want verifiable TLS encryption.<br/><br/>See our <a href="/privacy" target="_blank">privacy policy</a> for more info.</span>
        <div class="fields">
            <label for="c" class="weight">OK</label>
        </div>          
    </div>
    <div class="win about">
        <h2 class="app-bar">gemini-proxy v1.0.0<label class="close gray"></label></h2>
        <div class="johnny"></div>
        <span class="prompt"><strong>Here's Johnny!</strong><br/><br/>gemini-proxy is a project of obsessivefacts.com<br/>Contact: <a href="mailto:henriquez@protonmail.com">henriquez@protonmail.com</a></span>
        <div class="fields">
            <label for="d" class="weight">OK</label>
        </div>          
    </div>
    <label class="error-cover"></label>
    <div class="win error">
        <h2 class="app-bar">Error <label class="close gray"></label></h2>
        <span class="prompt">This proxy only supports Gemini Protocol addresses.</span>
        <div class="fields">
            <label for="e" class="weight">OK</label>
        </div>          
    </div>
</div>
{% endif %}