<div class="backdrop">
    <div class="details-background">
        <a href="mailto:obsessivefacts@protonmail.com"><strong>obsessivefacts@protonmail.com</strong></a> &bull; <a href="/contact/faq">[FAQ]</a>
    </div>
    <div class="details">
        <a href="mailto:obsessivefacts@protonmail.com"><strong>obsessivefacts@protonmail.com</strong></a> &bull; <a href="/contact/faq">[FAQ]</a>
    </div>
</div>
<div class="faqdrop{% if faq_active %} active{% endif %}">
    <div class="faq">
        <a href="/contact" class="back">←</a>
        <h2>FAQ</h2>
        <ul>
            <li>
                <h3>Who are you?</h3>
                <p>
                    We are the people involved with Obsessive Facts.
                    <em class="hide-mobile">The girl with
                    the chessboard is not involved with Obsessive Facts.</em>
                    But more importantly, <em>who are <strong>you?</strong>
                    Who do you want to be?</em>
                </p>
            </li>
            <li>
                <h3>Why did my account stop working?</h3>
                <p>
                    You were likely using an automatically-generated temporary
                    identity, not an actual account. Temporary identities are
                    deleted permanently after a certain amount of time because
                    they are temporary. Actual accounts are permanent and will
                    be deleted if and only if there exists a good reason to do
                    so.
                </p>
            </li>
            <li>
                <h3>How do I sign up for an actual account?</h3>
                <p>
                    It's a secret.
                </p>
            </li>
            <li>
                <h3>I need some advice.</h3>
                <p>
                    Please reach out. We love giving advice.
                </p>
            </li>
            <li>
                <h3>Are you available for contract work?</h3>
                <p>
                    Possibly, but it won't be cheap.
                </p>
                <p>
                    We are experienced with full-stack web and mobile
                    app development, reverse-engineering, government
                    web services, regulatory and legislative campaigning, and
                    grassroots activism. From concept to final product, we
                    can make imagination reality.
                </p>
            </li>
        </ul>
    </div>
    <div class="chess">
        <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/contact/3-4.png">
    </div>
</div>