@keyframes facts-animation {
  0%   { color: white; }
  50%  { color: white; }
  75%  { color: orange;  }
  100% { color: white; }
}
@keyframes background-animation {
  0%   { opacity: 1; filter: invert(0) saturate(8) hue-rotate(150deg); }
  100% { opacity: .5; filter: invert(.5) saturate(0) hue-rotate(0deg); transform: scaleX(2) scaleY(1.5) rotate(12deg); }
}
@keyframes handy-animation {
  0%   { }
  100% { transform: scaleX(2) scaleY(1.5) rotate(12deg); }
}
@keyframes in {
    0% {transform: scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes in45 {
    0% {transform: rotate(45deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(45deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes inM13 {
    0% {transform: rotate(-13deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(-13deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes inM51 {
    0% {transform: rotate(-51deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(-51deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes in4 {
    0% {transform: rotate(4deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(4deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes inM8 {
    0% {transform: rotate(-8deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(-8deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes inM16 {
    0% {transform: rotate(-16deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(-16deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes in13 {
    0% {transform: rotate(13deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(13deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes in5 {
    0% {transform: rotate(5deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(5deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes inM5 {
    0% {transform: rotate(-5deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(-5deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes in35 {
    0% {transform: rotate(35deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(35deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes in8 {
    0% {transform: rotate(8deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(8deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes inM3 {
    0% {transform: rotate(-3deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(-3deg) scale(1); background: rgba(255, 255, 255, 0); }
}
@keyframes inM7 {
    0% {transform: rotate(-7deg) scale(2); background: rgba(255, 255, 255, .15); }
    100% { transform: rotage(-7deg) scale(1); background: rgba(255, 255, 255, 0); }
}

body[data-page-type="index"] {
    header {
        nav ul.main > li:nth-of-type(3) > a {
            animation: facts-animation 6s infinite;
            animation-delay: 2s;

            &:hover {
                animation: none;
                color: orange;
                text-shadow: 0px 0px 3px orange;
            }
        } 
    }
}

.harr {
    display: flex;
    flex-direction: column-reverse;

    main {
        width: 100%;
        max-width: 800px;
        box-sizing: border-box;
        padding: 0px 15px;
        margin: 30px auto;
        font-family: 'Courier New', 'Monospace', mono;
        line-height: 1.4em;

        h1 {
            font-size: 2em;
            margin: 1em 0 1em 0;
        }
        p {
            margin-bottom: 1em;
        }
        a {
            color: white;
            font-weight: bold;

            &:hover {
                color: pink;
            }
        }

        footer {
            margin: 2em 0 3em 0;

            p:last-child {
                margin-top: 2em;
            }
        }
    }

    &.lofi {
        .villain {
            div.backdrop {
                div.owl {
                    background: #974133;
                }
                &.over {
                    div.owl {
                        background-color: #ddd;
                    }
                }
            }
        }
        a._ {
            &:hover {
                background: fade(#000, 20%);
            }
        }
    }
}


.page.index {
    overflow: hidden;
    overflow-y: auto;
}
.controls-container {
    width: 100%;
    height: 100vh;
    max-height: 1200px;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: hidden;
    pointer-events: none;
    z-index: 6;
    
    .fade;

    transition: all 1s ease-out;

    div.portal {
        display: inline-block;
        width: 160vh;
        height: 100%;
        overflow: hidden;
        position: relative;
        background: rgba(0, 255, 0, 0);
        max-width: 100%;

        @media (min-height: 1200px) and (min-width: 1937px) {
            max-width: 1920px;
        }
    }
}
.controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    pointer-events: none;
    margin-top: 10vh;

    @media (min-height: 1200px) {
        margin-top: 120px;
    }

    .pane {
        background: rgba(0, 0, 0, 0);
        margin: 0px 20px;
        padding: 0px 0px 20px 0px;

        &.filter {
            display: none;
            @media (min-width: 600px) and (min-height: 660px) {
                display: block;
            }
        }

        &.env {
            display: none;
            @media (min-width: 750px) and (min-height: 660px) {
                display: block;
            }
        }
    }

    h2 {
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        border-bottom: 1px solid white;
        margin-bottom: 20px;
        text-align: center;
        font-family: 'Helvetica', 'Calibri', sans;
        text-transform: uppercase;

        .no-select;
    }

    .control-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    h3 {
        text-align: center;
        font-family: 'Helvetica', 'Calibri', sans;
        text-transform: uppercase;
        margin-bottom: 6px;

        .no-select;
    }

    .control {
        position: relative;
        padding: 0px 15px;
        text-align: center;

        @media (min-width: 360px) {
            padding: 0px 20px;
        }

        &.osc1 {
            h3 { visibility: hidden; }
        }
    }

    svg.waveform {
        position: absolute;
        left: 50px;
        top: -2px;
        stroke-width: 15px;
        stroke: white;
        fill: none;
        width: 40px;
        height: 20px;
        display: none;

        &.visible { display: block; }
    }

    .svg-container {
        display: inline-block;
        position: relative;
        width: 60px;
        padding-bottom: 100%;

        @media (min-width: 360px) {
            width: 75px;
        }

        @media (min-height: 750px) {
            width: 90px;
        }

        @media (min-height: 820px) and (min-width: 960px) {
            width: 100px;
        }


        svg {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(128, 0, 0, 0);
            z-index: 3;
        }
    }
    .arc {
        path {
            stroke: white;
            stroke-width: 10px;
            fill: none;
        }
    }

    .knob {
        cursor: pointer;
        pointer-events: auto;

        circle:first-child {
            fill: orange;
            .no-select;

            &:hover {
                fill: lighten(orange, 10%);
            }
        }
        circle:last-child {
            fill: white;
            .no-select;
        }
    }
}

div.backdrop {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.villain {
    height: 100vh;
    background: transparent;
    max-height: 1200px;
    position: relative;
    background-color: transparent;
    overflow: hidden;

    img.o {
        position: absolute;
        left: 50%;
        top: 0px;
        width: auto;
        margin-right: 0%;
        height: 100%;
        transform: translateX(-50%);

        @media (min-height: 1200px) {
            height: 1200px;
            transform: none;
            margin-left: -960px;
        }
    }

    img.p {
        height: 64.4%;

        @media (min-height: 1200px) {
            height: 774px;
        }
    }

    div.backdrop {


        canvas {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 64.4%;
            opacity: 0;

            &.back {
                transition: transform 1s ease-out, opacity 1s ease-out, filter 0s linear;
                transform: translateZ(0) scale(1.1, 1.1);
                will-change: filter;

                &.playing {
                    transition: transform 1s ease-out, opacity 1s ease-out, filter 10s linear;
                    filter: hue-rotate(180deg);
                }
            }
        }

        div.pipes {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #010f6d;
            transition: all 1s ease-out;
            opacity: 0;
            transform: translateZ(0) scale(1.1, 1.1);
 
        }

        div.owl {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            background: #579733;
            transition: all 1s ease-out;
            z-index: 1;
        }

        @media (min-height: 1200px) and (min-width: 1937px) {
            max-width: 1920px;
        }
        

        &.over {
            
            div.owl {
                background-color: #ddd;
            }
            
        }

        &.password {
            canvas {
                opacity: 1;
                transform: translateZ(0) scale(1, 1);
            }
            div.pipes {
                opacity: 1;
                transform: translateZ(0) scale(1, 1);
            }
            div.owl {
                background-color: #ddd;
                transform: translate3d(0,0,0) scale(1.1, 1.1);
                transform: translateZ(0) scale(1.1, 1.1);
                opacity: 0;
            }
        }
    }

    div.portal {
        display: inline-block;
        width: 160vh;
        max-width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .hand {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        transition: opacity 1s ease-out, filter 1s ease-out;
        z-index: 2;

        &.password {
            opacity: 0;
        }

        .uptime {
            position: absolute;
            left: 50%;
            bottom: 10px;
            transform: translateX(-50%);
            font-family: 'Courier New', 'Monospace', mono;
            font-size: 12px;
            background: rgba(0, 0, 0, .25);
            padding: 1px 15px;
        }
    }

    div.keyboard {
        position: absolute;
        left: 50%;
        bottom: 0vh;
        width: 100%;
        max-width: 1920px;
        height: 35vh;
        padding-top: 2vh;
        background: black;
        text-align: center;
        overflow: hidden;
        z-index: 4;
        transition: opacity 1s ease-out;
        transform: translateX(-50%);
        opacity: 0;
        pointer-events: none;

        &.hidden {
            display: none;
        }

        &.password {
            transform: translateX(-50%);
            opacity: 1;
            pointer-events: auto;
            transition: opacity 1s ease-in;
        }

        @media (min-height: 1200px) {
            height: 420px;
            padding-top: 24px;
            top: 756px;
            bottom: auto;

        }
    }

    div.keys {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        flex-direction: row;

        a {
            display: block;
            width: 10%;
            height: 100%;
            background: white;
            flex-grow: 1;

            &:hover {
                background: orange;
            }

            &.whoops {
                position: absolute;
                top: 0px;
                background: black;
                z-index: 1;
                width: 6%;
                height: 60%;
                &:hover {
                    background: #0064ff;
                }
            }

            &.wide {
                display: none;
            }

            &.active {
                background: orange;
            }

            
            &.Cs4 { left: 6%; }
            &.Ds4 { left: 18%; }
            &.Fs4 { left: 36%; }
            &.Gs4 { left: 47%; }
            &.As4 { left: 58%; }
            &.Cs5 { left: 76%; }
            &.Ds5 { left: 88%; }

            @media (min-width: 1440px) {
                &.wide {
                    display: flex;
                }
                &.whoops {
                    position: absolute;
                    top: 0px;
                    width: 4.285714%;
                }

                &.Cs4 { left: 1%*(31*.142857142857); }
                &.Ds4 { left: 1%*(89*.142857142857); }
                &.Fs4 { left: 1%*(176*.142857142857); }
                &.Gs4 { left: 1%*(235*.142857142857); }
                &.As4 { left: 1%*(294*.142857142857); }
                &.Cs5 { left: 1%*(381*.142857142857); }
                &.Ds5 { left: 1%*(439*.142857142857); }
                &.Fs5 { left: 1%*(526*.142857142857); }
                &.Gs5 { left: 1%*(585*.142857142857); }
                &.As5 { left: 1%*(644*.142857142857); }
            }

        }
    }

    form {
        .fade;

        position: absolute;
        left: 50%;
        bottom: 39vh;
        margin-left: -100px;
        z-index: 10;
        pointer-events: none;

        button, a {
            
            display: inline-block;
            background: transparent;
            width: 80px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            text-decoration: none;
            color: white;
            
            font-family: 'Arial', sans;
            font-size: 15px;
            padding: 0px 8px;
            border: 1px solid rgba(255, 255, 255, .25);
            box-sizing: border-box;
            text-transform: lowercase;
            opacity: 0;
            pointer-events: none;
            transition: opacity .5s ease-in;
            cursor: pointer;
            border-radius: 15px;

            &:first-of-type {
                margin-right: 40px;
            }
        }

        &.password button, &.password a {
            visibility: visible;
            opacity: 1;
            pointer-events: auto;

            &:hover {
                background: red;
                border: 1px solid red;
                color: white;

                &:last-child {
                    background: rgba(128, 128, 255, 1);
                    border: 1px solid rgba(128, 128, 255, 1);
                }
            }
        }

        &.inactive.password button, &.inactive.password a {
            pointer-events: none;
            opacity: 0;
            
        }

        &.no-transition button, &.no-transition a {
            transition: none;
        }

        @media (min-height: 1200px) {
            bottom: 468px;
        }
    }

    a._ {
        position: absolute;
        left: 50%;
        transition: background .5s linear;
        animation-name: in;
        animation-duration: .5s;
        animation-timing-function: ease-in;
        z-index: 3;

        &.password {
            background: rgba(128, 0, 255, .25);

            &:hover {
                background: rgba(255, 255, 255, .25);
            }
            &.keyup {
                transition: background 0s linear;
                background: rgba(255, 255, 255, .15);
            }
        }


        &:hover {
            background: fade(#973533, 20%);
            transition: background 0s linear;
        }

        &.fuck {
            bottom: 0vh;
            width: 26.7vh;
            height: 26vh;
            margin-left: -15.7vh;
        }

        &.Fuck {
            bottom: 20vh;
            width: 9vh;
            height: 9vh;
            margin-left: 12vh;
        }

        &.wtf {
            bottom: 16vh;
            width: 31vh;
            height: 31vh;
            margin-left: -17vh;
        }

        &.WTF {
            bottom: 24vh;
            width: 13vh;
            height: 13vh;
            margin-left: 12vh;
        }

        &.i {
            bottom: 21vh;
            width: 9vh;
            height: 9vh;
            margin-left: 16vh;
            border-radius: 100%;
        }

        &.will {
            bottom: 15vh;
            margin-left: -2vh;
            width: 25vh;
            height: 25vh;
            transform: rotate(45deg);
            animation-name: in45;
        }

        &.punish {
            bottom: 18vh;
            margin-left: -21vh;
            width: 36vh;
            height: 36vh;
            transform: rotate(-13deg);
            animation-name: inM13;
        }

        &.you {
            bottom: 25vh;
            width: 9vh;
            height: 9vh;
            margin-left: 20vh;
            border-radius: 100%;
        }

        &.FACE {
            bottom: 50vh;
            width: 9vh;
            height: 9vh;
            margin-left: 4vh;
            border-radius: 100%;
        }

        &.THE {
            bottom: 51vh;
            width: 9vh;
            height: 9vh;
            margin-left: -7vh;
            border-radius: 100%;
        }

        &.PUNISHMENT {
            bottom: 50vh;
            width: 8vh;
            height: 8vh;
            margin-left: -16vh;
            border-radius: 100%;
        }

        &.I {
            bottom: 44vh;
            width: 9vh;
            height: 9vh;
            margin-left: -24vh;
            border-radius: 100%;
        }

        &.DIDNT {
            bottom: 21vh;
            width: 36vh;
            height: 36vh;
            margin-left: -20vh;
            border-radius: 100%;
        }

        &.WANT {
            bottom: 0vh;
            width: 25vh;
            height: 25vh;
            margin-left: -12vh;
            border-radius: 100%;
        }

        &.TO {
            bottom: 12vh;
            width: 10vh;
            height: 10vh;
            margin-left: -17vh;
            border-radius: 100%;
        }

        &.HAVE {
            bottom: 36vh;
            width: 8vh;
            height: 8vh;
            margin-left: 28vh;
            border-radius: 100%;
        }

        &.To {
            bottom: 60vh;
            width: 10vh;
            height: 10vh;
            margin-left: 4vh;
            border-radius: 100%;
        }

        &.BE {
            bottom: 61vh;
            width: 10vh;
            height: 10vh;
            margin-left: -8vh;
            border-radius: 100%;
        }

        &.FORCED {
            bottom: 59vh;
            width: 8vh;
            height: 8vh;
            margin-left: -17.5vh;
            border-radius: 100%;
        }

        &.T0 {
            bottom: 52vh;
            width: 8vh;
            height: 8vh;
            margin-left: -26vh;
            border-radius: 100%;
            z-index: 1;
        }

        &.PUNISH {
            bottom: 46vh;
            width: 7vh;
            height: 7vh;
            margin-left: 30.7vh;
            border-radius: 100%;
        }

        &.YOU {
            bottom: 69.5vh;
            width: 9vh;
            height: 9vh;
            margin-left: 5.5vh;
            border-radius: 100%;
        }

        &.BUT {
            bottom: 73.5vh;
            width: 8.7vh;
            height: 8.7vh;
            margin-left: -7vh;
            border-radius: 100%;
        }

        &.YOUVE {
            bottom: 68vh;
            width: 7.5vh;
            height: 7.5vh;
            margin-left: -17.5vh;
            border-radius: 100%;
        }

        &.LEFT {
            bottom: 60vh;
            width: 7.5vh;
            height: 7.5vh;
            margin-left: -26.5vh;
            border-radius: 100%;
            z-index: 1;
        }

        &.ME {
            bottom: 77vh;
            width: 8vh;
            height: 8vh;
            margin-left: 7vh;
            border-radius: 100%;
        }

        &.WITH {
            bottom: 83vh;
            width: 7.5vh;
            height: 7.5vh;
            margin-left: -6.3vh;
            border-radius: 100%;
        }

        &.NO {
            bottom: 77.5vh;
            width: 7.5vh;
            height: 7.5vh;
            margin-left: -18vh;
            border-radius: 100%;
        }

        &.CHOICE {
            bottom: 67vh;
            width: 6vh;
            height: 6vh;
            margin-left: -26.5vh;
            border-radius: 100%;
        }

        &.Y0U {
            bottom: 32vh;
            margin-left: 23vh;
            width: 10vh;
            height: 10vh;
            transform: rotate(-51deg);
            animation-name: inM51;
        }

        &.WILL {
            bottom: 55.5vh;
            margin-left: 4vh;
            width: 9.5vh;
            height: 9.5vh;
            transform: rotate(4deg);
            animation-name: in4;
        }

        &.LEARN {
            bottom: 56vh;
            margin-left: -7.5vh;
            width: 9vh;
            height: 9vh;
        }

        &.to {
            bottom: 55vh;
            margin-left: -17.2vh;
            width: 8.5vh;
            height: 8.5vh;
            transform: rotate(-8deg);
            animation-name: inM8;
        }

        &.LOVE {
            bottom: 50vh;
            margin-left: -25.2vh;
            width: 8vh;
            height: 8vh;
            transform: rotate(-16deg);
            animation-name: inM16;
        }

        &.YOUR {
            bottom: 42.5vh;
            margin-left: 29.5vh;
            width: 7vh;
            height: 7vh;
            transform: rotate(13deg);
            animation-name: in13;
        }

        &.PUN1SHMENT {
            bottom: 66vh;
            margin-left: 5.5vh;
            width: 8.5vh;
            height: 8.5vh;
            transform: rotate(5deg);
            animation-name: in5;
        }

        &.legalize {
            bottom: 68vh;
            margin-left: -7.6vh;
            width: 9.3vh;
            height: 9.3vh;
            transform: rotate(4deg);
            animation-name: in4;
        }

        &.meth {
            bottom: 64vh;
            margin-left: -17.5vh;
            width: 7.5vh;
            height: 7.5vh;
        }

        &.METH {
            bottom: 58vh;
            margin-left: -26vh;
            width: 7vh;
            height: 7vh;
            transform: rotate(-5deg);
            animation-name: inM5;
        }

        &.IS {
            bottom: 44vh;
            margin-left: 29vh;
            width: 7vh;
            height: 7vh;
            transform: rotate(35deg);
            animation-name: in35;
        }

        &.NOT {
            bottom: 79vh;
            margin-left: -6.5vh;
            width: 8vh;
            height: 8vh;
        }

        &.A {
            bottom: 74vh;
            margin-left: 6.7vh;
            width: 8.1vh;
            height: 8.1vh;
            transform: rotate(8deg);
            animation-name: in8;
        }

        &.CRIME {
            bottom: 73vh;
            margin-left: -17.7vh;
            width: 7.5vh;
            height: 7.5vh;
            transform: rotate(-3deg);
            animation-name: inM3;
        }

        &.shiba {
            bottom: 39vh;
            margin-left: 26vh;
            width: 9vh;
            height: 9vh;
            border-radius: 100%;
        }

        &.inu {
            bottom: 45vh;
            margin-left: 4vh;
            width: 10vh;
            height: 10vh;
            transform: rotate(-7deg);
            animation-name: inM7;
        }

        &.crackmeth {
            bottom: 63.1vh;
            margin-left: -26.9vh;
            width: 7.5vh;
            height: 7.5vh;
            border-radius: 100%;
        }
    }

    @media (min-height: 1200px) {
        a._ {
            &.fuck {
                bottom: 0px;
                width: 325px;
                height: 325px;
                margin-left: -190px;
            }

            &.Fuck {
                bottom: 240px;
                width: 110px;
                height: 110px;
                margin-left: 140px;
            }

            &.wtf {
                bottom: 190px;
                width: 373px;
                height: 373px;
                margin-left: -205px;
            }

            &.WTF {
                bottom: 288px;
                width: 155px;
                height: 155px;
                margin-left: 144px;
            }

            &.i {
                bottom: 250px;
                width: 90px;
                height: 90px;
                margin-left: 200px;
            }

            &.will {
                bottom: 190px;
                margin-left: -10px;
                width: 290px;
                height: 290px;

            }

            &.punish {
                bottom: 220px;
                margin-left: -251px;
                width: 430px;
                height: 430px
            }

            &.you {
                bottom: 300px;
                width: 110px;
                height: 110px;
                margin-left: 235px;
            }

            &.FACE {
                bottom: 600px;
                width: 110px;
                height: 110px;
                margin-left: 50px;
            }

            &.THE {
                bottom: 610px;
                width: 110px;
                height: 110px;
                margin-left: -85px;
            }

            &.PUNISHMENT {
                bottom: 600px;
                width: 97px;
                height: 97px;
                margin-left: -193px;
            }

            &.I {
                bottom: 525px;
                width: 108px;
                height: 108px;
                margin-left: -290px;
            }

            &.DIDNT {
                bottom: 250px;
                width: 431px;
                height: 431px;
                margin-left: -240px;
            }

            &.WANT {
                bottom: 0px;
                width: 296px;
                height: 296px;
                margin-left: -140px;
            }

            &.TO {
                bottom: 145px;
                width: 119px;
                height: 119px;
                margin-left: -205px;
            }

            &.HAVE {
                bottom: 430px;
                width: 93px;
                height: 93px;
                margin-left: 339px;
            }

            &.To {
                bottom: 720px;
                width: 119px;
                height: 119px;
                margin-left: 50px;
            }

            &.BE {
                bottom: 730px;
                width: 119px;
                height: 119px;
                margin-left: -97px;
            }

            &.FORCED {
                bottom: 710px;
                width: 95px;
                height: 95px;
                margin-left: -210px;
            }

            &.T0 {
                bottom: 622px;
                width: 95px;
                height: 95px;
                margin-left: -310px;
            }

            &.PUNISH {
                bottom: 553px;
                width: 83px;
                height: 83px;
                margin-left: 370px;
            }

            &.YOU {
                bottom: 837px;
                width: 107px;
                height: 107px;
                margin-left: 67px;
            }

            &.BUT {
                bottom: 882px;
                width: 104px;
                height: 104px;
                margin-left: -84px;
            }

            &.YOUVE {
                bottom: 815px;
                width: 89px;
                height: 89px;
                margin-left: -210px;
            }

            &.LEFT {
                bottom: 722px;
                width: 89px;
                height: 89px;
                margin-left: -318px;
            }

            &.ME {
                bottom: 925px;
                width: 96px;
                height: 96px;
                margin-left: 84px;
            }

            &.WITH {
                bottom: 997px;
                width: 90px;
                height: 90px;
                margin-left: -75px;
            }

            &.NO {
                bottom: 930px;
                width: 90px;
                height: 90px;
                margin-left: -217px;
            }

            &.CHOICE {
                bottom: 803px;
                width: 72px;
                height: 72px;
                margin-left: -317px;
            }

            &.Y0U {
                bottom: 385px;
                width: 120px;
                height: 120px;
                margin-left: 278px;
            }

            &.WILL {
                bottom: 665px;
                width: 114px;
                height: 114px;
                margin-left: 50px;
            }

            &.LEARN {
                bottom: 673px;
                width: 108px;
                height: 108px;
                margin-left: -90px;
            }

            &.to {
                bottom: 660px;
                width: 102px;
                height: 102px;
                margin-left: -207px;
            }

            &.LOVE {
                bottom: 600px;
                width: 96px;
                height: 96px;
                margin-left: -302px;
            }

            &.YOUR {
                bottom: 508px;
                width: 84px;
                height: 84px;
                margin-left: 355px;
            }

            &.PUN1SHMENT {
                bottom: 790px;
                width: 102px;
                height: 102px;
                margin-left: 68px;
            }

            &.legalize {
                bottom: 815px;
                width: 111px;
                height: 111px;
                margin-left: -90px;
            }

            &.meth {
                bottom: 768px;
                width: 90px;
                height: 90px;
                margin-left: -210px;
            }

            &.METH {
                bottom: 695px;
                width: 84px;
                height: 84px;
                margin-left: -310px;
            }

            &.IS {
                bottom: 530px;
                width: 84px;
                height: 84px;
                margin-left: 350px;
            }

            &.NOT {
                bottom: 948px;
                width: 96px;
                height: 96px;
                margin-left: -78px;
            }

            &.A {
                bottom: 888px;
                width: 96px;
                height: 96px;
                margin-left: 81px;
            }

            &.CRIME {
                bottom: 874px;
                width: 90px;
                height: 90px;
                margin-left: -213px;
            }

            &.shiba {
                bottom: 467px;
                width: 108px;
                height: 108px;
                margin-left: 310px;
            }

            &.inu {
                bottom: 540px;
                width: 120px;
                height: 120px;
                margin-left: 47px;
            }

            &.crackmeth {
                bottom: 757px;
                width: 90px;
                height: 90px;
                margin-left: -323px;
            }
        }
    }

    @media (min-height: 1200px) {
        left: 50%;
        max-width: 1920px;
        width: 100%;
        height: 1200px;
        transform: translateX(-50%);
    }

    &.access-denied {
        .controls-container {
            display: none;
        }
        .keyboard.password {
            display: none;
        }
        form {
            display: none;
        }
        div.backdrop.password div.portal {
            div.pipes {
                transition: none;
                animation: background-animation 2s infinite;
                animation-timing-function: linear;
            }
            canvas { display: none; }
            &::after {
                position: absolute;
                left: 0px;
                bottom: 0px;
                width: 100%;
                height: 100%;
                background: rgb(0, 0, 0);
                background: linear-gradient(180deg, rgba(32, 32, 32, 0) 25%, rgba(64, 32, 32, 1) 65%, rgba(128,0,0,1) 100%);
                content: " ";
            }
        }
        a._.password {
            transition: none;
            background: rgba(255, 255, 255, .5);
            animation: handy-animation 2s infinite;
            animation-timing-function: linear;
        }
        &::before {
            position: absolute;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            top: 75px;
            width: 100%;
            height: 250px;
            background: url(/images/index/access_denied.png) center top no-repeat;
            background-size: 80% auto;
            content: " ";
            z-index: 11;

            @media (min-width: 1920px) {
                width: 1920px;
            }

            
        }
    }
}
