<img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/privacy/shiba-inu.png"/>
<h1>Privacy Policy</h1>

<p>
    We
    are obsessed with privacy. Some might even call us extremists.
    We call it being ethical. Here's the TL;DR:
</p>
<ul>
    <li><strong>No third party trackers of any kind.</strong></li>
    <li><strong>We do not and will not sell or monetize your personal data.</strong></li>
    <li><strong>We respect the Do Not Track (DNT) setting.</strong></li>
    <li><strong>You have the right to be forgotten.</strong></li>
    <li><strong>You have the right to never be identified in the first place.</strong></li>
</ul>
<h2>Information we collect</h2>
<p>We collect the following types of information:</p>

<h3>Information you provide us</h3>
<ul>
    <li>The content of any posts or uploads you submit.</li>
    <li>Your username, password, and email address when you register for an account.</li>
    <li>Profile information that you add to your user profile (eg. website and bio).</li>
</ul>

<h3>Information we collect automatically</h3>
<ul>
    <li>
        Basic analytics and server logs. This can include information about your browser
        and operating system, as well as your IP address.
    </li>
    <li>
        Usage data about how you interact with various features of the site.
    </li>
    <li>
        We use cookies to persist your session and allow login functionality. See below for
        more information about cookies and our Do Not Track policy.
    </li>
</ul>

<p>
    We do not use any third party trackers (eg. Google Analytics), advertising networks,
    beacons, etc.
</p>

<h2>What we do with your information</h2>

<ul>
    <li>
        When you submit posts, comments or use other interactive features of the site,
        we display your submissions publicly on the site.
    </li>
    <li>
        If you customize your profile (either in your account settings or
        <a href="/fmiffel">fmiffel</a>) then any profile information you add will
        be publicly visible, with the exception of email address (there is an
        optional setting to show email publicly).
    </li>
    <li>
        We may customize features on the site based on your usage
        history; for example you might find an easter egg that gives you
        special privileges that other users don't have.
    </li>
    <li>
        We may anonymize and aggregate usage information and use it to publicly
        display certain statistics, such as survey response results. 
    </li>
    <li>
        We may use your information to get in touch with you. For example, if you
        sign up for our email list, we may send you periodic emails. Or if we offer
        some kind of chat feature, we might just want to say "hi :)"
    </li>
    <li>
        We use our server logs and basic analytics to monitor performance of the
        site, detect and prevent automated or abusive behavior, and maintain 
        anonymized analytics about user activity.
    </li>
    <li>
        We store your IP address with any posts or uploads you make or in database
        records relating to your logins. We use this
        to identify abusive behavior and permaban accounts.
    </li>
    <li>
        If you file a DMCA takedown complaint, we will post it publicly on the
        site in an effort to reach the
        user(s) who posted the content relevant to the complaint. If you file a DMCA
        counter-notice&mdash;we will forward your counter-notice and contact
        information to the complainant. Counter-notice information will not be
        published publicly without your express permission. Please see our
        <a href="/dmca">DMCA</a> page for more information.
    </li>
</ul>

<p>
    Beyond the uses listed above we do not
    share your private data with third parties, with the exception of rare
    cases where we may be required to share share what little data we have on you as
    required by court order, legal proceeding, warrant, law, or other mandatory
    government request.
</p>
<p>
    <u>
        As of the date of first posting this document (January 27th, 2020) we
        have never been forced to disclose any user data under any warrants.
    </u>
</p>

<h2>Cookies and Do Not Track (DNT) Policy</h2>

<p>
    By default we use a cookie to persist your session across page loads.
    However, if you use the
    <a href="https://en.wikipedia.org/wiki/Do_Not_Track" target="_blank">Do Not Track (DNT) setting</a>
    in your browser, we will not store any cookies <u>unless:</u>
    1. You explicitly grant us an exception and opt-in to cookies via one of the
    submission forms on the site, or 2. You login to your user account with username
    and password. In the latter case, we need to use a cookie in order to persist
    your logged-in state.
</p>
<p>
    We do not use cookies to track you on other sites.
</p>

<h2>Deletion of information</h2>

<p>
    We generally do not allow blanket deletion of submissions because it has the
    effect of wrecking any discussions that user has participated in.
    We have designed the interactive features of the site (for example comments
    and posts) to be usable pseudonymously without requiring any kind of registration
    process, and without publicly displaying any Personally Identifying Information.
</p>

<p>
    If you have posted Personally Identifying Information publicly and want it
    removed, or have another urgent issue, please
    <a href="mailto:privacy@obsessivefacts.com">contact us</a> and we will try
    to help you out. In such cases, we may require you to verify your identity
    in some way in order to ensure that your deletion request is actually being
    made on behalf of the original poster.
</p>

<p>
    We believe you have the
    <a href="https://en.wikipedia.org/wiki/Right_to_be_forgotten" target="_blank">right to be forgotten</a>,
    but you also have the right to never be identified in the first place.
    Therefore we discourage you from posting any information that could be used
    to identify you.
</p>

<h2>Children Under 13</h2>

<p>
    Obsessive Facts is not intended for children under 13 years of age. We do not
    knowingly collect personal information from children under 13. If you are under
    13, please do not provide any information on this website. Just leave.
</p>

<h2>Changes to this Privacy Policy</h2>

<p>
    We may update this policy from time to time. In the case of significant
    changes, we will place a prominent notice on the site. This
    website is <a href="https://gitlab.com/obsessivefacts/surface" target="_blank">open source</a>,
    and you are always welcome to view the changes to this policy in our revision history.
</p>

<h2>Contacting Us</h2>

<p>
    Obsessive Facts is a project of Obsessive Network LLC, a Minnesota
    limited liability company.
    If you have a privacy question or concern, please reach out to
    <a href="mailto:privacy@obsessivefacts.com">privacy@obsessivefacts.com</a>.
</p>
<p>
    You can also write to us at:
</p>
<pre>Privacy Officer
Obsessive Network LLC
400 S 4th St #401-205
Minneapolis, MN 55415
</pre>
<p>
    <strong>Updated February 21st, 2020.</strong>
</p>
<footer>
    <hr/>
    Privacy Policy &bull; <a href="/terms">Terms of Service</a> &bull; <a href="/dmca">DMCA Policy</a>
</footer>