<!doctype html>
<html lang="en">
<head>
<title>{{ meta.title }}</title>
<meta charset="utf-8">
{% import "../_macros/sri.html" as sri %}
<link rel="alternate" type="application/rss+xml" href="/blog/rss.xml" title="Obsessive Facts Blog">
<link rel="icon" type="image/x-icon" href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/favicon.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">{% if config.cdn_surface %}
<meta name="cdn-surface" content="{{ config.cdn_surface }}">{% endif %}{% if config.cdn_plugins %}
<meta name="cdn-plugins" content="{{ config.cdn_plugins }}">{% endif %}
{% if meta.meta %}{% for tag in meta.meta %}<meta{% if tag.name %} name="{{ tag.name }}"{% endif %}{% if tag.property %} property="{{ tag.property }}"{% endif %}{% if tag.httpEquiv %} http-equiv="{{ tag.httpEquiv }}"{% endif %}{% if tag.content %} content="{{ tag.content }}"{% endif %} class="dynamic">
{% endfor %}{% endif %}
{% if onion_request %}<link href="/css-nocdn/main.css" rel="stylesheet" type="text/css" />
{% if meta.stylesheets %}{% for stylesheet in meta.stylesheets %}<link id="css-{{stylesheet}}" href="/css-nocdn/{{stylesheet}}.css" rel="stylesheet" type="text/css" />
{% endfor %}{% endif %}{% else %}<link href="{{ sri.cachableFilename('main', 'css', config) }}" {{ sri.integrity('main', 'css', config) }} rel="stylesheet" type="text/css" crossorigin="anonymous"/>
{% if meta.stylesheets %}{% for stylesheet in meta.stylesheets %}<link id="css-{{stylesheet}}" href="{{ sri.cachableFilename(stylesheet, 'css', config) }}" {{ sri.integrity(stylesheet, 'css', config) }} rel="stylesheet" type="text/css" crossorigin="anonymous"/>
{% endfor %}{% endif %}{% endif %}
</head>

<body data-page-type="{{ pageType }}">

<header class="">
<input type="checkbox" id="subnav_toggle" value="copy of a copy of a copy of a copy of a" />
<nav>
    <ul class="main">
        <li><a href="/" data-page-type="index" {% if pageType == "index" %}class="active"{% endif %}>Home</a></li>
        <li><a href="/music" data-page-type="music" {% if pageType == "music" %}class="active"{% endif %}>Music</a></li>
        <li><a href="/facts" data-page-type="facts" {% if pageType == "facts" %}class="active"{% endif %}>Facts</a></li>
        <li><a href="/blog" data-page-type="blog" {% if pageType == "blog" %}class="active"{% endif %}>Blog</a></li>
        <li>
            <label for="subnav_toggle" class="ql dt" title="Toggle Subnav">More</label>
            <ul class="subnav">
                <li class="spacer"><label for="subnav_toggle" class="ql dt" title="Toggle Subnav">Shiba Inu</label></li>
                {% if user.id > 0 %}
                    <li class="user">
                        <div>
                            <div class="avatar" style="background-image: url({% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}{% if user.avatar %}/avatars/{{ user.avatar }}{% else %}/images/user/profile/anonymous.png{% endif %}); background-size: 100% auto;"></div>
                            <div class="status">
                                <strong>Hi, {{ user.username }} </strong>
                                <a href="/user/{{ user.username }}">View Profile</a><span> / </span><a href="/user/auth/logout">Logout</a>
                            </div>
                        </div>
                    </li>
                {% elif onion_request %}
                    <li class="login">
                        <form action="/password" method="post" enctype="multipart/form-data">
                            <button type="submit" name="code" value="60,67,72,67,66,67">Login</button>
                        </form>
                    </li>
                {% endif %}
                <li class="meth"><a href="/about">About Us</a></li>
                <li><a href="/guestbook">Guestbook</a></li>
                <li><a href="/memespeech">Memespeech</a></li>
                <li><a href="/fmiffel" class="twitter">twitter</a></li>
                <li><a href="/gemini-proxy">Gemini Proxy</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </li>
    </ul>
</nav>
<label class="hamburger" for="subnav_toggle"><svg width="0" height="0"><rect x="0" y="0" width="20" height="4" /><rect x="0" y="8" width="20" height="4" /><rect x="0" y="16" width="20" height="4" /></svg></label>
<div id="player">
    <svg width="0" height="0" class="loading"><path d="M10 20 A 10 10 0 1 0 20 10"/></svg>
    <svg width="0" height="0" class="play"><path d="M13 28 L 13 12 L 28 20 L 13 28"/></svg>
    <svg width="0" height="0" class="pause"><rect x="13" y="12.5" width="5" height="15" /><rect x="22" y="12.5" width="5" height="15" /></svg>
    <svg width="0" height="0" class="error"><line x1="12" y1="12" x2="28" y2="28"/><line x1="12" y1="28" x2="28" y2="12"/></svg>
    <canvas width="0" height="0"></canvas>
    <span></span>
</div>
</header>

<div id="page-{{ path }}" class="page {{ pageType }} {% if onion_request %}onion{% endif %}" {% if meta.eject %}data-eject="{{ meta.eject }}"{% endif %}>
{{ content }}
</div>

{% if meta.chunks %}{% for chunk in meta.chunks %}<div id="html-{{chunk}}">{% include 'html/'+chunk+'.html' %}</div>
{% endfor %}{% endif %}</body>
{% if not onion_request %}<script type="text/javascript" id="core" src="{{ sri.cachableFilename('main', 'js', config) }}" {{ sri.integrity('main', 'js', config) }} crossorigin="anonymous"></script>
{% if meta.scripts %}{% for script in meta.scripts %}<script type="text/javascript" id="{{script}}" src="{{ sri.cachableFilename(script, 'js', config) }}" {{ sri.integrity(script, 'js', config) }} crossorigin="anonymous"></script>
{% endfor %}{% endif %}{% if meta.libs %}{% for lib in meta.libs %}<script type="text/javascript" id="{{lib}}-lib" src="{{ sri.cachableFilename('_lib/' + lib, 'js', config) }}" {{ sri.integrity('_lib/' + lib, 'js', config) }} crossorigin="anonymous"></script>
{% endfor %}{% endif %}{% if meta.plugins %}{% for plugin in meta.plugins %}<script type="text/javascript" id="{{plugin}}" src="{{ sri.cachablePlugin(plugin, meta, config) }}" {{ sri.pluginIntegrity(plugin, meta) }} crossorigin="anonymous"></script>
{% endfor %}{% endif %}{% if user.id > 0 %}<script type="text/javascript" id="user" data-id="{{ user.id }}" data-username="{{ user.username }}" data-avatar="{{ user.avatar }}" src="{{ sri.cachableFilename('_standalone/user', 'js', config) }}" {{ sri.integrity('_standalone/user', 'js', config) }} crossorigin="anonymous"></script>
{% endif %}{% endif %}

</html>