<form action="/user/edit/{{user.username}}" method="POST" enctype="multipart/form-data" data-back-url="/user/{{ user.username }}">
<input type="hidden" name="access_token" value="{{user.access_token}}"/>
<div class="bow">
<div class="flex">
<div class="block">
<h2>---- USER INFO ----</h2>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><pre>USER  : </pre></td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td><pre>TITLE : </pre></td>
        <td>{{user.title}}</td>
    </tr>
    <tr>
        <td><pre>EMAIL : </pre></td>
        <td><input type="email" name="email" value="{{user.email}}"/></td>
    </tr>
    <tr>
        <td><pre>BIO   : </pre></td>
        <td><textarea name="bio">{{user.bio}}</textarea></td>
    </tr>
</table>
<h2>---- USER PREFERENCES ----</h2>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <input type="checkbox" name="public_email" id="public_email" value="1" {% if user.public_email %}checked="checked"{% endif %}/>
            <label for="public_email">Show email address publicly</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="subscribe" id="subscribe" value="1" {% if user.subscribe %}checked="checked"{% endif %}/>
            <label for="subscribe">Subscribe to mailing list</label>
        </td>
    </tr>
</table>
<h2>---- PASSWORD ----</h2>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <input type="radio" name="change_password" id="dont_change" value="0" checked/>
            <label for="dont_change">Don't change password</label>
        </td>
    </tr>
    <tr>
        <td>
            <input type="radio" name="change_password" id="do_change" value="1"/>
            <label for="do_change">Do change password</label>
        </td>
    </tr>
</table>
<table cellpadding="0" cellspacing="0" border="0" id="change_form">
    <tr>
        <td><label for="old_password"><pre>OLD   : </pre></label></td>
        <td><input type="password" name="old_password" id="old_password" /></td>
    </tr>
    <tr>
        <td><label for="new_password"><pre>NEW   : </pre></label></td>
        <td><input type="password" name="new_password" id="new_password" /></td>
    </tr>
    <tr>
        <td><label for="new_password_2"><pre>NEW 2 : </pre></label></td>
        <td><input type="password" name="new_password_2" id="new_password_2" /></td>
    </tr>
</table>
</div>
<div class="block img">
<div class="avatar" style="background-image: url({% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}{% if user.avatar %}/avatars/{{ user.avatar }}{% else %}/images/user/profile/anonymous.png{% endif %}); background-size: 100% auto;"></div>
- <label for="avatar">{% if user.avatar %}CHANGE{% else %}UPLOAD{% endif %} AVATAR IMAGE</label><br/>
{% if user.avatar %}- <a href="/user/delete-avatar/{{ user.username }}/{{ user.access_token }}">DELETE AVATAR IMAGE</a><br/>{% endif %}
<input type="file" name="avatar" id="avatar"/>
</div>
</div>
</div>
<div class="submit-thingy">
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <button type="submit"><svg width="0" height="0" class="loading"><path d="M10 20 A 10 10 0 1 0 20 10"/></svg>Submit</button>
    <button type="reset">Forget</button>
</div>
</form>