<div class="is-grass-green">
    <div class="do-birds-fly">
        <img class="do-cats-eat-bats" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/facts/keyboard.png">
    </div>
    <ul class="do-rats-shit-gnats">
        <li><a href="/facts/true/undefined">true facts</a></li>
        <li><a href="/facts/fake/apple">fake facts</a></li>
        <li><a href="/facts/hate/damore">hate facts</a></li>
        <li><a href="/facts/shibainu/profile">shiba inu facts</a></li>
        <li><a href="/gemini-proxy?uri=gemini%3A%2F%2Fobsessivefacts.com%2F">&rArr; /fiction</a></li>
    </ul>
</div>
