.whatever-it-is-you-wanted {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
    background: black;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', 'Monospace', monospace, mono;

    .it-is-not-here {
        position: relative;

        img {
            max-width: 1200px;
            width: 100%;
            height: auto;
        }
        main {
            position: absolute;
            left: 20px;
            top: 15px;


        }
        footer {
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            padding: 30px 15px;
            box-sizing: border-box;
            background: rgba(0, 0, 0, .5);
            color: #ddd;
            text-shadow: 0px 0px 10px black;

            h1 {
                font-size: 60px;
                font-weight: bold;
                text-align: center;
                margin-bottom: 20px;
            }

            p {
                text-align: center;
                font-size: 1.2em;
                line-height: 1.4em;
            }
        }
    }
}

