/*
Thank you to developer meduz' for the CRT scan-lines effect
https://codepen.io/meduzen/pen/zxbwRV (MIT Licensed)
*/

@scan-width: 2px;
@scan-fps: 60;
@scan-color: rgba(0, 0, 0, .3);
@scan-z-index: 2147483648; 
@scan-opacity: .75;

@keyframes scanline {
    0% { transform: translate3d(0, 200000%, 0); }
}

@keyframes scanlines {
    0% { background-position: 0 50%; }
}

@keyframes amai-mask {
    0% { opacity: .47; transform: scale(.87); }
    50% { opacity: .55; transform: scale(1.01); }
    100% { opacity: .5; transform: scale(.96); }
}

@keyframes handsome-kamen {
    0% { opacity: .75; transform: scale(.97); }
    50% { opacity: .7; transform: scale(1.01); }
    100% { opacity: .75; transform: scale(.96); }
}

@keyframes teru-mikami {
    0% { opacity: 1; }
    50% { opacity: 1; color: rgba(0, 0, 0, 1); }
    100% { opacity: 0; color: rgba(255, 255, 255, 1); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@font-face {
    font-family: 'whitrabt';
    src: url('/fonts/whitrabt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body[data-page-type="about"] {
    header {
        // background: transparent;
        nav ul.main > li > a {
            font-weight: bold;
            color: #ddd;
            &:hover { color: pink; }
        }
    }
}
div.page.about {
    overflow: hidden;
    font-family: 'Open Sans';

    a {
        color: pink;
        text-decoration: none;

        &:hover { color: white; text-decoration: underline; }
    }

    article.about-us {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        // padding-top: 100vh;
        box-sizing: border-box;
        text-align: left;
        transition: transform .5s linear;
        transform-origin: 0 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        will-change: transform;
        background: #111 url(/images/about/bridge.jpg);
        background-size: 100% auto;
        background-position: left top;
        background-repeat: no-repeat;
    }
    article.obsessive-facts {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        text-align: left;
        background: #20014a;
        transition: transform .5s linear;
        transform-origin: 0 100%;
        transform: rotateX(-90deg) translateY(100vh);
        z-index: 1;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        will-change: transform;

        .chrome-fix {
            display: block;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }

    section.obsess {
        // background: linear-gradient(rgba(0, 0, 0, 0), rgba(64, 64, 64, 1));
        position: relative;
        left: 0px;
        top: 0px;
        z-index: 1;
    }

    section.social {
        position: relative;
        z-index: 1;
        padding: 3vh 0 5vh 25px;
        // background: rgba(64, 64, 64, 1);
    }

    

    button {
        width: 8vh;
        height: 8vh;
        border: 0;
        padding: 0;
        color: transparent;
        margin-right: 3vh;
        border-radius: 5px;
        cursor: pointer;
        vertical-align: top;
        opacity: .8;

        &.twitter {
            background-image: url(/images/about/twitter.png);
            background-size: 100% 100%;
        }
        &.facebook {
            background-image: url(/images/about/facebook.png);
            background-size: 100% 100%;
        }
        &.youtube {
            background-image: url(/images/about/youtube.png);
            background-size: 100% 100%;
        }
        &:hover { opacity: 1; }
        &:active {
            &:before {
                position: absolute;
                left: 0px;
                top: -84vh;
                width: 100vw;
                height: 100vh;
                background-color: rgba(255, 0, 0, 1);
                pointer-events: none;
                box-sizing: border-box;
                z-index: 30000;
                animation: teru-mikami .5s ease-out forwards;
                content: 'delete.';
                font-size: 16vw;
                line-height: 100vh;
                color: #000;
                text-shadow: 0px 0px 20px 800;
                font-weight: bold;
            }
        }
    }
    
    .column {
        display: flex;
        flex-direction: column;
        padding-top: 5vh;
        padding-left: 25px;
        width: 100%;
        box-sizing: border-box;

        h1 {
            height: 14vh;
            color: #ddd;
            font-size: 5vw;
            font-weight: 500;
            opacity: .5;
            text-align: left;
            padding-top: 1vh;
            margin-bottom: 4vh;

            em {
                display: inline-block;
                padding: 0px 20px 0px 0px;
            }
        }
        p {
            height: 10vh;
            justify-content: center;
            color: rgba(255, 255, 255, .75);
            font-size: 4vmin;

            font-weight: 400;

            // span { font-weight: lighter; }
            em {
                // font-weight: 500;
                // color: white;
                background: rgba(156, 46, 0, .33);
                border-radius: 10px;
            }
            strong { font-weight: 500; }
            label { cursor: pointer; text-decoration: underline; }
            label:hover { color: pink; text-decoration: underline; }

            &:before { content: "$ "; opacity: .33; }
        }
    }

    .three-dimensional {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 2;
        overflow: hidden;
    }
    .cuboid {
        // position: relative; 
        z-index: 2;
        width: 100vw;
        height: 100vh;
        transition: transform .5s linear;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    input[type="checkbox"] {
        position: absolute;
        display: none;
        z-index: 9001;
        
        right: 20px;
        top: 0px;

        &:checked ~ .three-dimensional .cuboid {
            transform: translateY(-100vh);

            article.about-us {
                z-index: 2;
                transform: rotateX(90deg);
            }

            article.obsessive-facts {
                z-index: 2;
                transform: rotateX(0deg) translateY(100vh);
            }

        }
        
    }
    div.logo {
        height: 66vh;
        border-top: 15px solid black;
        border-bottom: 15px solid black;
        overflow: hidden;
        position: relative;
        max-width: 1920px;
        margin: 0px auto;
        box-sizing: border-box;

        svg.union {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 56vh;
            height: 56vh;
            margin-left: -28vh;
            margin-top: -28vh;
            stroke-width: 8px;
            stroke: black;
            fill: none;
            z-index: 5;
            animation: spin 16s linear infinite;
        }
        svg.o {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 58vh;
            height: 58vh;
            margin-left: -29vh;
            margin-top: -29vh;
            stroke: none;
            stroke-width: 8px;
            stroke: rgba(67, 15, 5, .5);
            fill: rgba(103, 59, 0, .33);
            z-index: 4;
        }
        .back-1 {
            background: url(/images/about/x_back_1.png);
            position: absolute;
            width: 4092px;
            height: 3072px;
            left: 50%;
            top: 50%;
            margin-left: -2046px;
            margin-top: -1536px;
            z-index: 3;
            background-position: center center;
            opacity: .15;
            animation: spin 23s linear infinite;
        }
        .back-2 {
            background: url(/images/about/x_back_2.png);
            position: absolute;
            width: 2400px;
            height: 1996px;
            left: 50%;
            top: 50%;
            margin-left: -1200px;
            margin-top: -998px;
            z-index: 2;
            background-position: center center;
            opacity: .1;
            animation: spin 30s linear infinite;
        }
        .back-3 {
            background: url(/images/about/x_back_3.png);
            position: absolute;
            width: 2400px;
            height: 1996px;
            left: 50%;
            top: 50%;
            margin-left: -1200px;
            margin-top: -998px;
            z-index: 1;
            background-position: center center;
            animation: spin 37s linear infinite;
        }
    }

    section.really-about-us {
        display: block;
        width: 100%;
        max-width: 768px;
        margin: 0px auto;
        box-sizing: border-box;
        padding: 20px;
        background: #400393;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(64, 3, 147, .5);

        h1 {
            font-size: 60px;
            text-shadow: 0px 0px 10px rgba(255, 255, 255, .33);
            padding: 20px 0px 10px 0px;
            font-family: 'whitrabt', mono;
        }
        h2 {
            font-size: 25px;
            font-weight: 600;
            text-shadow: 0px 0px 10px rgba(255, 255, 255, .25);
            padding: 0px 0px 40px 0px;
        }
        p {
            text-align: justify;
            font-size: 110%;
            line-height: 160%;
            padding-bottom: 25px;
        }
    }

    div.tv {
        margin: 30px auto;
        width: 300px;
        height: 226px;
        // background: #888;
        // border-radius: 40px;
        position: relative;
        overflow: hidden;
        background: #ddd;
        box-shadow: 0px 0px 30px rgba(255, 255, 255, .4);
        cursor: pointer;
        border-radius: 10%;

        &:before,
        &:after {
            display: block;
            pointer-events: none;
            content: '';
            position: absolute;
            width: 300px;
            height: 226px;
            // border-radius: 40px;
        }

        &:before {
            width: 100%;
            height: @scan-width * 1;
            z-index: @scan-z-index + 1;
            background: @scan-color;
            opacity: @scan-opacity * .25;
            animation: scanline 6s linear infinite;
        }

        &:after {
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: @scan-z-index;
            background: linear-gradient(
                to bottom,
                transparent 50%,
                @scan-color 51%
            );
            background-size: 100% @scan-width*2;
            animation: scanlines 1s steps(@scan-fps) infinite;
        }

        svg {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -50%;
            margin-top: -32%;
            width: 100%;
            max-height: 85%;
            filter: drop-shadow( 0px 0px 15px rgba(0, 0, 0, .10) );
            g {
                path {
                    fill: #fff;
                }
            }
            animation: amai-mask .026s ease-in infinite;

        }
        canvas {
            width: 300px;
            height: 226px;
        }
        &:hover {
            svg {
                animation: handsome-kamen .026s ease-in infinite;
            }
        }
    }

    @media (min-width: 1850px) {
        div.logo {
            border-left: 15px solid black;
            border-right: 15px solid black;
        }
    }
    @media (max-width: 768px) {
        article .column h1 {
            font-size: 7vw;
            padding: 10vw 0 7vw 0;
            height: auto;
        }
        article .column p {
            font-size: 4.25vw;
            color: rgba(255, 255, 255, 1);
            &:before { display: none; }
            text-shadow: 0px 0px 5px rgba(0, 0, 0, .4);
        }
        article.about-us {
            background-size: auto 100%;
            background-position: center center;
        }
        section.really-about-us {
            h1 {
                text-align: left;
            }
            p {
                text-align: left;
            }
        }
    }
}



    

