@keyframes contact-background {
  0%   { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(-359.9999deg); }
}

@font-face {
    font-family: 'whitrabt';
    src: url('/fonts/whitrabt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body[data-page-type="contact"] {
    header {
        background: #584d4d;
    }
}

div.page.contact {
    width: 100%;
    height: 100%;
    // background: #584d4d;

    .backdrop {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        max-width: 1360px;
        max-height: 1020px;
        background: url(/images/contact/1-2.png);
        background-color: #584d4d;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        z-index: 1;

        animation: contact-background 60s infinite;
        animation-delay: 10s;

        .details, .details-background {
            position: absolute;
            left: 50%;
            bottom: 10%;
            transform: translateX(-50%);
            font-size: 1.1em;
            line-height: 1.3em;
            padding: 15px;
            font-family: 'Courier New', mono;
            opacity: 1;
            transition: .5s ease-in all;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
            strong { font-weight: bold; }
        }

        .details-background {
            z-index: 1;
            background: #584d4d;
            filter: blur(15px);
            color: transparent;

            a {
                color: transparent;
            }
        }
        .details {
            z-index: 2;
            color: white;
            a { color: white; }
        }
    }
    .faqdrop {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        max-width: 1360px;
        max-height: 1020px;
        z-index: 2;
        pointer-events: none;

        .faq {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 50%;
            height: 100%;
            overflow: auto;
            z-index: 4;
            background: #4d5858 url(/images/contact/fleur.png);
            background-size: auto 100%;
            // background-attachment: fixed;
            background-position: center center;
            opacity: 0;
            transition: .5s ease-in all;
            box-sizing: border-box;
            padding: 60px 25px;
            font-family: 'Open Sans';
            font-size: 1.2em;
            line-height: 1.3em;
            color: #eee;

            a.back {
                display: block;
                position: absolute;
                left: 25px;
                top: 10px;
                color: #eee;
                text-decoration: none;
                font-size: 2em;
                height: 35px;

                &:hover {
                    background: rgba(0, 0, 0, .5);
                }
            }

            ul {
                list-style-type: none;
            }
            li {
                margin-bottom: 40px;
            }

            h2 {
                font-family: 'whitrabt';
                font-size: 2em;
                margin-bottom: 40px;
            }
            h3 {
                font-weight: bold;
                margin-bottom: 7px;
            }
            p {
                font-weight: 400;
                margin-bottom: 25px;
            }
            strong {
                font-weight: bold;
            }
            em:not(.hide-mobile) {
                font-style: italic;
            }
        }
        .chess {
            position: absolute;
            left: 50%;
            top: 0px;
            width: 50%;
            height: 100%;
            z-index: 3;
            overflow: hidden;
            transition: .5s ease-in all;
            opacity: 0;

            img {
                height: 1020px;
                width: auto;
                transform: scale(1.05);
                transition: .5s ease-out all;
            }
        }
        &.active {
            pointer-events: all;
            .faq {
                opacity: 1;
            }
            .chess {
                opacity: 1;
                img { 
                    transform: scale(1);
                }
            }
        }
    }
    @media (max-width: 767px) {
        .faqdrop .faq { width: 75%; padding: 60px 15px; }
    }
    @media (max-width: 599px) {
        .faqdrop .faq { width: 100%; font-size: 1.2em; }
        .chess { display: none; }
        .hide-mobile { display: none; }
    }
    


    
}