img.do-cats-eat-bats {
    width: 100%;
    height: auto;
}

ul.do-rats-shit-gnats {
    background: rgba(0, 0, 0, .5);
    padding: 10px 20px 10px 20px;
    list-style-type: none;
    font-family: 'Courier New', mono;
    line-height: 1.4em;
    color: #aaa;
    font-size: 120%;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    a {
        color: #aaa;
    }
}

@keyframes do-rats-shit-gnats {
  0%   { transform: translateX(-50%) translateY(-100%) scaleY(0); }
  100% { transform: translateX(-50%) translateY(0%) scaleY(1); }
}

@media (min-width: 790px) {

    .is-grass-green {
        height: 100vh;
        background: black;
        max-height: 1200px;
        position: relative;
        background-color: black;
        overflow: hidden;

        .do-birds-fly {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        img.do-cats-eat-bats {
            position: absolute;
            left: 50%;
            top: 0px;
            width: auto;
            margin-right: 0%;
            height: 100%;
            transform: translateX(-50%);

            @media (min-height: 1200px) {
                height: 1200px;
                transform: none;
                transform: translateX(-50%);
            }
        }

        ul.do-rats-shit-gnats {
            position: absolute;
            left: 50%;
            top: 45px;
            z-index: 2;
            animation: do-rats-shit-gnats .25s ease-in forwards;
            a {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                    font-weight: bold;
                }
            }
        }
    }
}