body[data-page-type="fmiffel"] header { display: none; }

@keyframes npc-fail {
    0% { opacity: 1; }
    99.99% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes not-allowed {
    0% { filter: blur(10px); transform: scale(.99); }
    100% { filter: blur(0px); transform: scale(1); }
}

div.page.fmiffel {
    .center { text-align:center; }

    // * {margin: 0; padding: 0;}

    // .clearMe { display:block; clear:both; margin:0px; }
    .clear:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
    .clear {display: block;}

    /* Default Styles */
    .twits > h2 { font-size:18px; margin-bottom:5px; padding-top:2px;}

    /* centered content container for whole page */
    .omg { width: 762px; margin: auto; padding: 11px 0 5px 0; position: relative; z-index: 1; }
    .omg hr { display:none; }

    /* container for top css rounded borders + content (.wtf) */
    .lol { position: relative; margin: 21px 0 0 0;}

    /* container for bottom css rounded borders */
    .noob { position: relative; margin: 0 0 5px 0; }

    /* top right links */
    .lmao { float:right; margin-top:1px; padding-left:6px; background-image:url(/images/fmiffel/top_left_links_bg.gif); background-repeat:no-repeat; background-position:top left; }
    .lmao ul { padding: 4px 9px 11px 1px; background-image:url(/images/fmiffel/top_right_links_bg.gif); background-repeat:no-repeat; background-position: top right; list-style-type:none; }
    .lmao ul li { display: inline; padding: 0px 2px 0px 3px; font-size:13px; line-height:22px;} 

    /* top left border */
    .lol .tl1 { margin-top:-5px; position: absolute; left:1px; top:3px; height:2px; width:4px; }
    .lol .tl2 { margin-top:-5px; position: absolute; left:2px; top:2px; height:3px; width:3px; }
    .lol .tl3 { margin-top:-5px; position: absolute; left:3px; top:1px; height:4px; width:2px; }
    .lol .tl4 { margin-top:-5px; position: absolute; left:5px; top:0px; height:5px; width:194px; }

    /* top right border */
    .lol .tr1 { margin-top:-5px; position: absolute; right:1px; top:3px; height:2px; width:4px; }
    .lol .tr2 { margin-top:-5px; position: absolute; right:2px; top:2px; height:3px; width:3px; }
    .lol .tr3 { margin-top:-5px; position: absolute; right:3px; top:1px; height:4px; width:2px; }
    .lol .tr4 { margin-top:-5px; position: absolute; right:5px; top:0px; height:5px; width:557px; }
    .lol .g { background-color:white; }

    /* bottom left border */
    .noob .bl1 { margin-bottom:-5px; position: absolute; left:1px; bottom:3px; height:2px; width:4px; }
    .noob .bl2 { margin-bottom:-5px; position: absolute; left:2px; bottom:2px; height:3px; width:3px; }
    .noob .bl3 { margin-bottom:-5px; position: absolute; left:3px; bottom:1px; height:4px; width:2px; }
    .noob .bl4 { margin-bottom:-5px; position: absolute; left:5px; bottom:0px; height:5px; width:194px; }

    /* bottom right border */
    .noob .br1 { margin-bottom:-5px; position: absolute; right:1px; bottom:3px; height:2px; width:4px;}
    .noob .br2 { margin-bottom:-5px; position: absolute; right:2px; bottom:2px; height:3px; width:3px; }
    .noob .br3 { margin-bottom:-5px; position: absolute; right:3px; bottom:1px; height:4px; width:2px; }
    .noob .br4 { margin-bottom:-5px; position: absolute; right:5px; bottom:0px; height:5px; width:557px; }
    .noob .g { background-color:white; }

    /* main content containre */
    .lol .wtf { background-color:white; height:100%; position:relative;  padding-left:224px;}

    /* left side float */
    .lol .wtf .side { position:relative; float:left; width: 199px; min-height:100%; font-size: 13px; z-index:5; margin:0px; margin-left:-224px; margin-right:24px;}
    .lol .wtf .side .pad { padding: 0px 14px 0px 14px; }
    // .lol .wtf .side .top_pad { padding-top:14px; }

    .lol .wtf .rtfm { position:absolute; bottom:0px; left:224px; z-index:2; min-height:99%; width: 199px;}

    /* footer */
    .gg { position:relative; z-index:3; width: 762px; margin: 29px auto 10px auto; padding: 7px 0 7px 0; font-size: 12px; text-align:center; background-image:url(/images/fmiffel/bottom_links_container.gif); background-repeat:no-repeat; }
    .gg hr { display:none; }
    .gg ul { display: inline; list-style-type:none; }
    .gg ul li { display: inline; padding: 0px 5px 0px 5px;}

    /* side avatar area */
    .twits .side { padding-top:4px; }
    .side .avatar { font-size: 16px;}
    // .side .avatar img { float: left; margin-right:9px; }
    .side .avatar p { padding-top:5px; }
    .side .avatar div.stat { padding: 11px 5px 0px 2px; float:left; font-size:11px; font-family: 'Lucida Grande',sans-serif; padding-bottom:10px;}
    .side .avatar div.stat span { display:block; font-size:16px; font-family: Georgia, "Times New Roman", Times, serif; font-weight:normal; padding-bottom:1px; }
    .side .user_info p { margin-top:2px; margin-bottom:0px; font-size:12px; } 

    /* side useless definition */
    .twits .side div.def { float:none; position:relative; margin-top:8px; font-size:11px; font-family: 'Lucida Grande',sans-serif; padding: 3px 10px 2px 10px;}
    .twits .side div.def a { font-size: 12px; display: block; }

    /* side internal rounded borders */
    .twits .side .tmt { margin-top:-5px; position: absolute; left:5px; top:0px; height:5px; width:161px; }
    .twits .side .tmb { margin-bottom:-5px; position: absolute; left:5px; top:0px; height:5px; width:161px; }
    .twits .side .noob { margin-bottom: 17px; }

    /* side lists (tags and site sections */
    .twits .side ul { list-style-type:none; }
    .twits .side ul li {  font-size:12px; margin-bottom:1px;}
    .twits .side ul li a { padding: 6px 15px 5px 16px; display: block; }
    .twits .side ul li span { float: right; font-family:Georgia, "Times New Roman", Times, serif; margin: 0px; }
    .twits .side ul li.hilite { font-weight: bold; }

    /* side search box */
    .twits .side input { margin-top: 7px; margin-bottom:7px; }
    .twits .side input.search { float:left; border:0px; background-color: transparent; background-image:url(/images/fmiffel/search_box.gif); height:17px; width:134px; background-repeat:no-repeat; background-position: top left; padding:5px; margin-right:0px;}

    /* side expandable / contractable item boxes */
    .twits .side .items {  font-size:12px; }
    .twits .side .items img { float: right; margin: 6px 16px 0 0; }
    // .twits .side .items img.thumbnail { float:left; margin: 0px 4px 4px 0px; }
    .twits .side .items p { padding: 6px 15px 5px 16px; opacity: .7; filter:alpha(opacity=70); cursor: pointer; }
    .twits .side .items p span { padding-left: 5px; font-size: 10px;  }
    .twits .side .items hr { display:block; height:1px; border-left:0px none; border-right: 0px none; border-bottom: 0px none; margin:5px 16px 5px 16px; opacity: .2; filter:alpha(opacity=20); height:1px; }
    .twits .side .items div.users { padding:0px 15px 10px 16px; }

    .twits .side a.rss { display:block; margin: 10px 0 10px 16px; padding:0 20px 0 20px; font-size: 11px; background-image:url(/images/fmiffel/rss.png); background-repeat:no-repeat; background-position: left center; }

    .twits { padding-right: 23px;}
    .twits > h1 { padding:11px 0px 5px 0px; font-size: 20px; font-weight:normal; }
    .twits > h2 { padding:19px 0px 3px 0px; font-size: 18px; font-weight:normal; color: gray; }
    .twits .twit_form textarea { width: 504px; padding:4px; border:1px solid #aaa; margin-top:3px; font-family:Arial, Helvetica, sans-serif; font-size:15px; resize: vertical; }
    .twits .twit_form span { display:block; float:left; margin-top:5px; color: gray; font-size:11px;}
    // .twits .twit_form span.success { color:green; font-weight:bold; }
    // .twits .twought-button { display:block; float: right; border:0px; cursor:pointer; color: #333; background-color:white; background-image:url(/images/fmiffel/post_button.gif); background-repeat:no-repeat; width:115px; height:32px; margin-top:5px; }
    // .twits .twought-button.disabled { color: #aaa; cursor:default; }
    .twits .counter { float: right; font-weight:bold; font-size: 29px; font-family:Georgia, "Times New Roman", Times, serif; margin-top:5px; color: #faa; }
    .twits .counter.ok { color: #aaa; }
    // .twits .counter.too_short { color: #faa; }
    .twits .reply_hint { color: #555; font-size: 12px; }

    .twits br { clear: right; }
    .twits ol.posts { list-style-type:none; }
    .twits ol.posts li { clear: right; position:relative; min-height:48px; font-size: 14px; padding: 12px 0px 12px 60px; border-bottom:1px dashed #ccc; }
    .twits ol.posts li:hover { background-color:#f8f8f8; }
    .twits ol.posts li img { float:left; margin-left:-60px; }
    .twits ol.posts li span { font-size:12px; font-style:italic; color:#888; }
    .twits ol.posts li div.icons { float:right; margin-right:5px; margin-top:5px; }
    .twits ol.posts li:hover div.icons img { visibility:visible;  }
    .twits ol.posts li div.icons img { width:16px; height:16px; float:none; margin-left:0px; margin-right:5px; opacity: .66; filter:alpha(opacity=66); cursor:pointer; visibility:hidden; } 
    .twits ol.posts li div.icons img.sel { opacity: 1; filter:alpha(opacity=100); visibility:visible; }
    .twits ol.posts li div.icons img:hover { opacity: 1; filter:alpha(opacity=100); }
    .twits a.more { display:block; width:100%; height: 27px; margin-top:20px; margin-bottom:10px; background-image:url(/images/fmiffel/more.gif); background-repeat:no-repeat; text-align: center; padding-top:9px; font-weight:bold; font-size:14px; }
    .twits a.more:hover { background-image:url(/images/fmiffel/more_dark.gif); }

    .twits div.follow { margin-top:15px;}
    .twits div.follow a.follow, .twits div.follow a.unfollow { display: inline-block; cursor:pointer; background-color:transparent; border:0px; background-image:url(/images/fmiffel/follow_button_off.gif); background-repeat:no-repeat; width:75px; height: 25px; text-align: center; font-size:11px; text-decoration: none; line-height: 25px; color: #000; } 
    .twits div.follow a.follow:hover, .twits div.follow a.unfollow:hover { background-image:url(/images/fmiffel/follow_button_on.gif); }
    .twits div.follow div.toggle { cursor:pointer; border:1px solid #ccc; background-color: #eee; background-image:url(/images/fmiffel/follow_toggle_off.gif); background-repeat: no-repeat; text-align: center; padding: 7px 5px 7px 10px; font-size: 12px; width: 81px; font-weight:bold; }
    .twits div.follow div.toggle:hover { background-color: #ddd; border-color: #bbb; }
    .twits div.follow div.toggle.sel { background-image:url(/images/fmiffel/follow_toggle_on.gif); }
    .twits div.follow div.toggle img { margin-right: 5px; }
    .twits div.follow div.info { margin-top:5px; background-color: #f9fdab; border: 1px solid #fdcc68; padding: 8px 15px 8px 25px; font-size:13px; display:none; }
    .twits div.follow div.info p { margin-top: 3px; font-size: 11px; }

    .twits ol.follow { list-style-type:none; margin-bottom:25px;}
    .twits ol.follow li { clear: right; position:relative; min-height:48px; font-size: 12px; padding: 12px 0px 12px 60px; border-bottom:1px dashed #ccc; }
    .twits ol.follow li img { float:left; margin-left:-60px; }
    .twits ol.follow li img.check { float:left; margin-left:0px; margin-right:7px; }
    .twits ol.follow li p { padding-top: 5px; padding-bottom: 7px; font-size:14px; font-weight: bold; }
    .twits ol.follow li a.follow, .twits ol.follow li a.unfollow { display: inline-block; cursor:pointer; background-image:url(/images/fmiffel/link_bg.png); border:0px; background-color:white; text-align:center; font-size:10px; width:44px; height: 16px; line-height: 16px; padding: 0px 0px 2px 0px; color: black; text-decoration: none; }
    // .twits a.pagination { float:right; font-size:13px; border: 1px solid #ccc; padding: 3px 8px 3px 8px; margin-left:10px; margin-bottom:20px; }

    .common > h1 { display:block; clear:right; padding-top: 15px; height:68px; font-size: 33px; font-weight: bold; }
    .common > h1 p { padding-top:14px; }
    .common .hint h3 { font-size: 16px; font-weight:normal; color:#777; padding: 25px 0 5px 0px;}
    .common h4 { font-size: 18px; font-weight:bold; padding: 7px 0 5px 0px;}
    .common img.top_avatar { float:left; margin-right: 20px; margin-top:0px; }
    .common ol.posts { margin-bottom: 25px; margin-top:2px; }
    // .common ol.posts li.top { padding-left:0px; padding-bottom: 24px; font-size: 16px; }
    // .common ol.posts li.top a.sn { display:none; }
    // .common ol.posts li.top img.avatar { display: none; }
    // .common ol.posts li.top span { display: block; margin-top: 10px; }
    .common .side .avatar { margin-bottom:5px; }
    .common .side .items { margin-top: 7px; }
    .pad_list_bottom ol.posts { margin-bottom:25px; }

    .twits .hint { padding: 15px 0px 0px 60px; }
    .twits .hint img { float:left; margin-left:-45px; }
    .twits .hint h3 { font-size: 20px; }
    .twits .hint ol { padding-top:6px;}
    .twits .hint ol li { margin-left: 20px; padding:3px 0 3px 0; font-size: 15px; }

    /* direct messages page navigation */
    // .twits ul.nav { list-style-type:none; border-bottom: 1px solid #cecece; display:block; text-align:center; margin-top:20px;}
    // .twits ul.nav li { display:inline;  }
    // .twits ul.nav li a { border-left: 1px solid #cecece; color:#555; background-color:#e6e6e6; display: inline-block;  border-bottom: 1px solid #cecece; border-top: 1px solid #cecece; border-right: 1px solid #cecece; font-size: 12px; padding: 2px 36px 2px 36px; margin-bottom:-1px; margin-right: 5px; }
    // .twits ul.nav li a:hover { background-color:#ccc; }
    // .twits ul.nav li.sel a { background-color:white; border-bottom-color:white; }
    // .twits ul.nav li.sel a:hover { background-color: white; }

    /* direct message list */
    // .twits ol.messages { list-style-type:none; }
    // .twits ol.messages li { clear: right; position:relative; min-height:48px; font-size: 14px; padding: 12px 0px 12px 60px; border-bottom:1px dashed #ccc; }
    // .twits ol.messages li:hover { background-color:#f8f8f8; }
    // .twits ol.messages li img { float:left; margin-left:-60px; }
    // .twits ol.messages li span { font-size:12px; font-style:italic; color:#888; }
    // .twits ol.messages li div.icons { float:right; margin-right:5px; margin-top:5px; }
    // .twits ol.messages li:hover div.icons img { visibility:visible;  }
    // .twits ol.messages li div.icons img { width:16px; height:16px; float:none; margin-left:0px; margin-right:5px; opacity: .66; filter:alpha(opacity=66); cursor:pointer; visibility:hidden; } 
    // .twits ol.messages li div.icons img.sel { opacity: 1; filter:alpha(opacity=100); visibility:visible; }
    // .twits ol.messages li div.icons img:hover { opacity: 1; filter:alpha(opacity=100); }
    // .twits #to_user_id { padding: 4px; border: 1px solid #aaa; font-size: 12px;}

    .settings .side p { font-size: 12px; margin-bottom:15px; }
    .settings .side .user_info { margin-top: 6px; }
    .settings .side .user_info p { margin-bottom: 0px; }
    .settings .side .avatar { margin-bottom: 20px; }
    .settings .side { font-size: 12px; }
    .settings .side h2 { padding: 10px 0 0 0; margin:0px; font-size:14px; }
    .settings .side hr { display:block; height:1px; border-top: 1px solid #000; border-left:0px none; border-right: 0px none; border-bottom: 0px none; margin:0px 0px 5px 0px; opacity: .2; filter:alpha(opacity=20); height:1px; }
    .settings .side ul { list-style-type: square; margin-left: 15px; margin-bottom:15px; }
    .settings .side ul li { font-size: 12px; margin-top: 12px;}
    .settings .side  .small { font-size: 10px; }

    // .settings h1 { font-size: 17px; height: 24px; padding: 13px 0 0 40px; position:relative; }

    .settings h1 img { position:absolute; left:0px; top:6px; width:31px; height:31px; }
    .settings ul.nav { list-style-type:none; border-bottom: 1px solid #cecece; display:block; text-align:center; margin-top:20px;}
    .settings ul.nav li { display:inline;  }
    // .settings ul.nav li a { color:#555; background-color:#e6e6e6; display: inline-block;  border-bottom: 1px solid #cecece; border-top: 1px solid #cecece; border-right: 1px solid #cecece; font-size: 12px; padding: 2px 12px 2px 12px; margin-bottom:-1px; }
    // .settings ul.nav li a:hover { background-color:#ccc; }
    .settings ul.nav li.sel a { background-color:white; border-bottom-color:white; }
    .settings ul.nav li.sel a:hover { background-color: white; }
    .settings ul.nav li a.left { border-left: 1px solid #cecece; }

    .settings table.form { margin-top:15px; }
    .settings table.form th { width: 130px; font-size:13px; font-weight:normal; text-align:right; vertical-align:top; padding-right:5px; padding-top: 3px;}
    // .settings table.form th.img { padding-top:0px;  }
    .settings table.form td { margin-top:15px; font-size:12px; padding-bottom: 15px; color:#777; }
    // .settings table.form td #realtime_preview { font-weight: bold; }
    // .settings table.form td #confirm_password { display:none; font-size: 12px; margin-top: 10px; margin-bottom: 5px; border: 1px solid #cecece; background-color:#e6e6e6; padding:10px; color:#333;  }
    // .settings table.form td #confirm_password p { font-size: 11px; margin-bottom: 15px; }
    // .settings table.form td #note_password { font-weight:bold; margin-left: 10px; }
    .settings table.form td .success { color:green; font-weight: bold; }
    .settings table.form td .error { color:red; }
    .settings table.form td .small { font-size: 11px; }
    .settings table.form td p { margin-top:3px;  }
    .settings table.form td input { border: 1px solid #aaa; padding:4px; margin-right: 4px; background-color: white; }
    .settings table.form td select { padding: 3px; border: 1px solid #aaa;  }
    // .settings table.form td.check { padding-top: 3px; color: #333; }
    // .settings table.form td.check input { border: 0px none transparent; }
    // .settings table.form td.img { padding-top:0px; vertical-align: top; padding-bottom:35px; }

    .settings button { cursor:pointer; width:49px; height:25px; border:0px; background-color:transparent; background-image:url(/images/fmiffel/small_button.png); font-size:11px; }
    .settings button:hover { background-image:url(/images/fmiffel/small_button_on.png); }

    /* new stuff */
    font-family: Arial, Helvetica, sans-serif, sans;
    line-height: 1.2;
    color: #333333;

    a {
        color: #bd3800;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    background: #f0d6ca url(/images/fmiffel/fmiffel_clouds_crushed.png) left top repeat-x;
    background-size: auto 190px;
    &::before {
        content: " ";
        position: fixed;
        left: 0px;
        top: 0px;
        width: 600px;
        height: 600px;
        background: url(/images/fmiffel/fmiffel_refinery_crushed.png) left top no-repeat;
        background-size: auto 190px;
        pointer-events: none;
    }
    strong {
        font-weight: bold;
    }
    .logo {
        width: 115px;
        height: 35px;
    }
    .tl1, .tl2, .tl3, .tl4, .side {
        background: #f5e4de;
    }
    .side {
        border-right: 1px solid #eccec2;
    }
    .tr4, .br4 {
        border-left: 1px solid #eccec2;
    }
    .hilite {
        background: #ffedec;
    }
    ol {
        list-style-type: numbered;
    }

    .avatar-img {
        display: inline-block;
        padding: 0px;
        background: #ccc;
        text-align: center;
        overflow: hidden;

        svg {
            stroke: none;
            fill: white;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
        }

        &.s31 {
            width: 31px;
            height: 31px;
            line-height: 31px;

            svg {
                margin-top: 0px;
                width: 16px;
                height: 32px;
            }
        }

        &.s24 {
            width: 24px;
            height: 24px;
            line-height: 24px;

            svg {
                margin-top: -4px;
                width: 16px;
                height: 32px;
            }
        }
        &.s48 {
            width: 48px;
            height: 48px;
            line-height: 48px;

            svg {
                margin-top: 8px;
                width: 16px;
                height: 32px;
            }
        }
        &.s73 {
            width: 73px;
            height: 73px;
            line-height: 73px;

            svg {
                margin-top: 4px;
                width: 32px;
                height: 64px;
            }
        }
    }
    .side .avatar .avatar-img { float: left; margin-right:9px; }
    .side .avatar p { max-width: 120px; text-overflow: ellipsis; padding-bottom: 7px; overflow: hidden; white-space: nowrap; }
    .twits .side ul li a { max-width: 199px; overflow: hidden; text-overflow: ellipsis; }
    .twits ol.posts li:first-child { border-top:1px dashed #ccc; }
    ol.posts, ol.follow {
        .avatar-img {
            position: absolute;
            left: 0px;
            top: 12px;
        }
    }
    .common ol.posts.profile li:first-child { padding-left:0px; padding-bottom: 24px; font-size: 16px; }
    .common ol.posts.profile li:first-child a.sn { display:none; }
    .common ol.posts.profile li:first-child img.avatar { display: none; }
    .common ol.posts.profile li:first-child span { display: block; margin-top: 10px; }

    .twits.common {
        ol.posts.profile {
            li:first-child {
                border-top:0px; 
                .avatar-img { display: none; }
            }
        }
    }
    h1 .avatar-img {
        float: left;
        margin: 0px 20px 0px 0px;
    }
    ol.posts div.post-text { }
    ol.posts div.icons { font-size: 0px; }
    .twits ol.posts li span a { color: #888; }
    .twits { padding-bottom: 12px; }
    .lmao { color: #c0deed; }
    .settings .side::before, .twits .side::before {
        position: absolute;
        content: " ";
        font-size: 0px;
        left: 25px;
        top: -16px;
        width: 0; 
        height: 0; 
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid #f5e4de;
    }
    .twits div.follow div.info.sel { display: block; }
    .error { color: #900; }
    .omg {
        box-sizing: border-box; height: 100%;
        &.npc-fail {
            &::before {
                content: " ";
                display: block;
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                z-index: 10;
                pointer-events: none;
                animation: npc-fail 3s linear forwards;
            }
            &::after {
                content: " ";
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 600px;
                height: 619px;
                margin-left: -300px;
                margin-top: -310px;
                background: #a4a4a4 url(/images/fmiffel/npc_fail.png);
                z-index: 11;
                pointer-events: none;
                box-shadow: 0px 0px 40px black;
                animation: npc-fail 3s linear forwards;
            }
        }
    }
    .twits .twought-button { display:block; float: right; border:0px; cursor:default; color: #aaa; background-color:white; background-image:url(/images/fmiffel/post_button.gif); background-repeat:no-repeat; width:115px; height:32px; margin-top:5px; }
    .twits .twit_form:valid {
        textarea:not(:placeholder-shown) ~ span {
            color: rgba(0, 0, 0, 0);
            font-size: 0px;
            &::before {
                display:block; float:left; color: gray; font-size:11px;
                content: "Remember to be kind to other people!";
            }
        }
        .twought-button { cursor:pointer; color: #333; }
    }
    .reply-hint.post-text {
        font-size: 75%;
        p:first-child { margin-bottom: 0px; }
    }
    .twits .counter.hidden { display: none; }
    .user_info .truncate { display: inline-block; vertical-align: bottom; max-width: 140px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    p.screenname { max-width: 422px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    p.screenname.small { font-size: 70%; padding-top: 22px; }
    .twits .twit_form textarea { min-height: 36px; height: 36px; max-height: 50vh; }
    .icons a { outline: none; }
    .pad.avatar p a { color: #333333; }

    .faq {
        margin-top: 16px;
        width: 720px;
        padding: 20px 21px;
        background: white;
        border-radius: 7px;
        color: #444;

        .twits { padding-right: 0px; }

        h1 {
            padding-top: 0px;
            font-family: Georgia, serif;
            font-size: 200%;
            margin-bottom: 25px;
        }

        h2 {
            padding-top: 15px;
            margin-bottom: 7px;
            color: #222;
        }
        p {
            line-height: 1.25em;
            margin-bottom: 15px;

            &.caption {
                font-weight: bold;
                font-size: 80%;
                text-align: center;
            }
        }
        em { font-style: italic; }
        // span.s { text-decoration: line-through; opacity: .6; }
    }
    .settings { padding-right: 25px; }
    .settings .side { padding-top: 0px; }
    .settings h1 { font-size: 17px; height: 24px; padding: 13px 0 0 0px; position:relative; font-weight: bold; }
    .settings h1 .avatar-img { margin-right: 10px; }
    .settings input:disabled, .settings select:disabled { cursor: not-allowed; }
    .settings ul.nav li a, .settings ul.nav li label { color:#555; background-color:#e6e6e6; display: inline-block;  border-bottom: 1px solid #cecece; border-top: 1px solid #cecece; border-right: 1px solid #cecece; font-size: 12px; padding: 2px 12px 2px 12px; margin-bottom:-1px; }
    .settings ul.nav li a:hover, .settings ul.nav li label:hover { background-color:#ccc; }
    .settings ul.nav li label { cursor: not-allowed; }
    button.not-allowed { position: absolute; left: 0px; top: 0px; visibility: hidden; }
    button.not-allowed:active ~ .omg {
        animation: not-allowed .5s linear forwards;
    }
    .twits ol.posts li .post-text img { float:none; margin-left:0px; }
}



    

