@keyframes w95AnimateTitleBar {
    0%   { background: #808080; }
    49%  { background: #808080; }
    50%  { background: #000080; }
    99%  { background: #000080; }
    100% { background: #000080; }
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cousine';
    src: url('/fonts/cousine_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

div.page.gemini-proxy {
    background: #008080;
    padding-top: 40px;
    overflow: hidden;
    box-sizing: border-box;

    &.javascript-enabled {
        padding-top: 0px;

        .w95 .win {
            height: 100%;
            transform-origin: 150px bottom;
        }

        .w95 label.ic {
            &.pc { top: 0px; }         
            &.do { top: 75px; }
            &.ie { top: 150px; }
            &.nn { top: 225px; }
            &.rb { top: 300px; }
            &.ns { top: 375px; }
        }
        .w95 .d {
            bottom: 28px;
            height: calc(100vh - 28px);
        }

        #gemini-print:checked ~ .w95 .win.explorer {
            article.gmi-content { padding-top: 0px; }
        }
    }

    input[type="checkbox"] { display: none; }

    input#gemini-windowed:checked ~ .w95 .win.explorer, .w95 .win:not(.explorer) {
        padding: 3px;
        background: #c0c0c0 url(/images/gemini-proxy/win_border_corner.png) right bottom no-repeat;
        width: 600px;
        height: 400px;
        left: 100px;
        bottom: 100px;

        &::before {
            position: absolute;
            left: 0px;
            top: 0px;
            display: block;
            font-size: 0px;
            content: " ";
            width: 2px;
            height: 100%;
            background: url(/images/gemini-proxy/win_border_left.png) left bottom repeat-y;
            pointer-events: none;
        }

        &::after {
            position: absolute;
            left: 0px;
            top: 0px;
            display: block;
            font-size: 0px;
            content: " ";
            width: 100%;
            height: 2px;
            background: url(/images/gemini-proxy/win_border_top.png) right top repeat-x;
            pointer-events: none;
        }

        h2.app-bar label {
            &.unmaximize { display: none; }
            &.maximize { display: block; }
        }

        div.status img:last-child { display: block; }

        @media (min-width:  900px )  { &.explorer { left:   200px; } }
        @media (min-width:  1000px)  { &.explorer { width:  750px; } }
        @media (min-width:  1100px)  { &.explorer { width:  850px; } }
        @media (min-width:  1200px)  { &.explorer { width:  950px; } }
        @media (min-width:  1300px)  { &.explorer { width:  1050px; } }
        @media (min-height:  600px)  { &.explorer { height: 400px; } }
        @media (min-height:  700px)  { &.explorer { height: 500px; } }
        @media (min-height:  800px)  { &.explorer { height: 600px; } }
        @media (min-height:  900px)  { &.explorer { height: 700px; } }
        @media (min-height:  1000px) { &.explorer { height: 800px; } }

        .window-frame {
            display: block;

            .border-left, .border-right {
                position: absolute;
                top: 0px;
                width: 3px;
                height: 100%;
                display: flex;
                flex-direction: column;
                z-index: 9001;

                span {
                    flex-grow: 1;
                    cursor: ew-resize;
                }
                span:first-child, span:last-child {
                    height: 16px;
                    flex-grow: 0;
                }
            }

            .border-top, .border-bottom {
                position: absolute;
                left: 0px;
                width: 100%;
                height: 3px;
                display: flex;
                flex-direction: row;
                z-index: 9001;

                span {
                    flex-grow: 1;
                    cursor: ns-resize;
                }
                span:first-child, span:last-child {
                    width: 16px;
                    flex-grow: 0;
                }
            }

            .border-top    { top: 0px;    }
            .border-right  { right: 0px;  }
            .border-bottom { bottom: 0px; }
            .border-left   { left: 0px;   }
            
            .border-top span:first-child {
                cursor: nwse-resize;
            }
            .border-top span:last-child {
                cursor: nesw-resize;
            }
            .border-right span:first-child {
                cursor: nesw-resize;
            }
            .border-right span:last-child {
                cursor: nwse-resize;
            }
            .border-bottom span:first-child {
                cursor: nesw-resize;
            }
            .border-bottom span:last-child {
                cursor: nwse-resize;
            }
            .border-left span:first-child {
                cursor: nwse-resize;
            }
            .border-left span:last-child {
                cursor: nesw-resize;
            }
            
            .grabber {
                position: absolute;
                right: 0px;
                bottom: 0px;
                width: 18px;
                height: 18px;
                z-index: 9001;
                cursor: nwse-resize;
            }
        }
    }

    .w95 {
        .win {
            position: absolute;
            box-sizing: border-box;
            background: #c0c0c0;
            display: flex;
            flex-direction: column;
            height: calc(100vh - 40px);
            z-index: 2;
            transition: filter .25s linear, transform .25s linear, opacity .25s linear;
            transform-origin: left bottom;
            bottom: 0px;

            &.explorer { width: 100%; }

            h2.app-bar {
                position: relative;
                width: calc(100% - 6px);
                height: 18px;
                line-height: 18px;
                background: #000080;
                background: linear-gradient(to right, #000080 0%,#1084d0 100%);
                font-family: 'MS Sans Serif', Arial, sans;
                color: white;
                font-size: 12px;
                font-weight: bold;
                line-height: 18px;
                padding: 0px 3px;
                font-smooth: never;
                -webkit-font-smoothing: none;
                user-select: none;
                -webkit-user-select: none;  
                -moz-user-select: none;    
                cursor: default;

                img {
                    vertical-align: middle;
                    margin: -1px 4px 0px -1px;
                }

                span {
                    vertical-align: middle;
                    line-height: 18px;
                }

                label {
                    position: absolute;
                    top: 2px;
                    width: 16px;
                    height: 14px;

                    &.minimize {
                        right: 36px;
                        background: #c0c0c0 url(/images/gemini-proxy/win_minimize.png);
                        &:active  { background: #c0c0c0 url(/images/gemini-proxy/win_minimize_active.png); }
                    }

                    &.unmaximize {
                        display: none;
                        right: 20px;
                        background: #c0c0c0 url(/images/gemini-proxy/win_unmaximize.png);
                        &:active  { background: #c0c0c0 url(/images/gemini-proxy/win_unmaximize_active.png); }
                    }

                    &.unmaximize-disabled {
                        right: 20px;
                        background: #c0c0c0 url(/images/gemini-proxy/win_unmaximize_disabled.png);
                    }

                    &.maximize {
                        display: none;
                        right: 20px;
                        background: #c0c0c0 url(/images/gemini-proxy/win_maximize.png);
                        &:active  { background: #c0c0c0 url(/images/gemini-proxy/win_maximize_active.png); }
                    }

                    &.close {
                        right: 2px;
                        background: #c0c0c0 url(/images/gemini-proxy/win_x.png);
                        &:active  { background: #c0c0c0 url(/images/gemini-proxy/win_x_active.png); }
                        &.gray { background: #c0c0c0 url(/images/gemini-proxy/win_x_gray.png); }
                        &.gray:active { background: #c0c0c0 url(/images/gemini-proxy/win_x_gray.png); }
                    }

                    @media (min-width: 800px) {
                        &.unmaximize { display: block; }
                        &.unmaximize-disabled { display: none; }
                    }
                }
            }

            label.menu {
                border-bottom: 1px solid #ffffff;
                user-select: none;
                box-sizing: border-box;
                padding: 0px;
                flex-grow: 0;
                flex-shrink: 1;

                span {
                    position: relative;
                    display: inline-block;
                    height: 19px;
                    line-height: 19px;
                    padding: 0px 6px 0px 6px;
                    color: black;
                    font-family: 'MS Sans Serif', Arial, sans;
                    font-size: 10px;

                    // &:first-child { margin-left: 3px; }

                    &:hover {
                        background: #000080;
                        color: white;
                    }

                    .submenu {
                        position: absolute;
                        left: 0px;
                        top: 100%;
                        z-index: 2;
                        padding: 0px 0px;
                        background: #c0c0c0 url(/images/gemini-proxy/menu_border_left.png) left top no-repeat;                        

                        .blocker {
                            position: absolute;
                            left: 0px;
                            top: -19px;
                            height: 19px;
                            line-height: 19px;
                            padding: 0px 6px 0px 6px;
                            color: white;
                            font-family: 'MS Sans Serif', Arial, sans;
                            font-size: 10px;
                            background: #000080;
                            user-select: none;
                        }

                        .border-top {
                            box-sizing: border-box;
                            border-left: 1px solid #dfdfdf;
                            width: 100%;
                            height: 2px;
                            background: url(/images/gemini-proxy/menu_border_top.png) right top;
                        }

                        .border-bottom {
                            box-sizing: border-box;
                            border-right: 1px solid #000000;
                            width: 100%;
                            height: 2px;
                            background: url(/images/gemini-proxy/menu_border_bottom.png) left top;
                        }

                        ul {
                            min-width: 75px;
                            padding: 0px 2px;
                            background: url(/images/gemini-proxy/menu_border_right.png) right top no-repeat;
                            list-style-type: none;

                            li {
                                white-space: nowrap; 

                                &.item {
                                    height: 18px;
                                    padding: 0px 15px 0px 22px;
                                    font-family: 'MS Sans Serif', Arial, sans;
                                    font-size: 10px;
                                    line-height: 18px;
                                    color: black;
                                    user-select: none;

                                    &.disabled {
                                        color: #808080;
                                        text-shadow: 1px 1px 1px white;
                                    }

                                    &:hover {
                                        background: #000080;
                                        color: white;

                                        &.disabled {
                                            background: transparent;
                                            color: #808080;
                                        }
                                    }

                                    b {
                                        position: relative;
                                    }

                                    &.checked b::before {
                                        position: absolute;
                                        content: "✔";
                                        left: -15px;
                                        top: -4px;
                                    }
                                }
                                
                                hr {
                                    margin: 3px 1px;
                                    border-top: 1px solid #808080;
                                    border-bottom: 1px solid #fff;
                                    border-left: 0px none transparent;
                                    border-right: 0px none transparent;
                                }
                            }
                        }
                    }
                }
            }

            hr {
                border-top: 1px solid #808080;
                border-bottom: 1px solid #ffffff;
                border-left: 0px;
                border-right: 0px;
                margin: 0px;
                padding: 0px;
                &.hidden { display: none }
            }

            div.toolbar {
                padding: 3px 6px;
                display: flex;
                position: relative;

                button, a.button, label.button {
                    cursor: default;
                    border: 0px none transparent;
                    background: #c0c0c0 url(/images/gemini-proxy/win_toolbar_button.png);
                    width: 49px;
                    height: 41px;
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    color: black;
                    font-family: 'MS Sans Serif', Arial, sans;
                    font-size: 9px;
                    text-decoration: none;
                    user-select: none;

                    &.stop {
                        display: none;
                        @media (min-width: 500px) { display: flex; }
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        pointer-events: none;
                    }
                    span {
                        pointer-events: none;
                        color: black;
                    }

                    &:active {
                        padding: 1px 0px 0px 1px;
                        background: #c0c0c0 url(/images/gemini-proxy/win_toolbar_button_active.png);
                    }
                    &:disabled {
                        padding: 0px;
                        span {
                            color: #808080;
                            text-shadow: 1px 1px 1px white;
                        }
                    }
                    &:disabled:active {
                        background: #c0c0c0 url(/images/gemini-proxy/win_toolbar_button.png);
                    }
                }

                div.spacer { width: 16px; }

                div.gemframe {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 47px;
                    height: 47px;
                    background: black url(/images/gemini-proxy/gem.png);
                    user-select: none;
                }

                &.hidden { display: none }
            }

            form.location {
                padding: 3px 0px;
                border-bottom: 1px solid black;
                display: flex;
                align-items: center;

                label {
                    padding: 0px 3px 0px 6px;
                    color: black;
                    font-family: 'MS Sans Serif', Arial, sans;
                    font-size: 11px;
                    user-select: none;
                }
                fieldset {
                    height: 21px;
                    background: url(/images/gemini-proxy/location_bar.png) left center no-repeat;
                    display: flex;
                    box-sizing: border-box;
                    padding: 2px;
                    flex-grow: 1;
                    position: relative;

                    &::after {
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        display: block;
                        font-size: 0px;
                        content: " ";
                        width: 2px;
                        height: 21px;
                        background: url(/images/gemini-proxy/location_bar_right_border.png) right top repeat-x;
                    }

                    input {
                        height: 17px;
                        flex-grow: 1;
                        border: 0px none transparent;
                        background: white;
                        box-sizing: border-box;
                        outline: none;
                        color: black;
                        font-family: 'MS Sans Serif', Arial, sans;
                        font-size: 11px;
                    }

                    button {
                        box-sizing: border-box;
                        border: 0px none transparent;
                        background: #c0c0c0 url(/images/gemini-proxy/go_button_background.png) right top repeat-x;
                        width: 45px;
                        height: 17px;
                        color: black;
                        font-family: 'MS Sans Serif', Arial, sans;
                        font-size: 11px;

                        &:active {
                            background: #c0c0c0 url(/images/gemini-proxy/go_button_background_active.png) right top repeat-x;
                        }
                    }
                }
                &.hidden { display: none }
            }

            article.gmi-content {
                width: 100%;
                box-sizing: border-box;
                flex-grow: 1;
                position: relative;
                padding: 2px 2px 32px 2px;
                overflow-x: hidden;
                overflow-y: auto;
                scrollbar-width: auto;
                border-right: 2px inset white;
                transition: filter .25s ease-in, transform .25s ease-in;

                &::-webkit-scrollbar {
                    width: 16px;
                }
                &::-webkit-scrollbar-track {
                    background: white url(/images/gemini-proxy/win_scrollbar.png);
                }
                &::-webkit-scrollbar-track-piece:active {
                    background: #333;
                }
                &::-webkit-scrollbar-thumb {
                    border-top: 2px outset white;
                    border-left: 2px outset white;
                    border-bottom: 2px outset #808080;
                    border-right: 2px outset #808080;
                    background: #c0c0c0;
                }
                &::-webkit-scrollbar-button {
                    height: 16px;
                }
                &::-webkit-scrollbar-button:vertical:decrement {
                    background: #c0c0c0 url(/images/gemini-proxy/win_scroll_up.png);
                }
                &::-webkit-scrollbar-button:vertical:decrement:active {
                    background: #c0c0c0 url(/images/gemini-proxy/win_scroll_up_sel.png);
                }
                &::-webkit-scrollbar-button:vertical:increment {
                    background: #c0c0c0 url(/images/gemini-proxy/win_scroll_down.png);
                }
                &::-webkit-scrollbar-button:vertical:increment:active {
                    background: #c0c0c0 url(/images/gemini-proxy/win_scroll_down_sel.png);
                }

                &.error {
                    background-color: #422;
                }

                // Page layout styles //////////////////////////////////////////

                .gem-header { 
                    padding: 30px 0px 20px 0px;
                    margin-bottom: 25px;
                    // box-shadow: 0 6px 6px -6px rgba(0, 0, 0, .5);

                    .wrap {
                        box-sizing: border-box;
                        max-width: 830px;
                        margin: 0px auto;
                        padding: 0px 15px;

                        svg {
                            width: 40px;
                            height: 40px;
                            vertical-align: middle;
                        }

                        a {
                            font-size: 2em;
                            font-weight: 300;
                            text-decoration: none;
                            vertical-align: middle;

                            &:hover { color: white; }
                        }
                    }

                    label { display: none; }
                }

                background: #222 url(/images/gemini-proxy/page_border_corner.png) left top no-repeat;
                font-family: 'Montserrat';
                font-size: 1em;
                line-height: 1.4em;

                p, h1, h2, h3, blockquote, ul, pre, img {
                    box-sizing: border-box;
                    margin: 0 auto 0px auto;
                    padding: 0px 15px;
                    max-width: 830px;
                }

                > p:nth-child(5) {
                    font-size: 1.2em;
                    line-height: 1.4em;
                    color: white !important;
                }

                p.skip-line { user-select: none; }

                // place links a little farther apart to make space for icons
                p.a { margin: 5px auto; }

                img {
                    display: block;
                    max-width: 800px;
                    padding: 0px;
                    width: 100%;
                    height: auto;
                    margin-top: 30px;
                }

                a {
                    // color: white;

                    &:hover {
                        text-shadow: 0px 0px 1px white;
                    }
                }

                h1 {
                    font-size: 2em;
                    line-height: 1.4em;
                    font-weight: bold;
                    padding-top: 15px;
                }

                h2 {
                    font-size: 1.66em;
                    line-height: 1.4em;
                    font-weight: bold;
                    padding-top: 15px;
                }

                h3 {
                    font-size: 1.33em;
                    line-height: 1.4em;
                    font-weight: bold;
                    padding-top: 15px;
                }

                blockquote {
                    padding-left: 2em;
                    font-family: 'Georgia', 'DejaVu Serif', serif;

                    .q { display: none; }
                    p { margin-bottom: 0px; }
                }

                pre {
                    padding-left: 2em;
                    font-family: 'Cousine', mono;
                }
                &.raw pre {
                    padding-left: 15px;
                    max-width: 100%;
                }

                ul {
                    list-style-type: disc;

                    li { margin-left: 15px; }
                }

                div.msg {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border: 1px solid pink;
                    padding: 15px;

                    strong {
                        display: block;
                        font-weight: bold;
                    }
                    a {
                        display: block;
                        margin-top: 15px;
                        margin-left: 25px;
                    }
                }

                @media (min-width:  900px ) {
                    p, pre, blockquote, h3, ul { padding-left: 40px; }

                    blockquote {
                        position: relative;

                        .q {
                            display: block;
                            position: absolute;
                            font-size: 2em;
                        }
                    }

                    a {
                        position: relative;

                        &::before {
                            position: absolute;
                            content: "►";
                            left: -23px;
                        }
                        &.img::before {
                            left: -26px;
                            content: "🖼";
                        }
                        &.external::before {
                            content: "🌐";
                            left: -25px;
                        }
                        &.link::before {
                            content: "🔗";
                        }
                        &.mail::before {
                            content: "📧";
                        }
                    }

                    .gem-header .wrap a::before { display: none; }
                }
            }

            div.border {
                display: block;
                width: 100%;
                height: 2px;
                flex-shrink: 0;
                background: url(/images/gemini-proxy/page_border_bottom.png) left bottom repeat-x;
                border-bottom: 1px solid black;
            }

            div.status {
                height: 16px;
                padding: 1px 0px 0px 12px;
                box-sizing: border-box;
                display: flex;
                width: 100%;
                user-select: none;

                img {
                    margin: 0px 12px 3px 0px;
                    cursor: pointer;
                }
                > img:last-child {
                    margin: 0px;
                    display: none;
                }

                div.info {
                    flex-grow: 1;
                    box-sizing: border-box;
                    height: 15px;
                    background: url(/images/gemini-proxy/status_pane.png) left bottom repeat-x;
                    border-right: 1px solid white;
                    color: black;
                    font-family: 'MS Sans Serif', Arial, sans;
                    font-size: 11px;
                    padding: 0px 2px;
                    line-height: 15px;
                    margin-right: 12px;
                }
            }

            .window-frame { display: none; }

            .fields {
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;

                label, button[type="submit"] {
                    border: 0px none transparent;
                    display: block;
                    width: 75px;
                    height: 23px;
                    background: #c0c0c0 url(/images/gemini-proxy/win_button.png);
                    font-family: 'MS Sans Serif', Arial, sans;
                    color: black;
                    text-decoration: none;
                    cursor: default;
                    font-size: 12px;
                    font-weight: normal;
                    line-height: 23px;
                    text-align: center;
                    user-select: none;
                    -webkit-user-select: none;  
                    -moz-user-select: none;    
                    box-sizing: border-box;

                    &.weight {
                        background: #c0c0c0 url(/images/gemini-proxy/win_button_focus.png);
                    }
                    &.heavy {
                        background: #c0c0c0 url(/images/gemini-proxy/win_button_heavy.png);
                    }
                    &.disabled {
                        background: url(/images/gemini-proxy/win_button_disabled.png) left top no-repeat;
                        color: #808080;
                        text-shadow: 1px 1px 1px white;

                        &:active {
                            background: url(/images/gemini-proxy/win_button_disabled.png) left top no-repeat;
                            padding-left: 0px;
                            line-height: 23px;
                        }
                    }
                    &:active {
                        line-height: 24px;
                        padding-left: 2px;
                        background: #c0c0c0 url(/images/gemini-proxy/win_button_active.png);
                    }
                }
            }

            span.prompt {
                display: block;
                font-family: 'MS Sans Serif', Arial, sans;
                color: black;
                font-size: 12px;
                font-weight: normal;
                font-smooth: never;
                -webkit-font-smoothing: none;
                user-select: none;
                -webkit-user-select: none;  
                -moz-user-select: none;    
                cursor: default;
            }
        }

        label.ic {
            position: absolute;
            z-index: 1;
            display: block;
            width: 75px;
            height: 75px;
            left: 0px;

            &.pc {
                background: url(/images/gemini-proxy/win_icon_computer.png) top left no-repeat;
                top: 40px;

                &:active {
                    background: url(/images/gemini-proxy/win_icon_computer_sel.png) top left no-repeat;
                }
            }         
            &.do {
                background: url(/images/gemini-proxy/win_icon_documents.png) top left no-repeat;
                top: 115px;

                &:active {
                    background: url(/images/gemini-proxy/win_icon_documents_sel.png) top left no-repeat;
                }
            }
            &.ie {
                background: url(/images/gemini-proxy/win_icon_ie_big.png) top left no-repeat;
                top: 190px;

                &:active {
                    background: url(/images/gemini-proxy/win_icon_ie_big_sel.png) top left no-repeat;
                }
            }
            &.nn {
                background: url(/images/gemini-proxy/win_icon_network.png) top left no-repeat;
                top: 265px;
                display: none;

                &:active {
                    background: url(/images/gemini-proxy/win_icon_network_sel.png) top left no-repeat;
                }
            }
            &.rb {
                background: url(/images/gemini-proxy/win_icon_recycle.png) top left no-repeat;
                top: 340px;
                display: none;

                &:active {
                    background: url(/images/gemini-proxy/win_icon_recycle_sel.png) top left no-repeat;
                }
            }
            &.ns {
                background: url(/images/gemini-proxy/win_icon_netscape.png) top left no-repeat;
                top: 415px;
                display: none;

                &:active {
                    background: url(/images/gemini-proxy/win_icon_netscape_sel.png) top left no-repeat;
                }
            }
            @media (min-height: 325px) { &.nn { display: block; } }
            @media (min-height: 400px) { &.rb { display: block; } }
            @media (min-height: 475px) { &.ns { display: block; } }
        }

        .d {
            position: absolute;
            left: 0px;
            bottom: 28px;
            width: 100%;
            height: calc(100vh - 68px);
            opacity: 0;
            transition: opacity .5s ease-out;
            background: black url(/images/gemini-proxy/gemini.png);
        }

        .t {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 22px;
            padding: 4px 0px 2px 0px;
            background: #c0c0c0 url(/images/gemini-proxy/win_taskbar.png) top left repeat-x;
        }

        .s {
            width: 58px;
            position: absolute;
            left: 0px;
            bottom: 2px;
            height: 22px;
            flex-grow: 0;
            flex-shrink: 0;
            padding-left: 2px;
            background: url(/images/gemini-proxy/win_start.png) top right no-repeat;

            &:active { 
                background: url(/images/gemini-proxy/win_start_sel.png) top right no-repeat;
            }
        }

        .g {
            position: absolute;
            left: 60px;
            bottom: 2px;
            width: 7px;
            height: 22px;
            flex-grow: 0;
            flex-shrink: 0;
            background: url(/images/gemini-proxy/win_grabber.png) top left no-repeat;   
            cursor: ew-resize;

            &.v {
                left: 143px;
            }
        }

        .dv {
            position: absolute;
            left: 139px;
            bottom: 2px;
            width: 4px;
            height: 22px;
            background: url(/images/gemini-proxy/win_taskbar_divider.png) top left no-repeat;   
        }

        .ql {
            width: 23px;
            height: 22px;
            position: absolute;
            bottom: 2px;

            span {
                display: inline-block;
                width: 23px;
                height: 22px;
            }

            &.dt {
                left: 69px;

                span {
                    background: url(/images/gemini-proxy/win_icon_desktop.png) 3px 3px no-repeat;
                }
            }
            &.ie {
                left: 92px;

                span {
                    background: url(/images/gemini-proxy/win_icon_ie.png) 3px 3px no-repeat;
                }
            }
            &.ol {
                left: 115px;

                span {
                    background: url(/images/gemini-proxy/win_icon_outlook.png) 3px 3px no-repeat;
                }
            }

            &:hover {
                background: url(/images/gemini-proxy/win_taskbar_ql_hover.png) top left no-repeat;
            }
            &:active {
                background: url(/images/gemini-proxy/win_taskbar_ql_click.png) top left no-repeat;

                span {
                    background-position: 4px 4px;
                }
            }
        }

        label.app {
            position: absolute;
            left: 150px;
            bottom: 2px;
            width: 160px;
            height: 22px;
            margin-left: 2px;
            flex-shrink: 0;
            flex-grow: 0;
            background: url(/images/gemini-proxy/win_taskbar_program_right.png) top right no-repeat;

            span {
                display: block;
                height: 22px;
                background: url(/images/gemini-proxy/win_taskbar_program_left.png) top left no-repeat;
                padding: 0px 6px;
                font-family: 'MS Sans Serif', 'Arial', sans;
                font-size: 11px;
                white-space: nowrap;
                overflow: hidden;
                color: black;
                text-overflow: ellipsis;
                line-height: 22px;
                font-smooth: never;
                -webkit-font-smoothing: none;
                user-select: none;
                -webkit-user-select: none;  
                -moz-user-select: none;    
            }

            &:active {
                background: url(/images/gemini-proxy/win_taskbar_program_sel_right.png) top right no-repeat;

                span {
                    background: url(/images/gemini-proxy/win_taskbar_program_sel_left.png) top left no-repeat;
                }
            }
        }
        #a:checked ~ label.app {
            background: url(/images/gemini-proxy/win_taskbar_program_active_right.png) top right no-repeat;

            span {
                font-weight: bold;
                background: url(/images/gemini-proxy/win_taskbar_program_sel_left.png) top left no-repeat;
            }
        }

        .tr {
            position: absolute;
            right: 2px;
            bottom: 2px;
            display: none;
            height: 22px;
            background: url(/images/gemini-proxy/win_tray_right.png) top right no-repeat;
            padding: 0px 2px 0px 4px;
            font-size: 0px;
            user-select: none;
            -webkit-user-select: none;  
            -moz-user-select: none;    

            @media (min-width: 360px) { display: block;  }

            &:before {
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                content: " ";
                font-size: 0px;
                width: 2px;
                height: 22px;
                background: url(/images/gemini-proxy/win_tray_left.png) top left no-repeat;
            }

            &:after {
                position: absolute;
                display: block;
                left: 139px;
                bottom: 0px;
                left: -6px;
                width: 4px;
                height: 22px;
                background: url(/images/gemini-proxy/win_taskbar_divider.png) top left no-repeat;
                content: " ";
                font-size: 0px;
            }

            div {
                display: inline-block;
                width: 16px;
                height: 16px;
                margin: 3px 1px 0 0;
                vertical-align: top;

                &.cal {
                    background: url(/images/gemini-proxy/win_icon_calendar.png) top left no-repeat;
                }
                &.vol {
                    background: url(/images/gemini-proxy/win_icon_volume.png) top left no-repeat;
                }
            }
            
            em {
                display: none;
                font-family: 'MS Sans Serif', 'Arial', sans;
                font-size: 11px;
                line-height: 22px;
                color: black;
                padding: 0px 4px;
                font-smooth: never;
                -webkit-font-smoothing: none;
                user-select: none;
                -webkit-user-select: none;  
                -moz-user-select: none;    
                cursor: default;

                @media (min-width: 410px) { display: inline-block; }
            }
        }

        label.cover, label.error-cover {
            display: none;
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 100vh;
            z-index: 8;
            background: transparent;
        }
        label.error-cover {
            z-index: 10;
        }

        .win.open {
            display: none;
            width: 300px;
            height: 135px;
            left: 50%;
            margin-left: -150px;
            bottom: 50vh;
            margin-bottom: -80px;
            z-index: 9;

            span.prompt {
                min-height: 32px;
                padding-left: 10px;
                margin: 14px 0px;
                line-height: 14px;
                min-height: 0px;
            }
            .fields {
                flex-direction: row;
                padding-right: 5px;
                justify-content: right;

                label {
                    margin: 0px 3px;
                }
            }

            label.inp {
                position: relative;
                display: block;
                width: 275px;
                height: 21px;
                margin-left: 10px;
                margin-bottom: 15px;

                &::before {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    display: block;
                    font-size: 0px;
                    content: " ";
                    width: 2px;
                    height: 100%;
                    background: url(/images/gemini-proxy/win_progbar_left.png) left bottom repeat-y;
                    z-index: 2;
                    pointer-events: none;
                }

                &::after {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    display: block;
                    font-size: 0px;
                    content: " ";
                    width: 100%;
                    height: 2px;
                    background: url(/images/gemini-proxy/win_progbar_top.png) right top repeat-x;
                    z-index: 1;
                    pointer-events: none;
                }
            }

            input {
                position: relative;
                display: block;
                width: 100%;
                box-sizing: border-box;
                height: 21px;
                background: white;
                cursor: text;
                border: 0px none transparent;
                font-family: 'MS Sans Serif', 'Arial', sans;
                font-size: 14px;
                padding: 0px 4px;
                line-height: 21px;
                outline: none;
                background: white url(/images/gemini-proxy/win_progbar_corner.png) right bottom no-repeat;
            }
        }

        .win.security, .win.error {
            display: none;
            width: 320px;
            height: 170px;
            left: 50%;
            margin-left: -160px;
            bottom: 50vh;
            margin-bottom: -90px;
            z-index: 9;

            span.prompt {
                min-height: 32px;
                padding: 0px 10px;
                margin: 14px 0px;
                line-height: 14px;
                min-height: 0px;
            }
            @media (min-width:  600px )  {
                width: 350px;
                margin-left: -175px;

                span.prompt {
                    padding: 0px 10px 0px 52px;
                    background: url(/images/gemini-proxy/win_icon_error.png) 10px 0px no-repeat;
                }
            }
        }
        .win.error {
            z-index: 11;
            height: 115px;
            margin-bottm: -58px;

            span.prompt { min-height: 32px; }
        }

        .win.about {
            display: none;
            width: 372px;
            height: 380px;
            left: 50%;
            margin-left: -186px;
            bottom: 50vh;
            margin-bottom: -190px;
            z-index: 9;
            line-height: 20px;

            strong { font-weight: bold; }

            div.johnny {
                margin: 7px 7px 0px 7px;
                width: 352px;
                height: 234px;
                background: #666;
            }

            span.prompt {
                min-height: 32px;
                padding: 0px 10px;
                margin: 5px 0px 14px 0px;
                line-height: 14px;
                min-height: 0px;
                text-align: center;
            }
        }

        // behaviors ///////////////////////////////////////////////////////////

        label.menu.no-js:active ~ .gmi-content {
            filter: blur(10px);
            transform: scale(.98, .98);
            transition: none;
        }

        .ic:active ~ .win,
        .ie:active ~ .win,
        .ol:active ~ .win,
        .s:active  ~ .win {
            filter: blur(10px);
            transform: scale(1.025, 1.025);
            transition: none;
        }
        .ic:active ~ .d,
        .ie:active ~ .d,
        .ol:active ~ .d,
        .s:active  ~ .d {
            opacity: .5;
            transition: none;
        }

        #a ~ .win.explorer {
            opacity: 0;
            transform: scale(0) translate(150px, 100%);
            pointer-events: none;
        }
        #a:checked ~ .win.explorer {
            opacity: 1;
            transform: scale(1) translate(0%, 0%);
            pointer-events: auto;
        }

        #b:checked ~ .win.explorer h2.app-bar,
        #c:checked ~ .win.explorer h2.app-bar, 
        #d:checked ~ .win.explorer h2.app-bar{
            color: #c0c0c0;
            background: linear-gradient(to right, #808080 0%,#b5b5b5 100%);
        }
        #b:checked ~ .win.explorer .gmi-content .gem-header,
        #c:checked ~ .win.explorer .gmi-content .gem-header,
        #d:checked ~ .win.explorer .gmi-content .gem-header {
            background: #111;
            // border-bottom-color: transparent;
        }
        #b:checked ~ .cover,
        #c:checked ~ .cover,
        #d:checked ~ .cover { display: block; }
        #b:checked ~ .win.open { display: block; }
        #c:checked ~ .win.security { display: block; }
        #d:checked ~ .win.about {
            display: block;

            div.johnny {
                background: url(/images/gemini-proxy/johnny.gif) left top;
            }
        }

        label.cover:active ~ .win.open h2.app-bar,
        label.cover:active ~ .win.security h2.app-bar,
        label.cover:active ~ .win.about h2.app-bar {
            animation-name: w95AnimateTitleBar;
            animation-duration: .175s;
            animation-timing-function: linear;
            animation-iteration-count: 3;
        }

        #e:checked ~ .error-cover { display: block; }
        #e:checked ~ .win.error { display: block; }
        #e:checked ~ .win.explorer h2.app-bar,
        #e:checked ~ .win.open h2.app-bar {
            color: #c0c0c0;
            background: linear-gradient(to right, #808080 0%,#b5b5b5 100%);
        }
        label.error-cover:active ~ .win.error h2.app-bar {
            animation-name: w95AnimateTitleBar;
            animation-duration: .175s;
            animation-timing-function: linear;
            animation-iteration-count: 3;
        }
    }

    #gemini-print:checked ~ .w95 h2.app-bar {
        display: none;
    }
    #gemini-print:checked ~ .w95 .win.explorer {
        left: 0px !important;
        bottom: 0px !important;
        width: 100% !important;
        height: 100vh !important;
        padding: 0px !important;
        z-index: 10002;

        &::before, &::after { display: none !important; }

        h2.app-bar,
        label.menu,
        hr,
        div.toolbar,
        form.location,
        div.border,
        div.status,
        div.window-frame { display: none; }

        article.gmi-content {
            padding: 40px 0px 0px 0px;
            border: 0px none transparent;
            background: #fff;

            .gem-header {
                background: #fff;
                border-bottom: 0px;

                .wrap svg use { fill: #000; }
                .wrap a {
                    color: black;

                    &:hover {
                        color: black;
                        text-decoration: underline;
                    }
                }

                label {
                    display: block;
                    float: right;
                    color: blue;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            > p:nth-child(5) {
                color: black !important;
            }

            blockquote div,
            blockquote p,
            pre { color: black; }
            h1  { color: black; }
            h2  { color: black; }
            h3  {
                color: black;
                padding-left: 15px;
            }
            a   { 
                color: blue;

                &::before { display: none; }
            }
            p   {
                color: black;
                padding-left: 15px;
            }
            li  { color: black; }
        }
    }
}

@media print {
    * { overflow: visible !important; } 

    body[data-page-type="gemini-proxy"] header { display: none; }

    div.page:not(.gemini-proxy) { display: none !important; }

    div.page.gemini-proxy {
        position: static !important;
        height: auto !important;
        overflow: visible !important;
    }

    div.page.gemini-proxy .w95 label.ic{ display: none !important; }
    
    div.page.gemini-proxy .w95 .win.explorer {
        position: static !important;
        height: auto !important;
        display: block !important;

        &::before, &::after { display: none !important; }

        h2.app-bar,
        label.menu,
        hr,
        div.toolbar,
        form.location,
        div.border,
        div.status,
        div.window-frame { display: none; }

        article.gmi-content {
            padding: 0px 0px 0px 0px;
            padding-top: 0px !important;
            border: 0px none transparent;
            background: #fff;

            .gem-header {
                background: #fff;
                border-bottom: 0px;

                .wrap svg use { fill: #000; }
                .wrap a {
                    color: black;

                    &:hover {
                        color: black;
                        text-decoration: underline;
                    }
                }
                label { display: none !important; }
            }

            > p:nth-child(5) {
                color: black !important;
            }

            blockquote div,
            blockquote p,
            pre { color: black; }
            h1  { color: black; }
            h2  { color: black; }
            h3  { color: black; }
            a   { color: blue; }
            p   { color: black; }
            li  { color: black; }
        }
    }
}