@spinner_blade_width: 25%;
@spinner_blade_color: rgba(255, 255, 255, 1);
@spinner_animation_duration: 1s;

@-webkit-keyframes bladeFade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes bladeFade {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

div.page.guestbook {
    .artboard {
        position: relative;
        max-width: 1440px;
        max-height: 900px;
        width: 100%;
        height: 100%;
        margin: 0px auto;
        box-sizing: border-box;
        overflow: hidden;
        background: #111;
    }
    .loading {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .8);
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        display: none;

        &.active {
            display: flex;
        }
    }
    .tools {
        position: absolute;
        display: flex;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 40px;
        box-sizing: border-box;
        background: #ddd;
        z-index: 2;
        align-items: center;
        color: #222;
        font-family: 'Courier New', mono;
        font-size: 12px;
        font-weight: bold;

        &.active {
            li {
                display: flex;

                &:first-child {
                    display: none;
                }
            }
        }

        li {
            position: relative;
            
            padding: 0px 10px;
            align-items: center;
            display: none;

            em {
                padding: 0px 5px;
                user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
            }

            a.color {
                border: 1px solid black;
                height: 30px;
                width: 40px;
                background: red;
                box-sizing: border-box;

                &:hover {
                    border-color: #aaa;
                }
            }

            input[type="text"] {
                width: 40px;
                border: 1px solid black;
                height: 30px;
                box-sizing: border-box;

                &:hover {
                    border-color: #aaa;
                }
            }

            menu.select {
                position: absolute;
                border: 1px solid black;
                bottom: 30px;
                right: 10px;
                width: 40px;
                box-sizing: border-box;
                pointer-events: none;
                transform-origin: center bottom;
                opacity: 0;
                transition: opacity .3s ease-in, transform .3s ease-in;
                transform: scaleY(0);

                &.open {
                    transform: scaleY(1);
                    opacity: 1;
                    pointer-events: all;
                }

                a {
                    display: block;
                    width: 100%;
                    height: 30px;
                    background: #333;
                    border-top: 1px solid transparent;
                    border-right: 1px solid transparent;
                    border-left: 1px solid transparent;
                    border-bottom: 1px solid #555;
                    box-sizing: border-box;

                    &.sel {
                        border: 1px solid #aaa;
                        box-shadow: 0px 0px 10px rgba(255, 255, 255, .5);
                        background: #555;
                    }
                    &:last-child {
                        border-bottom: 1px solid transparent;
                    }

                    &:hover {
                        background: #444;
                    }
                }
            }

            &:first-child {
                display: flex;
            }

            &:last-child {
                padding-right: 0px;

                menu.select {
                    right: 0px;
                }
            }
            

        }
    }
    input[type="color"] {
        display: none;
    }
    canvas.guestbook {
        cursor: crosshair;
        box-sizing: border-box;
        width: 1440px;
        height: 900px;
        display: none;

        &.active {
            display: block;
        }
    }
    img {
        width: 1440px;
        height: 900px;

        &.hidden {
            display: none;
        }
    }

    .spinner {
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        display: block;
        width: 150px;
        height: 150px;

        .blade {
            position: absolute;
            left: 0%;
            top: 50%;
            margin-top: -4%;
            height: 8%; 
            width: 100%;

            > div {
                width: @spinner_blade_width;
                margin: 0px 0px 0px auto;
                height: 100%;
                background: @spinner_blade_color;
                border-radius: 1000px;
                opacity: 1;

                -webkit-animation-duration: @spinner_animation_duration; 
                animation-duration: @spinner_animation_duration;
                -webkit-animation-name: bladeFade;
                animation-name: bladeFade;
                -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
                -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
            }
            &.d02 {
                -ms-transform: rotate(-30deg);
                -webkit-transform: rotate(-30deg);
                transform: rotate(-30deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*1;
                    animation-delay: -(@spinner_animation_duration/12)*1;
                }
            }
            &.d03 {
                -ms-transform: rotate(-60deg);
                -webkit-transform: rotate(-60deg);
                transform: rotate(-60deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*2;
                    animation-delay: -(@spinner_animation_duration/12)*2;
                }
            }
            &.d04 {
                -ms-transform: rotate(-90deg);
                -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*3;
                    animation-delay: -(@spinner_animation_duration/12)*3;
                }
            }
            &.d05 {
                -ms-transform: rotate(-120deg);
                -webkit-transform: rotate(-120deg);
                transform: rotate(-120deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*4;
                    animation-delay: -(@spinner_animation_duration/12)*4;
                }
            }
            &.d06 {
                -ms-transform: rotate(-150deg);
                -webkit-transform: rotate(-150deg);
                transform: rotate(-150deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*5;
                    animation-delay: -(@spinner_animation_duration/12)*5;
                }
            }
            &.d07 {
                -ms-transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*6;
                    animation-delay: -(@spinner_animation_duration/12)*6;
                }
            }
            &.d08 {
                -ms-transform: rotate(-210deg);
                -webkit-transform: rotate(-210deg);
                transform: rotate(-210deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*7;
                    animation-delay: -(@spinner_animation_duration/12)*7;
                }
            }
            &.d09 {
                -ms-transform: rotate(-240deg);
                -webkit-transform: rotate(-240deg);
                transform: rotate(-240deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*8;
                    animation-delay: -(@spinner_animation_duration/12)*8;
                }
            }
            &.d10 {
                -ms-transform: rotate(-270deg);
                -webkit-transform: rotate(-270deg);
                transform: rotate(-270deg);

                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*9;
                    animation-delay: -(@spinner_animation_duration/12)*9;
                }
            }
            &.d11 {
                -ms-transform: rotate(-300deg);
                -webkit-transform: rotate(-300deg);
                transform: rotate(-300deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*10;
                    animation-delay: -(@spinner_animation_duration/12)*10;
                }
            }
            &.d12 {
                -ms-transform: rotate(-330deg);
                -webkit-transform: rotate(-330deg);
                transform: rotate(-330deg);
                > div {
                    -webkit-animation-delay: -(@spinner_animation_duration/12)*11;
                    animation-delay: -(@spinner_animation_duration/12)*11;
                }
            }
        }
    }

    div.noscript {
        margin: 0px auto;
        padding: 0px 15px 40px 15px;
        box-sizing: border-box;
        width: 100%;
        max-width: 780px;

        font-family: 'Arial', sans;

        > h1 { font-size: 3em; text-align: center; padding: 40px 0px 5px 0px; }
        > p { font-size: 1.25em; line-height: 1.5em; text-align: center; margin-bottom: 25px; }

        a { color: #faa; }
    }

    footer {
        margin: 0px auto;
        width: 100%;
        max-width: 780px;
        padding: 20px 15px 20px 15px;
        box-sizing: border-box;
        border-top: 1px dotted #666;
        color: #888;
        text-align: center;

        font-family: 'Arial', sans;

        a {
            color: #a77;
            &:hover { color: #faa; }
        }
    }

    .post { color: #ddd; }
    .pagination strong { color: white; }
    .post p.msg.error { color: #faa; font-style: italic; }
    .pagination .links a { color: #444; }
    .post ul.post-actions li label:hover,
    .post ul.body-actions li label:hover { color: pink; }
    div.noscript .dnt-notice a { color: #6a0000; }
    div.noscript .dnt-notice a.accept { color: white; }
}

body[data-page-type="guestbook"] {
    @media (min-width: 790px) {
        header {
            left: 50%;
            width: 520px;
            margin-left: -260px;
        }
    }
}

    

