@top-padding: 60px;
@sidebar-width: 265px;

@font-face {
    font-family: 'whitrabt';
    src: url('/fonts/whitrabt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url('/fonts/dejavusans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url('/fonts/dejavusans_oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'DejaVu Sans';
    src: url('/fonts/dejavusans_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/fonts/dejavusans_mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body[data-page-type="memespeech"] {
    header {
        display: none;
        background: #fff;
        nav ul.main > li > a {
            color: black;
            &:hover { color: crimson; }
        }
        #player { background: rgba(0, 0, 0, .3); }
    }
}

div.page.memespeech {
    font-family: 'DejaVu Sans';
    width: 100%;
    height: 100%;
    background: #ffe6dd;
    color: #433;
    padding: 0px 0 0px 0;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    max-height: 100vh;
    box-sizing: border-box;
    perspective: 1px;
    perspective-origin: 0 0;
    scroll-behavior: smooth;

    a {
        color: #71280f;
        &:hover { color: #300; }
    }

    h1, h2, h3, p {
        box-sizing: border-box;
        margin: 0px auto 30px auto;
        line-height: 1.3em;
        max-width: 775px;
        width: 100%;
        padding: 0px 15px 0px 15px;
    }

    h1 {
        font-size: 3em;
        font-weight: bold;

        &.top-header {
            max-width: 650px;
        }

        &.INFOWARS-DOT-COM {
            user-select: none;
            padding: 0px;
        }

        b {
            display: inline-block;
            box-sizing: border-box;
            padding: 5px;
            // border: 1px solid #ddd;
            // background: white;
            width: 65px;
            text-align: center;
            margin: 3px 3px;
            position: relative;
            color: transparent;

            &:after, &:before {
                position: absolute;
                left: -1px;
                top: -1px;
                display: block;
                box-sizing: border-box;
                padding: 5px;
                border: 1px solid #ddd;
                background: white;
                width: 65px;
                text-align: center;
                transition: all .3s ease-in;
                color: black;
            }
            &:after {
                transform: scale(1.5,1.5);
                opacity: 0;
            }
            &.gay:before {
                opacity: 0;
                transform: scale(.5, .5);
            }
            &.gay:after {
                opacity: 1;
                transform: scale(1,1);
            }
            &:nth-of-type(1):before { content: "M"; }
            &:nth-of-type(2):before { content: "E"; }
            &:nth-of-type(3):before { content: "M"; }
            &:nth-of-type(4):before { content: "E"; }
            &:nth-of-type(5):before { content: "S"; }
            &:nth-of-type(6):before { content: "P"; }
            &:nth-of-type(7):before { content: "E"; }
            &:nth-of-type(8):before { content: "E"; }
            &:nth-of-type(9):before { content: "C"; }
            &:nth-of-type(10):before { content: "H"; }
            &:nth-of-type(1):after { content: "m"; }
            &:nth-of-type(2):after { content: "e"; }
            &:nth-of-type(3):after { content: "m"; }
            &:nth-of-type(4):after { content: "e"; }
            &:nth-of-type(5):after { content: "s"; }
            &:nth-of-type(6):after { content: "p"; }
            &:nth-of-type(7):after { content: "e"; }
            &:nth-of-type(8):after { content: "e"; }
            &:nth-of-type(9):after { content: "c"; }
            &:nth-of-type(10):after { content: "h"; }
        }
    }
    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }
    h3 {
        font-size: 2.5em;
        font-weight: bold;
    }
    p {
        font-size: 1.5em;
    }
    u {
        text-decoration: underline;
    }
    em {
        font-style: italic;
    }
    small {
        display: block;
        font-size: 60%;
    }
    code {
        background: white;
        border: 1px solid #ddd;
        padding: 0px 5px;
    }

    strong {
        font-weight: bold;
    }

    .demo {
        max-width: 800px;
        margin: 0px auto 10px auto;
        background: white;
        padding: 20px 0px 35px 0px;

        input {
            box-sizing: border-box;
            display: block;
            padding: 8px 10px;
            border: 1px solid #aaa;
            width: 80%;
            max-width: 530px;
            margin: 0px auto 15px auto;
            font-size: 2em;
            // border-radius: 5px;
        }
        button {
            border: 0px;
            background: #c3461b;
            padding: 8px 25px;
            font-size: 2em;
            border-radius: 10px;
            color: white;
            cursor: pointer;
            &:hover {
                background: #b3360b;
            }
        }
    }

    .meme {
        position: fixed;
        z-index: 3;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
        max-height: 70vh;

        @media screen and (orientation:portrait) {
            width: 100%;
            max-width: 95vw;
            height: auto;
            max-height: unset;
        }
    }
    .parallax {
        width: 1920px;
        height: 1591px;
        transform-origin: 0 0;
        transform: translateZ(-1px) scale(2);
        background: url(/images/memespeech/constitution5.png) left top no-repeat;
        background-size: 1920px auto;
        z-index: -1;
        position: absolute;
    }
    .top {
        padding-top: @top-padding;
        background: #ffe6dd;
        padding-bottom: 15px;
    }
    .bottom {
        padding: 40px 0px 40px 0px;
        background: white;
        position: relative;

        background: #563226;
        color: #e2e2e2;

        a {
            color: #ffe6dd;

            &:hover {
                color: #fff;
            }
        }

        code {
            background: #281800;
            border-color: #222;
        }
        a.install-extension {
            padding: 0px 20px;
            margin-bottom: 30px;
            height: 64px;
            line-height: 64px;

            img {
                width: 48px;
                height: 48px;
            }
        }

        svg {
            width: 75px;
            height: 75px;
            fill: none;
            stroke: #000000;
            stroke-width: 8px;
            opacity: .2;
            margin: 0px 10px;

            &:hover {
                opacity: .3;
            }
        }
    }
    footer {
        padding-top: 25px;
        opacity: .7;
    }
    .constitution {
        // top: -1591px;
        display: flex;
        position: relative;
        width: 100%;
        height: 85vh;
        max-height: 1000px;
        // box-sizing: border-box;
        flex-direction: column;
        // background: url(/images/memespeech/constitution5.png) left top no-repeat;
        // background-size: 1920px auto;
        align-items: center;
        margin-bottom: 30px;

        span {
            &::before, &::after {
                display: block;
                position: absolute;
                left: 0px; 
                width: 100%;
                height: 25px;
                content: ' ';
            }
            &::before {
                top: 0px;
                background: linear-gradient(to bottom, rgba(100,79,54,.33) 0%,rgba(125,185,232,0) 100%);
            }
            // &::after {
            //     bottom: 0px;
            //     background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(100,79,54,.25) 100%);
            // }
            max-width: 800px;
            box-sizing: border-box;
            background: #644f36;
            color: white;
            flex-grow: 0;
            flex-shrink: 0;
            margin: 40px 15px 30px 15px;
            font-size: 1.2em;
            line-height: 1.2em;
            padding: 6px 18px;
            border-radius: 10px;

            &.error {
                background: #c3461b;
            }
        }
        textarea {
            width: 100%;
            max-width: 800px;
            box-sizing: border-box;
            font-family: 'DejaVu Sans Mono';
            font-size: 1.1em;
            padding: 20px 20px 0px 20px;
            border: 1px solid #ddd;
            background: rgba(255, 255, 255, .85);
            flex-grow: 1;
            margin-bottom: 40px;

            &:disabled {
                color: black;
            }
        }
    }
    &.blur {
        filter: blur(5px);
    }
    a.install-extension {
        display: inline-block;
        text-decoration: none;
        color: white;
        background: #84c63c;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-family: sans-serif;
        font-weight: bold;
        border-radius: 5px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, .1);
        text-shadow: 0px 1px 5px rgba(0, 0, 0, .1);

        img {
            width: 32px;
            height: 32px;
            margin-right: 5px;
            vertical-align: middle;
        }

        &:hover {
            background: #74b62c;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
        }
    }
    ul.permissions {
        list-style-type: none;
        margin-bottom: 45px;
        li {
            margin-bottom: 15px;
            &::before {
                content: "•";
                margin-right: 5px;
            }
        }
    }
    a.back-button {
        position: absolute;
        left: 15px;
        top: 10px;
        text-decoration: none;
        z-index: 30;
        color: #c3461b;
        padding: 5px;
        border-radius: 5px;
        opacity: .5;

        &:hover {
            opacity: 1;
            background: #c3461b33;
        }

        svg {
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;

            &.arrow { fill: #c3461b; }
            &.union { stroke: #c3461b; stroke-width: 8px; fill: none; }
        }
        em {
            display: inline-block;
            vertical-align: middle;
            font-style: normal;
            font-size: .9em;
        }
    }
    .side-nav { display: none; }
    .encryption-error {
        display: block;
        font-size: 1em;
        color: #c3461b;
        margin-bottom: 15px;
        font-weight: bold;

        &.hidden {
            display: none;
        }
        &.warn {
            color: GoldenRod;
        }
    }
    p img {
        width: 700px;
        max-width: 100%;
        height: auto;
    }
}
@media (min-width: 500px) {
    div.page.memespeech {
        .constitution {
            textarea {
                padding: 40px 40px 0px 40px;
            }
        }
    }
}
@media (min-width: 1920px) {
    div.page.memespeech {
        .parallax {
            width: 100vw;
            height: 100vw;
            background-size: 100vw auto;
        }
    }
}
._ms-encryption {
    position: fixed;
    z-index: 2;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 15px;
    background: rgba(0, 0, 0, .85);
    color: #8f8;
    color: #f88;
    text-shadow: 0px 0px 5px #8f8;
    text-shadow: 0px 0px 5px #f88;
    font-family: 'whitrabt';
    font-size: 1.5em;
    text-align: left;
    overflow-y: scroll;

    strong {
        display: block;
        text-transform: uppercase;
        font-size: 2em;
        word-wrap: break-word;

        &.centered {
            text-align: center;
        }
    }
}


body[data-page-type="memespeech"] {
    header {
        left: calc(50% + 125px);
    }
}
@media (max-width: 800px) {
    div.page.memespeech {
        font-size: .75em;
        text-align: left;

        h1, h2, h3, p {
            padding: 0px 10px 0px 10px;
        }

        h1.INFOWARS-DOT-COM {
            margin-left: 10px;
            font-size: 1.6em;
            b {
                padding: 2px;
                width: 32px;
                margin: 1px 1px;
                &:after, &:before {
                    padding: 2px;
                    width: 30px;
                }
            }
        }
        .demo {
            text-align: center;

            input {
                width: 90%;
                font-size: 1.5em;
            }
        }
        .install-area { text-align: center; }
        footer {
            padding-left: 10px;
            padding-right: 10px;
            line-height: 1.4em;
        }
    }
}
@media (min-width: 1100px) {
    div.page.memespeech {
        .top, .bottom {
            position: relative;
            box-sizing: border-box;
            padding-left: @sidebar-width;
        }
        .top {
            background: #ffe6dd linear-gradient(to right, rgba(195, 70, 27, .2) @sidebar-width, #ffe6dd @sidebar-width 100%);
        }
        .bottom {
            background: #563226 linear-gradient(to right, rgba(195, 70, 27, .2) @sidebar-width, #563226 @sidebar-width 100%);

            .side-nav nav {
                top: 0px;
                padding-top: 40px;
            }
        }
        .constitution {
            box-sizing: border-box;
            padding-left: @sidebar-width;
        }
        .side-nav {
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            width: @sidebar-width;
            height: 100%;
            text-align: center;

            nav {
                position: sticky;
                top: @top-padding - 35px;
                width: @sidebar-width;
                padding: 20px 20px 21px 20px;
                box-sizing: border-box;

                &.safari-hack { position: absolute; }
            }
            svg {
                width: 180px;
                height: 180px;
                height: auto;
                margin-bottom: 20px;
            }
            img.logo {
                margin-bottom: 40px;
            }
            h5 {
                margin-bottom: 20px;
                font-weight: bold;
            }
            ul {
                text-align: center;
                margin-bottom: 50px;

                li {
                    margin-bottom: 20px;
                    line-height: 1.2em;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    &::before {
                        content: "◦";
                        margin-right: 5px;
                    }
                    &.sel {
                        font-weight: bold;

                        &::before {
                            content: "•";
                        }
                    }
                }
            }
            a.install-extension {
                width: 100%;
            }
            img.merch {
                display: block;
                margin: 0px auto 15px auto;
                width: 50%;
                max-width: 50%;
                height: auto;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
            }
            a.merch {
                font-size: 80%;
                text-decoration: none;

                &:hover { text-decoration: underline; }
            }
        }
    }
}