@keyframes sitemap-marker {
    0% { transform: scale(1); opacity: .125; }
    100% { transform: scale(48); opacity: 0; }
}

body[data-page-type="sitemap"] header { display: none; }
div.page.sitemap:not(.hidden) {
    display: flex;
}
div.page.sitemap {
    background: #333 linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(128,51,51,1) 100%);
    overflow: auto;
    
    // align-items: middle;

    div.map {
        overflow: visible;
        position: relative;
        // left: 50%;
        // transform: translateX(-50%);
        // width: 0px;
        height: 100%;
        display: inline-flex;
        flex-direction: row;
    }
    h1 { display: none; }

    ul {
        box-sizing: border-box;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
        height: 100%;
        width: 100%;
        max-height: 1695px;
        min-height: 1100px;
        // padding-left: 50%;
        // background: rgba(255, 0, 0, .2);

    }

    img {
        background-color: #fce1a6;
        width: auto;
        height: 100%;
        max-height: 1695px;
        min-height: 1100px;
        box-shadow: 0px 0px 20px black;
    }

    li {
        position: absolute;
        font-size: .9em;
        z-index: 2;
        a {
            font-family: 'Times New Roman';
            display: block;
            color: #130e09;
            text-decoration: none;
            vertical-align: middle;
            font-weight: bold;
            text-transform: uppercase;
            text-align: right;
            vertical-align: top;

            &:hover {
                text-decoration: underline;
            }

            &.r::after {
                margin: 0px 0px 0px 3px;
            }
            &.l::before {
                margin: 0px 3px 0px 0px;
            }
            &.r::after, &.l::before {
                display: inline-block;
                content: " ";
                font-size: 0px;
                width: 12px;
                height: 12px;
                border-radius: 12px;
                background: red radial-gradient(farthest-corner at 8px 4px, #ff0000 25%, #660000 100%);
                border: 2px solid #130e09;
                vertical-align: top;
            }
            &.r::before {
                right: 1px;
            }
            &.l::after {
                left: 1px;
            }
            &.r::before, &.l::after {
                box-sizing: border-box;
                display: block;
                content: " ";
                font-size: 0px;
                position: absolute;
                width: 14px;
                height: 14px;
                border-radius: 12px;
                top: 1px;
                background: transparent;
                border: 1px solid #130e09;
                opacity: 0;
                pointer-events: none;
                box-shadow: 0px 0px 0px 10px #900;
            }
            &.r:hover::before, &.l:hover::after {
                animation: sitemap-marker 2s linear 1;
            }
            // &::first-letter {
            //     font-size: 150%;
            // }
            
        }
        
    }

    li.link-home { right: 48%; top: 46%; }
    li.link-home:hover ~ li.bg::after { content: "home"; }

    li.link-music { left: 47%; top: 66%; }
    li.link-music:hover ~ li.bg::after { content: "music"; }

    li.link-blog { left: 77%; top: 50%; }
    li.link-blog:hover ~ li.bg::after { content: "blog"; }

    li.link-guestbook { left: 62%; top: 72%; }
    li.link-guestbook:hover ~ li.bg::after { content: "guestbook"; }

    li.link-contact { right: 50%; top: 48%; }
    li.link-contact:hover ~ li.bg::after { content: "contact"; }

    li.link-about { right: 69%; top: 50%; }
    li.link-about:hover ~ li.bg::after { content: "about"; }

    li.link-memespeech { left: 28.5%; top: 58%; }
    li.link-memespeech:hover ~ li.bg::after { content: "memespeech"; }

    li.link-fmiffel { left: 13%; top: 40%; }
    li.link-fmiffel:hover ~ li.bg::after { content: "fmiffel"; }

    li.link-sharemyshit { right: 90%; top: 44%; }
    li.link-sharemyshit:hover ~ li.bg::after { content: "shitstagram"; }

    li.link-facts { left: 6%; top: 55%; }
    li.link-facts a { background: rgba(230, 176, 125, .5); border-radius: 12px;}
    li.link-facts:hover ~ li.bg::after { content: "facts"; }
    li.link-facts:hover a { background: transparent;}

    li.link-password { right: 31%; top: 55%; }
    li.link-password a { background: rgba(230, 176, 125, .5); border-radius: 12px;}
    li.link-password:hover ~ li.bg::after { content: "password"; }
    li.link-password:hover a { background: transparent; }

    li.bg {
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: red;
        z-index: 1;
        transition: opacity .1s linear;
        opacity: .1;
        font-size: 0px;
        color: transparent;

        &::after {
            position: absolute;
            left: 5%;
            top: 5%;
            content: "";
            font-size: 7vw;
            color: #eee;
        }
    }
    li:hover ~ li.bg { opacity: .33; }

    @media (min-width: 1246px) {
        justify-content: center;
    }
}



    

