@font-face {
    font-family: 'DejaVu Serif';
    src: url('/fonts/dejavuserif_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Serif';
    src: url('/fonts/dejavuserif_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body[data-page-type="privacy"],
body[data-page-type="terms"],
body[data-page-type="dmca"] {
    header {
        background: #fff;

        nav ul.main > li > a, nav ul.main > li > label {
            color: black;
            &:hover { color: crimson; }
        }
        #player { background: rgba(0, 0, 0, .3); }
    }
}

div.page.privacy,
div.page.terms,
div.page.dmca {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background: #eee;
    box-sizing: border-box;
    color: #444;
    padding: 80px 0px 0px 0px;
    font-family: 'DejaVu Serif';
    overflow-x: hidden;
    overflow-y: auto;

    h1, h2, h3, h3, ul, ol, p, pre, hr {
        box-sizing: border-box;
        max-width: 800px;
        width: 100%;
        margin: 0px auto 25px auto;
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 0px 15px;
    }

    a { color: #700; }

    h1 {
        font-size: 2em;
        font-weight: bold;
    }

    h2 {
        padding-top: 40px;
        font-size: 1.5em;
        font-weight: bold;
    }

    h3 {
        // font-size: 1.2em;
        font-weight: bold;
    }

    strong { font-weight: bold; }

    ul, ol {
        li {
            margin: 0px 0px 25px 40px;
        }
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }

    img {
        display: block;
        margin: 0px auto 40px auto;
        width: 100%;
        height: auto;
        max-width: 800px;
    }

    > p:last-child {
        padding-bottom: 40px;
    }

    footer {
        margin-top: 45px;
        padding-bottom: 35px;
        text-align: center;
    }
}