@font-face {
    font-family: 'whitrabt';
    src: url('/fonts/whitrabt.eot');
    src: local('☺'), url('/fonts/whitrabt.woff') format('woff'), url('/fonts/whitrabt.ttf') format('truetype'), url('/fonts/whitrabt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body[data-page-type="user-profile"], body[data-page-type="user-edit"] {
    header {
        background: #00aa00;
        nav ul.main > li > a { font-family: 'whitrabt'; }
        nav ul.subnav li > a { font-family: 'whitrabt'; background: #555555; }
        nav ul.subnav li.user {
            background: #555555;
            div.status { font-family: 'whitrabt'; }
        }
        &.subnav-open nav ul.main > li > a { opacity: .6; }
        &.subnav-open nav ul.main > li:last-of-type > a { font-weight: normal; opacity: 1; }
        &.subnav-open nav ul.main > li:last-of-type > a::after { content: "…"; }
    }
}
body[data-page-type="user-edit"] header { background: #0000aa; }

.page.user-profile, .page.user-edit {
    background: #000; // reeee
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    font-family: 'whitrabt', 'Courier New';

    h2 {
        margin-bottom: 20px;
    }

    a { color: #55FF55; text-decoration: none; }
    a:hover { color: white; text-shadow: 0px 0px 5px white; }

    .block, p {
        font-size: 13px;
        min-width: 320px;
        max-width: 100%;
        padding: 13px 10px 0px 10px;
        box-sizing: border-box;
        overflow-x: hidden;

        &.img {
            min-width: 256px; max-width: 256px; flex-grow: 0;
            a {
                color: cyan;
                &:hover { color: white; }
            }
            label {
                color: cyan;
                cursor: pointer;
                &:hover {
                    color: white; text-shadow: 0px 0px 5px white;
                }
            }
            input { margin: 20px 0px 0px 22px; width: 234px; }
        }
        &.actions { min-width: 225px; max-width: 225px; flex-grow: 0; }
    }
    .block {
        flex-shrink: 0;
        
    }
    p {
        margin: 0px auto;
        max-width: 696px;

        &.access {
            padding-bottom: 0px;
            padding-top: 0px;
            font-size: 0px;
        }
    }

    svg {
        vertical-align: top;
        width: 16px;
        height: 32px;
        stroke: none;
        fill: white;
        margin-right: 7px;

        &:hover {
            filter: drop-shadow(0px 0px 5px white);
            cursor: help;
        }
    }

    img {
        vertical-align: top;
        width: 256px;
        height: auto;
        // filter: saturate(0);
        // transition: filter .25s linear;

        // &:hover { filter: saturate(1); }
    }

    table {
        max-width: 410px;
        margin-bottom: 20px;

        &.disabled {
            opacity: .5;
        }
    }
    table a {
        display: block;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    td { vertical-align: top; }

    input[type="text"], input[type="email"], input[type="password"], textarea {
        border: 0px;
        background: rgba(0, 0, 0, .66);
        font-family: 'whitrabt', 'Courier New';
        color: white;
        padding: 5px;
        margin-bottom: 3px;
        font-size: 13px;
        width: 230px;
    }
    textarea { height: 60px; }

    .flex {
        padding-top: 60px;
        background: #0000aa;
        margin: 0px auto;
        max-width: 696px;
        
        justify-content: space-between;
        flex-wrap: wrap;
        display: flex;
    }

    div.bow {
        background: #0000aa;
        padding-bottom: 30px;
    }

    @media (min-width: 375px) {
        table a { max-width: 247px; }
        .block, p { font-size: 16px; padding: 16px 10px 0px 10px; }
        input[type="text"], input[type="email"], input[type="password"], textarea {
            font-size: 16px;
            width: 270px;
        }
    }

    @media (min-width: 400px) {
        table a { max-width: 296px; }
    }

    @media (min-width: 480px) {
        table a { max-width: 310px; }
        .block.img { margin-left: 30px; padding-left: 0px; padding-right: 0px; }
        .block, p {
            font-size: 20px;
            padding: 20px 10px 0px 10px;
        }
        input[type="text"], input[type="email"], input[type="password"], textarea {
            font-size: 20px;
            width: 300px;
        }
    }
    @media (min-width: 696px) {
        .block, p { padding-left: 0px; padding-right: 0px; }
    }
    div.submit-thingy {
        text-align: center;
        padding: 30px;

        button {
            background: #aa0000;
            position: relative;
            border: 0px none transparent;
            width: 200px;
            padding: 10px 0px 10px;
            color: white;
            font-family: 'whitrabt', 'Courier New';
            font-size: 30px;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px 10px;

            &[type="reset"] {
                background: #0000aa;
            }
            &:hover {
                background: #00aa00;
            }

            svg {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 40px;
                height: 40px;
                display: none;

                &.loading {
                    stroke-width: 2px;
                    stroke: rgba(255, 255, 255, 1);
                    fill: none;

                    path {
                        animation: spinner .5s infinite;
                        animation-timing-function: linear;
                        transform-origin: 20px 20px;
                    }
                }
            }

            &.disabled {
                cursor: default;
                background: #999;

                svg { display: block; }
            }
        }
    }
    .avatar {
        display: block;
        width: 256px;
        height: 256px;
        background-size: auto 100%;
        margin-bottom: 20px;
    }

    ul.errors {
        font-size: 20px;
        color: #ff0000;
        padding-bottom: 0px;

        li { margin-bottom: 15px; }
    }
}
.page.user-edit .flex, .page.user-edit div.bow { background: #aa0000; }