@keyframes hypnosis {
    0% { transform: translateX(-50%) translateY(-50%) rotate(0deg); }
    100% { transform: translateX(-50%) translateY(-50%) rotate(-360deg); }
}

div.page.volition {
    background: #900;
    overflow: hidden;

    canvas, img {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 135vmax;
        height: 135vmax;
        transform: translateX(-50%) translateY(-50%);
        animation: hypnosis 2s linear infinite;
    }

    a.download { position: absolute; left: 0px; top: 0px; }
}



    

