body[data-page-type="write"] header { display: none; }
div.page.write {
    // background: #f2f2f2;
    font-family: "Arial", sans;
    font-size: 14px;

    a {
        color: #6a0000;

        &:hover {
            color: #220000;
        }
    }

    .sexual-wizard {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        max-width: 850px;
        display: flex;
        flex-direction: column;
        max-height: 90vh;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);

        .sexy-baby {
            box-sizing: border-box;
            padding: 0px 30px 20px 30px;
            background: white;
            max-height: 40vh;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-border-top-left-radius: 10px;
            -webkit-border-top-right-radius: 10px;
            -moz-border-radius-topleft: 10px;
            -moz-border-radius-topright: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .bad-erection {
            box-sizing: border-box;
            padding: 0px 30px 30px 30px;
            background: #f2f2f2;
            -webkit-border-bottom-right-radius: 10px;
            -webkit-border-bottom-left-radius: 10px;
            -moz-border-radius-bottomright: 10px;
            -moz-border-radius-bottomleft: 10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

        }
        &.alone {
            height: 90vh;
            .bad-erection {
                border-radius: 10px;
                height: 100%;
                flex-grow: 1;
                flex-shrink: 0;

                section.posts {
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    form {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                    }

                    .post {
                        height: 100%; 
                        .compose {
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            textarea {
                                flex-grow: 1;
                                flex-shrink: 0;
                            }
                            button {
                                flex-grow: 0;
                                flex-shrink: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 640px) {
        .sexual-wizard .sexy-baby,
        .sexual-wizard .bad-erection {
            padding-left: 15px;
            padding-right: 15px;
            border-radius: 0px;
        }
        .sexual-wizard.alone .bad-erection { border-radius: 0px; }
    }
}

