<div class="harr {% if onion_request %}lofi{% endif %}">
<main>
    <h1>{% if onion_request %}OB53551V3 F4C75{% else %}Obsessive Facts{% endif %}</h1>
    <p>
        {% if onion_request %}
            Welcome to the Obsessive Facts Onion site. This version of the site disables
            JavaScript for your comfort and safety. Please note that SVG is disabled in
            TOR's maximum Security Mode, breaking some graphics. This site is under
            development and new features and improvements will be added as time permits.
        {% else %}
            Thank you for visiting Obsessive Facts. On this Internet web site you
            will find endless facts about facts. This web site was first released in
            2004 as an experimental art project written in PHP and has been
            deprecated, ignored, maintained, replaced and moved as time and interest
            permit.
        {% endif %}
    </p>
    <p>
        No shiba inus were
        harmed in the creation of this web site.
    </p>
    <footer>
        <p>
            <a href="/sitemap">Sitemap</a> &bull; <a href="/privacy">Privacy</a> &bull; <a href="/terms">Terms</a> &bull; <a href="/dmca">DMCA</a> &bull; <a href="https://gitlab.com/obsessivefacts" target="_blank">GitLab</a>
        </p>
        <p>
            Copyright &copy; 2004 Obsessive Network LLC
        </p>
    </footer>
</main>
<div class="villain {% if access_denied %}access-denied{% endif %}">
<div class="hand{% if password or access_denied %} password{% endif %}"><img class="o" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/index/hand{% if onion_request %}-lofi-crushed{% endif %}.png" alt="picture of hand">{% if uptime %}<div class="uptime">{{ uptime }}</div>{% endif %}</div>
    <div class="backdrop{% if password or access_denied %} password{% endif %}"><div class="portal"><div class="owl"><img class="o" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/index/owl{% if onion_request %}-lofi{% endif %}.png" alt="picture of owl"></div><div class="pipes"><img class="o p" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/index/pipes{% if onion_request %}-lofi{% endif %}.png" crossorigin="anonymous" alt="picture of pipes"></div><canvas class="back" width="0" height="0"></canvas><canvas class="wave" width="0" height="0"></canvas></div></div>
    <div class="keyboard {% if password or access_denied %}password{% else %}hidden{% endif %}">
        <div class="portal">
            <div class="keys">
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}60" data-key="60" class="k60 C4"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}61" data-key="61" class="k61 Cs4 whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}62" data-key="62" class="k62 D4"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}63" data-key="63" class="k63 Ds4 whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}64" data-key="64" class="k64 E4"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}65" data-key="65" class="k65 F4"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}66" data-key="66" class="k66 Fs4 whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}67" data-key="67" class="k67 G4"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}68" data-key="68" class="k68 Gs4 whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}69" data-key="69" class="k69 A4"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}70" data-key="70" class="k70 As4 whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}71" data-key="71" class="k71 B4"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}72" data-key="72" class="k72 C5"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}73" data-key="73" class="k73 Cs5 whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}74" data-key="74" class="k74 D5"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}75" data-key="75" class="k75 Ds5 whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}76" data-key="76" class="k76 E5"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}77" data-key="77" class="k77 F5 wide"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}78" data-key="78" class="k78 Fs5 wide whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}79" data-key="79" class="k79 G5 wide"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}80" data-key="80" class="k80 Gs5 wide whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}81" data-key="81" class="k81 A5 wide"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}82" data-key="82" class="k82 As5 wide whoops"></a>
                <a rel="nofollow" href="/password?code={% if code %}{{code}},{% endif %}83" data-key="83" class="k83 B5 wide"></a>
            </div>
        </div>
    </div>
    <form class="{% if password or access_denied %}password{% endif %}" action="/password" method="post" enctype="multipart/form-data">
        <input type="hidden" name="code" value="{{code}}" />{% if key %}<audio autoplay><source src="/audio/key-{{key}}.ogg" type="audio/ogg"/></audio>{% endif %}
        <button>Submit</button>
        <a href="/password">Forget</a>
    </form>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ fuck"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ Fuck"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ wtf"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ WTF"></a>
    <!-- -->
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ i"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ will"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ punish"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ you"></a>
    <!-- -->
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ I"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ DIDNT"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ WANT"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ TO"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ HAVE"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ To"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ BE"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ FORCED"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ T0"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ PUNISH"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ YOU"></a>
    <!-- , -->
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ BUT"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ YOUVE"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ LEFT"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ ME"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ WITH"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ NO"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ CHOICE"></a>
    <!-- -->
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ FACE"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ THE"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ PUNISHMENT"></a>
    <!-- -->
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ legalize"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ meth"></a>
    <!-- -->
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ Y0U"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ WILL"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ LEARN"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ to"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ LOVE"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ YOUR"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ PUN1SHMENT"></a>
    <!-- -->
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ METH"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ IS"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ NOT"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ A"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ CRIME"></a>
    <!-- -->
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ shiba"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ inu"></a>
    <a href="{% if password or access_denied %}/{% else %}/password{% endif %}" class="{% if password or access_denied %}password {% endif %}_ crackmeth"></a>
</div>
</div>