<!-- FUN FACT: Chromium's SVG implementation is totally different than all the other browsers. -->
<!-- For sprites, Chromium allows you to define <symbol>s and <use> them within the SVG image. -->
<!-- All the other browsers flip out in weird ways if you do this. The correct way of doing    -->
<!-- sprites is apparently to define them as <pattern>s and then <fill> them into rectangles.  -->
<!-- Don't learn this the tedious way.                                                         -->
<div class="crt">

<div class="letterbox"></div>

<div class="story part1">
     <p>In the year of 20XX, a Network Virus<br/><br/> named *UNDEFINED* was created.</p>
</div>

<div class="story part2">
     <p>*UNDEFINED* was designed to stop the<br/><br/>evil plans of four mega corporations.</p>
</div>

<div class="story part3">
     <p>With the corporations' grip on<br/><br/>control weakened from within</p>
</div>

<div class="story part4">
     <p>the release of *UNDEFINED*<br/><br/>was inevitable.</p>
</div>

<div class="story part5">
     <p>The moment was coming and<br/><br/>the world would change forever.</p>
</div>

<!-- cityscape -->
<!-- FUN FACT: Firefox completely broke this SVG as of 131.0.2 :(    -->
<!-- Aggressively resizing the window will sometimes make it appear. -->
<!-- Removing all "fade in" animations from the CSS has no effect... -->
<svg class="night-city" viewBox="0 0 160 240" xmlns="http://www.w3.org/2000/svg">

     <!-- sprites -->
     <defs>
          <pattern id="skybox" x="0" y="0" width="2" height="64" patternUnits="userSpaceOnUse"><rect width="2" height="64"/><rect class="s1" y="61" width="2" height="3"/><rect class="s1" y="59" width="2" height="1"/><rect class="s1" y="56" width="2" height="1"/><rect class="s2" y="57" width="2" height="2"/><rect class="s2" y="60" width="2" height="1"/><rect class="s2" y="48" width="2" height="8"/><rect class="s2" y="44" width="2" height="3"/><rect class="s2" y="41" width="2" height="2"/><rect class="s2" y="39" width="2" height="1"/><rect class="s2" y="36" width="2" height="1"/><rect class="s2" y="31.78" width="2" height="1"/><rect class="s2" y="25.78" width="2" height="1"/><rect x="1" y="63" width="1" height="1"/></pattern>
          <pattern id="bld-lg-top" x="0" y="0" width="32" height="32" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="32" height="32"/><rect class="rd" y="7" width="24" height="1"/><rect class="rd" x="2" y="6" width="24" height="1"/><rect class="rd" x="4" y="5" width="24" height="1"/><rect class="rd" x="6" y="4" width="24" height="1"/><rect class="rm" x="28" y="5" width="2" height="1"/><rect class="rm" x="26" y="6" width="2" height="1"/><rect class="rm" x="24" y="7" width="2" height="1"/><rect class="rm" x="23" y="8" width="1" height="1"/><rect class="rm" x="3" y="8" width="18" height="1"/><rect class="rm" x="1" y="9" width="22" height="1"/><rect class="rb" x="1" y="8" width="2" height="1"/><rect class="rb" x="21" y="8" width="2" height="1"/><rect class="rd" y="8" width="1" height="24"/><rect class="rd" x="23" y="9" width="1" height="23"/><rect class="rd" x="25" y="8" width="1" height="24"/><rect class="rd" x="27" y="7" width="1" height="25"/><rect class="rd" x="29" y="6" width="1" height="26"/><rect class="rd" x="24" y="8" width="1" height="1"/><rect class="rd" x="26" y="7" width="1" height="1"/><rect class="rd" x="28" y="6" width="1" height="1"/><rect class="rm" x="1" y="10" width="2" height="22"/><rect class="rm" x="5" y="10" width="2" height="22"/><rect class="rm" x="9" y="10" width="2" height="22"/><rect class="rm" x="13" y="10" width="2" height="22"/><rect class="rm" x="17" y="10" width="2" height="22"/><rect class="rm" x="21" y="10" width="2" height="22"/><rect class="rb" x="4" y="19" width="1" height="1"/><rect class="rb" x="16" y="16" width="1" height="1"/><rect class="rb" x="8" y="19" width="1" height="1"/><rect class="rb" x="4" y="22" width="1" height="1"/><rect class="rb" x="12" y="13" width="1" height="1"/><rect class="rb" x="12" y="16" width="1" height="1"/><rect class="rb" x="12" y="19" width="1" height="1"/><rect class="rb" x="4" y="25" width="1" height="1"/><rect class="rb" x="16" y="13" width="1" height="1"/><rect class="rb" x="8" y="16" width="1" height="1"/><rect class="rb" x="20" y="13" width="1" height="1"/><rect class="rb" x="8" y="22" width="1" height="1"/><rect class="rm" x="27" width="1" height="1"/><rect class="rd" x="29" y="1" width="1" height="1"/><rect class="rd" x="23" y="1" width="1" height="1"/><rect class="rd" x="14" y="1" width="1" height="1"/><rect class="rd" x="6" y="1" width="1" height="1"/><rect class="rm" x="12" width="1" height="1"/><rect class="rd" x="12" y="2" width="1" height="1"/><rect class="rd" x="19" width="1" height="1"/><rect class="rd" x="8" width="1" height="1"/><rect class="rm" x="19" y="2" width="1" height="1"/><rect class="rm" x="25" y="2" width="1" height="1"/><rect class="rm" x="4" y="2" width="1" height="1"/><rect class="rd" x="2" y="2" width="1" height="1"/><rect class="rm" y="4" width="1" height="1"/><rect class="rd" x="2" y="4" width="1" height="1"/><rect class="rb" x="20" y="25" width="1" height="1"/><rect class="rb" x="20" y="28" width="1" height="1"/><rect class="rb" x="16" y="28" width="1" height="1"/><rect class="rb" x="20" y="31" width="1" height="1"/><rect class="rb" x="16" y="31" width="1" height="1"/><rect class="rb" x="12" y="31" width="1" height="1"/></pattern>
          <pattern id="bld-lg-mid" x="0" y="0" width="32" height="32" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="32" height="32"/><rect class="rd" width="1" height="32"/><rect class="rd" x="23" width="1" height="32"/><rect class="rd" x="25" width="1" height="32"/><rect class="rd" x="27" width="1" height="32"/><rect class="rd" x="29" width="1" height="32"/><rect class="rm" x="1" width="2" height="32"/><rect class="rm" x="5" width="2" height="32"/><rect class="rm" x="9" width="2" height="32"/><rect class="rm" x="13" width="2" height="32"/><rect class="rm" x="17" width="2" height="32"/><rect class="rm" x="21" width="2" height="32"/><rect class="rb" x="8" y="2" width="1" height="1"/><rect class="rb" x="16" y="2" width="1" height="1"/><rect class="rb" x="8" y="5" width="1" height="1"/><rect class="rb" x="12" y="5" width="1" height="1"/><rect class="rb" x="12" y="2" width="1" height="1"/><rect class="rb" x="4" y="5" width="1" height="1"/><rect class="rb" x="8" y="8" width="1" height="1"/><rect class="rb" x="4" y="8" width="1" height="1"/><rect class="rb" x="4" y="11" width="1" height="1"/><rect class="rb" x="20" y="11" width="1" height="1"/><rect class="rb" x="20" y="14" width="1" height="1"/><rect class="rb" x="16" y="14" width="1" height="1"/><rect class="rb" x="20" y="17" width="1" height="1"/><rect class="rb" x="16" y="17" width="1" height="1"/><rect class="rb" x="12" y="17" width="1" height="1"/><rect class="rb" x="8" y="20" width="1" height="1"/><rect class="rb" x="12" y="20" width="1" height="1"/><rect class="rb" x="16" y="20" width="1" height="1"/><rect class="rb" x="4" y="23" width="1" height="1"/><rect class="rb" x="8" y="23" width="1" height="1"/><rect class="rb" x="12" y="23" width="1" height="1"/><rect class="rb" x="8" y="26" width="1" height="1"/><rect class="rb" x="4" y="26" width="1" height="1"/><rect class="rb" x="4" y="29" width="1" height="1"/><rect class="rb" x="20" y="29" width="1" height="1"/></pattern>
          <pattern id="bld-lg-top-alt" x="0" y="16" width="32" height="32" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="32" height="32"/><rect class="ad" y="7" width="24" height="1"/><rect class="ad" x="2" y="6" width="24" height="1"/><rect class="ad" x="4" y="5" width="24" height="1"/><rect class="ad" x="6" y="4" width="24" height="1"/><rect class="am" x="28" y="5" width="2" height="1"/><rect class="am" x="26" y="6" width="2" height="1"/><rect class="am" x="24" y="7" width="2" height="1"/><rect class="am" x="23" y="8" width="1" height="1"/><rect class="am" x="3" y="8" width="18" height="1"/><rect class="am" x="1" y="9" width="22" height="1"/><rect class="ab" x="1" y="8" width="2" height="1"/><rect class="ab" x="21" y="8" width="2" height="1"/><rect class="ad" y="8" width="1" height="24"/><rect class="ad" x="23" y="9" width="1" height="23"/><rect class="ad" x="25" y="8" width="1" height="24"/><rect class="ad" x="27" y="7" width="1" height="25"/><rect class="ad" x="29" y="6" width="1" height="26"/><rect class="ad" x="24" y="8" width="1" height="1"/><rect class="ad" x="26" y="7" width="1" height="1"/><rect class="ad" x="28" y="6" width="1" height="1"/><rect class="am" x="1" y="10" width="2" height="22"/><rect class="am" x="5" y="10" width="2" height="22"/><rect class="am" x="9" y="10" width="2" height="22"/><rect class="am" x="13" y="10" width="2" height="22"/><rect class="am" x="17" y="10" width="2" height="22"/><rect class="am" x="21" y="10" width="2" height="22"/><rect class="ab" x="4" y="13" width="1" height="1"/><rect class="ab" x="16" y="16" width="1" height="1"/><rect class="ab" x="8" y="13" width="1" height="1"/><rect class="ab" x="12" y="13" width="1" height="1"/><rect class="ab" x="8" y="16" width="1" height="1"/><rect class="ab" x="12" y="16" width="1" height="1"/><rect class="rm" x="27" width="1" height="1"/><rect class="rd" x="29" y="1" width="1" height="1"/><rect class="rd" x="23" y="1" width="1" height="1"/><rect class="rd" x="14" y="1" width="1" height="1"/><rect class="rd" x="6" y="1" width="1" height="1"/><rect class="rm" x="12" width="1" height="1"/><rect class="rd" x="12" y="2" width="1" height="1"/><rect class="rd" x="19" width="1" height="1"/><rect class="rd" x="8" width="1" height="1"/><rect class="rm" x="19" y="2" width="1" height="1"/><rect class="rm" x="25" y="2" width="1" height="1"/><rect class="rm" x="4" y="2" width="1" height="1"/><rect class="rd" x="2" y="2" width="1" height="1"/><rect class="rm" y="4" width="1" height="1"/><rect class="rd" x="2" y="4" width="1" height="1"/><rect class="ab" x="12" y="19" width="1" height="1"/><rect class="ab" x="16" y="19" width="1" height="1"/><rect class="ab" x="20" y="19" width="1" height="1"/><rect class="ab" x="16" y="22" width="1" height="1"/><rect class="ab" x="20" y="22" width="1" height="1"/><rect class="ab" x="20" y="25" width="1" height="1"/><rect class="ab" x="4" y="25" width="1" height="1"/><rect class="ab" x="4" y="28" width="1" height="1"/><rect class="ab" x="8" y="28" width="1" height="1"/><rect class="ab" x="4" y="31" width="1" height="1"/><rect class="ab" x="8" y="31" width="1" height="1"/><rect class="ab" x="12" y="31" width="1" height="1"/></pattern>
          <pattern id="bld-lg-mid-alt" x="0" y="16" width="32" height="32" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="32" height="32"/><rect class="ad" width="1" height="32"/><rect class="ad" x="23" width="1" height="32"/><rect class="ad" x="25" width="1" height="32"/><rect class="ad" x="27" width="1" height="32"/><rect class="ad" x="29" width="1" height="32"/><rect class="am" x="1" width="2" height="32"/><rect class="am" x="5" width="2" height="32"/><rect class="am" x="9" width="2" height="32"/><rect class="am" x="13" width="2" height="32"/><rect class="am" x="17" width="2" height="32"/><rect class="am" x="21" width="2" height="32"/><rect class="ab" x="12" y="2" width="1" height="1"/><rect class="ab" x="8" y="2" width="1" height="1"/><rect class="ab" x="16" y="2" width="1" height="1"/><rect class="ab" x="12" y="5" width="1" height="1"/><rect class="ab" x="16" y="5" width="1" height="1"/><rect class="ab" x="20" y="5" width="1" height="1"/><rect class="ab" x="16" y="8" width="1" height="1"/><rect class="ab" x="20" y="8" width="1" height="1"/><rect class="ab" x="20" y="11" width="1" height="1"/><rect class="ab" x="4" y="11" width="1" height="1"/><rect class="ab" x="4" y="14" width="1" height="1"/><rect class="ab" x="8" y="14" width="1" height="1"/><rect class="ab" x="12" y="17" width="1" height="1"/><rect class="ab" x="8" y="17" width="1" height="1"/><rect class="ab" x="4" y="17" width="1" height="1"/><rect class="ab" x="8" y="20" width="1" height="1"/><rect class="ab" x="12" y="20" width="1" height="1"/><rect class="ab" x="16" y="20" width="1" height="1"/><rect class="ab" x="12" y="23" width="1" height="1"/><rect class="ab" x="16" y="23" width="1" height="1"/><rect class="ab" x="20" y="23" width="1" height="1"/><rect class="ab" x="16" y="26" width="1" height="1"/><rect class="ab" x="20" y="26" width="1" height="1"/><rect class="ab" x="20" y="29" width="1" height="1"/><rect class="ab" x="4" y="29" width="1" height="1"/></pattern>
          <pattern id="bld-sm-top" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="16" height="16"/><rect class="ad" x="1" y="1" width="1" height="1"/><polygon points="2 1 1 1 1 2 2 2 2 1 2 1"/><rect class="rd" x="2" y="1" width="13" height="2"/><rect class="rd" x="1" y="2" width="1" height="14"/><rect x="15" y="1" width="1" height="15"/><rect class="rm" x="2" y="3" width="10" height="2"/><rect class="rd" x="12" y="3" width="3" height="13"/><rect class="rd" x="2" y="5" width="10" height="1"/><rect x="1" y="6" width="11" height="1"/><rect class="rd" x="2" y="7" width="10" height="1"/><rect class="rm" x="2" y="8" width="10" height="1"/><rect class="rd" x="2" y="9" width="10" height="1"/><rect x="1" y="10" width="11" height="1"/><rect class="rd" x="2" y="11" width="10" height="1"/><rect class="rm" x="2" y="12" width="10" height="1"/><rect class="rd" x="2" y="13" width="10" height="1"/><rect x="1" y="14" width="11" height="1"/><rect class="rd" x="2" y="15" width="10" height="1"/><rect class="rd" x="2" y="6" width="1" height="1"/><rect class="rd" x="10" y="6" width="1" height="1"/><rect class="rd" x="6" y="6" width="1" height="1"/><rect x="12" y="5" width="1" height="1"/><rect x="13" y="4" width="1" height="1"/><rect x="14" y="3" width="1" height="1"/><rect x="12" y="9" width="1" height="1"/><rect x="13" y="8" width="1" height="1"/><rect x="14" y="7" width="1" height="1"/><rect x="12" y="13" width="1" height="1"/><rect x="13" y="12" width="1" height="1"/><rect x="14" y="11" width="1" height="1"/><rect x="14" y="15" width="1" height="1"/><rect class="rd" x="2" y="10" width="1" height="1"/><rect class="rd" x="6" y="10" width="1" height="1"/><rect class="rd" x="10" y="10" width="1" height="1"/><rect class="rd" x="10" y="14" width="1" height="1"/><rect class="rd" x="6" y="14" width="1" height="1"/><rect class="rd" x="2" y="14" width="1" height="1"/><rect class="rb" x="12" y="2" width="1" height="1"/><rect class="rb" x="1" y="2" width="1" height="1"/><rect class="rb" x="8" y="6" width="1" height="1"/><rect class="rb" x="4" y="10" width="1" height="1"/><rect class="rb" x="8" y="14" width="1" height="1"/><rect class="rm" x="13" y="5" width="1" height="1"/><rect class="rm" x="13" y="9" width="1" height="1"/><rect class="rm" x="13" y="13" width="1" height="1"/></pattern>
          <pattern id="bld-sm-mid" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="16" height="16"/><rect class="rd" x="1" width="1" height="2"/><rect class="rd" x="2" y="1" width="13" height="1"/><rect class="rm" x="2" width="10" height="1"/><rect class="rd" x="12" width="3" height="1"/><rect x="13" width="1" height="1"/><rect x="12" y="1" width="1" height="1"/><rect x="1" y="2" width="11" height="1"/><rect class="rd" x="2" y="2" width="1" height="1"/><rect class="rd" x="6" y="2" width="1" height="1"/><rect class="rd" x="10" y="2" width="1" height="1"/><rect class="rd" x="12" y="2" width="3" height="1"/><rect class="rm" x="13" y="1" width="1" height="1"/><rect class="rd" x="1" y="3" width="13" height="1"/><rect x="14" y="3" width="1" height="1"/><rect class="rd" x="1" y="4" width="1" height="2"/><rect class="rd" x="2" y="5" width="13" height="1"/><rect class="rm" x="2" y="4" width="10" height="1"/><rect class="rd" x="12" y="4" width="3" height="1"/><rect x="13" y="4" width="1" height="1"/><rect x="12" y="5" width="1" height="1"/><rect class="rm" x="13" y="5" width="1" height="1"/><rect x="1" y="6" width="11" height="1"/><rect class="rd" x="2" y="6" width="1" height="1"/><rect class="rd" x="6" y="6" width="1" height="1"/><rect class="rd" x="10" y="6" width="1" height="1"/><rect class="rd" x="12" y="6" width="3" height="1"/><rect class="rd" x="1" y="7" width="13" height="1"/><rect x="14" y="7" width="1" height="1"/><rect class="rd" x="1" y="8" width="1" height="2"/><rect class="rd" x="2" y="9" width="13" height="1"/><rect class="rm" x="2" y="8" width="10" height="1"/><rect class="rd" x="12" y="8" width="3" height="1"/><rect x="13" y="8" width="1" height="1"/><rect x="12" y="9" width="1" height="1"/><rect x="1" y="10" width="11" height="1"/><rect class="rm" x="13" y="9" width="1" height="1"/><rect class="rd" x="2" y="10" width="1" height="1"/><rect class="rd" x="6" y="10" width="1" height="1"/><rect class="rd" x="10" y="10" width="1" height="1"/><rect class="rd" x="12" y="10" width="3" height="1"/><rect class="rd" x="1" y="11" width="13" height="1"/><rect x="14" y="11" width="1" height="1"/><rect class="rd" x="1" y="12" width="1" height="2"/><rect class="rd" x="2" y="13" width="13" height="1"/><rect class="rm" x="2" y="12" width="10" height="1"/><rect class="rd" x="12" y="12" width="3" height="1"/><rect x="13" y="12" width="1" height="1"/><rect x="12" y="13" width="1" height="1"/><rect class="rm" x="13" y="13" width="1" height="1"/><rect x="1" y="14" width="11" height="1"/><rect class="rd" x="2" y="14" width="1" height="1"/><rect class="rd" x="6" y="14" width="1" height="1"/><rect class="rd" x="10" y="14" width="1" height="1"/><rect class="rd" x="12" y="14" width="3" height="1"/><rect class="rd" x="1" y="15" width="13" height="1"/><rect x="14" y="15" width="1" height="1"/><rect class="rb" x="4" y="2" width="1" height="1"/><rect class="rb" x="8" y="6" width="1" height="1"/><rect class="rb" x="5" y="10" width="1" height="1"/><rect class="rb" x="8" y="14" width="1" height="1"/></pattern>
          <pattern id="bld-sm-top-alt" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="16" height="16"/><rect class="ad" x="1" y="1" width="1" height="1"/><polygon points="2 1 1 1 1 2 2 2 2 1 2 1"/><rect class="ad" x="2" y="1" width="13" height="2"/><rect class="ad" x="1" y="2" width="1" height="14"/><rect x="15" y="1" width="1" height="15"/><rect class="am" x="2" y="3" width="10" height="2"/><rect class="ad" x="12" y="3" width="3" height="13"/><rect class="ad" x="2" y="5" width="10" height="1"/><rect x="1" y="6" width="11" height="1"/><rect class="ad" x="2" y="7" width="10" height="1"/><rect class="am" x="2" y="8" width="10" height="1"/><rect class="ad" x="2" y="9" width="10" height="1"/><rect x="1" y="10" width="11" height="1"/><rect class="ad" x="2" y="11" width="10" height="1"/><rect class="am" x="2" y="12" width="10" height="1"/><rect class="ad" x="2" y="13" width="10" height="1"/><rect x="1" y="14" width="11" height="1"/><rect class="ad" x="2" y="15" width="10" height="1"/><rect class="ad" x="2" y="6" width="1" height="1"/><rect class="ad" x="10" y="6" width="1" height="1"/><rect class="ad" x="6" y="6" width="1" height="1"/><rect x="12" y="5" width="1" height="1"/><rect x="13" y="4" width="1" height="1"/><rect x="14" y="3" width="1" height="1"/><rect x="12" y="9" width="1" height="1"/><rect x="13" y="8" width="1" height="1"/><rect x="14" y="7" width="1" height="1"/><rect x="12" y="13" width="1" height="1"/><rect x="13" y="12" width="1" height="1"/><rect x="14" y="11" width="1" height="1"/><rect x="14" y="15" width="1" height="1"/><rect class="ad" x="2" y="10" width="1" height="1"/><rect class="ad" x="6" y="10" width="1" height="1"/><rect class="ad" x="10" y="10" width="1" height="1"/><rect class="ad" x="10" y="14" width="1" height="1"/><rect class="ad" x="6" y="14" width="1" height="1"/><rect class="ad" x="2" y="14" width="1" height="1"/><rect class="ab" x="12" y="2" width="1" height="1"/><rect class="ab" x="1" y="2" width="1" height="1"/><rect class="ab" x="4" y="6" width="1" height="1"/><rect class="ab" x="8" y="10" width="1" height="1"/><rect class="ab" x="4" y="14" width="1" height="1"/><rect class="am" x="13" y="5" width="1" height="1"/><rect class="am" x="13" y="9" width="1" height="1"/><rect class="am" x="13" y="13" width="1" height="1"/></pattern>
          <pattern id="bld-sm-mid-alt" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="16" height="16"/><rect class="ad" x="1" width="1" height="2"/><rect class="ad" x="2" y="1" width="13" height="1"/><rect class="am" x="2" width="10" height="1"/><rect class="ad" x="12" width="3" height="1"/><rect x="13" width="1" height="1"/><rect x="12" y="1" width="1" height="1"/><rect x="1" y="2" width="11" height="1"/><rect class="ad" x="2" y="2" width="1" height="1"/><rect class="ad" x="6" y="2" width="1" height="1"/><rect class="ad" x="10" y="2" width="1" height="1"/><rect class="ad" x="12" y="2" width="3" height="1"/><rect class="am" x="13" y="1" width="1" height="1"/><rect class="ad" x="1" y="3" width="13" height="1"/><rect x="14" y="3" width="1" height="1"/><rect class="ad" x="1" y="4" width="1" height="2"/><rect class="ad" x="2" y="5" width="13" height="1"/><rect class="am" x="2" y="4" width="10" height="1"/><rect class="ad" x="12" y="4" width="3" height="1"/><rect x="13" y="4" width="1" height="1"/><rect x="12" y="5" width="1" height="1"/><rect class="am" x="13" y="5" width="1" height="1"/><rect x="1" y="6" width="11" height="1"/><rect class="ad" x="2" y="6" width="1" height="1"/><rect class="ad" x="6" y="6" width="1" height="1"/><rect class="ad" x="10" y="6" width="1" height="1"/><rect class="ad" x="12" y="6" width="3" height="1"/><rect class="ad" x="1" y="7" width="13" height="1"/><rect x="14" y="7" width="1" height="1"/><rect class="ad" x="1" y="8" width="1" height="2"/><rect class="ad" x="2" y="9" width="13" height="1"/><rect class="am" x="2" y="8" width="10" height="1"/><rect class="ad" x="12" y="8" width="3" height="1"/><rect x="13" y="8" width="1" height="1"/><rect x="12" y="9" width="1" height="1"/><rect x="1" y="10" width="11" height="1"/><rect class="am" x="13" y="9" width="1" height="1"/><rect class="ad" x="2" y="10" width="1" height="1"/><rect class="ad" x="6" y="10" width="1" height="1"/><rect class="ad" x="10" y="10" width="1" height="1"/><rect class="ad" x="12" y="10" width="3" height="1"/><rect class="ad" x="1" y="11" width="13" height="1"/><rect x="14" y="11" width="1" height="1"/><rect class="ad" x="1" y="12" width="1" height="2"/><rect class="ad" x="2" y="13" width="13" height="1"/><rect class="am" x="2" y="12" width="10" height="1"/><rect class="ad" x="12" y="12" width="3" height="1"/><rect x="13" y="12" width="1" height="1"/><rect x="12" y="13" width="1" height="1"/><rect class="am" x="13" y="13" width="1" height="1"/><rect x="1" y="14" width="11" height="1"/><rect class="ad" x="2" y="14" width="1" height="1"/><rect class="ad" x="6" y="14" width="1" height="1"/><rect class="ad" x="10" y="14" width="1" height="1"/><rect class="ad" x="12" y="14" width="3" height="1"/><rect class="ad" x="1" y="15" width="13" height="1"/><rect x="14" y="15" width="1" height="1"/><rect class="ab" x="8" y="2" width="1" height="1"/><rect class="ab" x="4" y="6" width="1" height="1"/><rect class="ab" x="8" y="10" width="1" height="1"/><rect class="ab" x="4" y="14" width="1" height="1"/></pattern>
          <pattern id="bld-far-3-top" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect x="0" y="0" width="16" height="16"/><rect class="rd" x="1" y="2" width="8" height="1"/><rect x="9" y="2" width="7" height="14"/><rect class="rd" y="3" width="9" height="13"/><rect class="rm" x="1" y="4" width="5" height="12"/><rect x="1" y="5" width="6" height="1"/><rect x="1" y="7" width="6" height="1"/><rect x="1" y="9" width="6" height="1"/><rect x="1" y="11" width="6" height="1"/><rect x="1" y="13" width="6" height="1"/><rect x="1" y="15" width="6" height="1"/><rect class="rm" x="11" y="6" width="2" height="9"/><rect class="rd" x="12" y="6" width="2" height="9"/><rect class="rm" x="8" y="6" width="3" height="2"/><rect x="12" y="13" width="1" height="1"/><rect x="12" y="11" width="1" height="1"/><rect x="12" y="9" width="1" height="1"/><rect x="12" y="7" width="1" height="1"/><rect class="rb" x="4" y="6" width="1" height="1"/><rect class="rb" x="3" y="8" width="1" height="1"/><rect class="rb" x="2" y="10" width="1" height="1"/><rect class="rb" x="4" y="14" width="1" height="1"/></pattern>
          <pattern id="bld-far-3-mid" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect x="9" width="7" height="16"/><rect class="rd" width="9" height="16"/><rect class="rm" x="1" width="5" height="16"/><rect x="1" y="1" width="6" height="1"/><rect x="1" y="3" width="6" height="1"/><rect x="1" y="5" width="6" height="1"/><rect x="1" y="7" width="6" height="1"/><rect x="1" y="9" width="6" height="1"/><rect x="1" y="11" width="6" height="1"/><rect class="rm" x="8" width="5" height="15"/><rect class="rd" x="12" width="2" height="15"/><rect x="9" y="7" width="4" height="1"/><rect x="9" y="5" width="4" height="1"/><rect x="9" y="3" width="4" height="1"/><rect x="9" y="1" width="4" height="1"/><rect class="rb" x="3" width="1" height="1"/><rect class="rb" x="2" y="2" width="1" height="1"/><rect class="rb" x="4" y="6" width="1" height="1"/><rect class="rb" x="3" y="8" width="1" height="1"/><rect class="rb" x="2" y="10" width="1" height="1"/><rect x="1" y="13" width="6" height="1"/><rect x="1" y="15" width="6" height="1"/><rect class="rb" x="4" y="14" width="1" height="1"/><rect x="9" y="9" width="4" height="1"/><rect x="9" y="11" width="4" height="1"/><rect x="9" y="13" width="4" height="1"/></pattern>
          <pattern id="bld-far-3-top-alt" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="1" height="3"/><rect x="1" width="15" height="2"/><rect class="ad" x="1" y="2" width="8" height="1"/><rect x="9" y="2" width="7" height="14"/><rect class="ad" y="3" width="9" height="13"/><rect class="am" x="1" y="4" width="5" height="12"/><rect x="1" y="5" width="6" height="1"/><rect x="1" y="7" width="6" height="1"/><rect x="1" y="9" width="6" height="1"/><rect x="1" y="11" width="6" height="1"/><rect x="1" y="13" width="6" height="1"/><rect x="1" y="15" width="6" height="1"/><rect class="am" x="11" y="6" width="2" height="9"/><rect class="ad" x="12" y="6" width="2" height="9"/><rect class="am" x="8" y="6" width="3" height="2"/><rect x="12" y="13" width="1" height="1"/><rect x="12" y="11" width="1" height="1"/><rect x="12" y="9" width="1" height="1"/><rect x="12" y="7" width="1" height="1"/><rect class="ab" x="2" y="6" width="1" height="1"/><rect class="ab" x="3" y="8" width="1" height="1"/><rect class="ab" x="4" y="10" width="1" height="1"/><rect class="ab" x="2" y="14" width="1" height="1"/></pattern>
          <pattern id="bld-far-3-mid-alt" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect x="9" width="7" height="16"/><rect class="ad" width="9" height="16"/><rect class="am" x="1" width="5" height="16"/><rect x="1" y="1" width="6" height="1"/><rect x="1" y="3" width="6" height="1"/><rect x="1" y="5" width="6" height="1"/><rect x="1" y="7" width="6" height="1"/><rect x="1" y="9" width="6" height="1"/><rect x="1" y="11" width="6" height="1"/><rect class="am" x="8" width="5" height="15"/><rect class="ad" x="12" width="2" height="15"/><rect x="9" y="7" width="4" height="1"/><rect x="9" y="5" width="4" height="1"/><rect x="9" y="3" width="4" height="1"/><rect x="9" y="1" width="4" height="1"/><rect class="ab" x="3" width="1" height="1"/><rect class="ab" x="4" y="2" width="1" height="1"/><rect class="ab" x="2" y="6" width="1" height="1"/><rect class="ab" x="3" y="8" width="1" height="1"/><rect class="ab" x="4" y="10" width="1" height="1"/><rect x="1" y="13" width="6" height="1"/><rect x="1" y="15" width="6" height="1"/><rect class="ab" x="2" y="14" width="1" height="1"/><rect x="9" y="9" width="4" height="1"/><rect x="9" y="11" width="4" height="1"/><rect x="9" y="13" width="4" height="1"/></pattern>
          <pattern id="bld-far-4-top" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="1" height="2"/><rect x="1" width="1" height="1"/><rect class="rd" x="1" y="1" width="13" height="1"/><rect class="rd" y="2" width="14" height="14"/><rect class="rm" x="1" y="2" width="11" height="14"/><rect x="1" y="5" width="1" height="11"/><rect class="rd" x="2" width="12" height="1"/><rect x="14" width="2" height="16"/><rect class="rd" x="1" y="4" width="11" height="1"/><rect class="rb" x="1" y="2" width="1" height="1"/><rect class="rb" x="11" y="2" width="1" height="1"/><rect class="rb" x="4" y="2" width="1" height="1"/><rect class="rb" x="8" y="2" width="1" height="1"/><rect x="3" y="5" width="1" height="11"/><rect x="5" y="5" width="1" height="11"/><rect x="7" y="5" width="1" height="11"/><rect x="9" y="5" width="1" height="11"/><rect x="11" y="5" width="1" height="11"/><rect class="rb" x="10" y="6" width="1" height="1"/><rect class="rb" x="8" y="8" width="1" height="1"/><rect class="rb" x="6" y="10" width="1" height="1"/><rect class="rb" x="4" y="12" width="1" height="1"/><rect class="rb" x="2" y="14" width="1" height="1"/><rect class="rb" x="4" y="6" width="1" height="1"/><rect class="rb" x="2" y="8" width="1" height="1"/><rect class="rb" x="10" y="12" width="1" height="1"/><rect class="rb" x="8" y="14" width="1" height="1"/></pattern>
          <pattern id="bld-far-4-mid" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect class="rd" width="14" height="16"/><rect class="rm" x="1" width="11" height="16"/><rect x="1" y="3" width="1" height="13"/><rect x="14" width="2" height="16"/><rect class="rd" x="1" y="2" width="11" height="1"/><rect x="3" y="3" width="1" height="13"/><rect x="5" y="3" width="1" height="13"/><rect x="7" y="3" width="1" height="13"/><rect x="9" y="3" width="1" height="13"/><rect x="11" y="3" width="1" height="13"/><rect class="rb" x="10" y="4" width="1" height="1"/><rect class="rb" x="2" y="6" width="1" height="1"/><rect class="rb" x="6" y="8" width="1" height="1"/><rect class="rb" x="4" y="10" width="1" height="1"/><rect class="rb" x="2" y="12" width="1" height="1"/><rect class="rb" x="4" y="4" width="1" height="1"/><rect class="rb" x="8" y="6" width="1" height="1"/><rect class="rb" x="10" y="10" width="1" height="1"/><rect class="rb" x="8" y="12" width="1" height="1"/><rect class="rb" x="6" y="14" width="1" height="1"/></pattern>
          <pattern id="bld-far-4-top-alt" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="1" height="2"/><rect x="1" width="1" height="1"/><rect class="ad" x="1" y="1" width="13" height="1"/><rect class="ad" y="2" width="14" height="14"/><rect class="am" x="1" y="2" width="11" height="14"/><rect x="1" y="5" width="1" height="11"/><rect class="ad" x="2" width="12" height="1"/><rect x="14" width="2" height="16"/><rect class="ad" x="1" y="4" width="11" height="1"/><rect class="ab" x="1" y="2" width="1" height="1"/><rect class="ab" x="11" y="2" width="1" height="1"/><rect class="ab" x="4" y="2" width="1" height="1"/><rect class="ab" x="8" y="2" width="1" height="1"/><rect x="3" y="5" width="1" height="11"/><rect x="5" y="5" width="1" height="11"/><rect x="7" y="5" width="1" height="11"/><rect x="9" y="5" width="1" height="11"/><rect x="11" y="5" width="1" height="11"/><rect class="ab" x="2" y="6" width="1" height="1"/><rect class="ab" x="4" y="8" width="1" height="1"/><rect class="ab" x="6" y="10" width="1" height="1"/><rect class="ab" x="8" y="12" width="1" height="1"/><rect class="ab" x="10" y="14" width="1" height="1"/><rect class="ab" x="8" y="6" width="1" height="1"/><rect class="ab" x="10" y="8" width="1" height="1"/><rect class="ab" x="2" y="12" width="1" height="1"/><rect class="ab" x="4" y="14" width="1" height="1"/></pattern>
          <pattern id="bld-far-4-mid-alt" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect class="ad" width="14" height="16"/><rect class="am" x="1" width="11" height="16"/><rect x="1" y="3" width="1" height="13"/><rect x="14" width="2" height="16"/><rect class="ad" x="1" y="2" width="11" height="1"/><rect x="3" y="3" width="1" height="13"/><rect x="5" y="3" width="1" height="13"/><rect x="7" y="3" width="1" height="13"/><rect x="9" y="3" width="1" height="13"/><rect x="11" y="3" width="1" height="13"/><rect class="ab" x="2" y="4" width="1" height="1"/><rect class="ab" x="4" y="6" width="1" height="1"/><rect class="ab" x="6" y="8" width="1" height="1"/><rect class="ab" x="8" y="10" width="1" height="1"/><rect class="ab" x="10" y="12" width="1" height="1"/><rect class="ab" x="8" y="4" width="1" height="1"/><rect class="ab" x="10" y="6" width="1" height="1"/><rect class="ab" x="2" y="10" width="1" height="1"/><rect class="ab" x="4" y="12" width="1" height="1"/><rect class="ab" x="6" y="14" width="1" height="1"/></pattern>
          <pattern id="bld-vfar-5" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/><rect class="ad" x="1" y="16" width="7" height="1"/><rect class="am" x="2" y="9" width="2" height="1"/><rect class="ab" x="3" y="2" width="1" height="1"/><rect class="ad" x="1" y="8" width="1" height="8"/><rect class="ad" x="2" y="8" width="4" height="1"/><rect class="ad" x="5" y="9" width="1" height="1"/><rect class="ad" x="2" y="10" width="5" height="1"/><rect class="ad" x="6" y="11" width="1" height="1"/><rect class="ad" x="2" y="12" width="6" height="1"/><rect class="ad" x="7" y="13" width="1" height="3"/><rect class="ad" x="2" y="14" width="5" height="1"/><rect class="ad" x="3" y="4" width="1" height="3"/><rect class="am" x="3" y="11" width="2" height="1"/><rect class="am" x="4" y="13" width="2" height="1"/><rect class="am" x="5" y="15" width="2" height="1"/><rect class="ad" x="9" y="16" width="3" height="1"/><rect class="ad" x="9" y="14" width="3" height="1"/><rect class="ad" x="9" y="12" width="3" height="1"/><rect class="ab" x="10" y="13" width="1" height="1"/><rect class="ab" x="10" y="15" width="1" height="1"/><rect class="ab" x="10" y="11" width="1" height="1"/><rect class="ab" x="10" y="9" width="1" height="1"/><rect class="ad" x="9" y="10" width="3" height="1"/><rect class="ad" x="13" y="15" width="3" height="1"/><rect class="ad" x="15" y="1" width="1" height="14"/><rect class="ad" x="9" y="1" width="6" height="1"/><rect class="ad" x="9" y="2" width="1" height="6"/><rect class="ad" x="12" y="2" width="1" height="1"/><rect class="ad" x="10" y="3" width="5" height="1"/><rect class="ad" x="10" y="5" width="5" height="1"/><rect class="ad" x="10" y="7" width="5" height="1"/><rect class="ad" x="13" y="9" width="2" height="1"/><rect class="ad" x="13" y="11" width="2" height="1"/><rect class="ad" x="13" y="13" width="2" height="1"/><rect class="am" x="11" y="2" width="1" height="1"/><rect class="am" x="12" y="4" width="1" height="1"/><rect class="am" x="13" y="6" width="1" height="1"/><rect class="am" x="14" y="8" width="1" height="1"/><rect class="ad" x="13" y="4" width="1" height="1"/><rect class="ad" x="14" y="6" width="1" height="1"/></pattern>
          <pattern id="bld-vfar-6" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/><rect class="rm" x="6" width="1" height="1"/><rect class="rd" width="1" height="1"/><rect class="rd" x="2" y="1" width="1" height="1"/><rect class="rm" x="10" width="1" height="1"/><rect class="rd" x="15" width="1" height="1"/><rect class="rd" x="2" y="4" width="1" height="12"/><rect class="rd" x="7" y="4" width="1" height="4"/><rect class="rd" x="7" y="9" width="1" height="7"/><rect class="rd" x="8" y="9" width="2" height="1"/><rect class="rd" x="10" y="9" width="1" height="7"/><rect class="rd" x="8" y="15" width="2" height="1"/><rect class="rd" x="8" y="13" width="2" height="1"/><rect class="rd" x="8" y="11" width="2" height="1"/><rect class="rm" x="9" y="10" width="1" height="1"/><rect class="rm" x="9" y="12" width="1" height="1"/><rect class="rm" x="9" y="14" width="1" height="1"/><rect class="rd" x="12" y="14" width="3" height="1"/><rect class="rd" x="14" y="4" width="1" height="10"/><rect class="rd" x="10" y="4" width="4" height="1"/><rect class="rd" x="10" y="5" width="1" height="3"/><rect class="rd" x="11" y="8" width="3" height="1"/><rect class="rd" x="11" y="6" width="3" height="1"/><rect class="rd" x="12" y="1" width="1" height="1"/><rect class="rd" x="12" y="10" width="2" height="1"/><rect class="rd" x="12" y="12" width="2" height="1"/><rect class="rm" x="12" y="13" width="2" height="1"/><rect class="rm" x="12" y="11" width="2" height="1"/><rect class="rm" x="12" y="9" width="2" height="1"/><rect class="rm" x="11" y="7" width="3" height="1"/><rect class="rm" x="11" y="5" width="3" height="1"/><rect class="rb" x="10" y="3" width="1" height="1"/><rect class="rb" x="14" y="3" width="1" height="1"/><rect class="rm" x="3" y="5" width="4" height="1"/><rect class="rm" x="3" y="7" width="4" height="1"/><rect class="rm" x="3" y="9" width="3" height="1"/><rect class="rm" x="3" y="11" width="3" height="1"/><rect class="rm" x="3" y="13" width="3" height="1"/><rect class="rm" x="3" y="15" width="3" height="1"/><rect class="rb" x="6" y="5" width="1" height="1"/><rect class="rb" x="5" y="7" width="1" height="1"/><rect class="rb" x="4" y="9" width="1" height="1"/><rect class="rb" x="3" y="11" width="1" height="1"/><rect class="rb" x="5" y="15" width="1" height="1"/><rect class="rb" x="7" y="3" width="1" height="1"/><rect class="rb" x="2" y="3" width="1" height="1"/></pattern>
          <pattern id="bld-vfar-7" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/><rect class="rm" x="14" y="6" width="1" height="1"/><rect class="rd" x="14" y="8" width="1" height="6"/><rect class="rd" x="11" y="2" width="2" height="12"/><rect class="rm" x="11" width="2" height="1"/><rect class="rm" x="12" y="3" width="1" height="1"/><rect class="rm" x="12" y="5" width="1" height="1"/><rect class="rm" x="12" y="7" width="1" height="1"/><rect class="rm" x="12" y="9" width="1" height="1"/><rect class="rm" x="12" y="11" width="1" height="1"/><rect class="rd" x="8" y="4" width="1" height="11"/><rect class="rm" x="8" y="2" width="1" height="1"/><rect class="rm" x="8" y="9" width="1" height="6"/><rect class="rd" x="13" y="8" width="1" height="1"/><rect class="rd" x="8" y="15" width="1" height="1"/><rect x="7" y="5" width="2" height="1"/><rect class="rd" x="12" y="14" width="1" height="1"/><rect class="rd" x="4" y="7" width="2" height="7"/><rect class="rd" x="5" y="14" width="1" height="1"/><rect class="rm" x="4" y="5" width="2" height="1"/><rect class="rd" x="1" y="5" width="2" height="9"/><rect class="rm" x="1" y="3" width="2" height="1"/><rect class="rd" x="2" y="14" width="1" height="1"/><rect class="rd" x="3" y="7" width="1" height="1"/><rect class="rm" x="2" y="8" width="1" height="1"/><rect class="rm" x="2" y="11" width="1" height="1"/><rect class="rm" x="8" y="7" width="1" height="1"/><rect class="rd" x="8" y="13" width="1" height="1"/><rect class="rm" x="5" y="8" width="1" height="1"/><rect class="rm" x="5" y="11" width="1" height="1"/></pattern>
          <pattern id="street-1" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/><rect class="rb" x="2" width="1" height="1"/><rect class="rd" y="2" width="1" height="1"/><rect class="rm" width="1" height="1"/><rect class="rd" x="2" y="1" width="1" height="1"/><rect class="rm" x="5" width="1" height="1"/><rect class="rm" x="4" y="2" width="1" height="1"/><rect class="rb" x="7" y="1" width="1" height="1"/><rect class="rd" x="8" y="2" width="1" height="1"/><rect class="rb" x="10" y="2" width="1" height="1"/><rect class="rm" x="10" width="1" height="1"/><rect class="rb" x="14" width="1" height="1"/><rect class="rd" x="12" y="1" width="1" height="1"/><rect class="rm" x="15" y="2" width="1" height="1"/><rect class="rm" x="2" y="5" width="1" height="1"/><rect class="rm" x="4" y="10" width="1" height="1"/><rect class="rm" x="6" y="8" width="1" height="1"/><rect class="rm" x="11" y="9" width="1" height="1"/><rect class="rm" x="13" y="7" width="1" height="1"/><rect class="rd" x="5" y="5" width="1" height="1"/><rect class="rd" x="8" y="5" width="1" height="1"/><rect class="rd" x="10" y="4" width="1" height="1"/><rect class="rd" x="9" y="7" width="1" height="1"/><rect class="rd" x="6" y="11" width="1" height="1"/><rect class="rd" x="2" y="12" width="1" height="1"/><rect class="rd" x="1" y="14" width="1" height="1"/><rect class="rd" x="4" y="15" width="1" height="1"/><rect class="rd" x="6" y="14" width="1" height="1"/><rect class="rd" x="9" y="13" width="1" height="1"/><rect class="rd" x="14" y="13" width="1" height="1"/><rect class="rd" x="11" y="15" width="1" height="1"/></pattern>
          <pattern id="street-2" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/><rect class="rb" y="1" width="1" height="1"/><rect class="rd" y="3" width="1" height="1"/><rect class="rm" x="2" width="1" height="1"/><rect class="rd" width="1" height="1"/><rect class="rm" x="5" width="1" height="1"/><rect class="rm" x="5" y="2" width="1" height="1"/><rect class="rb" x="8" width="1" height="1"/><rect class="rd" x="2" y="2" width="1" height="1"/><rect class="rb" x="13" y="3" width="1" height="1"/><rect class="rm" x="10" width="1" height="1"/><rect class="rd" x="12" y="1" width="1" height="1"/><rect class="rm" x="15" y="2" width="1" height="1"/><rect class="rm" x="5" y="12" width="1" height="1"/><rect class="rm" x="10" y="7" width="1" height="1"/><rect class="rm" x="11" y="9" width="1" height="1"/><rect class="rm" x="14" width="1" height="1"/><rect class="rd" x="7" y="3" width="1" height="1"/><rect class="rd" x="9" y="2" width="1" height="1"/><rect class="rd" x="10" y="4" width="1" height="1"/><rect class="rd" x="8" y="8" width="1" height="1"/><rect class="rd" x="7" y="10" width="1" height="1"/><rect class="rd" x="10" y="11" width="1" height="1"/><rect class="rd" y="15" width="1" height="1"/><rect class="rd" x="3" y="14" width="1" height="1"/><rect class="rd" x="6" y="14" width="1" height="1"/><rect class="rd" x="8" y="13" width="1" height="1"/><rect class="rd" x="14" y="14" width="1" height="1"/><rect class="rd" x="10" y="14" width="1" height="1"/><rect class="rm" x="3" y="3" width="1" height="1"/><rect class="rd" x="12" y="15" width="1" height="1"/><rect class="rm" x="12" y="5" width="1" height="1"/></pattern>
          <pattern id="street-3" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/><rect class="rb" x="2" y="1" width="1" height="1"/><rect class="rb" x="7" width="1" height="1"/><rect class="rb" x="15" y="1" width="1" height="1"/><rect class="rm" x="5" width="1" height="1"/><rect class="rm" width="1" height="1"/><rect class="rm" x="4" y="4" width="1" height="1"/><rect class="rd" x="3" width="1" height="1"/><rect class="rd" y="2" width="1" height="1"/><rect class="rd" x="9" y="1" width="1" height="1"/><rect class="rd" x="13" width="1" height="1"/><rect class="rd" x="10" y="4" width="1" height="1"/><rect class="rm" x="6" y="2" width="1" height="1"/><rect class="rm" x="12" y="2" width="1" height="1"/></pattern>
          <pattern id="street-4" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/><rect class="rm" y="1" width="1" height="1"/><rect class="rd" x="2" y="2" width="1" height="1"/><rect class="rd" x="9" y="1" width="1" height="1"/><rect class="rd" x="14" width="1" height="1"/><rect class="rd" x="13" y="3" width="1" height="1"/><rect class="rm" x="5" y="1" width="1" height="1"/><rect class="rm" x="11" y="2" width="1" height="1"/><rect class="rd" x="7" y="2" width="1" height="1"/></pattern>
          <pattern id="street-5" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/><rect class="rd" x="2" y="15" width="1" height="1"/><rect class="rd" x="8" y="11" width="1" height="1"/><rect class="rd" x="2" y="11" width="1" height="1"/><rect class="rd" x="13" y="11" width="1" height="1"/><rect class="rm" x="1" y="13" width="1" height="1"/><rect class="rm" x="4" y="12" width="1" height="1"/><rect class="rm" x="8" y="14" width="1" height="1"/><rect class="rm" x="11" y="12" width="1" height="1"/><rect class="rm" x="14" y="13" width="1" height="1"/><rect class="rd" x="6" y="13" width="1" height="1"/><rect class="rd" x="12" y="14" width="1" height="1"/><rect class="rd" x="5" y="9" width="1" height="1"/><rect class="rd" x="1" y="8" width="1" height="1"/><rect class="rd" x="14" y="8" width="1" height="1"/></pattern>
          <pattern id="black" x="0" y="0" width="16" height="16" patternUnits="userSpaceOnUse"><rect width="16" height="16"/></pattern>
     </defs>

     <!-- sprite refs -->
     <rect fill="url(#bld-lg-top-alt)" width="32" height="32" x="0" y="176" />
     <rect fill="url(#bld-lg-mid-alt)" width="32" height="32" x="0" y="208" />
     <rect fill="url(#bld-sm-top-alt)" width="16" height="16" x="0" y="208" />
     <rect fill="url(#bld-sm-mid-alt)" width="16" height="16" x="0" y="224" />
     <rect fill="url(#bld-sm-top)" width="16" height="16" x="16" y="208" />
     <rect fill="url(#bld-sm-mid)" width="16" height="16" x="16" y="224" />
     <rect fill="url(#bld-lg-top)" width="32" height="32" x="32" y="192" />
     <rect fill="url(#bld-lg-mid)" width="32" height="32" x="32" y="224" />
     <rect fill="url(#bld-lg-top)" width="32" height="32" x="96" y="192" />
     <rect fill="url(#bld-lg-mid)" width="32" height="32" x="96" y="224" />
     <rect fill="url(#bld-lg-top-alt)" width="32" height="32" x="128" y="176" />
     <rect fill="url(#bld-lg-mid-alt)" width="32" height="32" x="128" y="208" />
     <rect fill="url(#bld-sm-top)" width="16" height="16" x="112" y="224" />
     <rect fill="url(#bld-sm-top-alt)" width="16" height="16" x="144" y="208" />
     <rect fill="url(#bld-sm-mid-alt)" width="16" height="16" x="144" y="224" />
     <rect fill="url(#bld-far-3-top)" width="16" height="16" x="0" y="128" />
     <rect fill="url(#bld-far-3-mid)" width="16" height="16" x="0" y="144" />
     <rect fill="url(#bld-far-3-mid)" width="16" height="16" x="0" y="160" />
     <rect fill="url(#bld-far-4-top-alt)" width="16" height="16" x="16" y="128" />
     <rect fill="url(#bld-far-4-mid-alt)" width="16" height="16" x="16" y="144" />
     <rect fill="url(#bld-far-4-mid-alt)" width="16" height="16" x="16" y="160" />
     <rect fill="url(#bld-far-3-top-alt)" width="16" height="16" x="32" y="128" />
     <rect fill="url(#bld-far-3-mid-alt)" width="16" height="16" x="32" y="144" />
     <rect fill="url(#bld-far-3-top)" width="16" height="16" x="48" y="144" />
     <rect fill="url(#bld-far-3-top-alt)" width="16" height="16" x="80" y="160" />
     <rect fill="url(#bld-far-3-top)" width="16" height="16" x="96" y="144" />
     <rect fill="url(#bld-far-3-mid)" width="16" height="16" x="96" y="160" />
     <rect fill="url(#bld-far-4-top-alt)" width="16" height="16" x="112" y="128" />
     <rect fill="url(#bld-far-4-mid-alt)" width="16" height="16" x="112" y="144" />
     <rect fill="url(#bld-far-4-mid-alt)" width="16" height="16" x="112" y="160" />
     <rect fill="url(#bld-far-3-top)" width="16" height="16" x="128" y="144" />
     <rect fill="url(#bld-far-4-top)" width="16" height="16" x="144" y="112" />
     <rect fill="url(#bld-far-4-mid)" width="16" height="16" x="144" y="128" />
     <rect fill="url(#bld-far-4-mid)" width="16" height="16" x="144" y="144" />
     <rect fill="url(#bld-vfar-5)" width="16" height="16" x="64" y="128" />
     <rect fill="url(#bld-vfar-6)" width="16" height="16" x="80" y="128" />
     <rect fill="url(#bld-vfar-6)" width="16" height="16" x="0" y="96" />
     <rect fill="url(#bld-vfar-5)" width="16" height="16" x="48" y="96" />
     <rect fill="url(#bld-vfar-6)" width="16" height="16" x="64" y="96" />
     <rect fill="url(#bld-vfar-7)" width="16" height="16" x="80" y="96" />
     <rect fill="url(#bld-vfar-5)" width="16" height="16" x="96" y="96" />
     <rect fill="url(#bld-vfar-6)" width="16" height="16" x="112" y="96" />
     <rect fill="url(#bld-vfar-5)" width="16" height="16" x="0" y="80" />
     <rect fill="url(#bld-vfar-6)" width="16" height="16" x="16" y="80" />
     <rect fill="url(#bld-vfar-7)" width="16" height="16" x="32" y="80" />
     <rect fill="url(#bld-vfar-5)" width="16" height="16" x="112" y="80" />
     <rect fill="url(#bld-vfar-6)" width="16" height="16" x="128" y="80" />
     <rect fill="url(#bld-vfar-7)" width="16" height="16" x="144" y="80" />
     <rect fill="url(#street-1)" width="16" height="16" x="128" y="160" />
     <rect fill="url(#street-2)" width="16" height="16" x="144" y="160" />
     <rect fill="url(#street-2)" width="16" height="16" x="112" y="176" />
     <rect fill="url(#street-1)" width="16" height="16" x="96" y="176" />
     <rect fill="url(#street-3)" width="16" height="16" x="80" y="176" />
     <rect fill="url(#street-4)" width="16" height="16" x="64" y="176" />
     <rect fill="url(#black)" width="16" height="16" x="48" y="176" />
     <rect fill="url(#street-4)" width="16" height="16" x="32" y="176" />
     <rect fill="url(#black)" width="16" height="16" x="64" y="192" />
     <rect fill="url(#street-4)" width="16" height="16" x="80" y="192" />
     <rect fill="url(#street-3)" width="16" height="16" x="80" y="208" />
     <rect fill="url(#street-4)" width="16" height="16" x="64" y="208" />
     <rect fill="url(#street-2)" width="16" height="16" x="32" y="160" />
     <rect fill="url(#street-4)" width="16" height="16" x="48" y="160" />
     <rect fill="url(#black)" width="16" height="16" x="64" y="160" />
     <rect fill="url(#street-5)" width="16" height="16" x="64" y="224" />
     <rect fill="url(#street-5)" width="16" height="16" x="80" y="224" />
     <rect fill="url(#street-3)" width="16" height="16" x="64" y="144" />
     <rect fill="url(#street-3)" width="16" height="16" x="80" y="144" />
     <rect fill="url(#street-5)" width="16" height="16" x="48" y="128" />
     <rect fill="url(#street-5)" width="16" height="16" x="96" y="128" />
     <rect fill="url(#street-5)" width="16" height="16" x="128" y="128" />
     <rect fill="url(#street-2)" width="16" height="16" x="0" y="112" />
     <rect fill="url(#black)" width="16" height="16" x="16" y="112" />
     <rect fill="url(#street-4)" width="16" height="16" x="32" y="112" />
     <rect fill="url(#street-3)" width="16" height="16" x="48" y="112" />
     <rect fill="url(#street-3)" width="16" height="16" x="64" y="112" />
     <rect fill="url(#street-2)" width="16" height="16" x="80" y="112" />
     <rect fill="url(#street-3)" width="16" height="16" x="96" y="112" />
     <rect fill="url(#street-2)" width="16" height="16" x="112" y="112" />
     <rect fill="url(#black)" width="16" height="16" x="128" y="112" />
     <rect fill="url(#street-1)" width="16" height="16" x="16" y="96" />
     <rect fill="url(#street-3)" width="16" height="16" x="32" y="96" />
     <rect fill="url(#street-1)" width="16" height="16" x="128" y="96" />
     <rect fill="url(#street-1)" width="16" height="16" x="144" y="96" />
     <rect fill="url(#black)" width="16" height="16" x="48" y="80" />
     <rect fill="url(#street-4)" width="16" height="16" x="64" y="80" />
     <rect fill="url(#street-3)" width="16" height="16" x="80" y="80" />
     <rect fill="url(#street-2)" width="16" height="16" x="96" y="80" />
     <rect fill="url(#street-1)" width="16" height="16" x="0" y="64" />
     <rect fill="url(#street-2)" width="16" height="16" x="16" y="64" />
     <rect fill="url(#street-1)" width="16" height="16" x="32" y="64" />
     <rect fill="url(#street-3)" width="16" height="16" x="48" y="64" />
     <rect fill="url(#street-4)" width="16" height="16" x="64" y="64" />
     <rect fill="url(#street-4)" width="16" height="16" x="80" y="64" />
     <rect fill="url(#street-3)" width="16" height="16" x="96" y="64" />
     <rect fill="url(#street-1)" width="16" height="16" x="112" y="64" />
     <rect fill="url(#street-2)" width="16" height="16" x="128" y="64" />
     <rect fill="url(#street-2)" width="16" height="16" x="144" y="64" />
     <rect fill="url(#skybox)" width="160" height="64" />
</svg>

<!-- tower -->
<svg class="tower" viewBox="0 0 112 720" xmlns="http://www.w3.org/2000/svg">

     <!-- sprites -->
     <defs>
          <pattern id="windows" x="0" y="0" width="112" height="48" patternUnits="userSpaceOnUse"><rect class="g2" x="16" width="96" height="48"/><rect class="g1" x="16" width="1" height="16"/><rect class="g3" x="17" width="3" height="1"/><rect class="g1" x="20" y="1" width="1" height="2"/><rect class="g1" x="17" y="3" width="15" height="1"/><rect class="g1" x="28" y="1" width="1" height="2"/><rect class="g3" x="21" width="7" height="1"/><rect class="g1" x="17" y="7" width="15" height="1"/><rect class="g1" x="23" y="5" width="1" height="2"/><rect class="g1" x="31" y="5" width="1" height="2"/><rect class="g3" x="29" width="3" height="1"/><rect class="g3" x="17" y="4" width="6" height="1"/><rect class="g3" x="24" y="4" width="7" height="1"/><rect class="g3" x="17" y="8" width="3" height="1"/><rect class="g1" x="20" y="9" width="1" height="2"/><rect class="g1" x="17" y="11" width="15" height="1"/><rect class="g1" x="28" y="9" width="1" height="2"/><rect class="g3" x="21" y="8" width="7" height="1"/><rect class="g1" x="17" y="15" width="15" height="1"/><rect class="g1" x="23" y="13" width="1" height="2"/><rect class="g1" x="31" y="13" width="1" height="2"/><rect class="g3" x="29" y="8" width="3" height="1"/><rect class="g3" x="17" y="12" width="6" height="1"/><rect class="g3" x="24" y="12" width="7" height="1"/><rect class="g1" x="16" y="16" width="1" height="16"/><rect class="g3" x="17" y="16" width="3" height="1"/><rect class="g1" x="20" y="17" width="1" height="2"/><rect class="g1" x="17" y="19" width="18" height="1"/><rect class="g1" x="28" y="17" width="1" height="2"/><rect class="g3" x="21" y="16" width="7" height="1"/><rect class="g1" x="17" y="23" width="18" height="1"/><rect class="g1" x="23" y="21" width="1" height="2"/><rect class="g1" x="31" y="21" width="1" height="2"/><rect class="g3" x="29" y="16" width="6" height="1"/><rect class="g3" x="17" y="20" width="6" height="1"/><rect class="g3" x="24" y="20" width="7" height="1"/><rect class="g3" x="17" y="24" width="3" height="1"/><rect class="g1" x="20" y="25" width="1" height="2"/><rect class="g1" x="17" y="27" width="18" height="1"/><rect class="g1" x="28" y="25" width="1" height="2"/><rect class="g3" x="21" y="24" width="7" height="1"/><rect class="g1" x="17" y="31" width="18" height="1"/><rect class="g1" x="23" y="29" width="1" height="2"/><rect class="g1" x="31" y="29" width="1" height="2"/><rect class="g3" x="29" y="24" width="6" height="1"/><rect class="g3" x="17" y="28" width="6" height="1"/><rect class="g3" x="24" y="28" width="7" height="1"/><rect class="g1" x="16" y="32" width="1" height="16"/><rect class="g3" x="17" y="32" width="3" height="1"/><rect class="g1" x="20" y="33" width="1" height="2"/><rect class="g1" x="17" y="35" width="15" height="1"/><rect class="g1" x="28" y="33" width="1" height="2"/><rect class="g3" x="21" y="32" width="7" height="1"/><rect class="g1" x="17" y="39" width="15" height="1"/><rect class="g1" x="23" y="37" width="1" height="2"/><rect class="g1" x="31" y="37" width="1" height="2"/><rect class="g3" x="29" y="32" width="3" height="1"/><rect class="g3" x="17" y="36" width="6" height="1"/><rect class="g3" x="24" y="36" width="7" height="1"/><rect class="g3" x="17" y="40" width="3" height="1"/><rect class="g1" x="20" y="41" width="1" height="2"/><rect class="g1" x="17" y="43" width="15" height="1"/><rect class="g1" x="28" y="41" width="1" height="2"/><rect class="g3" x="21" y="40" width="7" height="1"/><rect class="g1" x="17" y="47" width="15" height="1"/><rect class="g1" x="23" y="45" width="1" height="2"/><rect class="g1" x="31" y="45" width="1" height="2"/><rect class="g3" x="29" y="40" width="3" height="1"/><rect class="g3" x="17" y="44" width="6" height="1"/><rect class="g3" x="24" y="44" width="7" height="1"/><rect class="g1" x="32" y="3" width="16" height="1"/><rect class="g3" x="32" width="4" height="1"/><rect class="g1" x="36" y="1" width="1" height="2"/><rect class="g3" x="37" width="7" height="1"/><rect class="g1" x="44" y="1" width="1" height="2"/><rect class="g3" x="45" width="3" height="1"/><rect class="g1" x="32" y="7" width="16" height="1"/><rect class="g1" x="32" y="11" width="16" height="1"/><rect class="g1" x="32" y="15" width="16" height="1"/><rect class="g3" x="32" y="4" width="7" height="1"/><rect class="g3" x="32" y="12" width="7" height="1"/><rect class="g3" x="32" y="8" width="4" height="1"/><rect class="g1" x="36" y="9" width="1" height="2"/><rect class="g1" x="39" y="13" width="1" height="2"/><rect class="g3" x="40" y="12" width="7" height="1"/><rect class="g1" x="47" y="13" width="1" height="2"/><rect class="g3" x="37" y="8" width="7" height="1"/><rect class="g1" x="44" y="9" width="1" height="2"/><rect class="g3" x="45" y="8" width="3" height="1"/><rect class="g1" x="39" y="5" width="1" height="2"/><rect class="g3" x="40" y="4" width="7" height="1"/><rect class="g1" x="47" y="5" width="1" height="2"/><rect class="g1" x="48" y="3" width="16" height="1"/><rect class="g3" x="48" width="4" height="1"/><rect class="g1" x="52" y="1" width="1" height="2"/><rect class="g3" x="53" width="7" height="1"/><rect class="g1" x="60" y="1" width="1" height="2"/><rect class="g3" x="61" width="3" height="1"/><rect class="g1" x="48" y="7" width="16" height="1"/><rect class="g1" x="48" y="11" width="16" height="1"/><rect class="g1" x="48" y="15" width="16" height="1"/><rect class="g3" x="48" y="4" width="7" height="1"/><rect class="g3" x="48" y="12" width="7" height="1"/><rect class="g3" x="48" y="8" width="4" height="1"/><rect class="g1" x="52" y="9" width="1" height="2"/><rect class="g1" x="55" y="13" width="1" height="2"/><rect class="g3" x="56" y="12" width="7" height="1"/><rect class="g1" x="63" y="13" width="1" height="2"/><rect class="g3" x="53" y="8" width="7" height="1"/><rect class="g1" x="60" y="9" width="1" height="2"/><rect class="g3" x="61" y="8" width="3" height="1"/><rect class="g1" x="55" y="5" width="1" height="2"/><rect class="g3" x="56" y="4" width="7" height="1"/><rect class="g1" x="63" y="5" width="1" height="2"/><rect class="g1" x="64" y="3" width="16" height="1"/><rect class="g3" x="64" width="4" height="1"/><rect class="g1" x="68" y="1" width="1" height="2"/><rect class="g3" x="69" width="7" height="1"/><rect class="g1" x="76" y="1" width="1" height="2"/><rect class="g3" x="77" width="3" height="1"/><rect class="g1" x="64" y="7" width="16" height="1"/><rect class="g1" x="64" y="11" width="16" height="1"/><rect class="g1" x="64" y="15" width="16" height="1"/><rect class="g3" x="64" y="4" width="7" height="1"/><rect class="g3" x="64" y="12" width="7" height="1"/><rect class="g3" x="64" y="8" width="4" height="1"/><rect class="g1" x="68" y="9" width="1" height="2"/><rect class="g1" x="71" y="13" width="1" height="2"/><rect class="g3" x="72" y="12" width="7" height="1"/><rect class="g1" x="79" y="13" width="1" height="2"/><rect class="g3" x="69" y="8" width="7" height="1"/><rect class="g1" x="76" y="9" width="1" height="2"/><rect class="g3" x="77" y="8" width="3" height="1"/><rect class="g1" x="71" y="5" width="1" height="2"/><rect class="g3" x="72" y="4" width="7" height="1"/><rect class="g1" x="79" y="5" width="1" height="2"/><rect class="g1" x="80" y="3" width="16" height="1"/><rect class="g3" x="80" width="4" height="1"/><rect class="g1" x="84" y="1" width="1" height="2"/><rect class="g3" x="85" width="7" height="1"/><rect class="g1" x="92" y="1" width="1" height="2"/><rect class="g3" x="93" width="3" height="1"/><rect class="g1" x="80" y="7" width="16" height="1"/><rect class="g1" x="80" y="11" width="16" height="1"/><rect class="g1" x="80" y="15" width="16" height="1"/><rect class="g3" x="80" y="4" width="7" height="1"/><rect class="g3" x="80" y="12" width="7" height="1"/><rect class="g3" x="80" y="8" width="4" height="1"/><rect class="g1" x="84" y="9" width="1" height="2"/><rect class="g1" x="87" y="13" width="1" height="2"/><rect class="g3" x="88" y="12" width="7" height="1"/><rect class="g1" x="95" y="13" width="1" height="2"/><rect class="g3" x="85" y="8" width="7" height="1"/><rect class="g1" x="92" y="9" width="1" height="2"/><rect class="g3" x="93" y="8" width="3" height="1"/><rect class="g1" x="87" y="5" width="1" height="2"/><rect class="g3" x="88" y="4" width="7" height="1"/><rect class="g1" x="95" y="5" width="1" height="2"/><rect class="g1" x="96" y="3" width="16" height="1"/><rect class="g3" x="96" width="4" height="1"/><rect class="g1" x="100" y="1" width="1" height="2"/><rect class="g3" x="101" width="7" height="1"/><rect class="g1" x="108" y="1" width="1" height="2"/><rect class="g3" x="109" width="3" height="1"/><rect class="g1" x="96" y="7" width="16" height="1"/><rect class="g1" x="96" y="11" width="16" height="1"/><rect class="g1" x="96" y="15" width="16" height="1"/><rect class="g3" x="96" y="4" width="7" height="1"/><rect class="g3" x="96" y="12" width="7" height="1"/><rect class="g3" x="96" y="8" width="4" height="1"/><rect class="g1" x="100" y="9" width="1" height="2"/><rect class="g1" x="103" y="13" width="1" height="2"/><rect class="g3" x="104" y="12" width="7" height="1"/><rect class="g1" x="111" y="13" width="1" height="2"/><rect class="g3" x="101" y="8" width="7" height="1"/><rect class="g1" x="108" y="9" width="1" height="2"/><rect class="g3" x="109" y="8" width="3" height="1"/><rect class="g1" x="103" y="5" width="1" height="2"/><rect class="g3" x="104" y="4" width="7" height="1"/><rect class="g1" x="111" y="5" width="1" height="2"/><rect class="w1" x="37" y="16" width="16" height="16"/><rect class="w1" x="53" y="16" width="16" height="16"/><rect class="w2" x="39" y="18" width="14" height="12"/><rect class="w2" x="53" y="18" width="14" height="12"/><rect class="g1" x="69" y="19" width="11" height="1"/><rect class="g1" x="76" y="17" width="1" height="2"/><rect class="g1" x="69" y="23" width="11" height="1"/><rect class="g1" x="69" y="27" width="11" height="1"/><rect class="g1" x="69" y="31" width="11" height="1"/><rect class="g3" x="69" y="20" width="2" height="1"/><rect class="g3" x="69" y="28" width="2" height="1"/><rect class="g1" x="71" y="29" width="1" height="2"/><rect class="g3" x="72" y="28" width="7" height="1"/><rect class="g1" x="79" y="29" width="1" height="2"/><rect class="g3" x="69" y="24" width="7" height="1"/><rect class="g1" x="76" y="25" width="1" height="2"/><rect class="g3" x="77" y="24" width="3" height="1"/><rect class="g1" x="71" y="21" width="1" height="2"/><rect class="g3" x="72" y="20" width="7" height="1"/><rect class="g1" x="79" y="21" width="1" height="2"/><rect class="g1" x="80" y="19" width="16" height="1"/><rect class="g1" x="84" y="17" width="1" height="2"/><rect class="g1" x="92" y="17" width="1" height="2"/><rect class="g1" x="80" y="23" width="16" height="1"/><rect class="g1" x="80" y="27" width="16" height="1"/><rect class="g1" x="80" y="31" width="16" height="1"/><rect class="g3" x="80" y="20" width="7" height="1"/><rect class="g3" x="80" y="28" width="7" height="1"/><rect class="g3" x="80" y="24" width="4" height="1"/><rect class="g1" x="84" y="25" width="1" height="2"/><rect class="g1" x="87" y="29" width="1" height="2"/><rect class="g3" x="88" y="28" width="7" height="1"/><rect class="g1" x="95" y="29" width="1" height="2"/><rect class="g3" x="85" y="24" width="7" height="1"/><rect class="g1" x="92" y="25" width="1" height="2"/><rect class="g3" x="93" y="24" width="3" height="1"/><rect class="g1" x="87" y="21" width="1" height="2"/><rect class="g3" x="88" y="20" width="7" height="1"/><rect class="g1" x="95" y="21" width="1" height="2"/><rect class="w1" x="96" y="16" width="16" height="16"/><rect class="w2" x="98" y="18" width="14" height="12"/><rect class="g1" x="32" y="35" width="16" height="1"/><rect class="g3" x="32" y="32" width="4" height="1"/><rect class="g1" x="36" y="33" width="1" height="2"/><rect class="g3" x="37" y="32" width="7" height="1"/><rect class="g1" x="44" y="33" width="1" height="2"/><rect class="g3" x="45" y="32" width="3" height="1"/><rect class="g1" x="32" y="39" width="16" height="1"/><rect class="g1" x="32" y="43" width="16" height="1"/><rect class="g1" x="32" y="47" width="16" height="1"/><rect class="g3" x="32" y="36" width="7" height="1"/><rect class="g3" x="32" y="44" width="7" height="1"/><rect class="g3" x="32" y="40" width="4" height="1"/><rect class="g1" x="36" y="41" width="1" height="2"/><rect class="g1" x="39" y="45" width="1" height="2"/><rect class="g3" x="40" y="44" width="7" height="1"/><rect class="g1" x="47" y="45" width="1" height="2"/><rect class="g3" x="37" y="40" width="7" height="1"/><rect class="g1" x="44" y="41" width="1" height="2"/><rect class="g3" x="45" y="40" width="3" height="1"/><rect class="g1" x="39" y="37" width="1" height="2"/><rect class="g3" x="40" y="36" width="7" height="1"/><rect class="g1" x="47" y="37" width="1" height="2"/><rect class="g1" x="48" y="35" width="16" height="1"/><rect class="g3" x="48" y="32" width="4" height="1"/><rect class="g1" x="52" y="33" width="1" height="2"/><rect class="g3" x="53" y="32" width="7" height="1"/><rect class="g1" x="60" y="33" width="1" height="2"/><rect class="g3" x="61" y="32" width="3" height="1"/><rect class="g1" x="48" y="39" width="16" height="1"/><rect class="g1" x="48" y="43" width="16" height="1"/><rect class="g1" x="48" y="47" width="16" height="1"/><rect class="g3" x="48" y="36" width="7" height="1"/><rect class="g3" x="48" y="44" width="7" height="1"/><rect class="g3" x="48" y="40" width="4" height="1"/><rect class="g1" x="52" y="41" width="1" height="2"/><rect class="g1" x="55" y="45" width="1" height="2"/><rect class="g3" x="56" y="44" width="7" height="1"/><rect class="g1" x="63" y="45" width="1" height="2"/><rect class="g3" x="53" y="40" width="7" height="1"/><rect class="g1" x="60" y="41" width="1" height="2"/><rect class="g3" x="61" y="40" width="3" height="1"/><rect class="g1" x="55" y="37" width="1" height="2"/><rect class="g3" x="56" y="36" width="7" height="1"/><rect class="g1" x="63" y="37" width="1" height="2"/><rect class="g1" x="64" y="35" width="16" height="1"/><rect class="g3" x="64" y="32" width="4" height="1"/><rect class="g1" x="68" y="33" width="1" height="2"/><rect class="g3" x="69" y="32" width="7" height="1"/><rect class="g1" x="76" y="33" width="1" height="2"/><rect class="g3" x="77" y="32" width="3" height="1"/><rect class="g1" x="64" y="39" width="16" height="1"/><rect class="g1" x="64" y="43" width="16" height="1"/><rect class="g1" x="64" y="47" width="16" height="1"/><rect class="g3" x="64" y="36" width="7" height="1"/><rect class="g3" x="64" y="44" width="7" height="1"/><rect class="g3" x="64" y="40" width="4" height="1"/><rect class="g1" x="68" y="41" width="1" height="2"/><rect class="g1" x="71" y="45" width="1" height="2"/><rect class="g3" x="72" y="44" width="7" height="1"/><rect class="g1" x="79" y="45" width="1" height="2"/><rect class="g3" x="69" y="40" width="7" height="1"/><rect class="g1" x="76" y="41" width="1" height="2"/><rect class="g3" x="77" y="40" width="3" height="1"/><rect class="g1" x="71" y="37" width="1" height="2"/><rect class="g3" x="72" y="36" width="7" height="1"/><rect class="g1" x="79" y="37" width="1" height="2"/><rect class="g1" x="80" y="35" width="16" height="1"/><rect class="g3" x="80" y="32" width="4" height="1"/><rect class="g1" x="84" y="33" width="1" height="2"/><rect class="g3" x="85" y="32" width="7" height="1"/><rect class="g1" x="92" y="33" width="1" height="2"/><rect class="g3" x="93" y="32" width="3" height="1"/><rect class="g1" x="80" y="39" width="16" height="1"/><rect class="g1" x="80" y="43" width="16" height="1"/><rect class="g1" x="80" y="47" width="16" height="1"/><rect class="g3" x="80" y="36" width="7" height="1"/><rect class="g3" x="80" y="44" width="7" height="1"/><rect class="g3" x="80" y="40" width="4" height="1"/><rect class="g1" x="84" y="41" width="1" height="2"/><rect class="g1" x="87" y="45" width="1" height="2"/><rect class="g3" x="88" y="44" width="7" height="1"/><rect class="g1" x="95" y="45" width="1" height="2"/><rect class="g3" x="85" y="40" width="7" height="1"/><rect class="g1" x="92" y="41" width="1" height="2"/><rect class="g3" x="93" y="40" width="3" height="1"/><rect class="g1" x="87" y="37" width="1" height="2"/><rect class="g3" x="88" y="36" width="7" height="1"/><rect class="g1" x="95" y="37" width="1" height="2"/><rect class="g1" x="96" y="35" width="16" height="1"/><rect class="g3" x="96" y="32" width="4" height="1"/><rect class="g1" x="100" y="33" width="1" height="2"/><rect class="g3" x="101" y="32" width="7" height="1"/><rect class="g1" x="108" y="33" width="1" height="2"/><rect class="g3" x="109" y="32" width="3" height="1"/><rect class="g1" x="96" y="39" width="16" height="1"/><rect class="g1" x="96" y="43" width="16" height="1"/><rect class="g1" x="96" y="47" width="16" height="1"/><rect class="g3" x="96" y="36" width="7" height="1"/><rect class="g3" x="96" y="44" width="7" height="1"/><rect class="g3" x="96" y="40" width="4" height="1"/><rect class="g1" x="100" y="41" width="1" height="2"/><rect class="g1" x="103" y="45" width="1" height="2"/><rect class="g3" x="104" y="44" width="7" height="1"/><rect class="g1" x="111" y="45" width="1" height="2"/><rect class="g3" x="101" y="40" width="7" height="1"/><rect class="g1" x="108" y="41" width="1" height="2"/><rect class="g3" x="109" y="40" width="3" height="1"/><rect class="g1" x="103" y="37" width="1" height="2"/><rect class="g3" x="104" y="36" width="7" height="1"/><rect class="g1" x="111" y="37" width="1" height="2"/><rect class="g3" x="69" y="16" width="7" height="1"/><rect class="g3" x="77" y="16" width="3" height="1"/><rect class="g3" x="80" y="16" width="4" height="1"/><rect class="g3" x="85" y="16" width="7" height="1"/><rect class="g3" x="93" y="16" width="3" height="1"/><rect class="g3" x="32" y="20" width="3" height="1"/><rect class="g3" x="32" y="28" width="3" height="1"/><rect class="g3" x="12" y="14" width="1" height="20"/><rect class="g3" x="40" y="22" width="1" height="2"/><rect class="g3" x="41" y="21" width="1" height="2"/><rect class="g3" x="42" y="20" width="1" height="2"/><rect class="g3" x="43" y="19" width="1" height="2"/><rect class="g3" x="44" y="18" width="1" height="2"/><rect class="g3" x="39" y="23" width="1" height="2"/><rect class="g3" x="45" y="18" width="1" height="1"/><rect class="g3" x="60" y="29" width="2" height="1"/><rect class="g3" x="61" y="28" width="2" height="1"/><rect class="g3" x="62" y="27" width="2" height="1"/><rect class="g3" x="63" y="26" width="2" height="1"/><rect class="g3" x="64" y="25" width="2" height="1"/><rect class="g3" x="65" y="24" width="2" height="1"/><rect class="g3" x="66" y="23" width="1" height="1"/><rect class="g3" x="63" y="29" width="1" height="1"/><rect class="g3" x="64" y="28" width="1" height="1"/><rect class="g3" x="65" y="27" width="1" height="1"/><rect class="g3" x="66" y="26" width="1" height="1"/><rect class="g3" x="60" y="18" width="5" height="1"/><rect class="g3" x="65" y="19" width="1" height="1"/><rect class="g3" x="64" y="20" width="1" height="1"/><rect class="g3" x="63" y="21" width="1" height="1"/><rect class="g3" x="39" y="29" width="6" height="1"/><rect class="g3" x="40" y="28" width="1" height="1"/><rect class="g3" x="41" y="27" width="1" height="1"/><rect class="g3" x="42" y="26" width="1" height="1"/><rect class="g3" x="47" y="21" width="1" height="1"/><rect class="g3" x="48" y="20" width="1" height="1"/><rect class="g3" x="49" y="19" width="1" height="1"/><rect class="g3" x="46" y="18" width="7" height="1"/><rect class="g3" x="39" y="19" width="1" height="1"/><rect class="g3" x="39" y="18" width="2" height="1"/><rect class="g3" x="66" y="29" width="1" height="1"/><rect class="g3" x="39" y="21" width="1" height="1"/><rect class="g3" x="40" y="20" width="1" height="1"/><rect class="g3" x="42" y="18" width="1" height="1"/><rect class="g3" x="41" y="19" width="1" height="1"/><rect class="g3" x="59" y="25" width="1" height="1"/><rect class="g3" x="58" y="26" width="1" height="1"/><rect class="g3" x="57" y="27" width="1" height="1"/><rect class="g3" x="56" y="28" width="1" height="1"/><rect class="g3" x="53" y="29" width="3" height="1"/><rect class="g3" x="51" y="19" width="1" height="1"/><rect class="g3" x="50" y="20" width="1" height="1"/><rect class="g3" x="49" y="21" width="1" height="1"/><rect class="g3" x="42" y="28" width="1" height="1"/><rect class="g3" x="43" y="27" width="1" height="1"/><rect class="g3" x="44" y="26" width="1" height="1"/><rect class="g3" x="45" y="25" width="1" height="1"/><rect class="g3" x="46" y="22" width="1" height="1"/><rect class="g3" x="63" y="19" width="1" height="1"/><rect class="g3" x="62" y="20" width="1" height="1"/><rect class="g3" x="61" y="21" width="1" height="1"/><rect class="g3" x="60" y="22" width="1" height="1"/><rect class="g3" x="54" y="28" width="1" height="1"/><rect class="g3" x="55" y="27" width="1" height="1"/><rect class="g3" x="56" y="26" width="1" height="1"/><rect class="g3" x="53" y="18" width="7" height="1"/><rect class="g3" x="65" y="18" width="2" height="1"/><rect class="g3" x="99" y="22" width="1" height="2"/><rect class="g3" x="100" y="21" width="1" height="2"/><rect class="g3" x="101" y="20" width="1" height="2"/><rect class="g3" x="102" y="19" width="1" height="2"/><rect class="g3" x="103" y="18" width="1" height="2"/><rect class="g3" x="98" y="23" width="1" height="2"/><rect class="g3" x="104" y="18" width="1" height="1"/><rect class="g3" x="98" y="29" width="6" height="1"/><rect class="g3" x="99" y="28" width="1" height="1"/><rect class="g3" x="100" y="27" width="1" height="1"/><rect class="g3" x="101" y="26" width="1" height="1"/><rect class="g3" x="106" y="21" width="1" height="1"/><rect class="g3" x="107" y="20" width="1" height="1"/><rect class="g3" x="108" y="19" width="1" height="1"/><rect class="g3" x="105" y="18" width="7" height="1"/><rect class="g3" x="98" y="19" width="1" height="1"/><rect class="g3" x="98" y="18" width="2" height="1"/><rect class="g3" x="98" y="21" width="1" height="1"/><rect class="g3" x="99" y="20" width="1" height="1"/><rect class="g3" x="101" y="18" width="1" height="1"/><rect class="g3" x="100" y="19" width="1" height="1"/><rect class="g3" x="110" y="19" width="1" height="1"/><rect class="g3" x="109" y="20" width="1" height="1"/><rect class="g3" x="108" y="21" width="1" height="1"/><rect class="g3" x="101" y="28" width="1" height="1"/><rect class="g3" x="102" y="27" width="1" height="1"/><rect class="g3" x="103" y="26" width="1" height="1"/><rect class="g3" x="104" y="25" width="1" height="1"/><rect class="g3" x="105" y="22" width="1" height="1"/><rect class="g1" x="35" y="13" width="1" height="3"/><rect x="36" y="15" width="34" height="1"/><rect class="g1" x="70" y="13" width="1" height="3"/><rect class="g1" x="36" y="13" width="34" height="1"/><rect class="g2" x="36" y="14" width="34" height="1"/><rect class="g1" x="35" y="32" width="1" height="3"/><rect x="36" y="34" width="34" height="1"/><rect class="g1" x="70" y="32" width="1" height="3"/><rect class="g1" x="36" y="32" width="34" height="1"/><rect class="g2" x="36" y="33" width="34" height="1"/><rect class="g1" x="94" y="13" width="1" height="3"/><rect x="95" y="15" width="17" height="1"/><rect class="g1" x="95" y="13" width="17" height="1"/><rect class="g2" x="95" y="14" width="17" height="1"/><rect class="g1" x="94" y="32" width="1" height="3"/><rect x="95" y="34" width="17" height="1"/><rect class="g1" x="95" y="32" width="17" height="1"/><rect class="g2" x="95" y="33" width="17" height="1"/><rect x="35" y="16" width="2" height="16"/><rect x="69" y="16" width="2" height="16"/><rect x="94" y="16" width="2" height="16"/><rect class="g1" x="14" y="13" width="1" height="22"/><rect class="g1" x="12" y="34" width="2" height="1"/><rect class="g1" x="11" y="14" width="1" height="20"/><rect class="g1" x="12" y="13" width="2" height="1"/><path d="M15.5,47.5Z"/><polygon points="16 0 15 0 15 48 16 48 16 0 16 0"/><rect class="g2" x="13" y="14" width="1" height="20"/><rect class="g1" x="13" y="12" width="2" height="1"/><rect class="g1" x="14" y="11" width="1" height="1"/></pattern>
          <pattern id="rooftop" x="0" y="0" width="112" height="48" patternUnits="userSpaceOnUse"><rect class="g2" x="17" y="44" width="95" height="3"/><rect class="g1" x="16" y="43" width="96" height="1"/><rect x="16" y="42" width="96" height="1"/><rect class="g1" x="16" y="35" width="96" height="7"/><rect class="g2" x="15" y="33" width="97" height="1"/><rect class="g3" x="14" y="32" width="98" height="1"/><rect x="18" y="37" width="6" height="3"/><rect x="16" y="34" width="96" height="1"/><rect class="g1" x="16" y="47" width="96" height="1"/><rect class="g1" x="16" y="44" width="1" height="3"/><rect class="g1" x="23" y="45" width="1" height="2"/><rect class="g1" x="31" y="45" width="1" height="2"/><rect class="g1" x="39" y="45" width="1" height="2"/><rect class="g1" x="47" y="45" width="1" height="2"/><rect class="g1" x="55" y="45" width="1" height="2"/><rect class="g1" x="63" y="45" width="1" height="2"/><rect class="g1" x="71" y="45" width="1" height="2"/><rect class="g1" x="79" y="45" width="1" height="2"/><rect class="g1" x="87" y="45" width="1" height="2"/><rect class="g1" x="95" y="45" width="1" height="2"/><rect class="g1" x="103" y="45" width="1" height="2"/><rect class="g1" x="111" y="45" width="1" height="2"/><rect class="g3" x="17" y="44" width="6" height="1"/><rect class="g3" x="24" y="44" width="7" height="1"/><rect class="g3" x="32" y="44" width="7" height="1"/><rect class="g3" x="40" y="44" width="7" height="1"/><rect class="g3" x="48" y="44" width="7" height="1"/><rect class="g3" x="56" y="44" width="7" height="1"/><rect class="g3" x="64" y="44" width="7" height="1"/><rect class="g3" x="72" y="44" width="7" height="1"/><rect class="g3" x="80" y="44" width="7" height="1"/><rect class="g3" x="88" y="44" width="7" height="1"/><rect class="g3" x="96" y="44" width="7" height="1"/><rect class="g3" x="104" y="44" width="7" height="1"/><rect x="26" y="37" width="6" height="3"/><rect x="34" y="37" width="6" height="3"/><rect x="42" y="37" width="6" height="3"/><rect x="50" y="37" width="6" height="3"/><rect x="58" y="37" width="6" height="3"/><rect x="66" y="37" width="6" height="3"/><rect x="74" y="37" width="6" height="3"/><rect x="82" y="37" width="6" height="3"/><rect x="90" y="37" width="6" height="3"/><rect x="98" y="37" width="6" height="3"/><rect x="106" y="37" width="6" height="3"/><rect class="g2" x="51" y="4" width="44" height="28"/><rect class="g3" x="51" y="3" width="42" height="1"/><rect class="g2" x="49" y="5" width="2" height="27"/><rect class="g3" x="49" y="5" width="1" height="1"/><rect class="g3" x="50" y="4" width="1" height="1"/><rect class="g1" x="48" y="5" width="1" height="27"/><rect class="g1" x="49" y="4" width="1" height="1"/><rect class="g1" x="50" y="3" width="1" height="1"/><rect class="g1" x="49" y="8" width="7" height="2"/><rect class="g1" x="49" y="13" width="7" height="2"/><rect class="g1" x="49" y="18" width="7" height="2"/><rect class="g1" x="49" y="23" width="7" height="2"/><rect class="g1" x="49" y="28" width="7" height="2"/><rect class="g1" x="95" y="5" width="1" height="27"/><rect class="g1" x="94" y="4" width="1" height="1"/><rect class="g1" x="93" y="3" width="1" height="1"/><rect class="g3" x="93" y="4" width="1" height="1"/><rect class="g3" x="94" y="5" width="1" height="1"/><rect class="g1" x="97" y="16" width="3" height="9"/><rect class="g2" x="98" y="17" width="1" height="7"/><rect class="g1" x="101" y="18" width="1" height="5"/><rect class="g1" x="102" y="18" width="5" height="1"/><rect class="g1" x="107" y="18" width="1" height="1"/><rect class="g1" x="108" y="19" width="1" height="1"/><rect class="g1" x="110" y="21" width="1" height="1"/><rect class="g1" x="110" y="22" width="1" height="10"/><rect class="g1" x="102" y="22" width="3" height="1"/><rect class="g1" x="105" y="22" width="1" height="1"/><rect class="g1" x="106" y="23" width="1" height="1"/><rect class="g1" x="106" y="24" width="1" height="8"/><rect class="g2" x="102" y="19" width="3" height="3"/><rect class="g2" x="105" y="19" width="2" height="3"/><rect class="g2" x="107" y="19" width="1" height="13"/><rect class="g2" x="108" y="20" width="1" height="12"/><rect class="g2" x="109" y="21" width="1" height="11"/><rect class="g2" x="106" y="22" width="1" height="1"/><rect class="g1" x="109" y="20" width="1" height="1"/><rect class="g3" x="98" y="17" width="1" height="1"/><rect class="g3" x="102" y="19" width="6" height="1"/><rect class="g3" x="108" y="20" width="1" height="1"/><rect class="g3" x="109" y="21" width="1" height="1"/><rect class="g2" x="89" y="17" width="3" height="12"/><rect class="g1" x="55" width="35" height="3"/><path d="M48.5,9.5"/><polygon points="49 8 48 8 48 10 49 10 49 8 49 8"/><path d="M48.5,14.5"/><polygon points="49 13 48 13 48 15 49 15 49 13 49 13"/><path d="M48.5,19.5"/><polygon points="49 18 48 18 48 20 49 20 49 18 49 18"/><path d="M48.5,24.5"/><polygon points="49 23 48 23 48 25 49 25 49 23 49 23"/><path d="M48.5,29.5"/><polygon points="49 28 48 28 48 30 49 30 49 28 49 28"/><rect class="g1" x="86" y="16" width="7" height="1"/><rect class="g1" x="91" y="18" width="1" height="1"/><rect class="g1" x="87" y="18" width="1" height="1"/><rect class="g1" x="87" y="22" width="1" height="1"/><rect class="g1" x="91" y="22" width="1" height="1"/><rect class="g1" x="86" y="24" width="7" height="1"/></pattern>
          <pattern id="the-purple-man" x="0" y="0" width="16" height="32" patternUnits="userSpaceOnUse"><rect x="2" y="14" width="1" height="3"/><rect x="3" y="18" width="1" height="1"/><rect x="4" y="19" width="1" height="1"/><rect x="5" y="20" width="5" height="1"/><rect x="10" y="19" width="1" height="1"/><rect x="11" y="18" width="1" height="1"/><rect x="12" y="17" width="1" height="1"/><rect x="12" y="16" width="1" height="1"/><rect class="s2" x="2" y="15" width="1" height="2"/><rect class="s2" x="3" y="14" width="3" height="1"/><rect class="s2" x="3" y="17" width="2" height="1"/><rect class="s2" x="5" y="15" width="1" height="2"/><rect class="s2" x="7" y="14" width="1" height="3"/><rect class="s2" x="8" y="17" width="2" height="1"/><rect class="s2" x="10" y="15" width="1" height="2"/><rect class="s2" x="6" y="14" width="1" height="1"/><rect class="s1" x="3" y="15" width="2" height="2"/><rect class="s1" x="8" y="15" width="2" height="2"/><rect x="5" y="18" width="3" height="1"/><rect class="s3" x="5" y="19" width="5" height="1"/><rect class="s3" x="8" y="18" width="3" height="1"/><rect class="s3" x="5" y="17" width="3" height="1"/><rect class="s3" x="6" y="16" width="1" height="1"/><rect class="s3" x="6" y="15" width="1" height="1"/><rect class="s3" x="4" y="18" width="1" height="1"/><rect class="s3" x="10" y="17" width="2" height="1"/><rect class="s3" x="11" y="15" width="1" height="2"/><rect class="s3" x="10" y="14" width="1" height="1"/><rect class="s3" x="9" y="13" width="1" height="1"/><rect class="s3" x="7" y="13" width="1" height="1"/><rect class="s3" x="4" y="13" width="1" height="1"/><rect x="1" y="14" width="1" height="1"/><rect y="15" width="1" height="1"/><rect x="2" y="13" width="1" height="1"/><rect x="3" y="13" width="1" height="1"/><rect x="1" y="13" width="1" height="1"/><rect y="13" width="1" height="1"/><rect x="5" y="13" width="2" height="1"/><rect x="8" y="13" width="2" height="1"/><rect x="10" y="13" width="1" height="1"/><rect x="11" y="14" width="1" height="1"/><rect x="12" y="15" width="1" height="1"/><rect x="13" y="15" width="1" height="1"/><rect x="11" y="13" width="2" height="1"/><rect x="12" y="14" width="1" height="1"/><rect x="2" y="12" width="8" height="1"/><rect x="1" y="11" width="9" height="1"/><rect x="3" y="10" width="5" height="1"/><rect x="2" y="10" width="1" height="1"/><rect x="1" y="9" width="1" height="1"/><rect class="p1" x="10" y="12" width="2" height="1"/><rect class="p1" x="12" y="13" width="1" height="1"/><rect class="p1" x="4" y="9" width="2" height="1"/><rect class="p1" x="11" y="9" width="2" height="1"/><rect class="p1" x="3" y="19" width="1" height="2"/><rect class="p1" x="6" y="8" width="5" height="1"/><rect class="p1" x="13" y="10" width="1" height="1"/><rect class="p1" x="14" y="11" width="1" height="7"/><rect class="p1" x="13" y="18" width="1" height="1"/><rect class="p3" x="6" y="9" width="5" height="1"/><rect class="p3" x="8" y="10" width="5" height="1"/><rect class="p3" x="10" y="11" width="4" height="1"/><rect class="p3" x="13" y="12" width="1" height="3"/><rect class="p3" x="12" y="12" width="1" height="1"/><rect class="p2" x="13" y="15" width="1" height="3"/><rect class="p2" x="12" y="18" width="1" height="1"/><rect class="p2" x="11" y="19" width="1" height="2"/><rect class="p2" x="10" y="20" width="1" height="1"/><rect class="p2" x="4" y="20" width="1" height="1"/><rect class="p1" x="12" y="20" width="2" height="1"/><rect class="p1" x="3" y="22" width="1" height="4"/><rect class="p1" x="11" y="22" width="1" height="4"/><rect class="p1" x="4" y="25" width="7" height="1"/><rect class="p3" x="4" y="21" width="7" height="4"/><rect class="p1" x="14" y="21" width="1" height="3"/><rect class="p1" x="12" y="23" width="2" height="1"/><rect class="p1" x="2" y="21" width="1" height="1"/><rect class="p1" x="1" y="22" width="1" height="2"/><rect class="p1" x="2" y="23" width="1" height="1"/><rect class="p3" x="11" y="21" width="3" height="1"/><rect class="p3" x="12" y="22" width="2" height="1" transform="translate(26 45) rotate(180)"/><rect class="p3" x="2" y="22" width="1" height="1"/><rect class="p2" x="3" y="21" width="1" height="1"/><rect class="p2" x="6" y="21" width="1" height="4"/><rect class="p1" x="12" y="19" width="1" height="1"/><rect x="12" y="25" width="2" height="1"/><rect x="14" y="24" width="1" height="1"/><rect class="s3" x="12" y="24" width="2" height="1"/><rect class="s3" x="2" y="24" width="1" height="1"/><rect x="1" y="24" width="1" height="1"/><rect x="2" y="25" width="1" height="1"/><rect class="s2" x="8" y="14" width="3" height="1"/><rect class="j1" x="3" y="26" width="1" height="4"/><rect class="j1" x="11" y="26" width="1" height="1"/><rect class="j1" x="12" y="27" width="1" height="1"/><rect class="j1" x="13" y="28" width="1" height="1"/><rect class="j1" x="7" y="27" width="2" height="1"/><rect class="j1" x="9" y="28" width="1" height="1"/><rect class="j1" x="10" y="29" width="1" height="1"/><rect class="j1" x="14" y="29" width="1" height="1"/><rect class="j1" x="4" y="29" width="3" height="1"/><rect class="j1" x="11" y="29" width="3" height="1"/><rect class="j1" x="6" y="26" width="1" height="1"/><rect class="j2" x="4" y="26" width="2" height="3"/><rect class="j2" x="6" y="27" width="1" height="2"/><rect class="j2" x="7" y="26" width="4" height="1"/><rect class="j2" x="9" y="27" width="3" height="1"/><rect class="j2" x="10" y="28" width="3" height="1"/><rect class="s2" x="12" y="29" width="3" height="1"/><rect class="s2" x="15" y="30" width="1" height="2"/><rect class="s2" x="11" y="31" width="4" height="1"/><rect class="s2" x="11" y="30" width="1" height="1"/><rect class="s1" x="12" y="30" width="3" height="1"/><rect class="s2" x="2" y="31" width="5" height="1"/><rect class="s2" x="2" y="30" width="1" height="1"/><rect class="s2" x="3" y="29" width="3" height="1"/><rect class="s2" x="6" y="30" width="1" height="1"/><rect class="s1" x="3" y="30" width="3" height="1"/><rect class="j1" x="6" y="28" width="1" height="1"/></pattern>
          <pattern id="glasses-1" x="0" y="0" width="16" height="32" patternUnits="userSpaceOnUse"><rect class="g3" x="3" y="15" width="1" height="1"/><rect class="g3" x="8" y="15" width="1" height="1"/></pattern>
          <pattern id="glasses-2" x="0" y="0" width="16" height="32" patternUnits="userSpaceOnUse"><rect class="g3" x="3" y="16" width="1" height="1"/><rect class="g3" x="4" y="15" width="1" height="1"/><rect class="g3" x="8" y="16" width="1" height="1"/><rect class="g3" x="9" y="15" width="1" height="1"/></pattern>
          <pattern id="glasses-3" x="0" y="0" width="16" height="32" patternUnits="userSpaceOnUse"><rect class="g3" x="4" y="16" width="1" height="1"/><rect class="g3" x="9" y="16" width="1" height="1"/></pattern>
          <pattern id="hair-variation" x="0" y="0" width="16" height="32" patternUnits="userSpaceOnUse"><rect class="g2" y="9" width="2" height="7"/><rect x="1" y="13" width="1" height="1"/><rect y="14" width="1" height="1"/><rect x="1" y="12" width="1" height="1"/><rect y="12" width="1" height="1"/><rect x="1" y="11" width="1" height="1"/><rect y="10" width="2" height="1"/></pattern>
     </defs>

     <rect fill="url(#rooftop)" width="112" height="48" x="0" y="96" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="144" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="192" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="240" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="288" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="336" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="384" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="432" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="480" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="528" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="576" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="624" />
     <rect fill="url(#windows)" width="112" height="48" x="0" y="672" />

     <rect fill="url(#the-purple-man)" width="16" height="32" x="64" y="96" />

     <rect class="glasses-1" fill="url(#glasses-1)" width="16" height="32" x="64" y="96" />
     <rect class="glasses-2" fill="url(#glasses-2)" width="16" height="32" x="64" y="96" />
     <rect class="glasses-3" fill="url(#glasses-3)" width="16" height="32" x="64" y="96" />
     <rect class="hair-variation" fill="url(#hair-variation)" width="16" height="32" x="64" y="96" />
</svg>

<!-- deimos -->
<img class="deimos" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/facts/true/undefined/deimos-crushed-160.png">

<!-- menu -->
<svg class="menu" viewBox="0 0 88 48" xmlns="http://www.w3.org/2000/svg">
     <rect class="g3" y="42" width="2" height="6"/><rect class="g3" x="5" y="42" width="2" height="6"/><rect class="g3" x="1" y="41" width="2" height="1"/><rect class="g3" x="4" y="41" width="2" height="1"/><rect class="g3" x="2" y="40" width="3" height="1"/><rect class="g3" x="10" y="40" width="2" height="8"/><rect class="g3" x="8" y="41" width="7" height="1"/><rect class="g3" x="8" y="43" width="7" height="2"/><rect class="g3" x="16" y="40" width="7" height="1"/><rect class="g3" x="19" y="41" width="1" height="7"/><rect class="g3" x="16" y="43" width="7" height="2"/><rect class="g3" x="16" y="47" width="7" height="1"/><rect class="g3" x="24" y="40" width="2" height="2"/><rect class="g3" x="25" y="42" width="2" height="2"/><rect class="g3" x="26" y="44" width="3" height="2"/><rect class="g3" x="27" y="46" width="1" height="2"/><rect class="g3" x="28" y="42" width="2" height="2"/><rect class="g3" x="29" y="40" width="2" height="2"/><rect class="g3" x="27" y="40" width="1" height="1"/><rect class="g3" x="32" y="40" width="2" height="2"/><rect class="g3" x="33" y="42" width="2" height="2"/><rect class="g3" x="34" y="44" width="3" height="2"/><rect class="g3" x="35" y="46" width="1" height="2"/><rect class="g3" x="36" y="42" width="2" height="2"/><rect class="g3" x="37" y="40" width="2" height="2"/><rect class="g3" x="35" y="40" width="1" height="1"/><rect class="g3" x="48" y="40" width="2" height="2"/><rect class="g3" x="49" y="42" width="2" height="2"/><rect class="g3" x="50" y="44" width="3" height="2"/><rect class="g3" x="51" y="46" width="1" height="2"/><rect class="g3" x="52" y="42" width="2" height="2"/><rect class="g3" x="53" y="40" width="2" height="2"/><rect class="g3" x="51" y="40" width="1" height="1"/><rect class="g3" x="58" y="40" width="3" height="7"/><rect class="g3" x="56" y="46" width="7" height="2"/><rect class="g3" x="64" y="45" width="2" height="3"/><rect class="g3" x="65" y="43" width="2" height="2"/><rect class="g3" x="64" y="42" width="7" height="1"/><rect class="g3" x="66" y="41" width="2" height="1"/><rect class="g3" x="67" y="40" width="2" height="1"/><rect class="g3" x="70" y="40" width="1" height="1"/><rect class="g3" x="70" y="44" width="1" height="1"/><rect class="g3" x="74" y="40" width="2" height="8"/><rect class="g3" x="72" y="41" width="7" height="1"/><rect class="g3" x="72" y="43" width="7" height="2"/><rect class="g3" x="82" y="40" width="3" height="7"/><rect class="g3" x="80" y="46" width="7" height="2"/><rect class="g3" x="19" width="1" height="8"/><rect class="g3" x="18" y="6" width="1" height="1"/><rect class="g3" x="17" y="5" width="1" height="1"/><rect class="g3" x="16" y="3" width="7" height="2"/><rect class="g3" x="21" y="2" width="1" height="1"/><rect class="g3" x="20" y="1" width="1" height="1"/><rect class="g3" x="29" y="18" width="2" height="4"/><rect class="g3" x="26" y="23" width="3" height="1"/><rect class="g3" x="24" y="18" width="2" height="4"/><rect class="g3" x="26" y="16" width="3" height="1"/><rect class="g3" x="25" y="21" width="2" height="2"/><rect class="g3" x="28" y="22" width="2" height="1"/><rect class="g3" x="24" y="23" width="1" height="1"/><rect class="g3" x="27" y="19" width="1" height="2"/><rect class="g3" x="28" y="17" width="2" height="2"/><rect class="g3" x="26" width="3" height="8"/><rect class="g3" x="34" width="2" height="8"/><rect class="g3" x="32" y="1" width="7" height="1"/><rect class="g3" x="32" y="3" width="7" height="2"/><rect class="g3" x="43" width="1" height="8"/><rect class="g3" x="40" y="3" width="7" height="2"/><rect class="g3" x="41" y="1" width="1" height="1"/><rect class="g3" x="45" y="6" width="1" height="1"/><rect class="g3" x="48" y="5" width="2" height="3"/><rect class="g3" x="49" y="3" width="2" height="2"/><rect class="g3" x="48" y="2" width="7" height="1"/><rect class="g3" x="50" y="1" width="2" height="1"/><rect class="g3" x="51" width="2" height="1"/><rect class="g3" x="54" width="1" height="1"/><rect class="g3" x="54" y="4" width="1" height="1"/><rect class="g3" x="56" width="7" height="2"/><rect class="g3" x="60" y="1" width="3" height="7"/><rect class="g3" x="16" y="17" width="7" height="2"/><rect class="g3" x="16" y="21" width="7" height="2"/><rect class="g3" x="35" y="16" width="1" height="5"/><rect class="g3" x="34" y="19" width="1" height="3"/><rect class="g3" x="33" y="21" width="1" height="2"/><rect class="g3" x="32" y="22" width="1" height="2"/><rect class="g3" x="36" y="20" width="1" height="2"/><rect class="g3" x="37" y="21" width="1" height="2"/><rect class="g3" x="38" y="22" width="1" height="2"/><rect class="g3" x="33" y="18" width="1" height="2"/><rect class="g3" x="32" y="17" width="1" height="2"/><rect class="g3" x="43" y="16" width="1" height="5"/><rect class="g3" x="42" y="19" width="1" height="3"/><rect class="g3" x="41" y="21" width="1" height="2"/><rect class="g3" x="40" y="22" width="1" height="2"/><rect class="g3" x="44" y="20" width="1" height="2"/><rect class="g3" x="45" y="21" width="1" height="2"/><rect class="g3" x="46" y="22" width="1" height="2"/><rect class="g3" x="41" y="18" width="1" height="2"/><rect class="g3" x="40" y="17" width="1" height="2"/><rect class="g3" x="57" y="17" width="2" height="6"/><rect class="g3" x="60" y="16" width="2" height="2"/><rect class="g3" x="60" y="22" width="2" height="2"/><rect class="g3" x="64" y="16" width="1" height="2"/><rect class="g3" x="65" y="17" width="1" height="2"/><rect class="g3" x="66" y="18" width="1" height="4"/><rect class="g3" x="67" y="19" width="1" height="2"/><rect class="g3" x="68" y="18" width="1" height="4"/><rect class="g3" x="69" y="21" width="1" height="2"/><rect class="g3" x="70" y="22" width="1" height="2"/><rect class="g3" x="64" y="22" width="1" height="2"/><rect class="g3" x="65" y="21" width="1" height="2"/><rect class="g3" x="69" y="17" width="1" height="2"/><rect class="g3" x="70" y="16" width="1" height="2"/><rect class="g3" x="67" y="16" width="1" height="1"/><rect class="g3" x="67" y="23" width="1" height="1"/><rect class="g3" x="72" y="16" width="7" height="2"/><rect class="g3" x="76" y="17" width="3" height="7"/><rect class="g3" x="82" y="16" width="3" height="7"/><rect class="g3" x="80" y="22" width="7" height="2"/><rect class="caret" width="2" height="8"/><rect class="caret" x="2" y="1" width="1" height="6"/><rect class="caret" x="3" y="2" width="1" height="4"/><rect class="caret" x="4" y="3" width="1" height="2"/><rect class="g3" x="40" y="40" width="2" height="8"/><rect class="g3" x="45" y="40" width="2" height="8"/><rect class="g3" x="42" y="46" width="3" height="2"/><rect class="g3" x="42" y="40" width="3" height="2"/><rect class="g3" x="64" width="2" height="8"/><rect class="g3" x="69" width="2" height="8"/><rect class="g3" x="66" y="6" width="3" height="2"/><rect class="g3" x="66" width="3" height="2"/><rect class="g3" x="72" width="2" height="8"/><rect class="g3" x="77" width="2" height="8"/><rect class="g3" x="74" y="6" width="3" height="2"/><rect class="g3" x="74" width="3" height="2"/><rect class="g3" x="80" width="2" height="8"/><rect class="g3" x="85" width="2" height="8"/><rect class="g3" x="82" y="6" width="3" height="2"/><rect class="g3" x="82" width="3" height="2"/><rect class="g3" x="25" y="17" width="2" height="1"/><rect class="g3" x="30" y="16" width="1" height="1"/><rect class="g3" x="53" y="18" width="2" height="4"/><rect class="g3" x="50" y="23" width="3" height="1"/><rect class="g3" x="48" y="18" width="2" height="4"/><rect class="g3" x="50" y="16" width="3" height="1"/><rect class="g3" x="49" y="21" width="2" height="2"/><rect class="g3" x="52" y="22" width="2" height="1"/><rect class="g3" x="48" y="23" width="1" height="1"/><rect class="g3" x="51" y="19" width="1" height="2"/><rect class="g3" x="52" y="17" width="2" height="2"/><rect class="g3" x="49" y="17" width="2" height="1"/><rect class="g3" x="54" y="16" width="1" height="1"/>
</svg>

</div>