{% import "../../_macros/snowflake.html" as snowflake %}
{% macro user(user_id, username, avatar, cdn) %}
    <div class="avatar" style="background: url({{ cdn }}{% if avatar %}/avatars/{{ avatar }}{% else %}/images/user/profile/anonymous.png{% endif %}); background-size: 100% 100%;"><a href="/user/{{ username }}"></a></div>
{% endmacro %}

{% macro fake(tmp_symbol, tmp_fake_id) %}
    <div class="avatar" style="background: {{ snowflake.color(tmp_fake_id) }}"><svg class="dos"><use href="#dos{% if tmp_symbol < 10 %}0{% endif %}{{tmp_symbol}}" xlink:href="#dos{% if tmp_symbol < 10 %}0{% endif %}{{tmp_symbol}}"/></svg></div>
{% endmacro %}

{% macro deleted() %}
    <div class="avatar deleted"></div>
{% endmacro %}