{% import "./avatar.html" as avatar %}
<form action="/write" method="post" enctype="multipart/form-data">
    <div class="post editor">
        <input type="hidden" name="legalize" value="{{ callbackData }}"/>
        <input type="hidden" name="meth" value="{{ securityToken }}"/>
        {% if editPostId %}<input type="hidden" name="shibainu" value="{{ editPostId }}"/>{% endif %}
        {% if user.id %}
            {{ avatar.user(user.id, user.username, user.avatar, config.cdn_surface) }}
        {% else %}
            {{ avatar.fake(tmp_symbol, tmp_fake_id) }}
        {% endif %}
        <div class="compose {% if collapsing %}collapsing{% endif %}">
            {% if msg %}<p class="msg {% if isError %}error{% endif %}">{{ msg }}</p>{% endif %}
            {% if spamChallengeIdx %}
                <div class="r-u-human">
                    <input type="hidden" name="caveat" value="{{ spamChallengeIdx }}" />
                    <p><strong>Question:</strong> {{ spamChallengeText }}</p>
                    <p><strong>Answer:</strong> <input type="text" name="emptor" />
                </div>
            {% endif %}
            <textarea required placeholder="{{ placeholder }}" name="post">{% if prefill %}{{ prefill }}{% endif %}</textarea>
            <button type="submit" {% if _tmp_color %}style="background: {{ _tmp_color }}"{% endif %}>{{ buttonText }}</button>
        </div>
    </div>
</form>