{% import "./pagination.html" as pagination %}
<section class="posts" id="{{ typePlural | upper }}-{{ refId }}">
    {{ pagination.paginate(basePath, refId, typePlural, page, numPages) }}
    <h2 class="post-count">{% if postCount %}{{ postCount }} {% endif %}{% if postCount == 1 %}{{ typeSingular | capitalize }}{% else %}{{ typePlural | capitalize }}{% endif %}</h2>
    {% if dntNotice %}
        <input type="checkbox" id="DNT-REJECT-{{ refId }}" class="dnt-rejected" />
        <div class="dnt-notice">
            <strong>“DO NOT TRACK” Notice:</strong>
            <p>
                Your browser has the Do Not Track preference enabled. We respect that!
                But for {{ typePlural }} to work perfectly, please make an exception and let us store
                a cookie. This will keep your session active and allow you to edit and delete
                {{ typePlural }} you make. For more info, see our <a href="/privacy">Privacy Policy</a>.
            </p>
            <a href="/cookie/dnt-override/{{ dntOverrideToken }}/{{ callbackData }}" class="accept">Accept cookie</a>
            <label for="DNT-REJECT-{{ refId }}">Reject cookie</label>
        </div>
    {% endif %}
    {{ composeHtml }}
    {{ compiledPosts }}
    {{ pagination.paginate(basePath, refId, typePlural, page, numPages) }}
</section>