{% macro paginate(basePath, refId, typePlural, page, numPages) %}
    {% if numPages > 1 %}
        <div class="pagination">
            <div class="page-index">
                <span>Page</span>
                <strong>{{ page }}</strong>
                <span>of</span>
                <strong>{% if page == numPages %}{% else %}<a href="{{ basePath }}?page={{ numPages }}#{{ typePlural | upper }}-{{ refId }}">{% endif %}{{ numPages }}{% if page == numPages %}{% else %}</a>{% endif %}</strong>
            </div>
            <div class="links"><span>{% if page == 1 %}{% else %}<a href="{{ basePath }}?page={{ page - 1 }}#{{ typePlural | upper }}-{{ refId }}">{% endif %}Previous{% if page == 1 %}{% else %}</a>{% endif %}</span><span>{% if page == numPages %}{% else %}<a href="{{ basePath }}?page={{ page + 1 }}#{{ typePlural | upper }}-{{ refId }}">{% endif %}Next{% if page == numPages %}{% else %}</a>{% endif %}</span></div>
        </div>
    {% endif %}
{% endmacro %}

