{% import "./avatar.html" as avatar %}
<div class="post {% if post.id == highlight %}highlight{% endif %} {% if post.is_deleted %}deleted{% endif %}" {% if not suppressHighlight %}id="POST-{{ post.id }}"{% endif %}>
    {% if not suppressPostActions %}<input type="checkbox" class="hide" id="{{ refId }}-hide-{{ post.id }}" value="punish"/>{% endif %}
    {% if post.is_deleted %}
        {{ avatar.deleted() }}
    {% elseif post.user %}
        {{ avatar.user(post.user.id, post.user.username, post.user.avatar, config.cdn_surface) }}
    {% else %}
        {{ avatar.fake(post.tmp_symbol, post.tmp_fake_id) }}
    {% endif %}
    <div class="post-body">
        <div class="post-meta">
            {% if post.is_deleted %}
                <strong>(deleted)</strong>
            {% elseif post.user %}
                <a href="/user/{{ post.user.username }}"><strong>{{ post.user.username }}</strong></a>
                <em>{{ post.user.title }}</em>
            {% else %}
                <strong>{{ post.tmp_username }}</strong>
            {% endif %}
            <span>&bull;</span>
            <span>{{ post._ago_time }}{% if post.is_edited %} (edited){% endif %}</span>
        </div>
        <div class="post-text">
            {% if post.is_deleted %}<p>(deleted)</p>{% else %}{{ post._markdown }}{% endif %}
        </div>
        {% if not suppressPostActions %}
            <ul class="body-actions">
                <li><label for="{{ refId }}-hide-{{ post.id }}">Hide</label></li>
                <li><label for="{{ refId }}-hide-{{ post.id }}">Unhide</label></li>
            </ul>
        {% endif %}
        {% if not suppressPostActions %}
            <ul class="post-actions">
                <li><a href="/write/{{ callbackData }}{{ post.id }}" class="post-write">Reply</a></li>
                {% if post._is_me and not post.is_deleted %}
                    <li><a rel="nofollow" href="/write/{{ callbackData }}e{{ post.id }}" class="post-write">Edit</a></li>
                {% endif %}
                {% if post._delete_token %}
                    <li><a rel="nofollow" href="/posts/delete/{{ callbackData }}{{ post.id }}a{{ post._delete_token }}" class="post-delete">Delete</a></li>
                {% endif %}
                <li>(hidden)</li>
            </ul>
        {% endif %}
        <div class="post-replies">
            {% if post.replies %}
                {% for post in post.replies %}
                    {% include "./post.html" %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>