<div class="i-will-create">
    <div class="a-new-world">
        <img class="without-evil" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/facts/fake/apple.jpg">
    </div>
    <div class="and-rule-over-it">
        <ul class="like-a-god">
            <li class="l-did-you-know"><a href="#">L did you know</a></li>
            <li class="gods-of-death"><a href="#">gods of death</a></li>
            <li class="love-apples"><a href="#">love apples</a></li>
        </ul>
    </div>
</div>