<div class="whatever-it-is-you-wanted">
    <div class="it-is-not-here">
        <img class="keep-trying" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/404/the-road-behind.jpg" />
        <footer>
            <h1>404</h1>
            <p>The requested URL was not found on this server.</p>
        </footer>
    </div>
</div>