<div class="artboard">
    <div class="loading">
        <div class="centered">
            <div class="spinner">
                <div class="blade d01"><div></div></div>
                <div class="blade d02"><div></div></div>
                <div class="blade d03"><div></div></div>
                <div class="blade d04"><div></div></div>
                <div class="blade d05"><div></div></div>
                <div class="blade d06"><div></div></div>
                <div class="blade d07"><div></div></div>
                <div class="blade d08"><div></div></div>
                <div class="blade d09"><div></div></div>
                <div class="blade d10"><div></div></div>
                <div class="blade d11"><div></div></div>
                <div class="blade d12"><div></div></div>
            </div>
        </div>
    </div>
    <ul class="tools">
        <li>
            <em>Please enable JavaScript to paint on the canvas.</em>
        </li>
        <li>
            <em>Color:</em>
            <input type="color" value="#ff0000"/>
            <a href="#" class="color"></a>
        </li>
        <li>
            <em>Size:</em>
            <input type="text" value="3 px" data-rel="size"/>
            <menu class="select size">
                <a data-size="1" href="#"></a>
                <a data-size="2" href="#"></a>
                <a data-size="3" href="#"></a>
                <a data-size="4" href="#"></a>
                <a data-size="5" href="#"></a>
                <a data-size="6" href="#"></a>
                <a data-size="7" href="#"></a>
                <a data-size="8" href="#"></a>
                <a data-size="9" href="#"></a>
                <a data-size="10" href="#"></a>
            </menu>
        </li>
        <li>
            <em>Soft:</em>
            <input type="text" value="10 px" data-rel="blur"/>
            <menu class="select blur">
                <a data-blur="0" href="#"></a>
                <a data-blur="10" href="#"></a>
                <a data-blur="20" href="#"></a>
                <a data-blur="30" href="#"></a>
                <a data-blur="40" href="#"></a>
                <a data-blur="50" href="#"></a>
                <a data-blur="60" href="#"></a>
                <a data-blur="70" href="#"></a>
                <a data-blur="80" href="#"></a>
                <a data-blur="100" href="#"></a>
            </menu>
        </li>
    </ul>
    {% if mostRecentPNGTimestamp %}<img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/guestbook/{{ mostRecentPNGTimestamp }}.png" crossorigin="anonymous" class="initial-canvas-state"/>{% endif %}
    <canvas class="guestbook"></canvas>
</div>
<div class="noscript">
    <h1>GU3STB0OK</h1>
    <p>
        If you don't allow JavaScript or you can't draw, then here's the basic version.
    </p>
    <div class="posts-container">{{ commentsHTML }}</div>
</div>
<footer>
    Copyright &copy; 2019 <a href="/">Obsessive Network LLC</a>. Source code licensed under AGPL. <a href="/privacy">Privacy</a> &bull; <a href="/terms">Terms</a> &bull; <a href="/dmca">DMCA</a>
</footer>