@keyframes spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
// #dos { display: none; }

body {
    background: #222;
    color: #eee;
    height: 100%;
    overflow: hidden;
}

.page {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    
    .fade;
}

header {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
    text-align: center;
    transition: transform .25s ease-in;
    background: black;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &.hidden {
        transform: translateY(-40px);
    }

    input#subnav_toggle { display: none; }

    nav {
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        color: white;
        height: 40px;
        line-height: 40px;
        font-size: 17px;
        flex-shrink: 1;
        flex-grow: 0;

        .no-select;

        ul.main {
            display: inline;
            text-align: center;

            > li {
                display: inline;

                > a, > label {
                    display: inline;
                    cursor: pointer;
                    text-decoration: none;
                    padding: 0px 10px;
                    color: white;
                    font-family: 'Courier New', 'Monospace', mono;

                    .no-select;

                    &.active {
                        font-weight: bold;
                        &:hover {
                            color: white;
                        }
                    }
                    &:hover {
                        color: #cf9;
                    }
                }
                > label {
                    padding-right: 0px;
                    &::after {
                        content: "…";
                        padding-right: 10px;
                    }
                }
            }
        }

        ul.subnav {
            position: absolute;
            display: none;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 400px;
            max-height: 400px;
            z-index: 1;
            overflow-y: auto;
            padding: 0px 0px;
            cursor: pointer;

            li {
                > a, > form {
                    display: block;
                    width: 100%;
                    font-size: 80%;
                    cursor: pointer;
                    text-decoration: none;
                    color: white;
                    font-family: 'Courier New', 'Monospace', mono;
                    background: rgba(0, 0, 0, .9);
                    margin-top: -1px;

                    &:hover { color: #cf9; }
                    &.twitter {
                        position: relative;
                        transform: scaleY(-1);
                        &:hover {
                            color: transparent;
                            transform: scaleY(1);
                            &::before {
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                width: 100%;
                                height: 100%;
                                content: 'fmiffel';
                                color: #cf9;
                            }
                        }
                    }
                }
                &.user {
                    background: rgba(0, 0, 0, .9);
                    padding: 10px 15px;

                    > div {
                        background: #666;
                        border-radius: 5px;
                        padding: 5px;
                        display: flex;
                        flex-direction: row;

                        div.avatar {
                            border-radius: 5px;
                            width: 48px;
                            height: 48px;
                            flex-shrink: 0;
                        }
                        div.status {
                            line-height: 20px;
                            font-size: 20px;
                            text-align: left;
                            padding-left: 15px;
                            font-family: 'Courier New', 'Monospace', mono;
                            font-size: 80%;
                        }
                        a {
                            font-size: 16px;
                            color: pink;
                            text-decoration: none;
                            
                        }
                        strong {
                            font-weight: bold;
                            display: block;
                            margin-bottom: 5px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
                &.spacer label {
                    display: block;
                    cursor: pointer;
                    width: 100%;
                    height: 40px;
                    color: rgba(0,0,0,0);
                }
                &.n1, &.n2, &.n3, &.n4 { display: none; }
            }
        }
    }

    #player {
        position: relative;
        vertical-align: top;
        height: 40px;
        background: rgba(255, 255, 255, .3);
        box-sizing: border-box;
        flex-grow: 0;
        flex-shrink: 0;
        transition: width .2s ease-in;
        overflow: hidden;
        width: 0px;
        z-index: 2;

        &.visible {
            width: 270px;
        }

        svg {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 40px;
            height: 40px;
            display: none;

            &.visible {
                display: block;
            }

            &.play, &.pause {
                stroke: none;
                fill: white;
                background: rgba(255, 255, 255, .15);
                cursor: pointer;
                transition: all .1s linear;

                &:hover {
                    background: rgba(255, 255, 255, 1);
                    fill: black;
                }
            }
            
            &.loading {
                stroke-width: 2px;
                stroke: rgba(255, 255, 255, .75);
                fill: none;

                path {
                    animation: spinner .5s infinite;
                    animation-timing-function: linear;
                    transform-origin: 20px 20px;
                }
            }

            &.error {
                stroke: rgb(192, 64, 64);
                stroke-width: 5px;
            }
        }

        canvas {
            position: absolute;
            left: 40px;
            top: 0px;
            width: 230px;
            height: 40px;
        }

        span {
            position: absolute;
            text-align: left;
            display: block;
            left: 50px;
            top: 10px;
            width: 205px;
            font-family: 'Courier New', 'Monospace', mono;
            font-size: 12px;
            color: white;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            .no-select;
        }
    }

    &.player-enabled {
        label.hamburger {
            display: inline-block;
            cursor: pointer;
            flex-shrink: 1;
            flex-grow: 0;
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;

            svg {
                vertical-align: middle;
                margin-bottom: 2px;
                width: 20px;
                height: 20px;
                stroke: none;
                fill: white;
            }

            &:hover {
                background: rgba(255, 255, 255, .2);
            }
        }
        nav {
            ul.main {
                > li {
                    > a, > label { display: none; }
                    &:nth-of-type(4) {
                        display: none;
                    }
                    &:nth-of-type(3) {
                        display: none;
                    }
                    &:nth-of-type(2) {
                        display: none;
                    }
                    &:nth-of-type(1) {
                        display: none;
                    }
                    &~li ul.subnav {
                        li.n1, li.n2, li.n3, li.n4 { display: block; }
                    }
                }
            }
        }
    }

    input#subnav_toggle:checked ~ nav {
        ul.main {
            > li {
                > a, > label {
                    opacity: .5;
                    &.active { font-weight: normal; }
                }
                > label {
                    opacity: 1;
                    font-weight: bold;
                    &:hover {
                        color: white;
                    }
                    &::after {
                        content: "↓";
                    }
                }
            }
        }
        ul.subnav { display: flex; flex-direction: column; }
    }
    input#subnav_toggle:checked ~ label.hamburger {
        background: white;
        &:hover { background: white; }
        svg { fill: black; }
    }

    @media (min-width: 360px) {
        nav {
            padding: 0px 10px;
            width: 100%;

            ul.main {
                display: inline-block;
                > li {
                    &:nth-of-type(4) {
                        display: inline;
                    }
                }
            }
        }
    }

    @media (min-width: 360px) {
        &.player-enabled {
            label.hamburger { display: none; }
            nav {
                ul.main {
                    display: inline-block;
                    > li > a, > li > label { display: inline; }
                }
                padding-left: 4px;
            }
        }
    }

    @media (min-width: 370px) {
        &.player-enabled {
            nav {
                padding-left: 10px;
            }
        }
    }

    @media (min-width: 380px) {
        nav ul.subnav {
            left: 50%;
            margin-left: -190px;
            width: 380px;
            max-height: 400px;
            padding: 0px 0px;
        }
    }

    @media (min-width: 450px) {
        &.player-enabled {
            nav {
                ul.main {
                    > li {
                        &:nth-of-type(1) {
                            display: inline;
                        }
                        &~li ul.subnav {
                            li.n1 { display: none; }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 414px) {
        nav {
            ul.main {
                font-size: 20px;
                width: 100%;
            }
        }

    }

    @media (min-width: 481px) {
        nav {
            ul.main {
                font-size: 25px;
                width: 100%;
            }
        }

    }
    @media (min-width: 580px) {
        &.player-enabled {
            nav {
                ul.main {
                    > li {
                        &:nth-of-type(2) {
                            display: inline;
                        }
                        &~li ul.subnav {
                            li.n2 { display: none; }
                        }
                    }
                }
            }
        }
    }
        @media (min-width: 696px) {
        &.player-enabled {
            nav {
                ul.main {
                    > li {
                        &:nth-of-type(3) {
                            display: inline;
                        }
                        &~li ul.subnav {
                            li.n3 { display: none; }
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 790px) {
        // border-radius: 0px 0px 10px 10px;

        // NOTE ~ always full size
        // left: 50%;
        // width: 520px;
        // margin-left: -260px;

        &.player-enabled {
            transition: transform .25s ease-in, width .2s ease-in, margin-left .2s ease-in;
            // NOTE ~ always full size
            // width: 790px;
            // margin-left: -395px;

            nav {
                ul.main {
                    > li {
                        &:nth-of-type(4) {
                            display: inline;
                        }
                        &~li ul.subnav {
                            li.n4 { display: none; }
                        }
                    }
                }
            }
        }

        #player {
            // border-radius: 0px 0px 10px 0px;
        }
    }
}