<ul>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/SUPER_LIFE_DESTROYER.mp3">SUPER LIFE DESTROYER</a>
        <aside><strong>SUPER LIFE DESTROYER</strong><p>You're a murderer. You're a hater. You're a life destroyer.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/obsessivefacts.mp3">Obsessive Facts</a>
        <aside><strong>Obsessive Facts</strong><p>Attain complete control.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/in_god_we_rust.mp3">In God We Rust</a>
        <aside><strong>In God We Rust</strong><p>This was inspired by the Iraq war but still seems applicable to the recent state of affairs.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/oxycodone.mp3">Coming Through in Waves</a>
        <aside><strong>Coming Through in Waves</strong><p>Some prescriptions are better left unfinished.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/the_sleeper.mp3">The Residents - The Sleeper (Remix)</a>
        <aside><strong>The Residents - The Sleeper (Remix)</strong><p>Remix of The Residents' song about a woman who is asleep. Thx to The Cryptic Corporation for authorizing this.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/safety_dance.mp3">Men Without Hats - Safety Dance (Remix)</a>
        <aside><strong>Men Without Hats - Safety Dance (Remix)</strong><p>Parody remix of the formerly popular Men Without Hats song.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/p@ssw0rd.mp3">p@ssw0rd</a>
        <aside><strong>p@ssw0rd</strong><p>It's up in your metadata, Skippy.<br/><br/>Synth work from AudioSim for MS-DOS. Samples from perpetually out-of-tune ukelele.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/battery_acid.mp3">Battery Acid</a>
        <aside><strong>Battery Acid</strong><p>Korg MS2000 synth work with my friend on guitar. Arranged in ModPlug Tracker for Windows XP.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/altered_penguin_march.mp3">Altered Penguin March</a>
        <aside><strong>Altered Penguin March</strong><p>There's this chaotic hellscape beneath the chest cavity of a Vegas hooker, and these weird penguins are marching around in it. Potato quality.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/the_broken_glass_man.mp3">The Broken Glass Man</a>
        <aside><strong>The Broken Glass Man</strong><p>Basically the first song I ever arranged on PC, so it's all over the place. My friend did the guitar solo at the end.</p></aside>
    </li>
    <li>
        <a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/audio/chuckles.mp3">Chuckles the Gaseous Bunny</a>
        <aside><strong>Chuckles the Gaseous Bunny</strong><p>Arranged on a Technics KN750 workstation keyboard (RIP) with pre-pubescent vocals.</p></aside>
    </li>
    <li class="nul">
        <svg class="q" viewBox="0 0 230 1000">
            <text x="54" y="310">?</text><text x="-176" y="-689" class="whoops">?</text>
        </svg>
    </li>
</ul>