#notifier {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    z-index: 100000;

    .row {
        padding: 20px 15px;
    }

    .notification {
        display: inline-block;
        box-sizing: border-box;
        margin: 0px 0px;
        padding: 15px;
        background: #444;
        color: white;
        font-weight: bold;
        width: 100%;
        max-width: 500px;
        transition: all .5s linear, background .2s linear;
        font-size: 20px;
        line-height: 26px;
        font-family: 'Helvetica', 'Calibri', sans;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 0px 3px 20px rgba(0, 0, 0, .5);

        &:hover { background: #222; }

        &.invisible {
            opacity: 0;
            transform: translateY(100px);
        }

        &.dismiss {
            opacity: 0;
            transform: translateY(-25px);
        }
    }
}