<div class="map">
    <h1>Sitemap</h1>
    <ul>
        <li class="link-home"><a href="/" class="r">Home</a></li>
        <li class="link-music"><a href="/music" class="l">Music</a></li>
        <li class="link-blog"><a href="/blog" class="l">Blog</a></li>
        <li class="link-guestbook"><a href="/guestbook" class="l">Guestbook</a></li>
        <li class="link-contact"><a href="/contact" class="r">Contact</a></li>
        <li class="link-about"><a href="/about" class="r">About</a></li>
        <li class="link-memespeech"><a href="/memespeech" class="l">Memespeech</a></li>
        <li class="link-fmiffel"><a href="/fmiffel" class="l">Fmiffel</a></li>
        <li class="link-sharemyshit"><a href="https://www.sharemyshit.com" target="_blank" class="r">Shit</a></li>
        <li class="link-facts"><a href="/facts" class="l">Facts</a></li>
        <li class="link-password"><a href="/password" class="r">Password</a></li>
        <li class="bg">end of list</li>
    </ul>
    <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/sitemap/map.png">
</div>
