@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_semibold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans_bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.page.facts-shibainu-profile {
    background: #000;
    background: radial-gradient(rgba(0, 0, 0, 1), rgba(255, 153, 77, .1));
    perspective: 1px;
    perspective-origin: 0 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;

    .parallax {
        margin-top: 80px;
        width: 100%;
        max-width: 1024px;
        height: 100%;
        transform-origin: 0 0;
        transform: translateZ(-1px) scale(2);
        background: url(/images/facts/shibainu/profile/banner2.jpg) center top no-repeat;
        background-size: 100% auto;
        z-index: -1;
        position: absolute;
    }

    .flex-layout {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1024px;
        margin: 0px auto;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);

        div.background {
            width: 100%;
            max-width: 1024px;
            padding-top:calc(37.6% + 40px);
        }

        div.content {
            background: #222;
            position: relative;
            font-family: 'Open Sans';

            img.avatar {
                position: absolute;
                transform: translate(12.5%, -50%);
                width: 25%;
                border-radius: 100%;
                border: 4px solid #222;
                height: auto;
            }
            a.follow {
                position: absolute;
                display: block;
                color: #eb994d;
                border: 2px solid #eb994d;
                text-decoration: none;
                text-align: center;
                font-weight: 500;
                border-radius: 2vw;
                right: 3.5vw;
                top: 5vw;
                font-size: 4.5vw;
                padding: 0px 7vw;
                height: 7vw;
                line-height: 7vw;

                &:hover {
                    background: rgba(235, 153, 77, .05);
                    text-shadow: 0px 0px 5px rgba(235, 153, 77, .7);
                }
            }
            h1 {
                font-size: 4.5vw;
                padding-top: 14vw;
                padding-left: 3.5vw;
                margin-bottom: 1.5vw;
                font-weight: 600;
            }
            h2 {
                font-size: 4vw;
                padding-left: 3.5vw;
                margin-bottom: 4.39vw;
                color: #999;
            }
            p {
                font-size: 4vw;
                padding: 0 3.5vw;
                margin-bottom: 4.39vw;
            }
            ul.stats {
                padding: 0 3.5vw;
                color: #999;
                margin-bottom: 4.39vw;

                li {
                    font-size: 4vw;
                    display: inline-block;
                    margin-right: 3.5vw;

                    svg {
                        fill: #999;
                        width: 4vw;
                        height: 4vw;
                        vertical-align: top;
                        margin-right: .5vw;
                    }
                    span {
                        vertical-align: top;
                    }
                }
            }
            ul.tabs {
                list-style-type: none;
                display: flex;
                flex-direction: row;
                width: 100%;
                border-bottom: 2px solid #000;

                li {
                    flex-grow: 1;
                    text-align: center;
                    a {
                        display: inline-block;
                        text-decoration: none;
                        width: 100%;
                        font-weight: bold;
                        color: #999;
                        padding: 4.39vw 0;
                        font-size: 4vw;

                        span {
                            display: inline-block;
                            position: relative;
                        }

                        &.sel {
                            color: #eb994d;

                            span {
                                &:after {
                                    content: " ";
                                    position: absolute;
                                    left: 0px;
                                    width: 100%;
                                    background-color: #eb994d;
                                    border-radius: 5px;
                                    bottom: -4.39vw;
                                    height: .75vw;
                                }
                            }
                        }
                        &:hover {
                            background: rgba(235, 153, 77, .05);
                            color: #eb994d;
                        }
                    }
                }
            }
            ul.posts {
                list-style-type: none;
                font-size: 4vw;
                line-height: 1.4em;

                > li {
                    display: flex;
                    flex-direction: row;
                    border-bottom: 2px solid black;
                    position: relative;
                    padding: 3.5vw 3.5vw 1.5vw 3.5vw;

                    &.pinned {
                        padding-top: 10vw;
                        &:before {
                            content: 'Pinned Inu';
                            position: absolute;
                            background: black;
                            font-size: 80%;
                            color: #999;
                            font-weight: bold;
                            left: 14.5vw;
                            top: 3vw;
                            padding: 0px 3vw;
                        }
                    }

                    > a {
                        flex-shrink: 0;
                        width: 12vw;

                        img { border-radius: 100%; }
                    }
                    > div {
                        flex-grow: 1;
                        padding-left: 2vw;

                        a.username {
                            color: #fff;
                            font-weight: 600;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        a.timestamp {
                            text-decoration: none;
                            color: #999;
                            &:before {
                                content: " · "
                            }
                            time:hover {
                                text-decoration: underline;
                            }
                        }
                        p { 
                            padding: 0px;
                            margin-bottom: 1.5vw;

                            a {
                                color: #da8e47;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        a.img-container {
                            display: block;
                            position: relative;
                            width: 100%;
                            height: 0px;
                            padding-bottom: 56.25%;
                            border: 1px solid #666;
                            border-radius: 10px;
                            overflow: hidden;
                            background-color: rgba(235, 153, 77, .05);
                            margin-bottom: 1.5vw;

                            img {
                                display: block;
                                position: absolute;
                                left: 0px;
                                top: 50%;
                                transform: translateY(-50%);
                            }
                        }
                        div.poll {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            margin-bottom: 1.5vw;

                            div.bar {
                                flex-shrink: 0;
                                position: relative;
                                width: 100%;
                                margin-bottom: 1vw;
                                height: 8vw;

                                .progress {
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    background: #666;
                                    z-index: 1;
                                    border-radius: 10px;
                                    height: 8vw;
                                }
                                .info {
                                    position: absolute;
                                    left: 0px;
                                    top: 0px;
                                    box-sizing: border-box;
                                    width: 100%;
                                    align-items: center;
                                    display: flex;
                                    justify-content: space-between;
                                    z-index: 2;
                                    height: 8vw;
                                    padding: 0px 2vw 0px 4vw;
                                }
                                &.winner {
                                    .progress {
                                        background: rgba(235, 153, 77, 1);
                                    }
                                    .info {
                                        font-weight: 600;
                                    }
                                }
                            }
                            div.stats {
                                color: #999;
                                padding-top: 1.5vw;
                            }
                        }
                        ul.engagement {
                            list-style-type: none;
                            li {
                                display: inline-block;
                                padding-right: 5.5vw;
                                a {
                                    color: #999;
                                    text-decoration: none;
                                    transition: color 0.25s linear;
                                }
                                svg {
                                    fill: #999;
                                    vertical-align: top;
                                    vertical-align: middle;
                                    width: 4vw;
                                    height: 4vw;
                                    margin-right: 1.5vw;
                                    transition: fill 0.25s linear;
                                }
                                span { vertical-align: middle; }

                                &:nth-of-type(1) {
                                    a:hover {
                                        color: #eb994d;
                                        svg { fill: #eb994d; }
                                    }
                                }

                                &:nth-of-type(2) {
                                    a:hover {
                                        color: #9beb4d;
                                        svg { fill: #9beb4d; }
                                    }
                                }

                                &:nth-of-type(3) {
                                    a:hover {
                                        color: #eb4d6e;
                                        svg { fill: #eb4d6e; }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            img {
                width: 100%;
                height: auto;
                clip-path: rect(20% 10%);
            }
        }

        &.standalone {
            div.background { display: none; }
        }

        a.backToProfile {
            display: flex;
            align-items: center;
            border-top: 40px solid black;
            border-bottom: 2px solid black;
            background: rgba(235, 153, 77, .05);
            text-decoration: none;;

            padding: 3.5vw;

            svg {
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                fill: #eb994d;
                margin-right: 1.5vw;
            }
            span {
                color: white;
                font-weight: bold;
                font-size: 4vw;
            }

            &:hover {
                background: rgba(235, 153, 77, .05);
            }
        }
    }
    #engagement-icons { display: none; }
}

@media (min-width: 790px) {
    .page.facts-shibainu-profile {
        .parallax {
            margin-top: 0px;
        }
        .flex-layout {
            margin-top: 0px;

            div.background {
                padding-top:37.6%;
            }
        }
    }
}
@media (min-width: 1024px) {
    div.page.facts-shibainu-profile {
        .flex-layout {
            div.content {
                a.follow {
                    border-radius: 20.5px;
                    right: 36px;
                    top: 51px;
                    font-size: 46px;
                    padding: 0px 72px;
                    height: 72px;
                    line-height: 72px;
                }
                h1 {
                    font-size: 46px;
                    padding-top: 144px;
                    padding-left: 36px;
                    margin-bottom: 15px;
                }
                h2 {
                    font-size: 41px;
                    padding-left: 36px;
                    margin-bottom: 45px;
                }
                p {
                    font-size: 41px;
                    padding: 0px 36px;
                    margin-bottom: 45px;
                }
                ul.stats {
                    padding: 0px 36px;
                    margin-bottom: 45px;

                    li {
                        font-size: 41px;
                        margin-right: 36px;

                        svg {
                            width: 41px;
                            height: 41px;
                            margin-right: 5px;
                        }
                    }
                }
                ul.tabs {
                    li {
                        a {
                            padding: 45px 0px;
                            font-size: 41px;

                            &.sel {
                                span {
                                    &:after {
                                        bottom: -45px;
                                        height: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
                ul.posts {
                    font-size: 41px;
                    > li {
                        padding: 36px 36px 15px 36px;
                        &.pinned {
                            padding-top: 102px;
                            &:before {
                                left: 148px;
                                top: 31px;
                                padding: 0px 31px;
                            }
                        }
                        > a {
                            width: 123px;
                        }
                        > div {
                            padding-left: 20px;

                            p {
                                margin-bottom: 15px;
                            }
                            a.img-container {
                                margin-bottom: 15px;
                            }
                            div.poll {
                                margin-bottom: 15px;

                                div.bar {
                                    margin-bottom: 10px;
                                    height: 82px;
                                    .progress {
                                        height: 82px;
                                    }
                                    .info {
                                        height: 82px;
                                        padding: 0px 20px 0px 40px;
                                    }
                                }
                                div.stats {
                                    padding-top: 15px;
                                }
                            }
                            ul.engagement {
                                li {
                                    padding-right: 56px;
                                    svg {
                                        width: 41px;
                                        height: 41px;
                                        margin-right: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            a.backToProfile {
                padding: 36px;

                svg {
                    margin-right: 15px;
                }
                span {
                    font-size: 41px;
                }
            }
        }
        .parallax {
            width: 100%;
            max-width: none;
            height: 100%;
            background: url(/images/facts/shibainu/profile/banner2.jpg) center top no-repeat;
            background-size: 1024px 386px;
        }

    }
}