@font-face {
    font-family: 'whitrabt';
    src: url('/fonts/whitrabt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.page.facts-fake-apple {
    .without-evil {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 790px) {
    .page.facts-fake-apple {
        .i-will-create {
            height: 100vh;
            background: black;
            max-height: 1200px;
            position: relative;
            background-color: black;
            overflow: hidden;

            .a-new-world {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                z-index: 2;
            }

            .without-evil {
                position: absolute;
                left: 50%;
                top: 0px;
                width: auto;
                margin-right: 0%;
                height: 100%;
                transform: translateX(-50%);

                @media (min-height: 1200px) {
                    height: 1200px;
                    transform: none;
                    transform: translateX(-50%);
                }
            }

            .and-rule-over-it {
                position: absolute;
                left: 50%;
                top: 0px;
                transform: translateX(-50%);
                width: 133vh;
                max-width: 100vw;
                height: 100vh;
                z-index: 2;
            }

            .like-a-god {
                display: inline-block;
                list-style-type: none;
                padding: 11vh 0 0 5vh;
                width: 50vh;

                @media (min-height: 1200px) {
                    padding: 132px 0 0 60px;
                    width: 600px;
                }

                li {
                    display: inline-block;
                    font-family: 'whitrabt';
                    font-size: 4vh;
                    padding: 1vh 2vh;
                    background: #333;
                    color: white;
                    margin-bottom: 4vh;
                    animation: apple-cliptator .6s ease-out forwards;
                    clip-path: inset(0% 100% 0% 0%);

                    @media (min-height: 1200px) {
                        font-size: 48px;
                        padding: 12px 24px;
                        margin-bottom: 48px;
                    }

                    @keyframes apple-cliptator {
                        0% { clip-path: inset(0% 100% 0% 0%); }
                        100% { clip-path: inset(0% 0% 0% 0%); }
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        background: linear-gradient(270deg, white 0%, white 80%, #8f8 100%);
                        background-size: 170% auto;
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        animation: apple-shine .66s ease-out forwards;

                        &:hover {
                            background: linear-gradient(270deg, #8f8 0%, #8f8 0%);
                            -webkit-background-clip: text;
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                            text-shadow: 0px 0px 5px rgba(128, 255, 128, .5);
                        }

                        @keyframes apple-shine {
                            to {
                                background-position: -200% center;
                            }
                        }
                    }
                    &.l-did-you-know {
                        animation-delay: .75s;
                        a { animation-delay: 1s; }
                    }
                    &.gods-of-death {
                        animation-delay: 1.5s;
                        a { animation-delay: 1.75s; }
                    }
                    &.love-apples {
                        animation-delay: 3s;
                        a { animation-delay: 3.25s; }
                    }
                }
            }
        }
    }
}