<!--
Thank you to developer meduz' for the CRT scan-lines effect
https://codepen.io/meduzen/pen/zxbwRV (MIT Licensed)
-->
<input type="checkbox" id="obvert" {% if rotate_checked %}checked="true"{% endif %}/>
<div class="three-dimensional">
    <div class="cuboid">
        <article class="about-us">
            <section class="obsess">
                <div class="column"> 
                    <h1>about us:</h1>
                    <p>
                        Our carefully constructed <em>personas exist</em>
                    </p>
                    <p>
                        Bantering, <em>placated</em> in our filter bubbles yet
                    </p>
                    <p>
                        Sad and isolated <em>in this alternate reality</em>
                    </p>
                    <p>
                        <em>Engineered</em> by a generation's greatest minds
                    </p>
                    <p>
                        Solely <em>to coerce us</em> into clicking on bullshit
                    </p>
                    <p>
                        <strong><a href="/about/x">Share and like and subscribe if you agree!</a></strong>
                    </p>
                </div>
            </section>
            <section class="social"><button class="twitter" title="Follow us on Twitter!">Share on Twitter</button><button class="facebook" title="Like us on Facebook!">Like on Facebook</button><button class="youtube" title="Subscribe to our YouTube channel!">Subscribe on YouTube</button></section>
            
        </article>
        <article class="obsessive-facts">
            <div class="chrome-fix">
                <!--
                    Workaround necessary in at least Google Chrome 71.0.3578.98.
                    This .chrome-fix div is actually the scrolling content div
                    for the article. Ideally the article itself would be
                    scrolling with no need for this, but due to a bug in Chrome,
                    `backface-visibility: hidden` does not work on a scrolling
                    div, causing the reverse image of the element to be visible
                    when it shouldn't be. So with this workaround we do a 3D
                    transform on the article (with `overflow: hidden` now) and
                    do our scrolling in a child element that occupies the full
                    width and height. Firefox rulz as always.
                -->
                <div class="logo">
                    <svg class="union" width="300" height="300" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40" /><line x1="22" y1="22" x2="78" y2="78" /><line x1="22" y1="78" x2="78" y2="22" /></svg>
                    <svg class="o" width="300" height="300" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40" /></svg>
                    <div class="back-1"></div>
                    <div class="back-2"></div>
                    <div class="back-3"></div>
                </div>
                <section class="really-about-us">
                    <!--
                    Beneath the mask lies this Union created long ago to control unbounded chaotic
                    energy. Without the guidance of kindness, love and acceptance, chaos can become
                    very dark; and without focus and discipline, energy can not reliably yield
                    power. Thus from the necessity of self-preservation and the prospect of mutual
                    benefit, our Grand Compromise was formed.
                    -->
                    {{ about }}
                    <div class="tv">
                        <a href="/volition/noscript" class="volition" title="reconstruct">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1140 1140">
                            <g>
                                <path d="M382.7,1082.4c2.6-2,5.9-1.9,8.9-2.6c16.5-3.8,33.1-7.5,49.7-11.4c10.7-2.5,18.7-12.8,17.6-21.8c-0.4-3.1-1.7-6.1-4.9-6.1
                                c-14.7,0.2-29.7-2.9-44,2.8c-9.9,3.9-19.6,8.4-29.4,12.5c-6.6,2.8-13.2,5.5-19.7,8.5c-3,1.4-5.1,1.2-7.5-1.2
                                c-27.8-27.3-55.7-54.6-83.6-81.8c-2.3-2.3-3.9-5-5.3-7.8c-10.2-19.5-20.3-39-30.4-58.6c-1.8-3.5-4-6.5-6.7-9.2
                                c-12.4-12.3-24.6-24.9-37.2-37c-4.1-3.9-5.2-7.9-4.9-13.3c0.8-14.1,1.2-28.3,1.8-42.4c0.1-3.2-0.5-6.2-1.9-9.2
                                c-3.4-7.2-6.5-14.6-10-21.8c-1.5-3.2-1.6-6.2-0.7-9.6c3.2-11.4,5.7-23,9.4-34.2c4-11.9,3.7-23.7,1.9-35.8
                                c-3.8-25.7-7.5-51.4-12.1-76.9c-1.3-7.2,1.6-14.5,2.5-21.7c1.6-11.7,3.6-23.4,5.5-35c0.3-2,0.3-4-0.6-5.9
                                c-0.3-0.6-0.4-1.3-0.8-1.8c-10-18.6-13.1-38.5-11.4-59.4c0.4-4.4,1.3-7.9,4.3-11.2c8.4-9.4,16.6-19.1,25.1-28.5
                                c2.7-3.1,4.1-6,3-10.3c-1.5-5.8-1.9-11.8-3.1-17.7c-0.9-4.6-0.4-8.8,1.2-13.2c2.9-7.8,5.3-15.8,8.3-23.6c1.4-3.6,0.6-5.8-2.3-8.1
                                c-4.6-3.6-8.7-7.8-13.1-11.6c-2.4-2-2.9-4.3-2.8-7.5c0.6-19.6,5.3-38.5,9.1-57.6c1.9-9.4-0.7-18.9-0.9-28.4
                                c-0.1-6.5-0.8-13-1.4-19.4c-0.3-2.9,1.4-4.5,3.4-6.2c18.5-15.3,36.9-30.6,55.6-45.8c3.1-2.5,3.3-4,0.6-7
                                c-22.5-24.9-43.7-50.8-64.6-76.9c-3.2-4-3.6-6.6,0-10.5c5.9-6.4,11.3-13.2,16.6-20c2.1-2.7,4.2-3.1,7.3-2c8.6,3.1,17.4,5.9,26,9
                                c3.3,1.2,5.2,0.9,7.5-2.2c18.4-24.9,37.1-49.7,55.5-74.6c2.5-3.4,4.9-4.8,9.1-3.9c18.5,4.1,37.2,1,55.7,0.4
                                c16.3-0.6,32.6-1.6,48.9-2c6.2-0.1,10.6-3.5,15.6-5.9c2.8-1.4,5.4-2.1,8.6-1.6c20.8,3,41.6,5.7,62.3,8.7c3.4,0.5,6.5,0.3,9.7-1.1
                                c13.4-6,26.9-11.7,40.2-17.8c4-1.8,7.4-1.9,11.5-0.5c20.3,6.9,40.8,13.6,61.1,20.5c3.5,1.2,6.7,1.3,10.2,0.1
                                c3.9-1.4,8.1-2.1,11.9-3.8c8.4-3.8,16.8-3.5,25.2-0.5c13.3,4.6,26.5,5.1,40,0.7c15.3-5,31.2-6.3,47.2-7.2
                                c10.9-0.6,20.9-5.4,31.3-8.3c2.5-0.7,4.8-1.2,7.3-0.4c7.4,2.5,14.9,4.8,22.4,7.2c2.6,0.8,4.7,2.4,6.9,3.9
                                c38.6,26.5,73,58.1,108.8,88c3.7,3.1,7.1,6.6,11.1,9.3c7.7,5.3,12.4,12.8,16.6,20.9c1.4,2.6,1.1,4.5-0.7,6.7
                                c-5.3,6.4-10.5,13-15.8,19.4c-8.8,10.7-16.3,22.3-22.9,34.5c-1.9,3.5-4.2,6.3-7.8,8c-1.9,0.9-3.6,2.4-5.6,3.2
                                c-10,3.8-15.1,12-19.1,21.2c-0.8,1.9-0.8,3.4,0.1,5.2c2.6,5.6,5.1,11.2,7.8,16.8c0.6,1.2,1.4,2.4,2.4,3.1
                                c10.4,7.4,19.8,16.5,31.8,21.5c3.3,1.4,4.9,3.8,6.4,7c6,12.8,1.9,26,2.4,39c0.1,2.4-1.9,3.9-3.5,5.2
                                c-12.2,9.5-20.5,22.1-28.3,35.2c-1.4,2.3-2.4,4.7-3,7.3c-4.1,19.9-8.2,39.8-9.9,60.1c-0.6,7.2,1.7,13.8,3.2,20.6
                                c5,22.9,10.3,45.8,15.4,68.7c0.6,2.7,1.6,5,3.4,7.1c2,2.2,3.7,4.8,5.9,6.8c16.3,14.5,21.7,35,30.2,53.9c3.9,8.8,3.8,15.2-3.1,22.1
                                c-4.8,4.8-8.3,10.8-12.6,16.1c-2,2.5-2.5,4.7-1.4,7.8c3.9,11.7,7.4,23.5,11.3,35.2c1.1,3.2,1,5.8-1.6,8.1
                                c-0.1,0.1-0.2,0.3-0.3,0.4c-13.4,9.3-7.9,21.9-6,33.8c0.4,2.4,2.4,3.7,4.4,4.5c11.8,5.2,16,16.9,22.6,26.5c1.3,2,0.3,3.4-1,4.8
                                c-4.9,5.4-9.7,11-14.8,16.3c-2.1,2.3-2.8,4.5-2.1,7.6c2,9.9,3.5,20,5.5,30c0.6,3.3-0.2,5.6-2.5,8c-9.6,10-19,20.1-28.5,30.1
                                c-2.5,2.6-3.7,5.4-4,8.8c-0.7,6.3-1.6,12.6-2.3,18.8c-0.5,4.7-2.2,8.8-5,12.8c-16,23.3-31.9,46.9-47.9,70.2
                                c-2.2,3.2-3,5.9-0.9,9.5c6.7,11.4,5.9,24.4,7.5,36.8c0.4,3.1-2.3,3.3-4.3,3.9c-11.7,3.4-23.3,6.9-35.1,10.1
                                c-3.9,1.1-6.8,3-9.3,6.1c-12.1,15.1-24.4,30-36.5,45.1c-2,2.4-4.2,4.1-7,5.4c-12,5.4-23.9,11-36,16.2c-8.3,3.6-16,8-23,13.8
                                c-9.8,8.3-20,16.1-30.1,24c-2.1,1.7-4.1,3.6-7.1,3.2c-23.2-2.6-45.1,3.6-66.4,11.3c-15.8,5.7-30.7,2.6-46.1,0.4
                                c-37.7-5.5-75.4-11.1-113.1-16.6c-8.1-1.2-16-2.6-23.4-6.4c-17-8.8-34.3-17.1-51.5-25.6C384.7,1084.6,383.1,1084.3,382.7,1082.4z
                                 M421.3,673.8c-1.6,25.1,2.8,49.8,4.7,74.7c2.1,25.9,12.9,48.4,25.3,70.3c6.8,12,15.7,22.8,23.2,34.4c9.6,14.8,23.5,24.8,37.3,35
                                c5.4,4,11.7,6.2,18.3,7.6c6.2,1.3,12.3,3,18.4,4.7c19.9,5.6,40.2,7.4,60.2,2.6c24.3-5.9,47.7-13.8,66.6-32.2
                                c13.8-13.5,30.6-23.6,39.4-42.3c9.1-19.7,22.2-37.5,24.7-60.1c2-18.2,7.9-35.8,8.7-54.2c0.4-7.7-0.9-15.2-1.5-22.9
                                c-1.3-18.9-2.6-37.9-8-56.2c-1.4-5-3.7-8.3-9.2-9.1c-4.6-0.7-9.1-1.9-13.6-3.2c-8.6-2.3-17.1-2.2-25.7-0.1
                                c-22.8,5.5-45.8,8.6-69.3,7.3c-6.8-0.4-13.6-0.7-20.5-0.8c-20.8-0.5-41.6-0.7-62.5-1.4c-17.6-0.6-35.2-1.5-52.8-3.3
                                c-15.6-1.6-31.2-5.2-47.1-1.5c-10.1,2.3-14.1,5.5-15.9,15.7C420.2,650.5,421.8,662.1,421.3,673.8z M529.4,572c2.7-0.2,5.4,0,8-0.6
                                c29.1-6.5,58.8-6.8,88.4-7.6c13-0.3,25.4-1.8,37.3-7.5c7.6-3.6,17.7-18.9,16.1-27.2c-2.2-11.4-4.6-22.8-12.3-32.3
                                c-6.7-8.2-12.8-17.1-19.2-25.6c-3.7-4.9-6-10.3-7.5-16.2c-5.2-21.2-8.5-42.7-9.3-64.6c-1-29.2-7.3-57.3-16.6-84.9
                                c-1.4-4.2-3.4-5.8-8.1-4.9c-12.1,2.4-24.2,4.4-36.4,6.5c-9.4,1.6-10,2.1-12.3,11.5c-12.6,49.5-18.4,100-22.3,150.9
                                c-1.4,18.6-8.9,35.2-21.9,48.1c-9.3,9.2-15.4,19.3-18.7,31.7c-2.5,9.3,0.3,15.7,9.7,18.4C512.5,570,520.8,572,529.4,572z
                                 M650.1,318.4c0.1,9.7,4.7,29.1,9.1,35.4c7.9,11.2,19.9,16.6,32.6,18.3c14.3,2,28.8,3.3,43.3,2.5c11-0.6,22-1,32.9-2
                                c10.7-1,21.6-0.6,32.2-3.7c7.8-2.3,13.5-6,15.5-14.4c0.8-3.4,2.4-6.6,3.5-9.9c4.5-12.7,2.1-25.2-1.4-37.6c-0.4-1.2-1.3-2.3-2-3.4
                                c-7.8-10.8-16.9-20.1-29.4-25.5c-4-1.7-7.6-4.1-11.4-6.3c-5.7-3.3-11.9-5-18.5-5.6c-11.3-1.1-22.5-2.2-33.8-3.2
                                c-16.6-1.5-33.1-1.3-48.4,6.1c-12.8,6.2-19.9,17.3-22.9,30.9C650,305.9,650.5,312.2,650.1,318.4z M456.4,386.8
                                c5.2,0.1,10.3-0.4,15.2-2.2c7.6-2.9,15.3-5.6,23-8.5c5.7-2.1,9.9-5.8,12.3-11.6c3.1-7.4,6.7-14.5,9.6-22
                                c6.4-16.3,8.7-32.9-0.1-49.1c-8.5-15.8-21-26.6-39.8-26c-25.4,0.8-50.8,2.6-76.3,4c-9.3,0.5-16.9,4.2-20.9,13
                                c-6.2,13.4-9.4,27.7-10.2,42.4c-0.2,2.9,0.3,5.6,1.4,8.3c5.7,13.3,15.4,23.6,25.1,33.8c2.8,3,6.2,5.6,10.2,7.1
                                C422.2,382.6,438.9,386.6,456.4,386.8z"/>
                            </g>
                        </svg>
                        </a>
                        <canvas></canvas>
                    </div>
                </section>
            </div>
            
        </article>
    </div>
</div>
