<li {% if inu.pinned %}class="pinned"{% endif %}>
    <a href="/fmiffel/ShibaInuFacts"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/facts/shibainu/profile/avatar.jpg"/></a>
    <div>
        <a href="/fmiffel/ShibaInuFacts" class="username">@ShibaInuFacts</a>
        <a href="/facts/shibainu/{{ inu.id }}" class="timestamp"><time datetime="{{ inu.timestamp }}">{{ inu.prettyDate }}</time></a>
        <p>{{ inu.text}}</p>
        {% for image in inu.attachedImages %}
            <a class="img-container" href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/facts/shibainu/profile/{{ inu.id }}_{{ loop.index0 }}.jpg" target="_blank"><img loading="lazy" class="butt" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/facts/shibainu/profile/{{ inu.id }}_{{ loop.index0 }}.jpg" /></a>
        {% endfor %}
        {% if inu.poll %}
            <div class="poll">
                {% for bar in inu.poll.options %}
                    <div class="bar {% if bar.winner %}winner{% endif %}">
                        <div class="progress" style="width: {{ bar.percent }}%"></div>
                        <div class="info"><span>{{ bar.option }}</span><span>{{ bar.percent }}%</span></div>
                    </div>
                {% endfor %}
                <div class="stats">{{ inu.poll.stats }} · Final results</div>
            </div>
        {% endif %}
        <ul class="engagement">
            <li><a href="/fmiffel/ShibaInuFacts"><svg><use href="#engagement-reply" xlink:href="#engagement-reply"/></svg><span>{{ inu.replies }}</span></a></li>
            <li><a href="/fmiffel/ShibaInuFacts"><svg><use href="#engagement-repeat" xlink:href="#engagement-repeat"/></svg><span>{{ inu.retweets }}</span></a></li>
        <li><a href="/fmiffel/ShibaInuFacts"><svg><use href="#engagement-heart" xlink:href="#engagement-heart"/></svg><span>{{ inu.likes }}</span></a></li>
        </ul>
    </div>
</li>