<div class="blog-header">
    <h1><a href="/blog"><svg class="union" width="300" height="300" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40" /><line x1="22" y1="22" x2="78" y2="78" /><line x1="22" y1="78" x2="78" y2="22" /></svg><small>{% if viewingSlug %}&larr;{% endif %}blog</small></a></h1>
    <a class="rss" type="application/rss+xml" href="/blog/rss.xml" target="_blank">RSS</a>
</div>
{% if tagged %}<h6>[<strong>TAGGED:</strong> {{ taggedPretty }}]</h6>{% endif %}

<div class="columns">
    <ol class="blog-posts">
        {% for post in posts %}
            {% include "./post.html" %}
        {% endfor %}
        {% if prevPage or nextPage %}
            <li class="nav">
                {% if prevPage %}
                    <a href="/blog{% if tagged %}/tagged/{{ tagged }}{% endif %}/{{prevPage}}"><span>« Newer posts</span></a>
                {% else %}
                    <span>« Newer posts</span>
                {% endif %}
                ::
                {% if nextPage %}
                    <a href="/blog{% if tagged %}/tagged/{{ tagged }}{% endif %}/{{nextPage}}"><span>Older posts »</span></a>
                {% else %}
                    <span>Older posts »</span>
                {% endif %}
            </li>
        {% endif %}
    </ol>
</div>

<ul class="tag-cloud">{{ tagCloud }}</ul>

<footer>
    Copyright &copy; 2018 <a href="/">Obsessive Network LLC</a>. All code posted on this blog is free to use. <a href="/privacy">Privacy</a> &bull; <a href="/terms">Terms</a> &bull; <a href="/dmca">DMCA</a>
</footer>