<li class="blog-post">
    <article>
        <h2>
            <a href="/blog/{{ post.slug }}.html">
                {{ post.title }}
            </a>
        </h2>
        {% if post.subtitle %}<h3>{{ post.subtitle }}</h3>{% endif %}
        {% if viewingSlug or not onion_request%}{% if post.image %}<img class="full" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/blog/{{ post.slug }}/{{ post.image }}">{% endif %}{% endif %}
        {{ post.content }}
        {% if post.contentReadMore and not viewingSlug %}
            <p class="read-more"><a href="/blog/{{ post.slug }}.html#more" class="read-more">Read More</a></p>
        {% elif post.contentReadMore and viewingSlug %}
            <a name="more"></a>
            {{ post.contentReadMore }}
        {% endif %}
        {% if post.tags %}
            <ul class="tags">
                {% for tag in post.tags %}
                    <li>
                        <a href="/blog/tagged/{{ tag | replace(" ", "+")}}">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </article>
    <div class="info">
        Posted {{ post.date }} by <a href="/user/{{ post.author }}">{{ post.author }}</a>.
        {% if not showComments %}<strong class="comments-link"><a href="/blog/{{ post.slug }}.html#COMMENTS-{{ post.slug }}">{% if post._post_count %}{{ post._post_count }}{% else %}{% endif %} {% if post._post_count %}comment{% if post._post_count == 1 %}{% else %}s{% endif %}{% else %}Comments{% endif %}</a></strong>{% endif %}
        {% if commentsHTML %}
            <div class="posts-container">{{ commentsHTML }}</div>
        {% endif %}
    </div>
</li>