<div class="top">
    <div class="side-nav">
        <nav>
            <img class="logo" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/memespeech/logo.svg"/>
            <h5>Table of Contents</h5>
            <ul>
                <li><a href="#intro">The FBI &amp; backdoors</a></li>
                <li><a href="#introducing-memespeech">About Memespeech</a></li>
                <li><a href="#demo">Try the demo</a></li>
                <li><a href="#extension">Get the <span class="browser-name">Firefox</span> add-on</a></li>
                <li><a href="#faq">FAQ</a></li>
            </ul>
            <a class="install-extension" href="https://addons.mozilla.org/en-US/firefox/addon/memespeech/" target="_blank">
                <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/memespeech/firefox-logo.png"/>
                <span>Add to Firefox</span>
            </a>
        </nav>
    </div>
    <a name="intro"></a> 
    <h1 class="top-header">The FBI is trying to <u>ban</u> strong encryption</h1>
    <h2>but we just made that impossible ^_^</h2>

    <p>
        The FBI has been pushing hard on its
        <a href="http://archive.is/ML9U7">decade long</a>
        plan to ban end-to-end encryption and
        <a href="https://www.justice.gov/opa/pr/attorney-general-barr-signs-letter-facebook-us-uk-and-australian-leaders-regarding-use-end">
        force U.S. companies</a> to put backdoors in their apps. These 
        <code>mAgIcaL bAcKdOoRs</code> will be usable only by trusted FBI agents (and definitely not
        foreign hackers) to keep us safe from terrorists and pedos or
        some shit. The government doesn't care that
        <a href="https://www.cdt.org/files/pdfs/CALEAII-techreport.pdf">their idea
        is stupid</a>, they just want to weaken our security and spy on
        everyone.
        <small>
            *because they are <a href="https://vault.fbi.gov/the-finders/the-finders-part-01-of-01/view" target="_blank" title="The Finders">sick fucks!</a>
        </small>
    </p>
    <p>
        Anyway stupid problems call for stupid solutions and so we are proud to
        present a new form of encryption that the U.S. government legally cannot
        ban:
    </p>
    <a name="introducing-memespeech"></a> 
    <h1 class="INFOWARS-DOT-COM"><b>M</b><b>E</b><b>M</b><b>E</b><b>S</b><b>P</b><b>E</b><b>E</b><b>C</b><b>H</b></h1>
    <h2>Unbannable encryption powered by Free Speech.</h2>
    <p>
        Encryption uses math to scramble your text into a mess of binary
        <code>1000101</code> decipherable only if you have the password
        or key to unscramble it. Basically the FBI wants to ban 
        math problems that are hard for them to solve.
        But they can't ban free speech! ¯\_(ツ)_/¯
    </p>
    <p>
        <strong>Memespeech</strong> is a new encoding format that allows people to hide
        encrypted messages inside normal passages of free speech
        by adjusting the letter formatting <code>eVeR So sLiGhtLy.</code>
        Even if the FBI <em>could</em> ban <code>1000101</code>, they can never ban
        people from writing like idiots. Therefore, if the FBI forces companies like
        Facebook to remove strong encryption from chat software, "We the People" will
        add it back in for them. Because 'Murica!
        <code>mEMEsPEeCH IS fREe spEecH!</code>
    </p>
    <a name="demo"></a> 
    <div class="demo">
        <form name="pride-and-accomplishment" action="/memespeech#constitution" method="post" enctype="multipart/form-data">
            <h1>Try it!</h1>
            <p>
                In this example, you will encrypt a message and hide it in the U.S. Bill of
                Rights. <strong>Enter a message to encrypt:</strong>
            </p>
            <input type="text" name="plaintext" placeholder="|">
            <p class="encryption-error hidden">Please shorten your text.</p>
            <button type="submit">Encrypt it!</button>
        </form>
    </div>
</div>
<a name="constitution"></a> 
<div class="parallax"></div>

<div class="constitution">
<span{% if error %} class="error"{% endif %}>{% if error %}{{ error }}{% elif msg %}{{ msg }}{% else %}Use the demo above to encrypt a message into the U.S. Bill of Rights!{% endif %}</span>
<textarea name="carrier">{% if memespeech %}{{ memespeech }}{% else %}# Amendments to the Constitution of the United States of America

## Amendment I.

Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to petition the government for a redress of grievances.

## Amendment II.

A well regulated militia, being necessary to the security of a free state, the right of the people to keep and bear arms, shall not be infringed.

## Amendment III.

No soldier shall, in time of peace be quartered in any house, without the consent of the owner, nor in time of war, but in a manner to be prescribed by law.

## Amendment IV.

The right of the people to be secure in their persons, houses, papers, and effects, against unreasonable searches and seizures, shall not be violated, and no warrants shall issue, but upon probable cause, supported by oath or affirmation, and particularly describing the place to be searched, and the persons or things to be seized.

## Amendment V.

No person shall be held to answer for a capital, or otherwise infamous crime, unless on a presentment or indictment of a grand jury, except in cases arising in the land or naval forces, or in the militia, when in actual service in time of war or public danger; nor shall any person be subject for the same offense to be twice put in jeopardy of life or limb; nor shall be compelled in any criminal case to be a witness against himself, nor be deprived of life, liberty, or property, without due process of law; nor shall private property be taken for public use, without just compensation.

## Amendment VI.

In all criminal prosecutions, the accused shall enjoy the right to a speedy and public trial, by an impartial jury of the state and district wherein the crime shall have been committed, which district shall have been previously ascertained by law, and to be informed of the nature and cause of the accusation; to be confronted with the witnesses against him; to have compulsory process for obtaining witnesses in his favor, and to have the assistance of counsel for his defense.

## Amendment VII.

In suits at common law, where the value in controversy shall exceed twenty dollars, the right of trial by jury shall be preserved, and no fact tried by a jury, shall be otherwise reexamined in any court of the United States, than according to the rules of the common law.

## Amendment VIII.

Excessive bail shall not be required, nor excessive fines imposed, nor cruel and unusual punishments inflicted.

## Amendment IX.

The enumeration in the Constitution, of certain rights, shall not be construed to deny or disparage others retained by the people.

## Amendment X.

The powers not delegated to the United States by the Constitution, nor prohibited by it to the states, are reserved to the states respectively, or to the people.{% endif %}</textarea>
</div>
<div class="bottom">
    <div class="side-nav">
        <nav>
            <img class="logo" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/memespeech/logo-dark.svg"/>
            <h5>Table of Contents</h5>
            <ul>
                <li><a href="#intro">The FBI &amp; backdoors</a></li>
                <li><a href="#introducing-memespeech">About Memespeech</a></li>
                <li><a href="#demo">Try the demo</a></li>
                <li><a href="#extension">Get the <span class="browser-name">Firefox</span> add-on</a></li>
                <li><a href="#faq">FAQ</a></li>
            </ul>
            <a href="https://teespring.com/memespeech-the-shirt?pid=211&cid=5294" target="_blank"><img class="merch" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/memespeech/shirt.jpg"/></a>
            <a href="https://teespring.com/memespeech-the-shirt?pid=211&cid=5294" target="_blank" class="merch">Get the shirt!</a>
        </nav>
    </div>
    <a name="extension"></a> 
    <h3>Get Memespeech for <span class="browser-name">Firefox!</span></h3>
    <!-- <h2>Protect our privacy with the power of Free Speech!</h2> -->
    <p>
        We've created a browser extension to make it easy to generate and decrypt
        Memespeech. Use it anywhere you post or chat! Even if you're not encrypting
        anything, you are providing
        <a href="https://en.wikipedia.org/wiki/Plausible_deniability">plausible deniability</a>
        for those who do. Unless you have the password, it's impossible to know if
        there's a hidden message inside a passage of Memespeech ♥
    </p>
    <div class="install-area">
        <a class="install-extension" href="https://addons.mozilla.org/en-US/firefox/addon/memespeech/" target="_blank">
            <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/memespeech/firefox-logo-large.png"/>
            <span>Install Memespeech for Firefox</span>
        </a>
        <ul class="permissions">
            <li>Requires no special permissions</li>
            <li>Sends no data to the web whatsoever</li>
            <li>100% Free and <a href="https://gitlab.com/obsessivefacts/memespeech-webextension" target="_blank">Open Source</a></li>
        </ul>
    </div>
    <a name="faq"></a>
    <h3 class="faq">Frequently Asked Questions</h3>
    <h2>Why should anyone use Memespeech?</h2>
    <p>
        Because we can't trust companies to keep our data private. Apps like
        Facebook, Gmail and Twitter have perverse incentives to spy on their users,
        even without the FBI demanding that they add backdoors. By using
        Memespeech, you are not only concealing your communications in a way that none
        of them can intercept, you are making a powerful statement: our privacy
        <code>sHalL NoT Be iNFrINGeD!</code>
    </p>
    <h2>How does Memespeech work?</h2>
    <p>
        It's simple! With Memespeech, we can take any passage of speech
        ("Carrier Text") and hide encrypted binary data in it. Since binary
        can have two states (<code>0</code> and <code>1</code>), and any letter in the
        alphabet has two states (lowercase and uppercase), we just change the capitalization
        of the Carrier Text to hide our encrypted binary, and we still end up with
        something more readable than a typical YouTube comments section.
    </p>
    <p>
        Memespeech uses 256-bit AES. For more technical specifics on how Memespeech works,
        <a href="https://gitlab.com/obsessivefacts/memespeech#memespeech-javascript-library" target="_blank">read the developer docs.</a>
    </p>
    <h2>Are there drawbacks to Memespeech?</h2>
    <p>
        Yes! Memespeech requires a lot of Carrier Text to encode a small amount of encrypted data.
        There are eight bits to a byte, so it takes eight alphabetical characters
        of Carrier Text to store a single byte of encrypted data. This means you
        can fit roughly 255 characters of encrypted text in the Bill or Rights example above, or
        <code>eat ur wheaties</code> into a single tweet. This is inefficient, but desperate
        times call for desperate measures!
    </p>
    <h2>Won't this help terrorists / pedos / etc.?</h2>
    <p>
        No. If you outlaw encryption, only outlaws will use encryption. But then the
        rest of us would be a lot less safe.
    </p>
    <p>
        People have been using encryption for decades,
        not for anything illegal, but just to protect their privacy. There's no compelling
        government interest in simply wanting to spy on everything. The moment we give them
        backdoors, the keys would just get leaked and everyone gets pwned.
    </p>
    <h2>What makes you think the government can't ban this?</h2>
    <p>
        The format of Memespeech&mdash;that of randomly juxtaposing uppercase and lowercase
        letters in text to change its perceived intonation&mdash;has been in common use on the web for a long time
        before we decided to store encrypted data in it. For example,
        <code>bUt wHaT abOuT HILlArY'S emAilS</code> or
        <code>ThE ScIEnCE IS SEttLEd</code> or
        <a href="https://www.reddit.com/r/peoplefuckingdying" target="_blank">/r/peoplefuckingdying</a>.
        In and of itself, Memespeech as a format is protected speech under the First Amendment
        to the U.S. Constitution (see above).
    </p>
    <p>
        Because Memespeech is free speech, the U.S. government would face much stricter scrutiny
        in the courts if they tried to pass a law banning encryption algorithms that don't
        include backdoors.
        Since there's no technical way to put a backdoor in Memespeech, such a law would effectively
        ban a form of speech, and would likely be ruled unconstitutional.
    </p>
    <p>
        <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/memespeech/barr-meme.jpg"/>
    </p>
    <h2>I'm a developer. Can I use Memespeech in my app?</h2>
    <p>
        Yes! You can install the Memespeech <a href="https://www.npmjs.com/package/memespeech" target="_blank">npm module</a> and be good
        to go with a few lines of code. We'd recommend using it on the server side, since
        outside of a browser extension,
        <a href="https://www.nccgroup.trust/us/about-us/newsroom-and-events/blog/2011/august/javascript-cryptography-considered-harmful/" target="_blank">"Javascript Cryptography Considered Harmful"</a>.
        But if you want to use it in a browser extension, you can always fork
        <a href="https://gitlab.com/obsessivefacts/memespeech-webextension" target="_blank">our extension code</a>.
        We don't mind&mdash;it's Free Software!
    </p>
    <p>
        We have also released a detailed <a href="https://gitlab.com/obsessivefacts/memespeech#memespeech-format-specification" target=_blank">format specification</a>
        for Memespeech to enable any developer to create their own Memespeech implementation
        in the language of their choice. Our goal is to eventually release this as an IETF standard.
        Even if the software is banned, they can't ban instructions on how to write software (probably?)
    </p>
    <h2>I have another question.</h2>
    <p>
        If you have another question and / or want to send us hate mail, or just
        chat about golf and grandchildren,
        <a href="/contact">contact us!</a>
    </p>
    <a href="/" title="home"><svg class="union" width="300" height="300" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40" /><line x1="22" y1="22" x2="78" y2="78" /><line x1="22" y1="78" x2="78" y2="22" /></svg></a>
    <footer>
        &copy; <a href="/">Obsessive Network LLC</a>. Content licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA</a>. <a href="https://gitlab.com/obsessivefacts/surface" target="_blank">Source code</a> licensed <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GPLv3</a>.
    </footer>
</div>

<a class="back-button" href="/" title="home">
    <svg class="arrow" viewbox="0 0 64 64"><path d="M62.167 30h-52.155l11.999-11.999-2.828-2.828-16.828 16.828 16.828 16.828 2.828-2.828-12-12h52.155v-4z"></path></svg>
    <svg class="union" width="300" height="300" viewBox="0 0 100 100"><circle cx="50" cy="50" r="40" /><line x1="22" y1="22" x2="78" y2="78" /><line x1="22" y1="78" x2="78" y2="22" /></svg>
</a>