<h1>Obsessive Facts Terms of Service</h1>

<p>
    Obsessive Facts is a project of Obsessive Network LLC, a Minnesota limited
    liability company (hereafter referred to as "Obsessive Network").
    These Terms of Service ("Terms") govern your access to the Obsessive Facts
    website ("Website"), and any information, text, links, graphics, photos,
    audio, videos, or other materials or arrangements of materials uploaded,
    downloaded or appearing on the Website (collectively referred to as
    "Content"). By using the Website you agree to be bound by these Terms.
</p>

<h2>1. Who May Use the Website</h2>

<p>
    You may use the Website only if you agree to form a binding contract with
    Obsessive Network and are not a person barred from receiving services under
    the laws of the applicable jurisdiction. In any case, you must be at least
    13 years old to use the Website. If you are accepting these Terms and using
    the Website on behalf of a company, organization, government, or other legal
    entity, you represent and warrant that you are authorized to do so and have
    the authority to bind such entity to these Terms, in which case the words
    "you" and "your" as used in these Terms shall refer to such entity.
</p>

<h2>2. Privacy</h2>

<p>
    Our Privacy Policy (<a href="/privacy">https://www.obsessivefacts.com/privacy</a>)
    describes how we handle the information you provide to us when you use our
    Website. You understand that through your use of the Website you consent to
    the collection and use (as set forth in the Privacy Policy) of this information.
</p>

<h2>3. Content on the Website</h2>

<p>
    You are responsible for your use of the Website and for any Content you
    provide, including compliance with applicable laws, rules, and regulations.
    You should only provide Content that you are comfortable sharing with others.
</p>

<p>
    Any use or reliance on any Content or materials posted via the Website or
    obtained by you through the Website is at your own risk. We do not endorse,
    support, represent or guarantee the completeness, truthfulness, accuracy, or
    reliability of any Content or communications posted via the Website or endorse
    any opinions expressed via the Website. You understand that by using the
    Website, you may be exposed to Content that might be offensive, harmful,
    inaccurate or otherwise inappropriate, or in some cases, postings that have
    been mislabeled or are otherwise deceptive. All Content is the sole
    responsibility of the person who originated such Content. We may not monitor
    or control the Content posted via the Website and, we cannot take
    responsibility for such Content.
</p>

<p>
    We reserve the right to remove Content that violates the Terms, including for
    example, copyright or trademark violations or other intellectual property
    misappropriation, impersonation, unlawful conduct, or harassment.
</p>
<p>
    If you believe that your Content has been copied in a way that constitutes
    copyright infringement, please report this by visiting our Copyright reporting
    page (<a href="/dmca">https://www.obsessivefacts.com/dmca</a>) or contacting our
    designated copyright agent at:
</p>
<pre>Copyright Agent
Obsessive Network LLC
400 S 4th St #401-205
Minneapolis, MN 55415
Reports: <a href="/dmca">https://www.obsessivefacts.com/dmca</a>
Email: <a href="mailto:copyright@obsessivefacts.com">copyright@obsessivefacts.com</a>
</pre>

<h3>Your Rights and Grant of Rights in the Content</h3>

<p>
    You retain your rights to any Content you submit, post or display on or
    through the Website. What’s yours is yours — you own your Content (and your
    incorporated audio, photos and videos are considered part of the Content).
</p>

<p>
    By submitting, posting or displaying Content on or through the Website, you
    grant us a worldwide, non-exclusive, royalty-free license (with the right to
    sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit,
    display and distribute such Content in any and all media or distribution methods
    now known or later developed (for clarity, these rights include, for example,
    curating, transforming, and translating). This license authorizes us to make
    your Content available to the rest of the world and to let others do the same.
    The use of the Website by you is hereby agreed as being sufficient 
    compensation for the Content and grant of rights herein.
</p>

<p>
    You represent and warrant that you have, or have obtained, all rights, licenses,
    consents, permissions, power and/or authority necessary to grant the rights
    granted herein for any Content that you submit, post or display on or through
    the Website. You agree that such Content will not contain material subject to
    copyright or other proprietary rights, unless you have necessary permission
    or are otherwise legally entitled to post the material and to grant
    Obsessive Network the license described above.
</p>

<h2>4. Using the Website</h2>

<p>
    Our Website evolves constantly. As such, the Website may change from time to
    time, at our discretion. We may stop (permanently or temporarily) providing
    the Website or any features within the Website to you or to users generally.
    We also retain the right to create limits on use and storage at our sole
    discretion at any time. We may also remove or refuse to distribute any
    Content on the Website, suspend or terminate users, and reclaim usernames
    without liability to you.
</p>
<p>
    We reserve the right to access, read, preserve, and disclose any information
    as we reasonably believe is necessary to (i) satisfy any applicable law, 
    regulation, legal process or governmental request, (ii) enforce the Terms,
    including investigation of potential violations hereof, (iii) detect,
    prevent, or otherwise address fraud, security or technical issues, (iv)
    respond to user support requests, or (v) protect the rights, property or
    safety of Obsessive Network, its users and the public. Obsessive Network does
    not disclose personally-identifying information to third parties except in
    accordance with our <a href="/privacy">Privacy Policy</a>.
</p>

<h3>Your License to Use the Website</h3>

<p>
    Obsessive Network gives you a personal, worldwide, royalty-free, non-assignable
    and non-exclusive license to use the software provided to you as part of the
    Website. This license has the sole purpose of enabling you to use and enjoy the
    benefit of the Website as provided by Obsessive Network, in the manner permitted
    by these Terms.
</p>

<h3>Ending these Terms</h3>

<p>
    You may end your legal agreement with Obsessive Network at any time by
    notifying us via email
    (<a href="mailto:obsessivefacts@protonmail.com">obsessivefacts@protonmail.com</a>)
    and discontinuing your use of the Website.
    We may suspend or terminate your account or cease providing you with all or
    part of the Website at any time for any or no reason. In all such cases, the
    Terms shall terminate, including, without limitation, your license to use the
    Website, except that the following sections shall continue to apply:
    II, III, V, and VI.
</p>

<h2>5. Disclaimers and Limitations of Liability</h2>

<h3>The Website is Available "AS-IS"</h3>

<p>
    Your access to and use of the Website or any Content are at your own risk.
    You understand and agree that the Website are provided to you on an "AS IS"
    and "AS AVAILABLE" basis. The "Obsessive Entities" refers to Obsessive Network,
    its parents, affiliates, related companies, officers, directors, employees,
    agents, representatives, partners, and licensors. Without limiting the
    foregoing, to the maximum extent permitted under applicable law, THE
    OBSESSIVE ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS
    OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
    NON-INFRINGEMENT. The Obsessive Entities make no warranty or representation
    and disclaim all responsibility and liability for: (i) the completeness,
    accuracy, availability, timeliness, security or reliability of the Website or
    any Content; (ii) any harm to your computer system, loss of data, or other
    harm that results from your access to or use of the Website or any Content;
    (iii) the deletion of, or the failure to store or to transmit, any Content
    and other communications maintained by the Website; and (iv) whether the
    Website will meet your requirements or be available on an uninterrupted,
    secure, or error-free basis. No advice or information, whether oral or
    written, obtained from the Obsessive Entities or through the Website, will
    create any warranty or representation not expressly made herein.
</p>

<h3>Limitation of Liability</h3>

<p>
    TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE OBSESSIVE ENTITIES
    SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR
    PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED
    DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER
    INTANGIBLE LOSSES, RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY
    TO ACCESS OR USE THE WEBSITE; (ii) ANY CONDUCT OR CONTENT OF ANY THIRD PARTY
    ON THE WEBSITE, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR
    ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES; (iii) ANY CONTENT OBTAINED
    FROM THE WEBSITE; OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR
    TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE
    OBSESSIVE ENTITIES EXCEED THE GREATER OF ONE HUNDRED U.S. DOLLARS
    (U.S. $100.00) OR THE AMOUNT YOU PAID OBSESSIVE NETWORK, IF ANY, IN THE PAST
    SIX MONTHS FOR THE WEBSITE GIVING RISE TO THE CLAIM. THE LIMITATIONS OF THIS
    SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED ON WARRANTY,
    CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR
    NOT THE OBSESSIVE ENTITIES HAVE BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH
    DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS
    ESSENTIAL PURPOSE.
</p>

<h2>6. General</h2>

<p>
    We may revise these Terms from time to time. The changes will not be
    retroactive, and the most current version of the Terms, which will always be
    at <a href="/terms">www.obsessivefacts.com/terms</a>, will govern our
    relationship with you. We will try to notify you of material revisions,
    for example via a prominent notice on the Website or an email to the email
    associated with your account. By continuing to access or use the Website
    after those revisions become effective, you agree to be bound by the revised
    Terms.
</p>

<p>
    The laws of the State of Minnesota, excluding its choice of law provisions,
    will govern these Terms and any dispute that arises between you and Obsessive Network.
    All disputes related to these Terms or the Website will be brought solely in
    the federal or state courts located in Hennepin County, Minnesota, United States,
    and you consent to personal jurisdiction and waive any objection as to inconvenient
    forum.
</p>
<p>
    If you are a federal, state, or local government entity in the United States
    using the Website in your official capacity and legally unable to accept the
    controlling law, jurisdiction or venue clauses above, then those clauses do
    not apply to you. For such U.S. federal government entities, these Terms and
    any action related thereto will be governed by the laws of the United States
    of America (without reference to conflict of laws) and, in the absence of
    federal law and to the extent permitted under federal law, the laws of the
    State of Minnesota (excluding choice of law).
</p>
<p>
    In the event that any provision of these Terms is held to be invalid or
    unenforceable, then that provision will be limited or eliminated to the
    minimum extent necessary, and the remaining provisions of these Terms will
    remain in full force and effect. Obsessive Network's failure to enforce any
    right or provision of these Terms will not be deemed a waiver of such right
    or provision.
</p>
<p>
    These Terms are an agreement between you and
    Obsessive Network LLC, 400 S 4th St #401-205, Minneapolis, MN 55415 U.S.A.
    If you have any questions about these Terms, please <a href="/contact">contact us</a>.
</p>
<footer>
    <hr/>
    <a href="/privacy">Privacy Policy</a> &bull; Terms of Service &bull; <a href="/dmca">DMCA Policy</a>
</footer>