@keyframes text-fader {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}

.page.music {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background: #20014A;
    box-sizing: border-box;

    h1 { display: none; }

    .FACE {
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);

        width: 1200px;
        max-width: 100%;
        height: 100%;
        max-height: 1000px;
        box-sizing: border-box;
        position: relative;
        box-shadow: 0px 0px 50px black;
    }

    ul {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: right;
        z-index: 5;
        padding: 100px 0px 100px 0px;
        box-sizing: border-box;

        .styled-scrollbars;
    }
    li {
        display: inline-block;
        float: right;
        clear: both;
        text-align: right;
        margin-bottom: 7%;

        &:hover ~ li.nul svg.q { animation: text-fader 5s infinite; }
    }

    a {
        display: inline-block;
        padding: 10px;
        background: #6b08ce;
        border-bottom: 2px solid darken(#6b08ce, 10%);
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-bottom-left-radius: 4px;
        color: black;
        font-weight: normal;
        font-family: 'Arial', sans;
        text-decoration: none;
        font-size: 20px;
        color: rgba(255, 255, 255, .6);
        // box-shadow: 0px 2px 10px rgba(0, 0, 0, .2);

        &:hover {
            background: #896df0;
            color: white;
        }

        &:hover ~ aside {
            opacity: 1;
        }
    }

    .side {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 230px;
        height: 100%;
        max-height: 1000px;
        background: #6a07ce;
        overflow: hidden;
        z-index: 2;
    }

    svg.pattern, svg.q {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 3;
        width: 100%;
        height: 100%;
        opacity: .2;
        transition: opacity .3s linear;
    }
    svg.pattern {
        .l {
            stroke-width: 1px;
            stroke: white;
            fill: none;
        }

        .d {
            stroke-width: 1px;
            stroke: red;
            fill: none;
        }
    }
    svg.q {
        position: fixed;
        width: 230px;
        opacity: 0;
        animation: none; 
        will-change: opacity;
        text {
            font-size: 200px;
            fill: rgba(0, 0, 0, .2);
            font-family: 'Arial', sans;
            font-weight: bold;

            &.whoops { transform: scaleX(-1) scaleY(-1); }
        }
    }

    svg.waves {
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 2;
        width: auto;
        height: 100%;

        .arc, circle {
            fill: rgb(0, 0, 0);
            stroke-width: 1px;
            stroke: black;
            opacity: .10;
        }
    }

    aside {
        position: fixed;
        left: 23px;
        top: 50%;
        width: 184px;
        min-height: 27%;
        background: rgba(255, 255, 255, .666);
        box-sizing: border-box;
        transform: translateY(-50%);
        padding: 15px;
        text-align: left;
        color: black;
        font-size: 18px;
        line-height: 24px;
        font-family: 'Arial', sans;
        border-radius: 20px;
        opacity: 0;
        transition: opacity .3s linear;
        overflow: hidden;
        text-overflow: ellipsis;
        z-index: 420;
        opacity: 0;
        pointer-events: none;
        will-change: opacity;
    }
    strong {
        display: block;
        font-weight: bold;
        margin-bottom: 7px;
    }

    .background {
        position: absolute;
        left: 230px;
        top: 0px;
        width: 970px;
        height: 100%;
        background: #6b00ff;
        overflow: hidden;
    }

    canvas {
        position: absolute;
        z-index: 3;
        left: 0px;
        top: 0px;
        width: 1000px;
        height: 1000px;
    }

    svg.darc-waves {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 3;
        width: 1000px;
        height: 100%;
        max-height: 1000px;

        .darc {
            fill: black;
            stroke-width: 0px;
            opacity: .15;
        }
    }

    svg.wheel {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
        width: 1200px;
        // max-width: 100%;
        height: 100%;
        max-height: 1000px;
        // border-right: 200px solid rgba(0, 0, 0, .15);

        .arc {
            fill: rgb(107, 8, 206);
            stroke-width: 1px;
            stroke: rgba(0, 0, 0, .75);
            opacity: .46;
        }
    }

    .psychotic {
        position: absolute;
        z-index: 1;
        left: 0px;
        top: 50%;
        width: 4800px;
        height: 4000px;
        margin-left: -2400px;
        margin-top: -2000px;
        transition: transform .2s linear;
        transform-origin: 2400px 2000px;

        .hardware-accelerate;

        &.over {
            transform: scale(.8, .8) translate3d(0, 0, 0);
        }

        .rotato {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 4800px;
            height: 4000px;
            background: url(/images/music/background.png) center center;
            .hardware-accelerate;
        }
        .rotato.lofi {
            background: url(/images/music/background-extra-lofi.png) center center;
        }
    }

    @media (max-height: 999px) {
        canvas {
            width: 100vh;
            height: 100vh;
        }
    }
    @media (max-height: 667px) {
        svg.darc-waves { display: none; }
        aside { display: none; }
        .side { display: none; }
        .background { left: 0px; width: 100%; }
        .FACE { max-height: 100vh; }
    }
    @media (max-width: 667px) {
        svg.darc-waves { display: none; }
        aside { display: none; }
        .side { display: none; }
        .background { left: 0px; width: 100%; }
        .FACE { max-height: 100vh; }
    }
    

}