@keyframes post-highlight {
    0% { background-color: rgba(255, 255, 0, .75); }
    100% { background-color: rgba(255, 255, 0, 0); }
}

section.posts {
    padding-bottom: 5px; 
    h2.post-count {
        font-size: 30px;
        line-height: 36px;
    }

    input.dnt-rejected { display: none; }
    input.dnt-rejected:checked ~ div.dnt-notice {
        display: none;
    }

    .post {
        padding-top: 25px;
        margin-bottom: 0px;
        display: flex;
        

        .avatar {
            flex-shrink: 0;
            flex-grow: 0;
            margin-top: 2px;
            margin-right: 12px;
            display: block;
            width: 48px;
            height: 48px;
            background: #ccc;
            text-align: center;
            line-height: 48px;
            border-radius: 3px;

            svg {
                margin-top: 8px;
                width: 16px;
                height: 32px;
                stroke: none;
                fill: white;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        .post-replies .post .avatar {
            width: 32px;
            height: 32px;

            svg {
                margin-top: 0px;
            }
        }
        .compose {
            flex-grow: 1;
            p.msg {
                margin-bottom: 0px;
            }
            textarea {
                box-sizing: border-box;
                width: 100%;
                border-radius: 3px;
                font-family: 'Arial', sans;
                font-size: 17px;
                line-height: 26px;
                padding: 10px;
                resize: vertical;

                &:active {
                    height: auto;
                }
                &:invalid {
                    box-shadow: none;
                }
            }
            button {
                margin-top: 7px;
                margin-left: 2px;
                border: 0px none transparent;
                padding: 4px 0px;
                width: 110px;
                text-align: center;
                font-size: 20px;
                border-radius: 5px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 2px;
                // box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);

                &:hover {
                    text-shadow: 0px 0px 5px white;
                    box-shadow: 0px 0px 5px white;
                }
            }
            &.collapsing {
                textarea {
                    &:invalid {
                        height: 50px;
                    }
                    &:invalid + button {
                        display: none;
                    }
                }
            }
        }
        .post-body {
            flex-grow: 1;
            position: relative;
            min-width: 0;

            > ul.body-actions { opacity: 0; }
            .post-meta:hover ~ ul.body-actions { opacity: 1; }
            .post-text:hover ~ ul.body-actions { opacity: 1; }
            ul.body-actions:hover { opacity: 1; }
            
        }

        .post-text {
            p, li {
                font-size: 15px;
                line-height: 23px;
            }
        }

        .post-meta {
            padding-bottom: 5px;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
            em {
                display: inline-block;
                font-style: normal;
                font-weight: bold;
                font-size: 11px;
                padding: 3px 5px;
                border-radius: 2px;
                margin: 0px 3px;
                text-transform: uppercase;
            }
            span {
                display: inline-block;
                margin-left: 3px;
                font-size: 12px;
            }
        }
        ul.post-actions li:last-child {
            display: none;
            opacity: .5;
        }
        ul.post-actions, ul.body-actions {
            margin-top: 5px;

            li {
                display: inline-block;
                font-size: 15px;
                line-height: 23px;
                margin-right: 10px;

                label, a {
                    cursor: pointer;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        ul.body-actions {
            margin-top: 0px;
            position: absolute;
            right: 0px;
            top: 0px;
            li {
                line-height: 15px;
                &:last-child {
                    display: none;
                }
            }
        }

        input.reply {
            display: none;
        }

        input.hide {
            display: none;

            &:checked ~ a .avatar,
            &:checked ~ .avatar,
             {
                width: 32px;
                height: 32px;
                opacity: 0.5;
                svg { margin-top: 0px; }
            }
            &:checked ~ .post-body .post-text {
                display: none;
            }
            &:checked ~ .post-body .post-meta {
                margin: 0px 0 0 0;
                strong, em {
                    opacity: .5;
                }
            }
            &:checked ~ .post-body ul.post-actions {
                margin-top: 0px;
            }
            &:checked ~ .post-body ul.post-actions li {
                display: none;
                &:last-child {
                    display: block;
                }
            }
            &:checked ~ .post-body ul.body-actions li {
                display: none;
                &:last-child {
                    display: block;
                }
            }
            &:checked ~ .post-body .post-replies {
                display: none;
            }
        }
        &.highlight {
            > .post-body > .post-meta,
            > .post-body > .post-text {
                animation: post-highlight 1s linear forwards;
            }
        }
        &.deleted {
            > .post-body > .post-meta strong { font-style: italic; }
            > .post-body > .post-text p { font-style: italic; }
        }
    }

    .dnt-notice {
        margin-top: 25px;
        padding: 15px 15px 10px 15px;
        font-size: 17px;
        line-height: 26px; 
        text-align: center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);

        strong {
            display: block;
            font-weight: bold;
            margin-bottom: 10px;
        }
        a.accept {
            margin-top: 15px;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 10px;
            text-decoration: none;
            font-weight: bold;
            transition: background .2s linear;
        }
        label {
            display: block; 
            font-size: 80%;
            margin-top: 5px;
            cursor: pointer;
            &:hover { text-decoration: underline; }
        }
    }

    .r-u-human {
        margin: 25px 0px 25px 0px;
        padding: 15px 15px 10px 15px;
        font-size: 17px;
        line-height: 26px; 
        box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
        color: black;

        strong {
            font-weight: bold;
            display: inline-block;
            width: 90px;
        }
    }

    .pagination {
        display: flex;
        float: right;
        align-items: center;

        strong { font-weight: bold; }

        a { text-decoration: none; }

        .page-index {
            padding-right: 15px;
        }
        .links {
            span {
                box-sizing: border-box;
                display: inline-block;
                border-collapse: collapse;
                width: 90px;
                text-align: center;
                line-height: 30px;
                cursor: default;

                &:first-child { border-right: 0px none transparent; }

                a {
                    display: block;
                    width: 100%;
                    height: 30px;
                    text-align: center;
                }
            }
        }
        &:last-of-type {
            margin-top: 25px;
            float: none;
            justify-content: flex-end;
        }
    }

    .post { color: #222; }
    .post .compose textarea { border: 2px solid #ccc; background: white; color: black; }
    .post .compose button { color: white; background: #6a0000; }
    .post .compose button:disabled { background: #aaa !important; }
    .post .post-meta em { background: #777; color: white; }
    .post .post-meta span { color: #888; }
    .post.deleted > .post-body > .post-meta strong { color: #888; }
    .post.deleted > .post-body > .post-text p { color: #888; }
    .post blockquote { background: white; border: 1px solid #ddd; }
    .post blockquote > p:first-child strong { color: #888; }
    .post ul.post-actions li label { color: #6a0000; }
    .post ul.body-actions li label { color: #aaa; }
    .post ul.post-actions li label:hover,
    .post ul.body-actions li label:hover { color: #220000; }
    .post p.msg.error { color: #900; font-style: italic; }
    .dnt-notice { color: black; background: #ffe8aa; }
    .dnt-notice a.accept { background: #AA0000; color: white; }
    .dnt-notice a.accept:hover { background: black; }
    .dnt-notice label { color: #6a0000; }
    .pagination strong { color: black; }
    .pagination .links span { border: 1px solid #aaa; color: #999; }
    .pagination .links a { background: #eee; border-top: 1px solid white; border-bottom: 1px solid #ddd; }
    .pagination .links a:hover { background: #ddd; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

    @media (max-width: 640px) {
        .post .avatar {
            width: 24px;
            height: 24px;
            line-height: 24px;
            margin-right: 8px;

            svg {
                margin-top: 4px;
                width: 8px;
                height: 16px;
            }
        }
        .post .post-replies .post .avatar {
            width: 24px;
            height: 24px;
            line-height: 24px;

            svg {
                margin-top: 4px;
            }
        }
        .post input.hide:checked ~ .avatar {
            width: 24px;
            height: 24px;

            svg { margin-top: 4px; }
        }
        ul.body-actions { display: none; }
        .pagination:first-of-type {
            display: none;
        }
    }
    @media (max-width: 359px) {
        .pagination .page-index {
            display: none;
        }
    }
}
@media (prefers-color-scheme: dark) {
    .blog, div.page:not(.write) {
        section.posts {
            .post { color: #ddd; }
            .pagination strong { color: white; }
            .post p.msg.error { color: #faa; }
            .editor p.msg.error { color: #900; }
            .pagination .links a { color: #444; }
            .post ul.post-actions li label:hover,
            .post ul.body-actions li label:hover { color: pink; }
            div.noscript .dnt-notice a { color: #6a0000; }
            div.noscript .dnt-notice a.accept { color: white; }
            .post blockquote { background: #111; border: 1px solid #000; }
        }
    }
}
// Global style - used again in fmiffel
.post-text {
    p, li {
        margin-bottom: 15px;
        max-width: 100%;
        overflow: hidden;

        &:last-child { margin-bottom: 0px; }
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }
    ul, ol {
        list-style-position: inside;
        padding-left: 15px;
        margin-bottom: 15px;

        li {
            margin-bottom: 15px;
        }
        &:last-child { margin-bottom: 0px; }
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Arial', sans;
        font-size: 18px;
        line-height: 26px;
        font-weight: bold;
        text-shadow: none;
        max-width: 100%;
        margin: 0px;
        // margin-bottom: 25px;
    }

    pre {
        overflow: auto;
        max-width: 100%;
        margin-bottom: 15px;
    }

    code.language-text,
    code.language-javascript,
    code.language-python,
    code.language-html {

        margin: 0 0 15px 0;
        padding: 15px 20px;
        &:last-child { margin-bottom: 0px; }
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 15px;
        &:last-child { margin-bottom: 0px; }
    }

    blockquote {
        margin: 0 0 15px 0;
        font-family: 'Georgia', serif;
        font-size: 15px;
        line-height: 23px;
        padding: 15px 20px;
        max-width: 100%;

        p:first-child {
            margin-bottom: 0px;

            strong {
                font-weight: normal;
                font-style: italic;
            }
        }
    }

    strong { font-weight: bold; }
    em { font-style: italic; }
}