<h1>Copyright Complaint (DMCA)</h1>
<p>
    Obsessive Network LLC (the owner and operator of www.obsessivefacts.com)
    abides by the federal <a href="https://www.copyright.gov/legislation/dmca.pdf" target="_blank">Digital Millennium Copyright Act (DMCA)</a>
    by responding to notices of alleged infringement that comply with the DMCA
    and other applicable laws. As part of our response, we may remove or disable
    access to material residing on a site that is controlled or operated by
    Obsessive Network LLC that is claimed to be infringing. In cases where we
    takedown content, we will publicly post certain details from any
    complaint we received in order to give the user(s) who posted the
    allegedly-infringing content the ability to file a counter notification,
    also in accordance with the DMCA.
</p>

<h2>Notice of Infringing Material</h2>
<p>
    To file a notice of infringing material on a site owned or controlled by
    Obsessive Network LLC, please provide a notification containing the following
    details:
</p>
<ol>
    <li>
        Reasonably sufficient details to enable us to identify the work claimed
        to be infringed or, if multiple works are claimed to be infringed, a
        representative list of such works;
    </li>
    <li>
        Reasonably sufficient detail to enable us to identify and locate the
        material that is claimed to be infringing (for example a link to the
        page that contains the material);
    </li>
    <li>
        Your contact information so that we can contact you (for example, your
        address, telephone number, email address);
    </li>
    <li>
        A statement that you have a good faith belief that the use of the
        material identified in (2) is not authorized by the copyright owner,
        its agent, or the law;
    </li>
    <li>
        A statement, under penalty of perjury, that the information in the
        notification is accurate and that you are authorized to act on behalf
        of the owner of the exclusive right that is alleged to be infringed.
    </li>
    <li>
        Your physical or electronic signature.
    </li>
</ol>
<p>
    Then email this notice to
    <a href="mailto:copyright@obsessivefacts.com">copyright@obsessivefacts.com</a>,
    or mail it to:
</p>

<pre>Copyright Agent
Obsessive Network LLC
400 S 4th St #401-205
Minneapolis, MN 55415
</pre>

<p>
    <strong>
        We have a policy in place to identify repeat infringers and disable
        access to functionality that allows the posting of content from such
        users.
    </strong>
</p>

<h2>Counter-Notification</h2>
<p>
    If material that you have posted to a site controlled or operated by
    Obsessive Network LLC has been taken down, you may file a counter-notification
    that contains the following details:
</p>
<ol>
    <li>
        Identification of the material that has been removed or to which access
        has been disabled and the location at which the material appeared before
        it was removed or disabled;
    </li>
    <li>
        A statement, under penalty of perjury, that you have a good faith belief
        that the material was removed or disabled as a result of mistake or
        misidentification of the material in question;
    </li>
    <li>
        Your name, address and telephone number;
    </li>
    <li>
        A statement that you consent to the jurisdiction of the Federal District
        Court for the judicial district in which your address is located or,
        if your address is outside of the USA, for any judicial district in
        which Obsessive Network LLC may be found and that you will accept
        service of process from the person who submitted a notice in compliance
        with the section (c)(1)(C) of the DMCA, as generally described above;
    </li>
    <li>
        Your physical or electronic signature.
    </li>
</ol>
<p>
    Then email this notice to
    <a href="mailto:copyright@obsessivefacts.com">copyright@obsessivefacts.com</a>,
    or mail it to:
</p>

<pre>Copyright Agent
Obsessive Network LLC
400 S 4th St #401-205
Minneapolis, MN 55415
</pre>

<footer>
    <hr/>
    <a href="/privacy">Privacy Policy</a> &bull; <a href="/terms">Terms of Service</a> &bull; DMCA Policy
</footer>
