<style type="text/css">
@font-face {
    font-family: 'whitrabt';
    src: url('{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/fonts/whitrabt.eot');
    src: local('☺'), url('{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/fonts/whitrabt.woff') format('woff'), url('{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/fonts/whitrabt.ttf') format('truetype'), url('{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/fonts/whitrabt.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
.access_granted {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: black;
    -webkit-backface-visibility: hidden;
}
.access_granted canvas {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 1200px;
    image-rendering: optimizeSpeed;             
    image-rendering: -moz-crisp-edges;          
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;            
    image-rendering: pixelated;                 
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000;
}
.access_granted canvas.lock {
    left: 50%;
    top: 50%;
    width: 350px;
    height: 410px;
    margin-left: -175px;
    margin-top: -205px;
}
@media (min-height: 1200px) {
    .access_granted canvas {
        top: 50%;
        margin-top: -600px;
    }
}
@media (min-width: 1920px) {
    .access_granted canvas {
        left: 50%;
        margin-left: -960px;
    }
}

@keyframes lockpathResponsive {
    0% {transform: translateY(0px); }
    100% { transform: translateY(-11%); }
}
@keyframes lockpath {
    0% {transform: translateY(0px); }
    100% { transform: translateY(-15%); }
}
@keyframes accessGrantedHue {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(120deg); }
}
@keyframes accessGrantedHueNoJS {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(120deg); }
}

.access_granted svg.lock, .access_granted .svg-holder {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 390px;
    max-width: 50%;
    max-height: 50%;
    -webkit-backface-visibility: hidden;
    will-change: transform;
    display: none;
}
.access_granted .svg-holder svg {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
}
.access_granted svg.lock, .access_granted .svg-holder svg {
    filter: drop-shadow(0px 0px 20px red);
}
.access_granted svg rect {
    fill: red;
    stroke: none;
}
.access_granted svg path {
    fill: none;
    stroke: red;
    stroke-width: 12.5px;
}
.access_granted .matrix.animating .svg-holder svg {
    animation: lockpathResponsive .5s linear forwards;
    animation-delay: .5s;
}

.access_granted .matrix.noJS svg,
.access_granted .matrix.noJS .svg-holder {
    display: block;
    filter: hue-rotate(0deg);
    animation: accessGrantedHueNoJS .5s linear forwards;
    animation-delay: .5s;
}

@media (min-width: 600px) {
    .access_granted .matrix.animating .svg-holder svg {
        animation: lockpath .5s linear forwards;
        animation-delay: 2s;
    }
    .access_granted .matrix.noJS.animating .svg-holder svg {
        animation-delay: .5s;
    }
}

.access_granted .matrix.h4x0r .rain,
.access_granted .matrix.h4x0r .lock {
    animation: accessGrantedHue .5s linear forwards;
}
</style>
<div class="matrix animating noJS">
<canvas class="rain" width="0" height="0"></canvas>
<a href="/"><svg class="lock" viewBox="0 0 100 130">
    <rect x="0" y="60" width="100" height="65" rx="5" ry="5" />
</svg><div class="svg-holder"><svg viewBox="0 0 100 130">
    <path d="M 20 80 V 60 A 30 30 0 0 1 80 60" />
</svg></div><canvas class="lock"></canvas></a>
</div>