{% import "../_macros/snowflake.html" as snowflake %}
{% macro image(record, size, cdn) %}
    {% if record.user_id %}
        <div class="avatar-img s{{ size }}" style="background: url({{ cdn }}{% if record.user and record.user.avatar %}/avatars/{{ record.user.avatar }}{% elif record.avatar %}/avatars/{{ record.avatar }}{% else %}/images/user/profile/anonymous.png{% endif %}); background-size: 100% 100%;"><a title="{{ record.fmiffel_username_formatted }}" href="/fmiffel/{{ record.fmiffel_username_formatted }}"></a></div>
    {% elif record.tmp_username %}
        <div class="avatar-img s{{ size }}" style="background: {{ snowflake.color(record.tmp_fake_id) }}"><a title="{{ record.fmiffel_username_formatted }}" href="/fmiffel/{{ record.fmiffel_username_formatted }}"><svg class="dos"><use href="#dos{% if record.tmp_symbol < 10 %}0{% endif %}{{record.tmp_symbol}}" xlink:href="#dos{% if record.tmp_symbol < 10 %}0{% endif %}{{record.tmp_symbol}}"/></svg></a></div>
    {% else %}
        <div class="avatar-img s{{ size }}" style="background: url({{ cdn }}/images/fmiffel/npc.png); background-size: 100% 100%;"><a title="{{ record.fmiffel_username_formatted }}" href="/fmiffel/{{ record.fmiffel_username_formatted }}"></a></div>
    {% endif %}
{% endmacro %}