<h1>Frequently Asked Questions</h1>
<h2>What the hell is this?</h2>
<p>
    This is a parody clone of the Twitter app as it
    existed in 2009, with a twist:<br/>
    <strong>all posts must be <em>greater than</em> 140 characters long.</strong>
</p>
<p>
    We built this years ago to explore a simple question: what
    if Twitter had encouraged meaningful discourse, rather than sound bites and
    self-promotion? Of course that was well before the hate mobs, the incessant
    flame wars between "libtards" and "nazis," and the unbelievable level of
    corporate and government mass surveillance that we enjoy today. We didn't
    see that coming!
</p>
<h2>Isn't Twitter with long posts just a shitty blog?</h2>
<p>
    Well yeah. Twitter eventually noticed this too. They realized how far behind
    they were in the shitty blog market, so they taped some shitty blog
    features to their app, like    
    the ability to <a href="https://help.twitter.com/en/using-twitter/create-a-thread" target="_blank">create threads</a>
    and <a href="https://blog.twitter.com/official/en_us/topics/product/2017/Giving-you-more-characters-to-express-yourself.html" target="_blank">longer posts.</a>
    They stole our idea! (We should sue them.)
</p>
<h2>What is the NPC User?</h2>
<p>
    Fmiffel uses cookies to keep you logged in and make it possible to post
    without an arduous registration process. However, some people don't like it
    when web sites install cookies (aka. random tracking software) on their
    computers, and so they turn on the
    <a href="https://en.wikipedia.org/wiki/Do_Not_Track" target="_blank">Do Not Track (DNT)</a>
    setting in their browsers. It is unethical for websites to use cookies when
    users have DNT enabled, so instead we give these folks access to the 
    <a href="/fmiffel/NPC">NPC User</a> account.
</p>
<p>
    The NPC User is similar to any other account, except it's shared by
    a lot of people and has a couple of limitations: no deleting posts and no
    unfollowing people.
</p>
<a href="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/npc_pumpkin_highres.jpg" target="_blank"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/npc_pumpkin.jpg" width="720" height="360"/></a>
<p class="caption">This is your brain on <a href="https://www.reddit.com/r/politics" target="_blank">/r/politics</a></p>

<h2>Why did my post get deleted?</h2>
<p>
    You probably violated our Community Standards. Don't worry! There is no
    appeals process.
</p>
<h2>What are your Community Standards?</h2>
<p>
    In order to create a safe platform for ad revenue and behavioral tracking,
    we require that users follow our Community Standards. Broadly speaking this
    means that all posts must adhere to the progressive utopian political and
    social ideology of our company and its employees.
    We do not allow hate speech on our platform. We define hate speech as any
    post that disrupts the commercial narratives of our advertisers, interferes
    with our lobbying efforts, challenges our approved ideology, or otherwise
    hurts our feelings. Users who repeatedly violate our policies will be
    flagged as foreign bots and banned.
</p>
<!--
<p>
    As a platform, we
    only allow users to publish posts that we agree with. But don't confuse that
    with <em>us being a publisher.</em> Anyway, if you don't like it you're
    free to start your own social network. Enjoy the irony, you free-market
    libertarian fucks!
</p>
-->
<h2>Will you offer an API?</h2>
<p>
    We are currently building an API to automate the process of digging up
    inappropriate jokes posted by our users, enabling journalists and
    mob participants to quickly and easily ruin peoples' lives over
    shit they posted years ago. Once our API is ready we will promptly revoke
    access to anyone who uses it, if we like what they're doing and want
    to sherlock their products.
</p>
<h2>I have a different question.</h2>
<p>
    For any other questions, please <a href="/contact">contact us.</a>
</p>