<h2>
    <em class="follow-summary">
        {% if profile.user._is_me %}
            {% if pageType == 'following' %}
                You follow {{ followList.length }} {% if followList.length == 1 %}person{% else %}people{% endif %}.
            {% else %}
                Your {{ followList.length }} Follower{% if followList.length != 1 %}s{% endif %}
            {% endif %}
        {% else %}
            {% if pageType == 'following' %}
                {{ profile.user.fmiffel_username_formatted }} follows {{ followList.length }} {% if followList.length == 1 %}person{% else %}people{% endif %}.
            {% else %}
                {{ profile.user.fmiffel_username_formatted }}'s {{ followList.length }} Follower{% if followList.length != 1 %}s{% endif %}
            {% endif %}
        {% endif %}
    </em>
</h2>
<div class="pad_list_bottom">
    <ol class="follow {% if profile.user._is_me %}is-me{% endif %}">
        {% for user in followList %}
            <li>
                {{ avatar.image(user, 48, config.cdn_surface) }}
                <p>
                    <a href="/fmiffel/{{ user.fmiffel_username_formatted }}">{{ user.fmiffel_username_formatted }}</a>
                    {% if user.name %}
                    / {{ user.name }}
                    {% endif %}
                </p>
                <span data-fmiffel-username-formatted="{{ user.fmiffel_username_formatted }}">
                    {% if user.already_followed %}<img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/check_follow.png" class="check"/><em>You are following {{ user.fmiffel_username_formatted }} </em><a class="follow" rel="nofollow" href="/fmiffel/unfollow/f{{ user.id }}a{{ csrfToken }}">remove</a>{% elif user.id == fmlUserId %}That's you!{% else %}<a class="follow" rel="nofollow" href="/fmiffel/follow/f{{ user.id }}a{{ csrfToken }}">follow</a>{% endif %}
                </span>
            </li>
        {% endfor %}
    </ol>
</div>
