<div class="side" id="side">
    <div class="pad clear">
        <h2>Account</h2>
        <hr>
        <p>From here you can change your basic account info, and fill in your profile data. Try to be witty and clever so people know how cool you are.</p>
        <strong>Tips</strong>
        <ul>
            <li><p>Filling in your profile information will help people find you on fmiffel. For example, you'll be more likely to turn up in a fmiffel search if you've added your location or your real name.</p></li>
            <li><p>Most of the options are disabled because there's no point to any of this.</p></li>
            <li><p>Posting on fmiffel is not a substitute for real-world interaction. Your presence here only benefits the amoral corporations leeching off your data.</p></li>
        </ul>
    </div>
</div>
{% import "./avatar.html" as avatar %}
<h1>
    {{ avatar.image(profile.user, 31, config.cdn_surface) }}
    {{ profile.user.name }}
</h1>
<ul class="nav"><li class="sel"><a class="left" href="/fmiffel/settings">Account</a></li><li><label for="{{ buttonId }}">Password</label></li><li><label for="{{ buttonId }}">Notices</label></li><li><label for="{{ buttonId }}">Picture</label></li><li><label for="{{ buttonId }}">Design</label></li></ul>
<form method="post" action="/fmiffel/settings" name="billy" enctype="multipart/form-data">
    <fieldset>
        <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
        <table class="form" cellspacing="0">
            <tr>
                <th>Name:</th>
                <td>
                    <input type="text" name="name" tabindex="1" value="{{ profile.user.name }}" disabled="true"/>
                    <p>Enter your real name, so people you know can recognize you.</p>
                </td>
            </tr>
            <tr>
                <th>Username:</th>
                <td>
                    <input type="text" name="username" tabindex="2" value="{{ profile.user.fmiffel_username_formatted }}" disabled="true"/>
                    <p>https://obsessivefacts.com/fmiffel/<span class="success">{{ profile.user.fmiffel_username_formatted }}</span></p>
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>
                    <input type="text" name="email" tabindex="3" value="test@example.com" disabled="true"/>
                </td>
            </tr>
            <tr>
                <th>Time Zone:</th>
                <td>
                    <select tabindex="4" name="time_offset" disabled="true">
                        <option value="-6">(GMT-06:00) Central Time</option>
                        
                    </select>
                </td>
            </tr>
            <tr>
                <th>Language:</th>
                <td>
                    <select tabindex="8" disabled="true"><option>English</option><option disabled="disabled">Another Language</option></select>
                    <p>What language would you like to fmiffel in?</p>
                </td>
            </tr>
            <tr>
                <th>More Info URL:</th>
                <td>
                    <input type="text" name="url" tabindex="5" value="{{ profile.user.url }}" maxlength="255"/>
                    {% if postErrors.url %}
                        <p class="url error">{{ postErrors.url }}</p>
                    {% else %}
                        <p class="url">Have a homepage or a blog? Put the address here.</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>One Line Bio:</th>
                <td>
                    <input type="text" name="bio" tabindex="6" value="{{ profile.user.bio | escape }}" maxlength="160"/>
                    {% if postErrors.bio %}
                        <p class="bio error">{{ postErrors.bio }}</p>
                    {% else %}
                        <p class="bio">About yourself in fewer than 160 chars.</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Location:</th>
                <td>
                    <input type="text" name="location" tabindex="7" value="{{ profile.user.location | escape }}" maxlength="128"/>
                    {% if postErrors.location %}
                        <p class="location error">{{ postErrors.location }}</p>
                    {% else %}
                        <p class="location">Where in the world are you?</p>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button tabindex="9" type="submit">Save</button></td>
            </tr>
        </table>
    </fieldset>
</form>