{% import "./avatar.html" as avatar %}
<div class="side" id="side">
    {% include "./sidebar_profile.html" %}
</div>
{% if pageType == 'following' or pageType == 'followers' %}
    {% include "./follow_list.html" %}
{% else %}
    <h1>
        {{ avatar.image(profile.user, 73, config.cdn_surface) }}
        <p class="screenname {% if pageType == 'post' %}small{% endif %}">{% if pageType == 'post' %}{% if posts.posts.length > 1 %}Thread{% else %}Post{% endif %} by {% endif %}{{ profile.user.fmiffel_username_formatted }}</p>
    </h1>
    {% if not profile.user._is_me %}
        <div class="follow">
            <span>
                {% if profile.user._i_am_following %}
                    <div class="toggle sel"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/check.png" alt="" width="8" height="8"/><span>Following</span></div>
                {% else %}
                    <a class="follow" rel="nofollow" href="/fmiffel/follow/f{{ profile.user.id }}a{{ csrfToken }}">Follow</a>
                {% endif %}
            </span>
            <div class="info {% if profile.user._i_am_following %}sel{% endif %}">
                <strong>You follow {{ profile.user.fmiffel_username_formatted }}</strong>
                <a class="unfollow" rel="nofollow" href="/fmiffel/unfollow/f{{ profile.user.id }}a{{ csrfToken }}">Remove</a>
                {% if npcFail %}
                    <p><strong class="error">You're an NPC! You cannot unfollow users or delete posts.</strong></p>
                {% else %}
                    <p>{{ profile.user.fmiffel_username_formatted }}'s updates appear in your <a href="/fmiffel">timeline</a>.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- <br/> -->
    {% if pageType == 'favorites' %}
        <h2>{{ profile.user.fmiffel_username_formatted }}'s Favorites</h2>
    {% endif %}
    {% include "./post_list.html" %}
    {% include "./pagination.html" %}
{% endif %}