<div class="side" id="side">
    {% include "./sidebar_user.html" %}
</div>
<p class="counter hidden">-140</p>
{% if persistState and persistState.error %}
    <h1 class="box_caption error">{{ persistState.error }}</h1>
{% else %}
    <h1 class="box_caption">Say something meaningful.</h1>
{% endif %}
<form name="twit" class="twit_form" action="/fmiffel/post" method="POST" enctype="multipart/form-data">
    <input type="hidden" name="csrfToken" value="{{ csrfToken }}"/>
    <input type="hidden" name="replyToUserId" value="{{ replyInfo.replyToUserId }}"/>
    <input type="hidden" name="replyToPostId" value="{{ replyInfo.replyToPostId }}"/>
    <textarea name="twought" class="twought" minlength="140" placeholder=" " required="true">{% if persistState and persistState.text%}{{ persistState.text | escape }}{% else %}{% if replyInfo.fmiffelUsernameFormatted %}@{{ replyInfo.fmiffelUsernameFormatted }} {% endif %}{% endif %}</textarea>
    <span id="update">
        <strong>Note:</strong> Your post has to be *<u>more than</u>* 140 characters long!
    </span>
    <input type="submit" class="submit twought-button" name="submit" value="update"/>
    <!-- <input type="button" disabled="true" class="twought-button-disabled" name="noforn" value="update"/> -->
</form>
<br/>
<div class="reply-hint-container">
    {% if replyInfo.text %}
        <div class="reply-hint post-text">
            <p>
                <strong><a href="/fmiffel/{{ replyInfo.fmiffelUsernameFormatted }}">{{ replyInfo.fmiffelUsernameFormatted }}</a> wrote:</strong>
            </p>
            {{ replyInfo.text }}
        </div>
    {% endif %}
</div>
<h2>
    {% if pageType == 'home' %}
        Home
    {% elif pageType == 'replies' %}
        Posts mentioning @{{ profile.user.fmiffel_username_formatted }}
    {% elif pageType == 'favorites' %}
        Your Favorites
    {% elif pageType == 'search' %}
        Real-time results for <strong>{{ searchParams.searchString | escape }}</strong>
    {% endif %}
</h2>
{% include "./post_list.html" %}
{% include "./pagination.html" %}
{% if pageType == 'home' %}
    <div class="hint">
        <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/pixeltwit.gif" width="19" height="37" alt="do you have a head?"/>
        <h3>What to do now:</h3>
        <ol>
            <li><s>Build parody web app</s></li>
            <li>Get sued by Twitter</li>
            <li>???</li>
            <li>Profit.</li>
        </ol>
    </div>
{% endif %}