{% if buttonId %}<button id="{{ buttonId }}" class="not-allowed"></button>{% endif %}
<div class="omg {% if npcFail %}npc-fail{% endif %}">
    <div class="lmao">
        <ul>
            <li><a href="/fmiffel/settings">Settings</a></li>
            <li><a href="/fmiffel/faq">FAQ</a></li>
            <li>•</li>
            <li><a href="/">Home</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/facts">Facts</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/sitemap">More</a></li>
        </ul>
    </div>
    <a href="/fmiffel" title="home"><img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/fmiffel_logo_crushed.png" alt="fmiffel" class="logo"/></a>
    <hr/>
    {% if viewMode == 'faq' %}
        <div class="faq">
    {% else %}
        <div class="lol">
            <div class="tl1 side"></div><div class="tl2 side"></div><div class="tl3 side"></div><div class="tl4 side"></div><div class="tr1 g"></div><div class="tr2 g"></div><div class="tr3 g"></div><div class="tr4 g"></div>
            <div class="wtf clear" id="main">
    {% endif %}
    {% block main_content %}{% endblock %}
    {% if viewMode == 'faq' %}
        </div>
    {% else %}
                <div class="rtfm side" id="rtfm"></div>
            </div>
        </div>
        <div class="noob">
            <div class="bl1 side"></div><div class="bl2 side"></div><div class="bl3 side"></div><div class="bl4 side"></div><div class="br1 g"></div><div class="br2 g"></div><div class="br3 g"></div><div class="br4 g"></div>
        </div>
    {% endif %}
    <div class="gg">
        <hr/>
        <ul>
            <li>&copy; 2009 <a href="/">Obsessive Network LLC.</a></li>
            <li><a href="/fmiffel/faq">FAQ</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/terms">Terms</a></li>
            <li><a href="/dmca">DMCA</a></li>
        </ul>
    </div>
</div>