{% import "./avatar.html" as avatar %}{% if not hideListContainer %}<ol class="posts {% if pageType == 'profile' or pageType == 'post' %}profile{% elif pageType == 'favorites' %}favorites{% endif %} {% if profile.user._is_me %}is-me{% endif %}"
        data-userid="{{ searchParams.userId }}"
        data-showuserposts="{{ searchParams.showUserPosts }}"
        data-showfollowedposts="{{ searchParams.showFollowedPosts }}"
        data-showatposts="{{ searchParams.showAtPosts }}"
        data-showfavorites="{{ searchParams.showFavorites }}"
        data-searchstring="{{ searchParams.searchString | urlencode }}"
        data-limit="{{ searchParams.limit }}"
        data-pagesize="{{ searchParams.pageSize }}">{% endif %}{% for post in posts.posts %}<li data-id="post-{{ post.id }}" id="FMIFFEL-{{ post.id }}">
    {{ avatar.image(post, 48, config.cdn_surface) }}
    <strong><a href="/fmiffel/{{ post.fmiffel_username_formatted }}" data-id="u-{{ post.fmiffel_user_id }}" class="sn">{{ post.fmiffel_username_formatted }}</a></strong>
    {% if post.reply_to_user_id %}<a href="/fmiffel/{{ post.reply_to_username }}">@{{ post.reply_to_username }}</a>{% endif %}
    <div class="post-text">{{ post.text }}</div>
    <div class="icons">
        {% if post._is_me or _is_angel %}
            <a href="/fmiffel/delete/d{{ post.id }}a{{ csrfToken }}" class="delete" data-id="d-{{ post.id }}"><img class="delete" alt="delete" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/delete.png"/></a>
        {% endif %}
        <a href="{% if viewMode == 'profile' or pageType == 'search' %}/fmiffel{% endif %}?replyToPostId={{ post.id }}" class="reply" data-id="r-{{ post.id }}" data-username="{{ post.fmiffel_username_formatted }}" data-user-id="{{ post.fmiffel_user_id }}"><img class="reply" alt="reply" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/reply.png"/></a>
        {% if post.is_favorite %}
            <a href="/fmiffel/favorite/fd{{ post.id }}a{{ csrfToken }}" class="favorite" data-id="f-{{ post.id }}"><img class="favorite sel" alt="favorite" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/favorite_on.png"/></a>
        {% else %}
            <a href="/fmiffel/favorite/fa{{ post.id }}a{{ csrfToken }}" class="favorite" data-id="f-{{ post.id }}"><img class="favorite" alt="favorite" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/favorite_off.png"/></a>
        {% endif %}
    </div>
    <span>
        <a href="/fmiffel/{{ post.fmiffel_username_formatted }}/{{ post.id }}">{{ post._ago_time }}</a> {% if post.reply_to_username %}in <a href="/fmiffel/{{ post.reply_to_username }}{% if post.reply_to_post_id %}/{{ post.reply_to_post_id }}{% endif %}">reply to {{ post.reply_to_username }}</a>{% endif %}
    </span>
</li>{% endfor %}{% if not hideListContainer %}</ol>{% endif %}