<div class="pad clear user_info">
    {% if profile.user.name %}
        <p><strong>Name</strong> {{ profile.user.name | escape }}</p>
    {% endif %}
    {% if profile.user.location %}
        <p><strong>Location</strong> {{ profile.user.location | escape }}</p>
    {% endif %}
    {% if profile.user.url %}
        <p><strong>Web</strong> <a href="{{ profile.user.url }}" title="{{ profile.user.url }}" class="truncate" target="_blank">{{ profile.user.url | replace("www.", "") | replace("https://", "") | replace("http://", "") }}</a></p>
    {% endif %}
    {% if profile.user.bio %}
        <p><strong>Bio</strong> {{ profile.user.bio | escape }}</p>
    {% endif %}
</div>
<div class="pad avatar clear">
    <div class="stat">
        <span class="following-count">{{ profile.following }}</span>
        <a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}/following" title="friends">following</a>
    </div>
    <div class="stat">
        <span class="follower-count">{{ profile.followers }}</span>
        <a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}/followers" title="followers">followers</a>
    </div>
</div>
<ul>
    <li {% if pageType == 'profile' %}class="hilite"{% endif %}><a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}" title="Updates"><span id="updates">{{ profile.updates }}</span> Updates</a></li>
    <li {% if pageType == 'favorites' %}class="hilite"{% endif %}><a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}/favorites" title="favorites">Favorites</a></li>
</ul>
<div class="items">
    <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/arrow_up.png" class="toggle" alt="up" id="followers_toggle_img"/>
    <p id="followers_toggle">Following <span><a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}/following" id="add">add</a></span></p>
    <div id="followers">
        <div class="users clear">
            {% include "./sidebar_following_list.html" %}
        </div>
    </div>
    <hr/>
</div>
<a class="rss" href="/blog/rss.xml" target="_blank">RSS feed of {{ profile.user.fmiffel_username_formatted }}'s updates</a>