{% import "./avatar.html" as avatar %}
<div class="pad avatar clear">
    {{ avatar.image(profile.user, 31, config.cdn_surface) }}
    <p class="clear" title="{{ profile.user.fmiffel_username_formatted }}"><a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}">{{ profile.user.fmiffel_username_formatted }}</a></p>
    <div class="stat">
        <span>{{ profile.following }}</span>
        <a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}/following" title="friends">following</a>
    </div>
    <div class="stat">
        <span>{{ profile.followers }}</span>
        <a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}/followers" title="followers">followers</a>
    </div>
    <div class="stat">
        <span id="updates">{{ profile.updates }}</span>
        <a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}" title="updates">updates</a>
    </div>
</div>
<div class="pad">
    <div class="def hilite">
        <div class="tl1 hilite"></div><div class="tl2 hilite"></div><div class="tl3 hilite"></div><div class="tr1 hilite"></div><div class="tr2 hilite"></div><div class="tr3 hilite"></div><div class="tmt hilite"></div>
        <a href="/about"><strong>Fil&middot;ler</strong></a>
        <em>n.</em> unused part of app designed as a placeholder for advertisements.
    </div>
    <div class="noob">
        <div class="bl1 hilite"></div><div class="bl2 hilite"></div><div class="bl3 hilite"></div><div class="br1 hilite"></div><div class="br2 hilite"></div><div class="br3 hilite"></div><div class="tmb hilite"></div>
    </div>
</div>
<ul>
    <li {% if pageType == 'home' %}class="hilite"{% endif %}><a href="/fmiffel" title="home">Home</a></li>
    <li {% if pageType == 'replies' %}class="hilite"{% endif %}><a href="/fmiffel/replies" title="replies"><span class="unread-replies">{% if _unreadReplyCount %}{{ _unreadReplyCount }}{% endif %}</span> @{{ profile.user.fmiffel_username_formatted }}</a></li>
    <li {% if pageType == 'messages' %}class="hilite"{% endif %}>
        <a href="/access_denied" title="inbox"><span class="num_messages"></span> Direct Messages</a>
    </li>
    <li {% if pageType == 'favorites' %}class="hilite"{% endif %}><a href="/fmiffel/favorites" title="favorites">Favorites</a></li>
</ul>
<div class="pad clear{% if pageType=='search' %} hilite{% endif %}">
    <form name="search" action="/fmiffel/search" method="get">
        <input type="text" class="search" name="searchString" value="{% if searchParams.searchString %}{{ searchParams.searchString | escape }}{% endif %}"/><input type="image" src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/search_button.gif" value=""/>
    </form>
</div>
<hr/>
<div class="items">
    <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/arrow_up.png" class="toggle" alt="up" id="trending_toggle_img"/>
    <p id="trending_toggle">Trending Tags</p>
    <div class="trending">
        <ul>
            {% for tag in trendingTags %}
            <li><a href="/fmiffel/tag/{{ tag.tag }}" title="posts tagged #{{ tag.tag }}">#{{ tag.tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <hr/>
</div>
<div class="items">
    <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/fmiffel/arrow_up.png" class="toggle" alt="up" id="followers_toggle_img"/>
    <p id="followers_toggle">Following <span><a href="/fmiffel/{{ profile.user.fmiffel_username_formatted }}/followers" id="add">add</a></span></p>
    <div id="followers">
        <div class="users clear">
            {% include "./sidebar_following_list.html" %}
        </div>
    </div>
    <hr/>
</div>
<a class="rss" href="/blog/rss.xml" target="_blank">RSS feed</a>