@font-face {
    font-family: 'Pixel Emulator';
    src: url('/fonts/pixel_emulator.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.page.facts-true-undefined {
    text-align: center;
    background: #222;

    div.crt {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 256px;
        height: 240px;
        background: #000;
        overflow: hidden;
        border-radius: 3%;

        div.letterbox {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 656px;
            z-index: 3;
            border-bottom: 64px solid black;
            transform: translateY(0%);

            will-change: transform;
            animation: undefined-letterbox-pan 10s ease-in-out forwards;
            animation-delay: 26s;
            @keyframes undefined-letterbox-pan {
                0%   { transform: translateY(0%); }
                100% { transform: translateY(33.333333333333%); }
            }

            // transform: translateY(33.333333333333%);           // for testing
        }

        div.story {
            pointer-events: none;
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 4;
            font-family: 'Pixel Emulator';
            color: #ffffff;
            font-size: 8px;
            height: 64px;
            opacity: 0;

            // display: none;                                     // for testing

            @keyframes undefined-story-fade {
                0%         { color: #000000; opacity: 1; }
                3.56%      { color: #000000; }
                3.5714285% { color: #7c7c7c; }
                7.13%      { color: #7c7c7c; }
                7.1428571% { color: #bcbcbc; }
                10.70%     { color: #bcbcbc; }
                10.714285% { color: #ffffff; }
                89.27%     { color: #ffffff; }
                89.285714% { color: #bcbcbc; }
                92.27%     { color: #bcbcbc; }
                92.285714% { color: #7c7c7c; }
                96.42%     { color: #7c7c7c; }
                96.428%    { color: #000000; opacity: 1; }
                100%       { color: #000000; opacity: 0; }
            }

            &.part1 {
                z-index: 10;
                animation: undefined-story-fade 5s linear forwards;
                animation-delay: 1s;
            }
            &.part2 {
                z-index: 9;
                animation: undefined-story-fade 5s linear forwards;
                animation-delay: 6s;
            }
            &.part3 {
                z-index: 8;
                animation: undefined-story-fade 5s linear forwards;
                animation-delay: 11s;
            }
            &.part4 {
                z-index: 7;
                animation: undefined-story-fade 5s linear forwards;
                animation-delay: 16s;
            }
            &.part5 {
                z-index: 7;
                animation: undefined-story-fade 5s linear forwards;
                animation-delay: 21s;
            }
        }
    }

    svg {
        // good old palette swap
        .rd {
            fill: #2e4710;
            animation: undefined-rd-fade 1s linear;
            @keyframes undefined-rd-fade {
                0%    { fill: #000000; }
                49.9% { fill: #000000; }
                50%   { fill: #7c7c7c; }
                74.9% { fill: #7c7c7c; }
                75%   { fill: #2e4710; }
            }
        }
        .rm {
            fill: #488f28;
            animation: undefined-rm-fade 1s linear;
            @keyframes undefined-rm-fade {
                0%    { fill: #000000; }
                49.9% { fill: #000000; }
                50%   { fill: #2e4710; }
                74.9% { fill: #2e4710; }
                75%   { fill: #488f28; }
            }
        }
        .rb {
            fill: #75fb4c;
            animation: undefined-rb-fade 1s linear;
            @keyframes undefined-rb-fade {
                0%    { fill: #000000; }
                24.9% { fill: #000000; }
                25%   { fill: #488f28; }
                74.9% { fill: #488f28; }
                75%   { fill: #75fb4c; }
            }
        }
        .ad {
            fill: #408f26;
            animation: undefined-ad-fade 1s linear;
            @keyframes undefined-ad-fade {
                0%    { fill: #000000; }
                49.9% { fill: #000000; }
                50%   { fill: #7c7c7c; }
                74.9% { fill: #7c7c7c; }
                75%   { fill: #408f26; }
            }
        }
        .am {
            fill: #50b274;
            animation: undefined-am-fade 1s linear;
            @keyframes undefined-am-fade {
                0%    { fill: #000000; }
                49.9% { fill: #000000; }
                50%   { fill: #408f26; }
                74.9% { fill: #408f26; }
                75%   { fill: #50b274; }
            }
        }
        .ab {
            fill: #83fcdc;
            animation: undefined-ab-fade 1s linear;
            @keyframes undefined-ab-fade {
                0%    { fill: #000000; }
                24.9% { fill: #000000; }
                25%   { fill: #50b274; }
                74.9% { fill: #50b274; }
                75%   { fill: #83fcdc; }
            }
        }
        .g1 {
            fill: #7c7c7c;
            animation: undefined-g1-fade 1s linear;
            @keyframes undefined-g1-fade {
                0%    { fill: #000000; }
                74.9% { fill: #000000; }
                75%   { fill: #7c7c7c; }
            }
        }
        .g2 {
            fill: #bcbcbc;
            animation: undefined-g2-fade 1s linear;
            @keyframes undefined-g2-fade {
                0%    { fill: #000000; }
                49.9% { fill: #000000; }
                50%   { fill: #7c7c7c; }
                74.9% { fill: #7c7c7c; }
                75%   { fill: #bcbcbc; }
            }
        }
        .g3 {
            fill: #ffffff;
            animation: undefined-g3-fade 1s linear;
            @keyframes undefined-g3-fade {
                0%    { fill: #000000; }
                24.9% { fill: #000000; }
                25%   { fill: #7c7c7c; }
                49.9% { fill: #7c7c7c; }
                50%   { fill: #bcbcbc; }
                74.9% { fill: #bcbcbc; }
                75%   { fill: #ffffff; }
            }
        }
        .w1 {
            fill: #0078f8;
            animation: undefined-w1-fade 1s linear;
            @keyframes undefined-w1-fade {
                0%    { fill: #000000; }
                24.9% { fill: #000000; }
                25%   { fill: #7c7c7c; }
                49.9% { fill: #7c7c7c; }
                50%   { fill: #0000fc; }
                74.9% { fill: #0000fc; }
                75%   { fill: #0078f8; }
            }
        }
        .w2 {
            fill: #3cbcfc;
            animation: undefined-w2-fade 1s linear;
            @keyframes undefined-w2-fade {
                0%    { fill: #000000; }
                24.9% { fill: #000000; }
                25%   { fill: #0000fc; }
                49.9% { fill: #0000fc; }
                50%   { fill: #0078f8; }
                74.9% { fill: #0078f8; }
                75%   { fill: #3cbcfc; }
            }
        }
        .s1 { fill: #ac7c00; }
        .s2 { fill: #503000; }
        .s3 { fill: #f0d0b0; }

        .p1 { fill: #4428bc; }
        .p2 { fill: #6844fc; }
        .p3 { fill: #9878f8; }
        
        .j1 { fill: #0058f8; }
        .j2 { fill: #6888fc; }

        &.night-city {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 160px;
            height: 240px;
            border-top: 480px solid black;
            transform: translateY(-8.8888888888889%);

            will-change: transform;
            animation: undefined-night-city-pan 10s ease-in-out forwards;
            animation-delay: 26s;
            @keyframes undefined-night-city-pan {
                0%   { transform: translateY(-8.8888888888889%); }
                100% { transform: translateY(24.4444444444444%); }
            }

            // transform: translateY(24.4444444444444%);          // for testing
        }
        &.tower {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 112px;
            height: 720px;
            transform: translateY(-8.8888888888889%);
            
            will-change: transform;
            animation: undefined-tower-pan 10s ease-in-out forwards;
            animation-delay: 26s;
            @keyframes undefined-tower-pan {
                0%   { transform: translateY(-8.8888888888889%); }
                100% { transform: translateY(66.6666666666666%); }
            }

            // transform: translateY(66.6666666666666%);          // for testing
        }
        &.menu {
            position: absolute;
            left: 48px;
            top: 144px;
            width: 88px;
            height: 48px;
            visibility: hidden;
            animation: undefined-menu .5s linear forwards;
            animation-delay: 38s;
            // animation-delay: 0s;                               // for testing
            @keyframes undefined-menu {
                    0%   { visibility: hidden; }
                    1%   { visibility: visible; }
                    100% { visibility: visible; }
                }

            .caret {
                fill: #fff;
                visibility: hidden;
                animation: undefined-caret .5s linear infinite;
                animation-delay: 38s;
                // animation-delay: 0s;                           // for testing
                @keyframes undefined-caret {
                    0%   { visibility: hidden; }
                    49%  { visibility: hidden; }
                    50%  { visibility: visible; }
                    99%  { visibility: visible; }
                    100% { visibility: hidden; }
                }
            }
        }
        .glasses-1 {
            visibility: hidden;
            animation: undefined-glasses-1-flash 5s linear infinite;
            @keyframes undefined-glasses-1-flash {
                0%      { visibility: hidden; }
                1.3%    { visibility: hidden; }
                1.4285% { visibility: visible; }
                7.1428% { visibility: hidden; }
            }
        }
        .glasses-2 {
            visibility: hidden;
            animation: undefined-glasses-2-flash 5s linear infinite;
            @keyframes undefined-glasses-2-flash {
                0%      { visibility: hidden; }
                2.7%    { visibility: hidden; }
                2.8571% { visibility: visible; }
                8.5714% { visibility: hidden; }
            }
        }
        .glasses-3 {
            visibility: hidden;
            animation: undefined-glasses-3-flash 5s linear infinite;
            @keyframes undefined-glasses-3-flash {
                0%      { visibility: hidden; }
                4.1%    { visibility: hidden; }
                4.2857% { visibility: visible; }
                10%     { visibility: hidden; }
            }
        }
        .hair-variation {
            visibility: hidden;
            animation: undefined-hair-variation .5s reverse infinite;
            @keyframes undefined-hair-variation {
                0%      { visibility: visible; }
                50%     { visibility: hidden; }
            }
        }
    }

    img.deimos {
        position: absolute;
        left: 16px;
        top: 0px;
        width: 160px;
        height: 110px;
        transform: translateY(-100%);
        opacity: 1;
        animation: deimos-fade-in .75s linear forwards;
        animation-delay: 37s;
        // animation-delay: 0s;                                   // for testing
        @keyframes deimos-fade-in {
            0%      { transform: translateY(-100%); opacity: 0; }
            32%     { transform: translateY(-100%); opacity: 0; }
            33.333% { transform: translateY(-10%); opacity: 33%; }
            65%     { transform: translateY(-10%); opacity: 33%; }
            66.666% { transform: translateY(-5%); opacity: 66%; }
            99%     { transform: translateY(-5%); opacity: 66%; }
            100%    { transform: translateY(0%); opacity: 1; }
        }
    }

    @media (min-width: 512px) and (min-height: 480px) {

        div.crt {
            width: 512px;
            height: 480px;

            div.letterbox {
                height: 1312px;
                border-bottom: 128px solid black;
            }
            div.story {
                font-size: 16px;
                height: 128px;
            }
        }

        svg {
            &.night-city {
                border-top: 960px solid black;
                width: 320px;
                height: 480px;
            }
            &.tower {
                width: 224px;
                height: 1440px;
            }
            &.menu {
                left: 96px;
                top: 288px;
                width: 176px;
                height: 96px;
            }
        }

        img.deimos {
            left: 32px;
            top: 0px;
            width: 320px;
            height: 220px;
        }
    }

    @media (min-width: 768px) and (min-height: 720px) {

        div.crt {
            width: 768px;
            height: 720px;

            div.letterbox {
                height: 1968px;
                border-bottom: 192px solid black;
            }
            div.story {
                font-size: 24px;
                height: 192px;
            }
        }

        svg {
            &.night-city {
                border-top: 1440px solid black;
                width: 480px;
                height: 720px;
            }
            &.tower {
                width: 336px;
                height: 2160px;
            }
            &.menu {
                left: 144px;
                top: 432px;
                width: 264px;
                height: 144px;
            }
        }

        img.deimos {
            left: 48px;
            top: 0px;
            width: 480px;
            height: 330px;
        }
    }

    @media (min-width: 1024px) and (min-height: 960px) {

        div.crt {
            width: 1024px;
            height: 960px;

            div.letterbox {
                height: 2624px;
                border-bottom: 256px solid black;
            }
            div.story {
                font-size: 32px;
                height: 256px;
            }
        }

        svg {
            &.night-city {
                border-top: 1920px solid black;
                width: 640px;
                height: 960px;
            }
            &.tower {
                width: 448px;
                height: 2880px;
            }
            &.menu {
                left: 192px;
                top: 576px;
                width: 352px;
                height: 192px;
            }
        }

        img.deimos {
            left: 64px;
            top: 0px;
            width: 640px;
            height: 440px;
        }
    }
}
