<div class="an-inline-block">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 725 375">
        <path d="M718,145.5C718,74,561.52,16,368.5,16S19,74,19,145.5c0,62.84,120.79,115.22,281,127,11.49,25.66,37.47,60.05,94,100.49,0,0-36.23-58.26-40.53-98.12q7.47.12,15,.12C561.52,275,718,217,718,145.5Z"/>
        <text transform="translate(165 111)">Men and women trend<tspan x="-50.46" y="45.6">toward different strengths</tspan><tspan x="54.28" y="91.2">and weaknesses.</tspan></text>
    </svg>
    <img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/facts/hate/damore.jpg">
    <div class="credit">
        <a href="https://commons.wikimedia.org/wiki/File:Francisco_de_Goya_-_Escena_de_Inquisici%C3%B3n_-_Google_Art_Project.jpg" target="_blank">Francisco Goya - Escena de Inquisición</a>
    </div>
</div>
<div class="questions-or-concerns">
    <h2>Questions? Concerns?</h2>
    <p>Speak to a manager at your local Tribunal of the Holy Office of the Inquisition!</p>
</div>