<div class="sexual-wizard {% if not replyHTML %}alone{% endif %}">
    {% if replyHTML %}
        <div class="sexy-baby">
            <section class="posts">{{ replyHTML }}</section>
        </div>
    {% endif %}
    <div class="bad-erection">
        <section class="posts">
            {{ composeHtml }}
        </section>
    </div>
</div>