@desktop-padding: 35px;
@mobile-padding: 15px;

@keyframes blog-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.blog, div.page.write {
    background: #111 url(/images/blog/playground.png) no-repeat center center fixed;
    // hmm, can't decide if too emo
    // @media (prefers-color-scheme: dark) {
    //     background: #111 url(/images/blog/playground-red.png) no-repeat center center fixed;
    // }
}

.blog.onion, div.page.write.onion {
    background: #111 url(/images/blog/playground-lofi.png) no-repeat center center fixed;
}

.blog {

    padding: 30px;
    box-sizing: border-box;

    .columns {
        display: flex;
        justify-content: center;
    }
    ol.blog-posts {
        list-style-type: none;
        max-width: 850px;
        width: 100%;
    }
    a.rss {
        display: inline-block;
        margin-top: 20px;
        background: #333 url(/images/blog/rss.svg) no-repeat 8px 8px;
        background-size: 16px 16px;
        font-family: "Arial", sans;
        text-decoration: none;
        padding: 0px 8px 0px 32px;
        height: 32px;
        line-height: 34px;
        border-radius: 5px;
        color: white;
        opacity: .8;
        &:hover {
            opacity: 1;
            background-color: #666;
            color: white;
        }
    }

    .blog-header {
        display: flex;
        max-width: 850px;
        width: 100%;
        margin: 0px auto;
        align-items: center;
    }

    h1 {
        font-family: "Courier New", mono;
        font-size: 36px;
        padding: 0;
        font-weight: 700;
        margin: 20px 0 0px 0;
        text-shadow: 0px 0px 5px black;
        flex-grow: 1;

        a {
            color: #fff;
            text-decoration: none;
            opacity: .8;

            svg.union {
                width: 40px;
                height: 40px;
                stroke-width: 8px;
                stroke: white;
                fill: none;
                z-index: 5;
                animation: blog-spin 16s linear infinite;
                vertical-align: middle;
            }

            &:hover {
                opacity: 1;
                text-shadow: 0px 0px 10px white;
                color: #cf9;

                svg.union {
                    stroke: #cf9;
                }
            }
        }
        small {
            display: inline-block;
            margin-left: 7px;
            font-size: 50%;
        }
    }
    h6 {
        font-family: "Arial", sans;
        font-size: 18px;
        padding: 0px @desktop-padding;
        margin: 10px 0px 10px 0px;
        text-shadow: 0px 0px 5px black;
        font-weight: bold;
    }
    li.nav {
        margin: 25px 0 10px 0;
        padding: 10px;
        font-size: 24px;
        text-align: center;
        color: #aaa;
        background: #ddd;
        font-family: "Arial", sans;

        span {
            display: inline-block;
            width: 200px;
        }
    }

    li.blog-post {
        background-color: rgba(255, 255, 255, .9);
        margin: 25px 0 10px 0;
        padding: 35px 0 0 0;
        color: black;
        font-family: 'Arial', sans;
    }
    a {
        color: #6a0000;
        &:hover {
            color: #220000;
        }
    }
    article {
        overflow-x: hidden;
    }
    article h2 {
        font-size: 30px;
        line-height: 38px;
        font-weight: 400;
        padding: 0 @desktop-padding;
        margin: 0;
        a {
            text-decoration: none;
        }
    }
    article h3 {
        padding: 0 @desktop-padding 0 (@desktop-padding + 60px);
        margin: 10px 0 0 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        opacity: .7;
    }
    article h4 {
        padding: 15px @desktop-padding 0 @desktop-padding;
        margin: 25px 0 0 0;
        line-height: 31px;
        font-size: 26px;
        font-weight: 400;
        color: #700;
        opacity: .7;
    }
    article h5 {
        padding: 0 @desktop-padding;
        font-size: 14px;
        font-weight: bold;
        margin: 25px 0 0 0;

        > img {
            display: block;
            margin-top: 5px;
        }
    }
    article p {
        padding: 0 @desktop-padding;
        margin: 25px 0 0 0;
        font-size: 17px;
        line-height: 26px;

        > img {
            margin-top: 0px;
        }

        &.read-more {
            // text-align: center;

            a {
                display: inline-block;
                margin: 0px auto;
                background: #882222;
                color: white;
                font-weight: bold;
                padding: 2px 15px;
                border-radius: 5px;
                text-decoration: none;

                &:hover {
                    background: #6a0000;
                }
            }
        }
    }
    article ul, article ol {
        padding: 0 @desktop-padding 0 (@desktop-padding + 30);
        margin: 25px 0 0 0;

        p {
            padding-left: 0px;
        }
    }
    article li {
        font-size: 17px;
        line-height: 26px;
    }
    article code { margin: 25px 0 0 0; }
    article code.language-text,
    article code.language-javascript,
    article code.language-python,
    article code.language-html {
        padding: @desktop-padding;
    }
    article ul code, article ol code, article p code { margin: 0; }

    article blockquote {
        position: relative;
        margin: 25px 0 0 0;
        font-family: 'Georgia', serif;
        font-size: 17px;
        line-height: 26px;
        background: #fff url(/images/blog/quote.png) no-repeat 35px 36px;
        background-size: 34px 27px;
        // background: #fff;
        padding: @desktop-padding 0 @desktop-padding 50px;

        p:first-child {
            margin-top: 0px;
        }

        // &::before {
        //     position: absolute;
        //     left: 32px;
        //     top: 26px;
        //     color: #7f7f7f;
        //     content: "“";
        //     font-size: 100px;
        //     line-height: 100px;
        //     // color: red;
        //     // opacity: .7;
        // }
    }
    article img {
        margin: 25px 0 0 0;
        max-width: 100%;
        height: auto;
    }
    article ul {
        list-style-type: disc;
    }
    article ol {
        list-style-type: decimal;
    }
    article strong {
        font-weight: bold;
    }
    article em {
        font-style: italic;
    }
    ul.tags {
        margin: 20px 0 0 0;
        padding: 0px @desktop-padding;
        list-style-type: none;

        li {
            display: inline;
            margin: 0px 5px 1px 0;
        }
        a {
            display: inline-block;
            border-radius: 3px;
            padding: 8px 6px;
            background-color: #a88;
            border-bottom: 1px dotted #700;
            color: #fff;
            font-size: 12px;
            text-decoration: none;
            font-weight: 700;
            margin-top: 14px;

            &:hover {
                background: #977;
            }
        }
    }
    .info {
        margin-top: 25px;
        // border-top: 1px solid gray;
        padding: 15px @desktop-padding;
        font-size: 14px;
        color: #666;
        background-color: #ddd;

        h2 {
            margin-top: 25px;
            padding-left: 0px;
        }
        strong.comments-link { font-weight: bold; float: right; }
    }
    ul.tag-cloud {
        margin: 20px auto 20px auto;
        list-style-type: none;
        font-size: 18px;
        line-height: 55px;
        font-family: 'Arial', sans;
        padding: 0px 15px 0px 15px;
        max-width: 850px;
        width: 100%;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .5);
        text-align: center;

        li {
            display: inline-block;
            margin-right: 5px;

            a {
                color: white;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    footer {
        max-width: 850px;
        width: 100%;
        font-family: 'Arial', sans;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: #bbb;
        padding: 25px @desktop-padding 30px @desktop-padding;
        box-sizing: border-box;
        margin: 0px auto 60px auto;


        a {
            color: #bbb;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: white;
                text-decoration: underline;
            }
        }
    }
    /* MOBILE **LAST** BITCHES */
    @media (max-width: 767px) {
        padding: 30px 15px;
    }
    @media (max-width: 640px) {
        padding: 30px 0px;
        li.blog-post { padding-top: @mobile-padding; }
        h1 { padding-left: 15px; }
        a.rss { margin-right: 15px; }
        // h1 small { display: none; }
        article h2 { padding: 0 @mobile-padding; }
        article h3 { padding: 0 @mobile-padding 0 (@mobile-padding + 30px); }
        article h4 { padding-left: @mobile-padding; padding-right: @mobile-padding; }
        article h5 { padding: 0 @mobile-padding; }
        article blockquote { background-position: 17px 36px;}
        article p { padding: 0 @mobile-padding; }

        article code.language-text,
        article code.language-javascript,
        article code.language-python,
        article code.language-html { padding: @desktop-padding @mobile-padding; }

        article ul { padding-left: 40px; }
        ul.tags { padding: 0 @mobile-padding; }
        .info { padding: 15px @mobile-padding; }
        li.nav {
            font-size: 18px;
            span { width: 150px; }
        }
        .info strong.comments-link { display: block; float: none; margin: 7px 0 0 0; }
    }
    @media (prefers-color-scheme: dark) {
        li.nav {
            background: #222;
        }
        li.blog-post {
            background-color: rgba(48, 48, 48, .95);
            color: #eee;
        }
        a {
            color: #dea;
            text-decoration: none;
            &:hover {
                color: #ffc;
                text-decoration: underline;
            }
        }
        h1 a:hover {
            text-decoration: none;
        }
        article h4 {
            color: #efc;
            opacity: 1;
        }
        article p.read-more a {
            background: #779955;
            &:hover {
                background: #669944;
            }
        }
        article blockquote {
            background: #222 url(/images/blog/quote-dark.png) no-repeat 35px 36px;
            background-size: 34px 27px;
        }
        ul.tags a {
            background-color: #563;
            color: #eee;
            &:hover {
                background-color: #452;
            }
        }
        .info {
            color: #ccc;
            background-color: #222;
        }
        ul.tag-cloud li a {
            color: #888;
            &:hover {
                color: #eee;
            }
        }
    }
}

/*
Shared content styles between Blogs and Posts component
*/
article code,
.posts .post code {
    color: black;
    background: white;
    font-family: 'Courier New', mono;
    display: inline-block;
    padding: 0px 3px;
}
@media (prefers-color-scheme: dark) {
    article code, posts .post code {
        color: #eee;
        background: #222;
    }
}

article code.language-text,
article code.language-javascript,
article code.language-python,
article code.language-html,
.posts .post code.language-text,
.posts .post code.language-javascript,
.posts .post code.language-python,
.posts .post code.language-html,
 {
    display: block;
    font-size: 16px;
    line-height: 23px;
    background-color: #222;
    color: #eeeeee;
    overflow-x: auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}

/*
Dracula Theme v1.2.0
https://github.com/zenorocha/dracula-theme
Copyright 2015, All rights reserved
Code licensed under the MIT license
http://zenorocha.mit-license.org
@author Éverton Ribeiro <nuxlli@gmail.com>
@author Zeno Rocha <hi@zenorocha.com>
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #282a36;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: #cb7832;
}

.hljs-function .hljs-keyword {
  color: #cb7832;
}

.hljs-built_in {
    color: #f0d47c;
}

.hljs-number {
    color: #b6f23e;
}

.hljs,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #92a2d4;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}