<svg id="dos">
<defs>
<symbol id="dos00" viewbox="0 0 8 16"><rect x="1" y="3" width="6" height="1"/><rect x="0" y="4" width="1" height="8"/><rect x="7" y="4" width="1" height="8"/><rect x="1" y="12" width="6" height="1"/><rect x="2" y="5" width="1" height="1"/><rect x="5" y="5" width="1" height="1"/><rect x="2" y="8" width="4" height="1"/><rect x="3" y="9" width="2" height="1"/></symbol>
<symbol id="dos01" viewbox="0 0 8 16"><rect x="1" y="3" width="6" height="2"/><rect x="0" y="4" width="2" height="8"/><rect x="6" y="4" width="2" height="8"/><rect x="3" y="5" width="2" height="3"/><rect x="2" y="6" width="4" height="2"/><rect x="1" y="9" width="2" height="4"/><rect x="5" y="9" width="2" height="4"/><rect x="3" y="10" width="2" height="3"/></symbol>
<symbol id="dos02" viewbox="0 0 8 16"><rect x="1" y="4" width="2" height="6"/><rect x="4" y="4" width="2" height="6"/><rect x="0" y="5" width="7" height="4"/><rect x="2" y="9" width="3" height="2"/><rect x="3" y="11" width="1" height="1"/></symbol>
<symbol id="dos03" viewbox="0 0 8 16"><rect x="3" y="4" width="1" height="7"/><rect x="2" y="5" width="3" height="5"/><rect x="1" y="6" width="5" height="3"/><rect x="0" y="7" width="7" height="1"/></symbol>
<symbol id="dos04" viewbox="0 0 8 16"><rect x="3" y="3" width="2" height="3"/><rect x="2" y="4" width="4" height="2"/><rect x="0" y="6" width="3" height="3"/><rect x="5" y="6" width="3" height="3"/><rect x="3" y="9" width="2" height="2"/><rect x="2" y="11" width="4" height="1"/></symbol>
<symbol id="dos05" viewbox="0 0 8 16"><rect x="3" y="3" width="2" height="3"/><rect x="2" y="4" width="4" height="2"/><rect x="1" y="5" width="6" height="4"/><rect x="0" y="6" width="8" height="2"/><rect x="3" y="9" width="2" height="2"/><rect x="2" y="11" width="4" height="1"/></symbol>
<symbol id="dos06" viewbox="0 0 8 16"><rect x="3" y="2" width="4" height="1"/><rect x="4" y="3" width="3" height="1"/><rect x="6" y="4" width="1" height="2"/><rect x="3" y="4" width="2" height="1"/><rect x="2" y="5" width="2" height="1"/><rect x="1" y="6" width="4" height="1"/><rect x="0" y="7" width="2" height="4"/><rect x="4" y="7" width="2" height="4"/><rect x="1" y="11" width="4" height="1"/></symbol>
<symbol id="dos07" viewbox="0 0 8 16"><rect x="2" y="2" width="4" height="1"/><rect x="1" y="3" width="2" height="4"/><rect x="5" y="3" width="2" height="4"/><rect x="2" y="7" width="4" height="1"/><rect x="3" y="8" width="2" height="4"/><rect x="1" y="9" width="6" height="1"/></symbol>
<symbol id="dos08" viewbox="0 0 8 16"><rect x="2" y="2" width="6" height="1"/><rect x="2" y="3" width="2" height="8"/><rect x="2" y="4" width="6" height="1"/><rect x="6" y="3" width="2" height="1"/><rect x="1" y="9" width="3" height="2"/><rect x="0" y="10" width="3" height="2"/></symbol>
<symbol id="dos09" viewbox="0 0 8 16"><rect x="1" y="2" width="7" height="1"/><rect x="1" y="3" width="2" height="9"/><rect x="2" y="4" width="6" height="1"/><rect x="6" y="3" width="2" height="8"/><rect x="5" y="9" width="2" height="3"/><rect x="0" y="10" width="2" height="3"/></symbol>
<symbol id="dos10" viewbox="0 0 8 16"><rect x="3" y="3" width="2" height="4"/><rect x="2" y="6" width="1" height="3"/><rect x="5" y="6" width="1" height="3"/><rect x="3" y="8" width="2" height="4"/><rect x="0" y="5" width="2" height="1"/><rect x="0" y="7" width="2" height="1"/><rect x="0" y="9" width="2" height="1"/><rect x="6" y="5" width="2" height="1"/><rect x="6" y="7" width="2" height="1"/><rect x="6" y="9" width="2" height="1"/></symbol>
<symbol id="dos11" viewbox="0 0 8 16"><rect x="1" y="3" width="7" height="1"/><rect x="0" y="4" width="2" height="3"/><rect x="3" y="4" width="2" height="9"/><rect x="6" y="4" width="2" height="9"/><rect x="1" y="7" width="2" height="1"/></symbol>
<symbol id="dos12" viewbox="0 0 8 16"><rect x="4" y="1" width="3" height="1"/><rect x="3" y="2" width="2" height="11"/><rect x="6" y="2" width="2" height="1"/><rect x="1" y="6" width="6" height="1"/><rect x="1" y="6" width="6" height="1"/><rect x="0" y="12" width="2" height="1"/><rect x="1" y="13" width="3" height="1"/></symbol>
<symbol id="dos13" viewbox="0 0 8 16"><rect x="1" y="1" width="5" height="1"/><rect x="0" y="2" width="2" height="1"/><rect x="5" y="2" width="2" height="1"/><rect x="1" y="3" width="2" height="1"/><rect x="2" y="4" width="3" height="1"/><rect x="1" y="5" width="2" height="1"/><rect x="4" y="5" width="2" height="1"/><rect x="0" y="6" width="2" height="2"/><rect x="5" y="6" width="2" height="2"/><rect x="1" y="8" width="2" height="1"/><rect x="4" y="8" width="2" height="1"/><rect x="2" y="9" width="3" height="1"/><rect x="4" y="10" width="2" height="1"/><rect x="5" y="11" width="2" height="1"/><rect x="0" y="11" width="2" height="1"/><rect x="1" y="12" width="5" height="1"/></symbol>
<symbol id="dos14" viewbox="0 0 8 16"><rect x="1" y="4" width="3" height="1"/><rect x="5" y="4" width="2" height="1"/><rect x="0" y="5" width="2" height="5"/><rect x="3" y="5" width="2" height="5"/><rect x="5" y="5" width="1" height="1"/><rect x="5" y="9" width="1" height="1"/><rect x="1" y="10" width="3" height="1"/><rect x="5" y="10" width="2" height="1"/></symbol>
<symbol id="dos15" viewbox="0 0 8 16"><rect x="1" y="2" width="4" height="1"/><rect x="0" y="3" width="2" height="9"/><rect x="4" y="3" width="2" height="3"/><rect x="3" y="6" width="2" height="1"/><rect x="4" y="7" width="2" height="1"/><rect x="5" y="8" width="2" height="3"/><rect x="4" y="11" width="2" height="1"/></symbol>
<symbol id="dos16" viewbox="0 0 8 16"><rect x="0" y="2" width="7" height="1"/><rect x="5" y="3" width="2" height="2"/><rect x="0" y="3" width="2" height="9"/></symbol>
<symbol id="dos17" viewbox="0 0 8 16"><rect x="0" y="4" width="7" height="1"/><rect x="1" y="5" width="2" height="7"/><rect x="4" y="5" width="2" height="7"/></symbol>
<symbol id="dos18" viewbox="0 0 8 16"><rect x="0" y="3" width="7" height="1"/><rect x="0" y="4" width="2" height="1"/><rect x="5" y="4" width="2" height="1"/><rect x="1" y="5" width="2" height="1"/><rect x="2" y="6" width="2" height="1"/><rect x="3" y="7" width="2" height="1"/><rect x="2" y="8" width="2" height="1"/><rect x="1" y="9" width="2" height="1"/><rect x="0" y="10" width="2" height="1"/><rect x="5" y="10" width="2" height="1"/><rect x="0" y="11" width="7" height="1"/></symbol>
<symbol id="dos19" viewbox="0 0 8 16"><rect x="1" y="5" width="6" height="1"/><rect x="0" y="6" width="2" height="5"/><rect x="3" y="6" width="2" height="5"/><rect x="1" y="11" width="3" height="1"/></symbol>
<symbol id="dos20" viewbox="0 0 8 16"><rect x="1" y="4" width="2" height="8"/><rect x="5" y="4" width="2" height="5"/><rect x="3" y="9" width="3" height="1"/><rect x="0" y="12" width="2" height="1"/></symbol>
<symbol id="dos21" viewbox="0 0 8 16"><rect x="1" y="4" width="3" height="1"/><rect x="5" y="4" width="2" height="1"/><rect x="0" y="5" width="2" height="1"/><rect x="3" y="5" width="3" height="1"/><rect x="3" y="6" width="2" height="6"/></symbol>
<symbol id="dos22" viewbox="0 0 8 16"><rect x="1" y="3" width="6" height="1"/><rect x="3" y="4" width="2" height="1"/><rect x="2" y="5" width="4" height="1"/><rect x="1" y="6" width="2" height="3"/><rect x="5" y="6" width="2" height="3"/><rect x="2" y="9" width="4" height="1"/><rect x="3" y="10" width="2" height="1"/><rect x="1" y="11" width="6" height="1"/></symbol>
<symbol id="dos23" viewbox="0 0 8 16"><rect x="2" y="3" width="3" height="1"/><rect x="1" y="4" width="2" height="1"/><rect x="4" y="4" width="2" height="1"/><rect x="0" y="5" width="2" height="5"/><rect x="5" y="5" width="2" height="5"/><rect x="2" y="7" width="3" height="1"/><rect x="1" y="10" width="2" height="1"/><rect x="4" y="10" width="2" height="1"/><rect x="2" y="11" width="3" height="1"/></symbol>
<symbol id="dos24" viewbox="0 0 8 16"><rect x="2" y="2" width="3" height="1"/><rect x="1" y="3" width="2" height="1"/><rect x="4" y="3" width="2" height="1"/><rect x="0" y="4" width="2" height="3"/><rect x="5" y="4" width="2" height="3"/><rect x="1" y="7" width="2" height="5"/><rect x="4" y="7" width="2" height="5"/><rect x="0" y="11" width="1" height="1"/><rect x="6" y="11" width="1" height="1"/></symbol>
<symbol id="dos25" viewbox="0 0 8 16"><rect x="3" y="2" width="4" height="1"/><rect x="2" y="3" width="2" height="1"/><rect x="3" y="4" width="2" height="1"/><rect x="4" y="5" width="2" height="1"/><rect x="2" y="6" width="5" height="1"/><rect x="1" y="7" width="2" height="4"/><rect x="5" y="7" width="2" height="4"/><rect x="2" y="11" width="4" height="1"/></symbol>
<symbol id="dos26" viewbox="0 0 8 16"><rect x="1" y="5" width="6" height="1"/><rect x="0" y="6" width="2" height="3"/><rect x="3" y="6" width="2" height="3"/><rect x="6" y="6" width="2" height="3"/><rect x="1" y="9" width="6" height="1"/></symbol>
<symbol id="dos27" viewbox="0 0 8 16"><rect x="6" y="3" width="2" height="1"/><rect x="5" y="4" width="2" height="1"/><rect x="1" y="5" width="6" height="1"/><rect x="0" y="6" width="2" height="3"/><rect x="3" y="6" width="2" height="2"/><rect x="6" y="6" width="2" height="3"/><rect x="2" y="8" width="2" height="1"/><rect x="1" y="9" width="6" height="1"/><rect x="1" y="10" width="2" height="1"/><rect x="0" y="11" width="2" height="1"/></symbol>
<symbol id="dos28" viewbox="0 0 8 16"><rect x="3" y="2" width="3" height="1"/><rect x="2" y="3" width="2" height="1"/><rect x="1" y="4" width="2" height="6"/><rect x="3" y="6" width="3" height="1"/><rect x="2" y="10" width="2" height="1"/><rect x="3" y="11" width="3" height="1"/></symbol>
<symbol id="dos29" viewbox="0 0 8 16"><rect x="1" y="3" width="5" height="1"/><rect x="0" y="4" width="2" height="8"/><rect x="5" y="4" width="2" height="8"/></symbol>
<symbol id="dos30" viewbox="0 0 8 16"><rect x="0" y="4" width="7" height="1"/><rect x="0" y="7" width="7" height="1"/><rect x="0" y="10" width="7" height="1"/></symbol>
<symbol id="dos31" viewbox="0 0 8 16"><rect x="0" y="2" width="2" height="1"/><rect x="6" y="2" width="2" height="1"/><rect x="1" y="3" width="2" height="1"/><rect x="5" y="3" width="2" height="1"/><rect x="2" y="4" width="4" height="1"/><rect x="3" y="5" width="2" height="7"/><rect x="0" y="6" width="8" height="1"/><rect x="0" y="8" width="8" height="1"/></symbol>
<symbol id="dos32" viewbox="0 0 8 16"><rect x="4" y="1" width="4" height="1"/><rect x="4" y="2" width="2" height="10"/><rect x="0" y="7" width="3" height="1"/><rect x="1" y="8" width="2" height="2"/><rect x="2" y="10" width="2" height="1"/><rect x="3" y="11" width="1" height="1"/></symbol>
</defs>
</svg>