.page.facts-hate-damore {
    text-align: center;
    background: #222;

    .an-inline-block {
        position: relative;
        display: inline-block;
        max-width: 100%;
        background: black;
        margin-top: 40px;

        img {
            width: 100%;
            height: auto;
        }

        .credit {
            position: absolute;
            right: 0px;
            bottom: 0px;

            a {
                display: inline-block;
                background: black;
                padding: 4px 8px;
                color: #888;
                font-size: 11px;
                text-decoration: none;


                &:hover {
                    color: #aaa;
                    text-decoration: underline;
                }
            }
        }

        svg {
            position: absolute;
            left: 2%;
            top: 3%;
            width: 45%;

            path { 
                fill: #ddd;
                stroke: #222;
                stroke-width: 4;
                stroke-linejoin: bevel;
            }

            text {
                font-size:38px;
                font-family: "Comic Sans MS";
            }

        }
    }        
}
.questions-or-concerns {
    display: inline-block;
    margin: 40px 10px 40px 10px;
    border-radius: 10px;
    background: black;
    padding: 20px 40px 20px 40px;
    line-height: 1.4em;
    color: #aaa;
    font-size: 110%;

    h2 {
        font-size: 180%;
        line-height: 120%;
        margin-bottom: 20px;
    }
}

@media (max-width: 789px) {
    .page.facts-hate-damore {
        .an-inline-block {
            svg {
                text {
                    transform: scale(1.25) translate(95px, 85px);
                }
            }
        }
    }
}

@media (min-width: 790px) {
    .page.facts-hate-damore {
        .an-inline-block {
            margin-top: 0px;

            .credit {
                a {
                    font-size: 15px;
                    padding: 8px 16px;
                }
            }

            svg {
                position: absolute;
                left: 8%;
                top: 8%;
                width: 34%;
            }
        }
    }
}
