<div class="bow">
<div class="flex">
<div class="block">
<h2>---- USER INFO ----</h2>
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td><pre>USER  : </pre></td>
        <td>{{user.username}}</td>
    </tr>
    <tr>
        <td><pre>TITLE : </pre></td>
        <td>{{user.title}}</td>
    </tr>
    <tr>
        <td><pre>EMAIL : </pre></td>
        <td>{% if user.public_email or can_edit %}<a href="mailto:{{user.email}}">{{user.email}}</a>{% else %}[ REDACTED ]{% endif %}</td>
    </tr>
    <tr>
        <td><pre>BIO   : </pre></td>
        <td>{{user.bio}}</td>
    </tr>
    <tr>
        <td><pre>LEVEL : </pre></td>
        <td>{% for role in user.roles %}{% if role.url %}<a href="{{role.url | replace(":username", user.username)}}">{% endif %}{% if role.icon %}<svg class="dos" aria-label="{{role.description}}"><use href="{{role.icon}}" xlink:href="{{role.icon}}"/></svg>{% endif %}{% if role.url %}</a>{% endif %}{% endfor %}</td>
    </tr>
</table>
<h2>---- ACTIONS ----</h2>

{% if can_edit %}- <a href="/user/edit/{{user.username}}">EDIT PROFILE</a><br/>{% endif %}
{% if me.id and user.id == me.id %}- <a href="/user/auth/logout" class="logout">LOGOUT {{me.id}}</a><br/>{% endif %}
{% if user.username == 'henriquez' %}- <a href="/blog">VIEW BLOG POSTS</a><br/>{% endif %}
<br/>
</div>
<div class="block img">
<div class="avatar" style="background-image: url({% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}{% if user.avatar %}/avatars/{{ user.avatar }}{% else %}/images/user/profile/anonymous.png{% endif %}); background-size: 100% auto;"></div>
</div>
</div>
</div>

<p style="display: none;">
RECENT ACTIVITY:<br/><br/>
<a href="#">2017-07-08</a>: henriquez posted a blog <a href="#">"Why Round Things Are Boring"</a> . . . . 
<br/><a href="#">2017-07-08</a>: henriquez posted a <a href="#">comment</a> on <a href="#">"This is why we can't have nice things"</a> . . . . 
<br/><a href="#">2017-07-08</a>: henriquez posted a blog "I reject your moral authority" . . . . 
<br/><a href="#">2017-07-08</a>: henriquez posted a blog "Don't doxx me bro" . . . . 
<br/><a href="#">2017-07-08</a>: henriquez posted a blog "Welcome to Obsessive Facts" . . . . 

<br/>
<svg class="dos"><use href="#dos00" xlink:href="#dos00"/></svg>
<svg class="dos"><use href="#dos01" xlink:href="#dos01"/></svg>
<svg class="dos"><use href="#dos02" xlink:href="#dos02"/></svg>
<svg class="dos"><use href="#dos03" xlink:href="#dos03"/></svg>
<svg class="dos"><use href="#dos04" xlink:href="#dos04"/></svg>
<svg class="dos"><use href="#dos05" xlink:href="#dos05"/></svg>
<svg class="dos"><use href="#dos06" xlink:href="#dos06"/></svg>
<svg class="dos"><use href="#dos07" xlink:href="#dos07"/></svg>
<svg class="dos"><use href="#dos08" xlink:href="#dos08"/></svg>
<svg class="dos"><use href="#dos09" xlink:href="#dos09"/></svg>
<svg class="dos"><use href="#dos10" xlink:href="#dos10"/></svg>
<svg class="dos"><use href="#dos11" xlink:href="#dos11"/></svg>
<svg class="dos"><use href="#dos12" xlink:href="#dos12"/></svg>
<svg class="dos"><use href="#dos13" xlink:href="#dos13"/></svg>
<svg class="dos"><use href="#dos14" xlink:href="#dos14"/></svg>
<svg class="dos"><use href="#dos15" xlink:href="#dos15"/></svg>
<svg class="dos"><use href="#dos16" xlink:href="#dos16"/></svg>
<svg class="dos"><use href="#dos17" xlink:href="#dos17"/></svg>
<svg class="dos"><use href="#dos18" xlink:href="#dos18"/></svg>
<svg class="dos"><use href="#dos19" xlink:href="#dos19"/></svg>
<svg class="dos"><use href="#dos20" xlink:href="#dos20"/></svg>
<svg class="dos"><use href="#dos21" xlink:href="#dos21"/></svg>
<svg class="dos"><use href="#dos22" xlink:href="#dos22"/></svg>
<svg class="dos"><use href="#dos23" xlink:href="#dos23"/></svg>
<svg class="dos"><use href="#dos24" xlink:href="#dos24"/></svg>
<svg class="dos"><use href="#dos25" xlink:href="#dos25"/></svg>
<svg class="dos"><use href="#dos26" xlink:href="#dos26"/></svg>
<svg class="dos"><use href="#dos27" xlink:href="#dos27"/></svg>
<svg class="dos"><use href="#dos28" xlink:href="#dos28"/></svg>
<svg class="dos"><use href="#dos29" xlink:href="#dos29"/></svg>
<svg class="dos"><use href="#dos30" xlink:href="#dos30"/></svg>
<svg class="dos"><use href="#dos31" xlink:href="#dos31"/></svg>
<svg class="dos"><use href="#dos32" xlink:href="#dos32"/></svg>

</p>

