<a href="/">{% if no_js %}<img src="{% if config.cdn_surface %}{{ config.cdn_surface }}{% endif %}/images/volition/spiral.png">{% else %}<canvas></canvas>{% endif %}</a>
<!--
    can't stop me now
    no, nothing can stop me now
    i can't change the fact that i've changed
    but the spiral spins two ways and now it's my way again
    and when i can harness this force that has consumed me for so long
    i will ride the wave of its power to whatever end i feel like using it for
-->